Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

PR adjustment robot request
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PositioningBeagleScreenBuilder.kt
Due: backend

Adding swiftlint to UI tests
  iOS/Tests/.swiftlint.yml
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/Config/Network/NetworkClientDefault.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Steps/AddChildrenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SendRequestActionSteps.swift
  iOS/Tests/AutomatedTestsUITests/Utils/XCUIElementQuery+Extension.swift
Due: ios

Fixing merge errors
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/Equality.generated.swift
Due: ios

feat: iOS ListView (#805)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Schema/Sources/Action/Types/SendRequest.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ContextExpression/DynamicObject.swift
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Schema/Sources/ServerDrivenComponent/ListView/ListView.swift
  iOS/Schema/Sources/ServerDrivenComponent/ListView/Tests/ListViewTests.swift
  iOS/Schema/Sources/Widgets/Container/Container.swift
  iOS/Schema/Sources/Widgets/RawWidget.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Action.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Container/Container+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/ContainerTests.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListItemCollectionViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListViewController.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/Tests/ListViewInitTests.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/Tests/ListViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/Tests/__Snapshots__/ListViewTests/testHorizontalDirection.1.png
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/Tests/__Snapshots__/ListViewTests/testHorizontalDirectionWithDifferentSizes.1.png
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/Tests/__Snapshots__/ListViewTests/testVerticalDirection.1.png
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/Tests/__Snapshots__/ListViewTests/testVerticalDirectionWithDifferentSizes.1.png
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/ComponentHostController.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/UIView+ContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Due: ios

Refactor on textScreenBuilder
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextScreenBuilder.kt
Due: backend

Switching tests to the current branch
  android/automated-tests/src/androidTest/assets/features/TextInput.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputSteps.kt
Due: android

Screen switch to the current branch
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

Feature and steps refactored
  android/automated-tests/src/androidTest/assets/features/TextScreen.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextScreen.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextSteps.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
  android/git
Due: android

adjust test textcolor in text
  android/automated-tests/src/androidTest/assets/features/TextScreen.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/matcher/MatcherExtension.kt
Due: android

init refactor template kotlin backend
  schema-ruby-erb/model_generation/Templates/kotlin.erb
  schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
Due: none

removing unecessary function
  iOS/Sources/Beagle/Sources/ContextExpression/CustomOperationProvider.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Operation+Evaluate.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/CustomOperationsTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
Due: ios

fixing default operation test
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationNumberEvaluationTests.swift
Due: ios

RR review
  android/automated-tests/src/androidTest/assets/features/TextInput.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputSteps.kt
Due: android

Suitability of the .feature
  android/automated-tests/src/androidTest/assets/features/TextInput.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputSteps.kt
Due: android

test: add ListAdapter, ListView and ListViewHolder tests
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListViewHolderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListViewTest.kt
Due: android

removing conflicting tests
  iOS/Sources/Beagle/Sources/ContextExpression/Operation+Evaluate.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/CustomOperationsTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationNumberEvaluationTests.swift
Due: ios

refact: iOS - remove only CacheDiskManagerDefault from Beagle
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/BeagleConfig.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Cache/CacheDiskManager.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Cache/CacheEntity+CoreDataProperties.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Cache/CoreCache.xcdatamodeld/.xccurrentversion
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Cache/CoreCache.xcdatamodeld/CoreCache.xcdatamodel/contents
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Cache/Tests/CacheDiskManagerTests.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Caching/CacheManager/CacheManagerDefault.swift
  iOS/Sources/Beagle/Sources/Caching/CacheManager/DependencyCacheManager.swift
  iOS/Sources/Beagle/Sources/Caching/CacheManager/LRU/CacheLRU.swift
  iOS/Sources/Beagle/Sources/Caching/CacheManager/LRU/DoublyLinkedList.swift
  iOS/Sources/Beagle/Sources/Caching/CacheManager/LRU/Tests/LRUCacheTests.swift
  iOS/Sources/Beagle/Sources/Caching/CacheManager/Tests/CacheManagerDefaultTests.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

refactor: create new annotation register operation and adjust internal operations to use the annotation
  android/annotation/src/main/kotlin/br/com/zup/beagle/annotation/RegisterOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/Operation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/OperationResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/OperationFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/ContainsOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/InsertOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/RemoveIndexOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/RemoveOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/EqOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/GtOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/GteOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/LtOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/LteOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/AndOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/ConditionOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/NotOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/OrOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/DivideOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/MultiplyOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/SubtractOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/SumOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/other/IsEmptyOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/other/IsNullOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/other/LengthOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/string/CapitalizeOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/string/ConcatOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/string/LowercaseOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/string/SubstrOperation.kt
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessor.kt
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/InternalOperationFactoryProcessor.kt
  android/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClasses.kt
  android/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredOperationGenerator.kt
Due: android

AlertScreenBuilder ok
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/AlertScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
Due: backend

fix file tests .feature
  iOS/Tests/AutomatedTestsUITests/Features/ScrollView.feature
Due: ios

Adds the first scenario for the Alert tests.
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/Alert.feature
  iOS/Tests/AutomatedTestsUITests/Steps/AlertSteps.swift
Due: ios

AlertScreenBuilder adjustment
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/AlertScreenBuilder.kt
Due: backend

Adds the scenario 2.
  iOS/Tests/AutomatedTestsUITests/Features/Alert.feature
  iOS/Tests/AutomatedTestsUITests/Steps/AlertSteps.swift
Due: ios

refactor: create new annotation register operation and use in internal actions (#1107)
  android/annotation/src/main/kotlin/br/com/zup/beagle/annotation/RegisterOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/Operation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/OperationResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/OperationExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/OperationFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/ContainsOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/InsertOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/RemoveIndexOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/RemoveOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/EqOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/GtOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/GteOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/LtOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/LteOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/AndOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/ConditionOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/NotOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/OrOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/DivideOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/MultiplyOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/SubtractOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/SumOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/other/IsEmptyOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/other/IsNullOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/other/LengthOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/string/CapitalizeOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/string/ConcatOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/string/LowercaseOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/string/SubstrOperation.kt
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessor.kt
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/InternalOperationFactoryProcessor.kt
  android/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClasses.kt
  android/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredOperationGenerator.kt
Due: android

AlertScreenBuilder WEB adjustment
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/AlertScreenBuilder.kt
Due: backend

Alert tests ok
  android/automated-tests/src/androidTest/assets/features/Alert.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/AlertSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
Due: android

test: added test to ListViewHolder
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListViewHolderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListViewTest.kt
Due: android

adjust type
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/Operation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/OperationResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/OperationType.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/ContainsOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/InsertOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/RemoveIndexOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/RemoveOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/EqOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/GtOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/GteOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/LtOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/LteOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/AndOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/ConditionOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/NotOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/OrOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/DivideOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/MultiplyOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/SubtractOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/SumOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/other/IsEmptyOperation.kt
Due: android

Adds the scenarios 3 and 4
  iOS/Tests/AutomatedTestsUITests/Features/Alert.feature
  iOS/Tests/AutomatedTestsUITests/Steps/AlertSteps.swift
Due: ios

Adjusts the scenario 3 steps
  iOS/Tests/AutomatedTestsUITests/Features/Alert.feature
  iOS/Tests/AutomatedTestsUITests/Steps/AlertSteps.swift
Due: ios

text tests iOS
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Tests/TextTests.swift
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Tests/__Snapshots__/TextTests/testTextWithContext.1.png
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/Text.feature
  iOS/Tests/AutomatedTestsUITests/Steps/TextSteps.swift
Due: ios

fix file tests duplicate
  iOS/Tests/AutomatedTestsUITests/Steps/ScrollViewScreenSteps.swift
Due: ios

alert test adjustment
  android/automated-tests/src/androidTest/assets/features/Alert.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/AlertSteps.kt
Due: android
