Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

Scroll View Tests first steps
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/ScrollViewScreen.feature
  iOS/Tests/AutomatedTestsUITests/Steps/ScrollViewScreenSteps.swift
Due: ios

format url
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/urlbuilder/UrlBuilderDefault.kt
Due: android

fix code smell
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

add defult implementations on demo
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Network/NetworkClientDefault.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/BeaglePrefetchHelperTests.swift
Due: ios

Schema/update components 1.3 (#1066)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/Style.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabBarItem+Extension.swift
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/StyleSchema.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/FlexSchema.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/Size.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/SizeSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/StyleSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Style.kt
  schema/schema-ruby-erb/model_generation/Models/Layout/style.rb
Due: ios, android

adjust comment
  android/sample/src/main/java/br/com/zup/beagle/sample/config/HttpClientDefault.kt
Due: android

fix: adjust some fake vulnerability changing the names used (#1071)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/PolymorphicJsonAdapterFactory.java
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AlertTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ConfirmTest.kt
Due: android

Home screen assembly for textInput
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

Button request with expression method added
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SendRequestScreenBuilder.kt
Due: backend

Organizing texts
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

fix: Remove default implementation of Cache, HttpClient and BeagleLogger (#1070)
  android/automated-tests/build.gradle
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/BeagleLoggerDefault.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/BeagleMessageLogs.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/CoroutineDispatchers.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/DatabaseLocalStore.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/HttpClientDefault.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/HttpURLConnectionExtensions.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/MemoryLocalStore.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/StoreHandlerDefault.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/BeagleLoggerDefaultTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/BeagleSQLiteDatabaseTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/BeagleSetupTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/CoroutineTestRule.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/DatabaseLocalStoreTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/HttpClientDefaultTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/MemoryLocalStoreTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/ReflectionUtils.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/StoreHandlerDefaultTest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleLoggerProxy.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/urlbuilder/UrlBuilderDefault.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleLoggerFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleLoggerProxyTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleMessageLogsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/HttpClientFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/store/StoreHandlerFactoryTest.kt
  android/sample/build.gradle
  android/sample/src/main/java/br/com/zup/beagle/sample/BeagleUiSampleApplication.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/BeagleLoggerDefault.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/BeagleMessageLogs.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/CoroutineDispatchers.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/DatabaseLocalStore.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/HttpClientDefault.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/HttpURLConnectionExtensions.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/MemoryLocalStore.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/StoreHandlerDefault.kt
Due: android

remove log on PreviewActivity.kt
  android/preview/src/main/java/br/com/zup/beagle/android/preview/PreviewActivity.kt
Due: android

Update to origin master
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SendRequestSteps.kt
Due: android

fix tests compiling issues and remove CacheDiskManager from Beagle
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/Cache/CoreData/CacheDiskManager.swift
  iOS/Example/BeagleDemo/BeagleDemo/Cache/CoreData/CacheEntity+CoreDataProperties.swift
  iOS/Example/BeagleDemo/BeagleDemo/Cache/CoreData/CoreCache.xcdatamodeld/.xccurrentversion
  iOS/Example/BeagleDemo/BeagleDemo/Cache/CoreData/CoreCache.xcdatamodeld/CoreCache.xcdatamodel/contents
  iOS/Example/BeagleDemo/BeagleDemo/Cache/CoreData/Tests/CacheDiskManagerTests.swift
  iOS/Example/BeagleDemo/BeagleDemo/Cache/LRU/Tests/LRUCacheTests.swift
  iOS/Example/BeagleDemo/BeagleDemo/Cache/Tests/CacheManagerDefaultTests.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/BeaglePrefetchHelperTests.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Due: ios

fix: adjust log to show toast on PreviewActivity.kt (#1072)
  android/preview/src/main/java/br/com/zup/beagle/android/preview/PreviewActivity.kt
Due: android

fix BeagleDependencies tests
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

regression tests ok after adding send request tests
  android/automated-tests/src/androidTest/assets/features/SendRequestScreen.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ButtonScreen.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/NavigateScreenSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SimpleFormScreenSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/WaitHelper.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/matcher/MatcherExtension.kt
Due: android

Code Organization
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

handle network client nil
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/NavigationControllers/CustomBeagleNavigationController.swift
  iOS/Sources/Beagle/Sources/Networking/Request.swift
  iOS/Sources/Beagle/Sources/Networking/RequestDispatcher.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
Due: ios

reorganizing BeagleDemo file structure
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Analytics/AnalyticsMock.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/BeagleConfig.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Cache/CacheManager.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Cache/CoreData/CacheDiskManager.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Cache/CoreData/CacheEntity+CoreDataProperties.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Cache/CoreData/CoreCache.xcdatamodeld/.xccurrentversion
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Cache/CoreData/CoreCache.xcdatamodeld/CoreCache.xcdatamodel/contents
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Cache/CoreData/Tests/CacheDiskManagerTests.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Cache/LRU/CacheLRU.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Cache/LRU/DoublyLinkedList.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Cache/LRU/Tests/LRUCacheTests.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Cache/Tests/CacheManagerDefaultTests.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/DeeplinkScreenManager.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Logger/BeagleLoggerDefault.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Network/HttpRequestBuilder.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Network/NetworkClientDefault.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Network/Tests/HttpRequestBuilderTest.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Network/Tests/MemoryCacheServiceTests.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Network/Tests/__Snapshots__/HttpRequestBuilderTest/testBuilder.1.txt
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/BeagleStyle.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/NativeViewController.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
Due: ios

remove main storyboard from BeagleDemo
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Base.lproj/Main.storyboard
  iOS/Example/BeagleDemo/BeagleDemo/Info.plist
Due: ios

Adjusts files after the merge.
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
Due: ios, backend

fix file header template
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests.xcodeproj/xcshareddata/IDETemplateMacros.plist
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTests/BeagleConfig.swift
  iOS/Tests/AutomatedTestsTests/AutomatedTestsTests.swift
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Robots/ScreenRobot.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ButtonScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/CucumberStepsDefinition.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ImageScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ListViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/NavigationActionSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/PageViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ScrollViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TabViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TouchableScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Utils/TestUtils.swift
  iOS/Tests/AutomatedTestsUITests/scrollToExtension.swift
Due: ios

Button request with expression method added
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SendRequestScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
Due: backend

fix tests
  android/automated-tests/src/androidTest/assets/features/SimpleFormScreen.feature
  android/automated-tests/src/androidTest/assets/features/TabViewScreen.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
Due: android

SendRequest now executes error when there is some infrastructure problem
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Network/NetworkClientDefault.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/NavigationControllers/CustomBeagleNavigationController.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SendRequestTests.swift
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/Beagle/Sources/Logger/Tests/BeagleLoggerTests.swift
  iOS/Sources/Beagle/Sources/Logger/Tests/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/Sources/Networking/NetworkClient.swift
  iOS/Sources/Beagle/Sources/Networking/Request.swift
  iOS/Sources/Beagle/Sources/Networking/RequestDispatcher.swift
Due: ios

First scenario textInput
  android/automated-tests/src/androidTest/assets/features/TextInputScreen.feature
Due: android

First test textInput
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputScreen.kt
Due: android

Adds an example with expression for the scenario 1.
  iOS/Tests/AutomatedTestsUITests/Features/SendRequestAction.feature
  iOS/Tests/AutomatedTestsUITests/Steps/SendRequestActionSteps.swift
Due: ios

Adjusts comments.
  iOS/Tests/AutomatedTestsUITests/Steps/SendRequestActionSteps.swift
Due: ios

Removes scape characters from the steps strings.
  iOS/Tests/AutomatedTestsUITests/Steps/SendRequestActionSteps.swift
Due: ios

Adjusts step text.
  iOS/Tests/AutomatedTestsUITests/Steps/SendRequestActionSteps.swift
Due: ios

Adjusts feature text.
  iOS/Tests/AutomatedTestsUITests/Features/SendRequestAction.feature
Due: ios

fix code smell
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
Due: ios

test get hash
  .github/workflows/release.yml
  fastlane/Fastfile
Due: none

horusec
  .github/workflows/security.yml
Due: none

fix code smell
  iOS/Sources/Beagle/Sources/Networking/NetworkCache.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/NetworkCacheTest.swift
Due: ios

add workflow to security
  .github/workflows/horusec_pr.yml
Due: none

solve hash
  .github/workflows/horusec_pr.yml
Due: none
