Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

change the documentation
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AnalyticsAction.kt
Due: android

refactor: string extension (#1370)
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ScreenReportFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ScreenReportFactoryTest.kt
Due: android

adjust file direction
  android/beagle/build.gradle
Due: android

reverting temp changes
  .github/workflows/automated_tests_appium_android.yml
Due: none

refactor: flutter image component now uses FutureBuilder (#1367)
  flutter/beagle_components/lib/beagle_image.dart
Due: flutter

refactor: action analytics (#1372)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AnalyticsAction.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildren.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AnalyticsAction.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Condition.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Confirm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Form.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SetContext.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SubmitForm.kt
Due: android, backend

fix: correct param names in test script (#1371)
  fastlane/automatedTests/appium/android/browserstack/setup_apk_in_browserstack_and_run_android_tests.sh
Due: none

remove unnecessary variables
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/AnalyticsViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataScreenReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ScreenReportFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleActivityTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleFragmentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/AnalyticsViewModelTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/AnalyticsServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/DataScreenReportTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ScreenReportFactoryTest.kt
Due: android

add new way to init beagle
  android/sample/src/main/java/br/com/zup/beagle/sample/actions/CustomAndroidAction.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Text.kt
  flutter/beagle/lib/beagle.dart
  flutter/beagle/lib/beagle_initializer.dart
  flutter/beagle/lib/beagle_remote_view.dart
  flutter/beagle/lib/beagle_stream_builder.dart
  flutter/sample/ios/Podfile.lock
  flutter/sample/lib/main.dart
Due: android, flutter

remove unnecessary variables (#1374)
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/AnalyticsViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataScreenReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ScreenReportFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleActivityTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleFragmentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/AnalyticsViewModelTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/AnalyticsServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/DataScreenReportTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ScreenReportFactoryTest.kt
Due: android

adjust beagle initializer
  flutter/beagle/lib/beagle.dart
  flutter/sample/lib/beagle_sample_screen.dart
Due: flutter

adjust code
  flutter/beagle/lib/beagle_stream_builder.dart
  flutter/sample/lib/beagle_sample_screen.dart
  flutter/sample/lib/main.dart
Due: flutter

fix height
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithValidationComponent.1.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
Due: ios

fix breaking change due to new `analytics` attribute on actions
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Protocols.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/GlobalContextScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SimpleForm.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Action.swift
  iOS/Sources/Beagle/Sources/Action/Types/AddChildren.swift
  iOS/Sources/Beagle/Sources/Action/Types/Alert.swift
  iOS/Sources/Beagle/Sources/Action/Types/Condition.swift
  iOS/Sources/Beagle/Sources/Action/Types/Confirm.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormLocalAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormRemoteAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormValidation.swift
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Action/Types/SetContext.swift
  iOS/Sources/Beagle/Sources/Action/Types/SubmitForm.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/FormLocalActionTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/ActionAttributes.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/RecordFactory.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/ActionAttributesTest.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/AnalyticsServiceTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/JSON/SetContext-1.json
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/__Snapshots__/ActionAttributesTest/attributes.SetContext-1.json
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/FormManager/FormManager.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewController.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/ListViewTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Path.swift
  iOS/Sources/Beagle/Sources/Decoding/Tests/ComponentDecoderTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
Due: ios

add support to json in stream
  flutter/beagle/lib/beagle_stream_builder.dart
Due: flutter

remove code
  android/sample/src/main/java/br/com/zup/beagle/sample/actions/CustomAndroidAction.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Text.kt
Due: android

remove remote view
  flutter/beagle/lib/beagle_remote_view.dart
Due: flutter

adjust class
  flutter/beagle/lib/beagle_server_driven_state.dart
  flutter/beagle/lib/beagle_stream_builder.dart
Due: flutter

remove unnecessary code
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/activity/AnalyticsActivity.kt
Due: none

update documentation
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsRecord.kt
Due: android

Adds open native route action
  flutter/beagle/lib/action/beagle_open_native_route.dart
  flutter/beagle/lib/beagle_remote_view.dart
  flutter/beagle/lib/default/default_actions.dart
Due: flutter

Removes unused import statement
  flutter/beagle/lib/action/beagle_open_native_route.dart
Due: flutter

update documentation (#1378)
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsRecord.kt
Due: android

make default actions just implement AnalyticsAction
  iOS/Sources/Beagle/Sources/Action/Types/AddChildren.swift
  iOS/Sources/Beagle/Sources/Action/Types/Alert.swift
  iOS/Sources/Beagle/Sources/Action/Types/Condition.swift
  iOS/Sources/Beagle/Sources/Action/Types/Confirm.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormLocalAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormRemoteAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormValidation.swift
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/SetContext.swift
  iOS/Sources/Beagle/Sources/Action/Types/SubmitForm.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/FormLocalActionTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/FormManager/FormManager.swift
Due: ios

Create merge-docs.sh
  fastlane/merge-docs.sh
Due: none

fix: iOS - Fix ContextExpression parser
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Expression.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Parser.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Tests/ExpressionTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Tests/__Snapshots__/ExpressionTests/testContextExpression.1.txt
Due: ios

adjust component
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ServerDrivenActivity.kt
  flutter/beagle/lib/beagle.dart
  flutter/beagle/lib/beagle_server_driven_widget.dart
  flutter/beagle/lib/interface/navigation_controller.dart
  flutter/sample/lib/beagle_sample_screen.dart
  flutter/sample/lib/main.dart
Due: android, flutter

fix: breaking change due to new `analytics` attribute on actions (#1376)
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Protocols.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/GlobalContextScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SimpleForm.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Action.swift
  iOS/Sources/Beagle/Sources/Action/Types/AddChildren.swift
  iOS/Sources/Beagle/Sources/Action/Types/Alert.swift
  iOS/Sources/Beagle/Sources/Action/Types/Condition.swift
  iOS/Sources/Beagle/Sources/Action/Types/Confirm.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormLocalAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormRemoteAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormValidation.swift
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Action/Types/SetContext.swift
  iOS/Sources/Beagle/Sources/Action/Types/SubmitForm.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/FormLocalActionTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/ActionAttributes.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/RecordFactory.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/ActionAttributesTest.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/AnalyticsServiceTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/JSON/SetContext-1.json
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/__Snapshots__/ActionAttributesTest/attributes.SetContext-1.json
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/FormManager/FormManager.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewController.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/ListViewTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Path.swift
  iOS/Sources/Beagle/Sources/Decoding/Tests/ComponentDecoderTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
Due: ios

convert to beagle widget
  flutter/beagle/lib/beagle.dart
  flutter/beagle/lib/beagle_server_driven_state.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/sample/lib/beagle_sample_screen.dart
  flutter/sample/lib/main.dart
Due: flutter

adjust component
  flutter/beagle/lib/beagle.dart
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/components/beagle_undefined_widget.dart
  flutter/beagle/lib/model/beagle_config.dart
  flutter/beagle/lib/model/beagle_environment.dart
  flutter/beagle_components/lib/beagle_lazy_component.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/sample/lib/main.dart
Due: flutter

fix: iOS - Fix ContextExpression parser (#1381)
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Expression.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Parser.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Tests/ExpressionTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Tests/__Snapshots__/ExpressionTests/testContextExpression.1.txt
Due: ios

adjust code
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ServerDrivenActivity.kt
  flutter/beagle/lib/beagle_widget.dart
Due: android, flutter

remove import not used
  flutter/sample/lib/beagle_sample_screen.dart
Due: flutter

add unit test
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ServerDrivenActivity.kt
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/components/beagle_undefined_widget.dart
  flutter/beagle/test/components/beagle_undefined_widget_test.dart
Due: android, flutter

Removes thrown error
  flutter/beagle/lib/action/beagle_open_external_url.dart
Due: flutter

adjust unit test
  flutter/beagle/test/components/beagle_undefined_widget_test.dart
Due: flutter

adjust empty container
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/components/beagle_undefined_widget.dart
Due: flutter

Adds logger
  flutter/beagle/lib/action/beagle_open_external_url.dart
Due: flutter

run unit test
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ServerDrivenActivity.kt
Due: android

Path conditions:
  ios: any of: iOS/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  android: any of: android/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  backend: any of: backend/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  flutter: any of: flutter/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
