Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

Improved iOS caching with previous ones.
  .github/workflows/ios-pr.yml
Due: none

Simple line changes to test new cache settings.
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  backend/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  iOS/Beagle.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: ios, android, backend

Revert "Simple line changes to test new cache settings."
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  backend/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  iOS/Beagle.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: ios, android, backend

More simple line changes to test cache.
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  backend/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  iOS/Beagle.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: ios, android, backend

Revert "More simple line changes to test cache."
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  backend/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  iOS/Beagle.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: ios, android, backend

ci: improved caching with prior keys (#765)
  .github/workflows/android-pr.yml
  .github/workflows/backend-pr.yml
  .github/workflows/ios-pr.yml
  .github/workflows/postRelease.yml
  .github/workflows/pr_danger.yml
  .github/workflows/sync_micronaut_sample.yml
  .github/workflows/sync_spring_sample.yml
Due: none

fix: adjust workflow flutter
  .github/workflows/flutter-pr.yml
Due: none

fix: WebView component should not handle ssl errors
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
Due: android

fix: SendRequest for Android Declarative. (#741)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
Due: android

fix: WebView component should not handle ssl errors (#767)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
Due: android

Code Review: Add locale in toLowerCase function
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/string/CapitalizeOperation.kt
Due: android

Links were updated
  README.md
Due: none

Links were updated (#769)
  README.md
Due: none

create test builder about list with image
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewContextWithImageServiceBuilder.kt
Due: backend

massive refactor
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Button.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/CornerRadius.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Display.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/EdgeValue.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Flex.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/PositionType.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Size.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Style.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Text.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/UnitValue.swift
  schema/schema-ruby-erb/Model Generation/Synthax/Types/enum_type.rb
  schema/schema-ruby-erb/Model Generation/Synthax/Types/test_type.rb
  schema/schema-ruby-erb/Model Generation/model_template_swift.erb
Due: none

fix: adjust codecov to ignore classes will be tested in instrumentation test
  android/jacoco-android.gradle
Due: android

fix: ignore activity in preview
  android/jacoco-android.gradle
Due: android

fix: remove codecov preview
  android/jacoco-android.gradle
Due: android

adding support for enums ONLY FOR SWIFT
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/DisplaySchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Display.kt
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Button.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/CornerRadius.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Display.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/EdgeValue.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Flex.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/PositionType.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Size.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Style.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Text.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/UnitValue.swift
  schema/schema-ruby-erb/Model Generation/Generated/Ts/Display.ts
  schema/schema-ruby-erb/Model Generation/Models/Layout/display.rb
  schema/schema-ruby-erb/Model Generation/Synthax/Attributes/enum_case.rb
  schema/schema-ruby-erb/Model Generation/model_template_swift.erb
Due: none

adding todo
  schema/schema-ruby-erb/Model Generation/Models/Layout/display.rb
Due: none

create test about list view and image
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewContextWithImageServiceBuilder.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleListViewService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleListViewService.kt
Due: backend

fix: Bind deserialization for Map and List
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BindAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/ComponentBinding.kt
Due: android

Adding Value as a way to wrap Literal and Binding. Preparation for Operation.
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Schema/Sources/ContextExpression/Parser.swift
  iOS/Schema/Sources/ContextExpression/Value.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

Creating Literal struct as part of SingleExpression
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Schema/Sources/ContextExpression/Literal.swift
  iOS/Schema/Sources/ContextExpression/Parser.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression.swift
Due: ios

Evaluating Operations
  iOS/Schema/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Operation+Evaluate.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

Fixing PR linter warning
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

Literal evaluation fixes
  iOS/Schema/Sources/ContextExpression/Parser.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

Creating Operation struct as part of SingleExpression
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Schema/Sources/ContextExpression/Literal.swift
  iOS/Schema/Sources/ContextExpression/Operation.swift
  iOS/Schema/Sources/ContextExpression/Parser.swift
  iOS/Schema/Sources/ContextExpression/Value.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

Turning SingleExpression into a enum and creating the Binding struct
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/ContextExpression/Binding.swift
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Schema/Sources/ContextExpression/Parser.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

Fixing Unit Test Compile errors
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/ExpressionTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/UIView+ContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/ValueEvaluateTest.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/UIView+ContextTests/testEvaluate.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/ValueEvaluateTest/testBindingEvaluation.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/ValueEvaluateTest/testLiteralEvaluation.1.txt
Due: ios

Fixing PR linter warning
  iOS/Sources/Beagle/Sources/ContextExpression/Operation+Evaluate.swift
Due: ios

Fixing Operation parser for multiple expression case
  iOS/Schema/Sources/ContextExpression/Parser.swift
Due: ios

Operations Binding
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/ContextExpression/Expression.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Operation+Evaluate.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Value+Evaluate.swift
Due: ios

add context operations demo
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/OperationsScreen.swift
Due: ios

Fixing Unit test
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/ContextExpression/DynamicObject.swift
  iOS/Schema/Sources/ContextExpression/Tests/ExpressionTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_multipleExpressionRawRepresentable.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_multipleExpressionRawRepresentable.2.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_singleExpressionRawRepresentable.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_singleExpressionRawRepresentable.2.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/PathTests/test_RawRepresentable.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/PathTests/test_RawRepresentable.2.txt
  iOS/Schema/Sources/Widgets/SimpleForm/Tests/__Snapshots__/SimpleFormTests/test_whenDecodingJson_shouldReturnASimpleForm.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/UIView+ContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/UIView+ContextTests/testEvaluate.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

Fixing Operation evaluation
  iOS/Example/BeagleDemo/BeagleDemo/Screens/OperationsScreen.swift
  iOS/Schema/Sources/ContextExpression/Parser.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

Casting DynamicObjects as String when necessary
  iOS/Schema/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

Fixing Operation evaluation for multiple expression
  iOS/Example/BeagleDemo/BeagleDemo/Screens/OperationsScreen.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios
