Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

fix: making init in network structs inside log public (#848)
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
Due: ios

just removing unnecessary files
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/NavigationControllers/CustomBeagleNavigationController.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/NavigationControllers/CustomPushStackNavigationController.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/Navigate/Tests/NavigateTests.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/testDecodingPushStackWithControllerId.1.txt
Due: ios

fix: deserializes integer double (#824)
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/SimpleJsonAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleMoshiExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/BeagleMoshiExtensionsTest.kt
Due: android

Pull request corrections
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/NavigationControllers/CustomBeagleNavigationController.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/NavigateTypeScreen.swift
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
Due: ios

Adding SwiftLint to BeagleDemo
  iOS/Example/BeagleDemo/.swiftlint.yml
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/DSCollection/DSCollection.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/DSCollection/DSCollectionViewCell.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/ErrorView.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ScreenDeepLink.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SimpleForm.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ViewLayoutHelper.swift
  iOS/Sources/Beagle/Sources/Common/Loading/LoadingView.swift
Due: ios

change Navigation to use builder pattern and deprecations
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleNavigationController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

Adding SwiftLint to BeagleDemo (#850)
  iOS/Example/BeagleDemo/.swiftlint.yml
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/DSCollection/DSCollection.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/DSCollection/DSCollectionViewCell.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/ErrorView.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ScreenDeepLink.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SimpleForm.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ViewLayoutHelper.swift
  iOS/Sources/Beagle/Sources/Common/Loading/LoadingView.swift
Due: ios

Removing unnecessary public declarations
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
Due: ios

feat: iOS - Support multiple navigations in Beagle (#840)
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/NavigationControllers/CustomBeagleNavigationController.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/NavigateTypeScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/NavigateTests.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/test_decoding_pushStack.1.txt
  iOS/Schema/Sources/Common/FunctionBuilders.swift
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/NavigateTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/BeaglePrefetchHelperTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleNavigationController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleSetup.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

fix: parse expression with index path
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/TokenInterpreter.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/tokenizer/TokenParserTest.kt
Due: android

resolved detekt warning
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/TokenInterpreter.kt
Due: android

fix: parse expression with index path (#851)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/TokenInterpreter.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/tokenizer/TokenParserTest.kt
Due: android

fix: Context data manager
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ImplicitContextManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
Due: android

fix: Context data manager
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
Due: android

fix: improve generate id to async view
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
Due: android

fix: adjust update context in tabbar and pageview
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabBarTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTwoTest.kt
Due: android

adjust code
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
Due: android

fix: adjust update context in tabbar and pageview (#855)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabBarTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTwoTest.kt
Due: android

fix: adjust method loadview
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
Due: android

fix: improve generate id to async view (#854)
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
Due: android

fix: adjust method loadview (#857)
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
Due: android

fix: removed background work from main thread
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModelTest.kt
Due: android

removed unused import
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
Due: android

fixed params from loadView
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
Due: android

git pull
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ImageScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/NetworkImageScreenBuilder.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleImageService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNetworkImageService.kt
Due: backend

Synced Spring BFF sample to Micronaut BFF sample.
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleImageService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNetworkImageService.kt
Due: backend

helper update
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/ButtonScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/ImageScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/ListViewScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/PageViewScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/ScrollViewScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/SimpleFormScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/TabViewScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/TouchableScreenSteps.kt
Due: android

fix: removed background work from main thread (#858)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModelTest.kt
Due: android

add test to new case
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

added tests to implicit contexts and view extensions
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ImplicitContextManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ViewExtensionsKtTest.kt
Due: android

added attribute rootView to class AppDeepLinkHandle and changed newIntent name to newAppIntent
  android/automated-tests/src/androidTest/java/com/example/automated_tests/utils/TestUtils.kt
  android/automated-tests/src/main/java/com/example/automated_tests/AppDeepLinkHandler.kt
  android/automated-tests/src/main/java/com/example/automated_tests/activity/AppBeagleActivitiy.kt
Due: android

add test
  android/beagle/src/test/java/br/com/zup/beagle/android/context/tokenizer/TokenParserTest.kt
Due: android

fix: adjust action generator class
  android/sample/src/main/java/br/com/zup/beagle/sample/actions/CustomAndroidAction.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredActionGenerator.kt
Due: android, backend

fix test
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

Making rendering methods public again
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
Due: ios

newAppIntent method change removes depreciated dependency
  android/automated-tests/src/main/java/com/example/automated_tests/activity/AppBeagleActivitiy.kt
  android/automated-tests/src/main/java/com/example/automated_tests/activity/MainActivity.kt
Due: android

feat: merge features from 1.1.1 to 1.1.2 to support library (#821)
  .github/workflows/postRelease.yml
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BindAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/ComponentBinding.kt
  android/gradle.properties
  fastlane/Fastfile
Due: android

Fix deserializes integer double in context
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataValueResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ContextDataAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/SimpleJsonAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/JsonReaderExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataValueResolverTest.kt
Due: android

Create unit tests
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Due: android

fix: Context data manager (#853)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ImplicitContextManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ImplicitContextManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ViewExtensionsKtTest.kt
Due: android

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
