Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

create style tab view
  iOS/Example/BeagleDemo/BeagleDemo/BeagleStyle.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
Due: ios

test screen tab-view add style
  android/sample/src/main/java/br/com/zup/beagle/sample/AppDesignSystem.kt
  android/sample/src/main/res/color/selector_icon_color.xml
  android/sample/src/main/res/values/colors.xml
  android/sample/src/main/res/values/styles.xml
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TabViewScreenBuilder.kt
Due: android, backend

update snapshot tests for BeagleSchema
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/test_decoding_pushStack.1.txt
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/test_decoding_pushView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Form/Tests/__Snapshots__/FormTests/test_whenDecodingJson_thenItShouldReturnAForm.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Lazy/Tests/__Snapshots__/LazyComponentTests/test_whenDecodingJson_thenItShouldReturnALazyComponent.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/test_whenDecodingJson_thenItShouldReturnAListView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnAPageView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnPageViewWithIndicator.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/Tests/__Snapshots__/ScrollViewTests/test_whenDecodingJson_shouldReturnAScrollView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Touchable/Tests/__Snapshots__/TouchableTests/testInitFromDecoder.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/WebView/Tests/__Snapshots__/WebViewTests/test_whenDecondingJson_shouldReturnAWebView.1.txt
  iOS/Schema/Sources/Widgets/Button/__Snapshots__/ButtonTests/test_whenDecodingJson_thenItShouldReturnAButton.1.txt
  iOS/Schema/Sources/Widgets/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Schema/Sources/Widgets/Tests/__Snapshots__/WidgetTests/testParsingOfWidgetWithAllAttributes.1.txt
  iOS/Schema/Sources/Widgets/Text/Tests/__Snapshots__/TextTests/test_whenDecodingJson_shouldReturnAText.1.txt
Due: ios

test screen page-view
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PageViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TabViewScreenBuilder.kt
Due: backend

remove file left behind after merge
  iOS/Schema/Sources/ServerDrivenComponent/Spacer/Tests/__Snapshots__/SpacerTests/test_whenDecodingJson_shouldReturnScreenWithSpacedButtons.1.txt
Due: ios

teste screen page-view with list-view
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PageViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TabViewScreenBuilder.kt
Due: backend

fix components demo
  iOS/Example/BeagleDemo/BeagleDemo/Screens/FormScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/LazyComponentScreen.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Alert.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Confirm.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
Due: ios

teste screen list-view
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewScreenBuilder.kt
Due: backend

test screen list-view image
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewScreenBuilder.kt
Due: backend

test screen Ãlist-view add flex alignSelf and alignItems
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewScreenBuilder.kt
Due: backend

test screen list-view add flex align-self
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewScreenBuilder.kt
Due: backend

sendRequest fix
  iOS/Schema/Sources/Action/Types/SendRequest.swift
Due: ios

test screen list-view with network-image
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewScreenBuilder.kt
Due: backend

screen list view with container and style
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewScreenBuilder.kt
Due: backend

screen list view e screen text
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextScreenBuilder.kt
Due: backend

test screen list-view with touchable
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewScreenBuilder.kt
Due: backend

test screen list-view with list-view
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewScreenBuilder.kt
Due: backend

screen touchable with size
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TouchableScreenBuilder.kt
Due: backend

screen for without onSubmit
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/FormScreenBuilder.kt
Due: backend

test screen form add size
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/FormScreenBuilder.kt
Due: backend

test screen form message error
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/FormScreenBuilder.kt
Due: backend

screen web view and screen page view
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/FormScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PageViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/WebViewScreenBuilder.kt
Due: backend

escreen web view and screen page view
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PageViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/WebViewScreenBuilder.kt
Due: backend

test screen lazy component add container with text
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/LazyComponentScreenBuilder.kt
Due: backend

test screen lazy component with component beagle
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/LazyComponentScreenBuilder.kt
Due: backend

test screen action
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ScrollViewScreenBuilder.kt
Due: backend

created screen safe area
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/LazyComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PageViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/SafeAreaBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ScrollViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SafeAreaService.kt
Due: backend

Synced Micronaut BFF sample to Spring BFF sample.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SafeAreaService.kt
Due: backend

create screen safe area spring
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleSafeAreaService.kt
Due: backend

Synced Spring BFF sample to Micronaut BFF sample.
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleSafeAreaService.kt
Due: backend

test screen navigate type
  android/sample/src/main/java/br/com/zup/beagle/sample/constants/EndPointConstants.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/NavigateTypeBuilder.kt
Due: android, backend

update screen safe area
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/SafeAreaBuilder.kt
Due: backend

fix: Components Alerts and SendRequest (#329)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/FormScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/LazyComponentScreen.swift
  iOS/Schema/Sources/Action/Types/SendRequest.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Alert.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Confirm.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
Due: ios

Adding ios TextInput
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleStyle.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllComponentsAreBeingRegistered.1.txt
  iOS/Schema/Sources/Widgets/TextInput/Tests/JSON/TextInputComponent.json
  iOS/Schema/Sources/Widgets/TextInput/Tests/TextInputTests.swift
  iOS/Schema/Sources/Widgets/TextInput/Tests/__Snapshots__/TextInputTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Schema/Sources/Widgets/TextInput/TextInput.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
  iOS/Sources/BeagleUI/Sources/Components/TextInput+Renderable/Tests/TextInputTests.swift
  iOS/Sources/BeagleUI/Sources/Components/TextInput+Renderable/Tests/__Snapshots__/TextInputTests/test_renderTextInputComponent.1.png
  iOS/Sources/BeagleUI/Sources/Components/TextInput+Renderable/Tests/__Snapshots__/TextInputTests/test_textInputComponent_whenTextValueChanges.1.png
  iOS/Sources/BeagleUI/Sources/Components/TextInput+Renderable/TextInput.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

add teste to image component
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
Due: android

Update android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
Due: android

fix: artifact names (#318)
  common/processor-utils/gradle.properties
Due: android, backend

feat: complex object evaluation (#324)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/StringExtensionsKtTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SetContext.kt
Due: android, backend

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
