Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

tests
  .github/workflows/automated_tests_appium_android.yml
  .github/workflows/automated_tests_appium_ios.yml
Due: none

fix
  .github/workflows/automated_tests_appium_android.yml
  .github/workflows/automated_tests_appium_ios.yml
Due: none

refactor: move dependencies to get in
  flutter/beagle/lib/action/beagle_open_external_url.dart
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/default/empty/default_empty_config.dart
  flutter/beagle/lib/default/empty/default_empty_design_system.dart
  flutter/beagle/lib/default/empty/default_empty_logger.dart
  flutter/beagle/lib/model/beagle_config.dart
  flutter/beagle_components/lib/beagle_button.dart
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/lib/beagle_lazy_component.dart
  flutter/beagle_components/lib/beagle_tab_bar.dart
  flutter/beagle_components/lib/beagle_text.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/test/beagle_button_test.dart
  flutter/beagle_components/test/beagle_image_test.dart
  flutter/beagle_components/test/beagle_tab_bar_test.dart
  flutter/beagle_components/test/beagle_text_test.dart
  flutter/beagle_components/test/objects_fake/fake_design_system.dart
  flutter/beagle_components/test/service_locator/service_locator.dart
  flutter/sample/lib/app_design_system.dart
Due: flutter

Update flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/beagle_widget.dart
Due: flutter

adjust code
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/networking/beagle_network_options.dart
  flutter/beagle/lib/networking/beagle_screen_request.dart
  flutter/sample/lib/main.dart
Due: flutter

remove controller id
  flutter/beagle/lib/beagle_widget.dart
Due: flutter

adjust unit test
  flutter/beagle/lib/networking/beagle_network_options.dart
Due: flutter

adjust import
  flutter/sample/lib/beagle_sample_screen.dart
Due: flutter

add horusec exception
  .github/workflows/horusec_pr.yml
Due: none

improve documentation
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/http_client.dart
  flutter/sample/lib/app_beagle_config.dart
  flutter/sample/lib/main.dart
Due: flutter

add todo to documentation
  flutter/beagle/lib/setup/beagle_design_system.dart
Due: flutter

feat: add screen request in flutter (#1392)
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/beagle.dart
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_js_request_message.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_supported_http_methods.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/default/default_http_client.dart
  flutter/beagle/lib/default/default_image_downloader.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/http_client.dart
  flutter/beagle/lib/model/network_options.dart
  flutter/beagle/lib/model/request.dart
  flutter/beagle/lib/networking/beagle_http_method.dart
  flutter/beagle/lib/networking/beagle_network_options.dart
  flutter/beagle/lib/networking/beagle_network_strategy.dart
  flutter/beagle/lib/networking/beagle_request.dart
  flutter/beagle/lib/networking/beagle_screen_request.dart
  flutter/beagle/lib/utils/enum.dart
  flutter/beagle/lib/utils/network_strategy.dart
  flutter/beagle/test/bridge_impl/beagle_js_engine_test.dart
  flutter/beagle_components/lib/beagle_lazy_component.dart
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/view.ts
  flutter/sample/lib/beagle_sample_screen.dart
  flutter/sample/lib/main.dart
Due: flutter

adjust import
  flutter/beagle/lib/action/beagle_open_external_url.dart
  flutter/beagle/lib/interface/http_client.dart
  flutter/beagle_components/test/beagle_text_test.dart
  flutter/beagle_components/test/service_locator/service_locator.dart
  flutter/sample/lib/beagle_sample_screen.dart
Due: flutter

update
  .github/workflows/automated_tests_appium_android.yml
  .github/workflows/automated_tests_appium_ios.yml
Due: none

refactor: move dependencies to service locator (#1395)
  flutter/beagle/lib/action/beagle_open_external_url.dart
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/default/empty/default_empty_config.dart
  flutter/beagle/lib/default/empty/default_empty_design_system.dart
  flutter/beagle/lib/default/empty/default_empty_logger.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/http_client.dart
  flutter/beagle/lib/model/beagle_config.dart
  flutter/beagle_components/lib/beagle_button.dart
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/lib/beagle_lazy_component.dart
  flutter/beagle_components/lib/beagle_tab_bar.dart
  flutter/beagle_components/lib/beagle_text.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/test/beagle_button_test.dart
  flutter/beagle_components/test/beagle_image_test.dart
  flutter/beagle_components/test/beagle_tab_bar_test.dart
  flutter/beagle_components/test/beagle_text_test.dart
  flutter/beagle_components/test/objects_fake/fake_design_system.dart
  flutter/beagle_components/test/service_locator/service_locator.dart
  flutter/sample/lib/app_beagle_config.dart
  flutter/sample/lib/main.dart
Due: flutter

chore: Adds flutter tests
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/bridge_impl/global_context_js.dart
  flutter/beagle/lib/bridge_impl/js_runtime_wrapper.dart
  flutter/beagle/lib/default/url_builder.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/navigation_controller.dart
  flutter/beagle/lib/networking/beagle_network_options.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle/lib/utils/enum.dart
  flutter/beagle/lib/utils/string_utils.dart
  flutter/beagle/test/bridge_impl/beagle_js_engine_test.dart
  flutter/beagle/test/bridge_impl/beagle_js_request_message_test.dart
  flutter/beagle/test/bridge_impl/beagle_service_js_test.dart
  flutter/beagle/test/bridge_impl/beagle_view_js_test.dart
  flutter/beagle/test/bridge_impl/js_runtime_wrapper_test.dart
  flutter/beagle/test/model/beagle_action_test.dart
  flutter/beagle/test/model/response_test.dart
  flutter/beagle/test/networking/beagle_network_options_test.dart
  flutter/beagle/test/utils/enum_test.dart
  flutter/beagle/test/utils/string_utils_test.dart
  flutter/beagle_components/lib/beagle_lazy_component.dart
Due: flutter

refactor: adjust imports
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/interface/beagle_service.dart
Due: flutter

Update flutter/beagle/lib/bridge_impl/global_context_js.dart
  flutter/beagle/lib/bridge_impl/global_context_js.dart
Due: flutter

fix: make triggered scripts run on custom branch (#1394)
  .github/workflows/automated_tests_appium_android.yml
  .github/workflows/automated_tests_appium_ios.yml
  .github/workflows/horusec_pr.yml
Due: none

chore: Adds flutter tests (#1397)
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/bridge_impl/global_context_js.dart
  flutter/beagle/lib/bridge_impl/js_runtime_wrapper.dart
  flutter/beagle/lib/default/url_builder.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/navigation_controller.dart
  flutter/beagle/lib/networking/beagle_network_options.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle/lib/utils/enum.dart
  flutter/beagle/lib/utils/string_utils.dart
  flutter/beagle/test/bridge_impl/beagle_js_engine_test.dart
  flutter/beagle/test/bridge_impl/beagle_js_request_message_test.dart
  flutter/beagle/test/bridge_impl/beagle_service_js_test.dart
  flutter/beagle/test/bridge_impl/beagle_view_js_test.dart
  flutter/beagle/test/bridge_impl/js_runtime_wrapper_test.dart
  flutter/beagle/test/model/beagle_action_test.dart
  flutter/beagle/test/model/response_test.dart
  flutter/beagle/test/networking/beagle_network_options_test.dart
  flutter/beagle/test/utils/enum_test.dart
  flutter/beagle/test/utils/string_utils_test.dart
  flutter/beagle_components/lib/beagle_lazy_component.dart
Due: flutter

feat: flutter action open native route (#1380)
  flutter/beagle/lib/action/beagle_open_native_route.dart
  flutter/beagle/lib/default/default_actions.dart
  flutter/beagle/test/action/beagle_open_native_route_test.dart
Due: flutter

refactoring
  fastlane/generateDocs.sh
  fastlane/merge-docs.sh
  fastlane/replace.sh
Due: none

fix breadcrumbs
  .gitignore
  fastlane/generateDocs.sh
  fastlane/substitute.sh
Due: none

renaming
  fastlane/generate_docs.sh
Due: none

requested changes
  .gitignore
  fastlane/generate_docs.sh
  fastlane/kdocs/format_doc.sh
  fastlane/kdocs/generate_docs.sh
  fastlane/kdocs/substitute.sh
  fastlane/substitute.sh
Due: none

alert messages changed with onError and on success (#1384)
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SendRequestScreenBuilder.kt
Due: backend

feat: create field enabled in text input and deprecated field disabled
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput.swift
Due: ios, android, backend

update dsl
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TextInputBuilder.kt
Due: backend

adjust style of code
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput.swift
Due: ios

adjust style of code
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TextInputBuilder.kt
Due: backend

rename
  fastlane/kdocs/merge_docs.sh
Due: none

feat: deprecated field isLoggingEnabled in beagle sdk and BeagleDependencies
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleConfig.kt
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
Due: ios, android

create class additional data and adjust some objects
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/RouteAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpAdditionalData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpMethod.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/RequestData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/ResponseData.kt
Due: android

change button attribute to enabled
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ButtonScreenBuilder.kt
Due: backend

test: change button attribute to enabled (#1409)
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ButtonScreenBuilder.kt
Due: backend

adjust contract request data in beagle
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpAdditionalData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/RequestData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ServerDrivenFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/ScreenRequestMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/HttpClientDefault.kt
Due: android

adjust code
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpAdditionalData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/RequestData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/ScreenRequestMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/HttpClientDefault.kt
Due: android

adjust style code
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
Due: android

adjust unit test
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleActivityTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
Due: android

adjust test cache manager
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
Due: android

Path conditions:
  ios: any of: iOS/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  android: any of: android/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  backend: any of: backend/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  flutter: any of: flutter/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
