Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

:lipstick: Improves secrets manager reading
  .github/actions/secrets/action.yml
Due: none

:lipstick: Improves secrets manager reading
  .github/actions/configure-secrets/action.yml
  .github/actions/secrets/action.yml
  .github/workflows/android-pr.yml
Due: none

:lipstick: Improves secrets manager reading
  .github/actions/configure-secrets/action.yml
Due: none

:lipstick: Improves secrets manager reading
  .github/actions/secrets/action.yml
  .github/workflows/android-pr.yml
Due: none

fix: access to RecyclerView id
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Due: android, backend

fix: fix warnings
  .github/workflows/horusec_pr.yml
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
Due: android

feat: first commit
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/model/beagle_style.dart
  flutter/beagle/lib/style/beagle_style_widget.dart
  flutter/beagle/lib/style/style_mapper.dart
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/lib/beagle_button.dart
  flutter/beagle_components/lib/beagle_container.dart
  flutter/beagle_components/lib/beagle_page_indicator.dart
  flutter/beagle_components/lib/beagle_page_view.dart
  flutter/beagle_components/lib/beagle_text.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/pubspec.yaml
  flutter/sample/android/app/build.gradle
  flutter/sample/android/app/src/main/AndroidManifest.xml
  flutter/sample/ios/Podfile.lock
  flutter/sample/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  flutter/sample/lib/main.dart
Due: android, flutter

fix: RecyclerView id access from ListView
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Due: android, backend

fix: RecyclerView id access from ListView (#1489)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Due: android, backend

:lipstick: Fixes secrets
  .github/actions/configure-secrets/action.yml
  .github/actions/secrets/action.yml
  .github/workflows/android-pr.yml
  .github/workflows/automated_tests_appium_android.yml
  .github/workflows/backend-pr.yml
  .github/workflows/flutter-pr.yml
  .github/workflows/ios-pr.yml
  .github/workflows/pr_danger.yml
  .github/workflows/publish_test_backend.yml
  .github/workflows/release-kdocs.yml
  .github/workflows/release.yml
Due: none

:lipstick: Fixes secrets
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Due: android

:lipstick: Fixes secrets
  .github/workflows/horusec_pr.yml
Due: none

impl
  tests/appium/app-ios/AppiumApp/AppiumApp.xcodeproj/project.pbxproj
  tests/appium/app-ios/AppiumApp/AppiumApp/AppDelegate.swift
  tests/appium/app-ios/AppiumApp/AppiumApp/DeepLinkViewController.swift
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/HookManager.kt
Due: none

impl
  tests/appium/app-ios/AppiumApp/AppiumApp.xcodeproj/xcshareddata/xcschemes/AppiumApp.xcscheme
Due: none

update
  tests/appium/app-ios/AppiumApp/AppiumApp/DeepLinkViewController.swift
Due: none

update
  tests/appium/app-ios/AppiumApp/AppiumApp/AppDelegate.swift
Due: none

fix: mantain the image aspect ratio
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Image/Image+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Image/Tests/__Snapshots__/ImageTests/testLocalImageWithContext.1.png
Due: ios

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/HookManager.kt
Due: none

log analysis
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
Due: none

fix: renderScreen replacement method
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ViewGroupExtensionsKtTest.kt
Due: android

chore: remove unused import
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
Due: android

log analysis
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
Due: none

chore: remove unused assert
  android/preview/src/test/java/br/com/zup/beagle/android/preview/PreviewActivityTest.kt
Due: android

removed local grpc library
  android/beagle-grpc/.gitignore
  android/beagle-grpc/build.gradle
  android/beagle-grpc/consumer-rules.pro
  android/beagle-grpc/proguard-rules.pro
  android/beagle-grpc/src/main/AndroidManifest.xml
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/Constant.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/GrpcClient.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/HeaderClientInterceptor.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/serializer/NetworkingMoshi.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/serializer/adapter/DataContextAdapter.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/serializer/adapter/MessageAdapter.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/serializer/adapter/MessageAdapterFactory.kt
  android/beagle-grpc/src/main/proto/messages.proto
  android/beagle-grpc/src/main/proto/screen.proto
  android/beagle-grpc/src/test/java/br/com/zup/beagle/android/networking/grpc/GrpcClientTest.kt
  android/beagle-grpc/src/test/java/br/com/zup/beagle/android/networking/grpc/ViewNodeTestObject.kt
  android/beagle/build.gradle
  android/build.gradle
  android/preview/src/test/java/br/com/zup/beagle/android/preview/MyBeagleSetup.kt
  android/processor-shared-code/build.gradle
  android/sample/build.gradle
  android/sample/src/main/java/br/com/zup/beagle/sample/config/AppHttpClientFactory.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/constants/EndPointConstants.kt
  android/settings.gradle
Due: android

removed test code
  android/automated-tests/build.gradle
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/build.gradle
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/PropertyImplementationManager.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/TypeElementImplementationManager.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppBeagleConfig.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/constants/EndPointConstants.kt
Due: android

adjust indentation
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/TypeElementImplementationManager.kt
Due: android

log analysis
  .github/workflows/automated_tests_appium_ios.yml
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
Due: none

fix: iOS - Make children property optional
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Analytics/Deprecated/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForScreenEvent.1.txt
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Tests/__Snapshots__/FormTests/test_whenDecodingJson_thenItShouldReturnAForm.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/JSON/listViewWithTemplate.json
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/JSON/listViewWithoutChildren.json
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/ListViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/testDecodingJsonListView.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/testDecodingJsonListViewWithTemplate.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/testDecodingJsonListViewWithoutChildren.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/Tests/PageViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Scroll/ScrollView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Scroll/ScrollView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Scroll/Tests/ScrollViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabView/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Container+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Container.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Tests/ContainerTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Tests/JSON/ContainerWithoutChildren.json
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson2_shouldReturnAContainer.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/SimpleForm+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/SimpleForm.swift
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/Tests/__Snapshots__/SimpleFormTests/test_whenDecodingJson_shouldReturnASimpleForm.1.txt
  iOS/Sources/Beagle/Sources/Decoding/AnyDecodableContainer.swift
Due: ios

speed
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/HookManager.kt
Due: none

tests
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/HookManager.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
Due: none

tests
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
Due: none

testing new ways to compare the speed of test runs
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/HookManager.kt
Due: none

Path conditions:
  ios: any of: iOS/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  android: any of: android/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  backend: any of: backend/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  flutter: any of: flutter/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
