Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags:
          - ios
      android:
        target: 70%
        threshold: 7%
        flags:
          - android
      backend:
        target: 70%
        threshold: 7%
        flags:
          - backend
      flutter:
        target: 70%
        threshold: 7%
        flags:
          - flutter
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
    carryforward: true
  flutter:
    paths:
      - flutter/
    carryforward: true
ignore:
  - "iOS/Example"
  - "iOS/Libraries"
  - "iOS/Test"
  - "iOS/Tests"
  - "iOS/Sources/Beagle/BeagleTests"
  - "iOS/Sources/Beagle/**/*Test*.swift"
  - "iOS/Sources/Beagle/**/*Tests*.swift"

:sparkles: ADds license on files
  .licenserc.json
  .sonarcloud.properties
  android/preview/consumer-rules.pro
  android/test/consumer-rules.pro
  check-license.bat
  check-license.sh
  config/detekt-default-config.yml
  flutter/javascript-bridge/webpack.config.js
  tests/appium/app-android/app/src/main/res/layout/activity_analytics.xml
Due: android, flutter

:sparkles: ADds license on files
  .github/workflows/license-check.yml
Due: none

:sparkles: Adds configuration for checking license on fastlane
  .github/workflows/license-check.yml
  check-license.bat
  fastlane/Fastfile
  fastlane/check-license.sh
Due: none

:sparkles: Adds configuration for checking license on fastlane
  .github/workflows/license-check.yml
Due: none

:sparkles: Adds configuration for checking license on fastlane
  .github/workflows/license-check.yml
  fastlane/Fastfile
  fastlane/check-license.sh
Due: none

feat: add Android kapt multi module support
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionComponentRegistrar.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/AnalyticsProviderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/AnalyticsTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleConfigTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleImageDownloaderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleLoggerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleSdkBaseTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/DeepLinkHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/DesignSystemTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/FormLocalActionHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/HttpClientFactoryTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/HttpClientTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/StoreHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/UrlBuilderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/AnalyticsMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/BeagleConfigMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/DeepLinkHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/DesignSystemMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/FormLocalActionHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/HttpClientFactoryMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/HttpClientMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/ImageDownloaderMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/LoggerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/StoreHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/UrlBuilderMocks.kt
Due: android

:sparkles: Adds copyright
  flutter/sample/ios/Runner/AppDelegate.swift
Due: flutter

:sparkles: Adds copyright
  .licenserc.json
  flutter/beagle/example/ios/Runner/AppDelegate.swift
  flutter/beagle/example/ios/Runner/Runner-Bridging-Header.h
  flutter/beagle/ios/Classes/BeaglePlugin.h
  flutter/beagle/ios/Classes/BeaglePlugin.m
  flutter/beagle/ios/Classes/SwiftBeaglePlugin.swift
  flutter/beagle/ios/beagle.podspec
Due: flutter

:sparkles: Adds copyright
  flutter/beagle/example/android/app/src/main/res/drawable-v21/launch_background.xml
  flutter/beagle/example/android/app/src/main/res/values-night/styles.xml
  flutter/sample/ios/Runner/Runner-Bridging-Header.h
Due: flutter

:sparkles: Fixes horusec
  fastlane/check-license.sh
  fastlane/delete_release.sh
  fastlane/release/maven_signing.sh
Due: none

:sparkles: Fixes horusec
  fastlane/check-license.sh
Due: none

feat: add Android kapt multi module support
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/AnalyticsProviderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/AnalyticsTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleConfigTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleImageDownloaderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleLoggerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/DeepLinkHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/DesignSystemTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/FormLocalActionHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/HttpClientFactoryTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/HttpClientTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/StoreHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/UrlBuilderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/AnalyticsMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/AnalyticsProviderMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/BeagleConfigMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/DeepLinkHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/DesignSystemMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/FormLocalActionHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/HttpClientFactoryMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/HttpClientMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/ImageDownloaderMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/LoggerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/StoreHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/UrlBuilderMocks.kt
Due: android

feat: improved corner radius
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/CornerRadiusHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/RoundedImageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/Style.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/CornerRadiusHelperTest.kt
  android/build.gradle
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
Due: android, backend

chore: removed unesed imports
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
Due: android

fix: nullable mutate method call to background
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
Due: android

feat: add Android kapt multi module support
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredActionGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredCustomAdapterGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredCustomValidatorGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredOperationGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredWidgetGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/ActionsMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/CustomAdapterMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/CustomValidatorMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/OperationsMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/WidgetsMocks.kt
Due: android

feat: add Android kapt multi module support
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/AnnotationTestBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/widget/AnnotationTest.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/AnnotationTestService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/AnnotationTestService.kt
Due: backend

feat: add Android kapt multi module support
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleGeneratorFunction.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenerateFunctionOperation.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenerateFunctionWidget.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/DependenciesRegistrarComponentsProvider.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/PropertiesRegistrarProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/GenericTypeElementManagement.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/PropertyImplementationManager.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/TypeElementImplementationManager.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionAction.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionComponentRegistrar.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionCustomAdapter.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionCustomValidator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/RegisterControllerProcessor.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/AnalyticsProviderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/AnalyticsTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleConfigTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleImageDownloaderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleLoggerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/DeepLinkHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/DesignSystemTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/FormLocalActionHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/HttpClientFactoryTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/HttpClientTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/StoreHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/UrlBuilderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredActionGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredComponentGeneratorBaseTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredControllerGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredCustomAdapterGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredCustomValidatorGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredOperationGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredWidgetGeneratorTest.kt
Due: android

feat: add Android kapt multi module support
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionComponentRegistrar.kt
Due: android

:wrench: Improves checks types
  .licenserc.json
  fastlane/check-license.sh
Due: none

:wrench: Improves checks types
  .licenserc.json
Due: none

fix: update yoga_engine version with new fix
  flutter/beagle/CHANGELOG.md
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/CHANGELOG.md
  flutter/beagle_components/pubspec.yaml
  flutter/sample/ios/Podfile.lock
  flutter/sample/pubspec.yaml
Due: flutter

fix: update yoga_engine version with new fix (#1712)
  flutter/beagle/CHANGELOG.md
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/CHANGELOG.md
  flutter/beagle_components/pubspec.yaml
  flutter/sample/ios/Podfile.lock
  flutter/sample/pubspec.yaml
Due: flutter

Update CODEOWNERS
  CODEOWNERS
Due: none

chore: Update CODEOWNERS (#1713)
  CODEOWNERS
Due: none

feat: improved corner radius (#1709)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/CornerRadiusHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/RoundedImageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/Style.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/CornerRadiusHelperTest.kt
  android/build.gradle
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
Due: android, backend

Update license-check.yml
  .github/workflows/license-check.yml
Due: none

Adds DCO Action file
  .github/workflows/dco-check.yml
Due: none

Update license-check.yml (#1714)
  .github/workflows/license-check.yml
Due: none

impl
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/AccessibilityScreenBuilder.kt
Due: none

Update release-kdocs.yml
  .github/workflows/release-kdocs.yml
Due: none

Update .github/workflows/release-kdocs.yml
  .github/workflows/release-kdocs.yml
Due: none
