Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

Update backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/SizedBox.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/SizedBox.kt
Due: backend

Update backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/FlexExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/FlexExtension.kt
Due: backend

Update backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Margin.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Margin.kt
Due: backend

fix: iOS - ErrorView retry block (#1428)
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleErrorView.swift
Due: ios

fix: adjust crash when passing color in page indicator (#1452)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageIndicatorTest.kt
Due: android

chore: adjust error in horusec (#1441)
  .github/workflows/horusec_pr.yml
Due: none

Update backend/framework/src/main/kotlin/br/com/zup/beagle/platform/BeaglePlatform.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/platform/BeaglePlatform.kt
Due: backend

Update backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/StyleExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/StyleExtension.kt
Due: backend

refactor: adjust body parameter http additional data in route remote (#1454)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/RouteAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpAdditionalData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/networking/HttpAdditionalData.kt
Due: android, backend

fix: error when passing analytics null
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/AnalyticsActionConfigAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Due: android

fix: adjust crash when passing color in page indicator (#1452) (#1458)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageIndicatorTest.kt
Due: android

fix: error when passing analytics null (#1460)
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/AnalyticsActionConfigAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Due: android

Update backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Accessibility.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Accessibility.kt
Due: backend

adjust style
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/StyleExtension.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/FunctionFlexTest.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/FunctionStyledTest.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/SetFlexTest.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/SetStyleTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Expanded.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/SizedBox.kt
Due: backend

adjust corner radius in platform
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/Style.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/style/CenterTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/style/ExpandedTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/style/MarginTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/style/PaddingTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/style/SizedBoxTest.kt
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Style/Style.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/ViewConfiguratorTests.swift
  iOS/Sources/Beagle/Sources/Renderer/ViewConfigurator.swift
Due: ios, android, backend

body parameter is now dynamicObject
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/JSON/pushViewWithAdditionalData.json
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/NavigateTests/testDecodingPushViewWithAdditionalData.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Evaluate.swift
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Networking/HttpAditionalData.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/NetworkCacheTest.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
Due: ios

fix demo test
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Network/Tests/__Snapshots__/HttpRequestBuilderTest/testBuilder.1.txt
Due: none

fixes after testing
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/NavigateTests/testDecodingPushViewWithAdditionalData.1.txt
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Networking/HttpAditionalData.swift
Due: ios

remove builders
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/core/StyleBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Accessibility.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/AccessibilityExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/FlexExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/StyleExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
Due: backend

adjust set flex
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
Due: backend

remove unecessary code
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ScreenExtensionsKtTest.kt
Due: android

adjust name flexible
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/FlexExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/FunctionFlexTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Center.kt
Due: backend

Update backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
Due: backend

Update android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
Due: android

chore: release 1.6.1 android into master (#1462)
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/AnalyticsActionConfigAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Due: android

adjust generate id
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/GenerateIdManagerTest.kt
Due: android

feat: add to support to style id in Container (#1455)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/DesignSystem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/OnInitiableComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ContainerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/GenerateIdManagerTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
Due: android, backend

add new attribute has in master
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Column.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Row.kt
Due: backend

adding styleId on container
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/BeagleStyle.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabBarScreen.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Analytics/Deprecated/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForScreenEvent.1.txt
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Tests/__Snapshots__/FormTests/test_whenDecodingJson_thenItShouldReturnAForm.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/test_whenDecodingJson_thenItShouldReturnAListView.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabView/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Container+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Container.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Tests/ContainerTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Tests/__Snapshots__/ContainerTests/test_renderContainer_withBorder.1.png
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
Due: ios

adjust snapshot test
  iOS/Sources/Beagle/Sources/Analytics/Deprecated/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForClickEvent.1.txt
  iOS/Sources/Beagle/Sources/Common/Extensions/Tests/__Snapshots__/StyleBuildersExtensionTests/test_StyleBuilder.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Tests/__Snapshots__/ButtonTests/test_whenDecodingJson_thenItShouldReturnAButton.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/Tests/__Snapshots__/WidgetTests/testParsingOfWidgetWithAllAttributes.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/Text/Tests/__Snapshots__/TextTests/test_whenDecodingJson_shouldReturnAText.1.txt
Due: ios

fix: adjust instance of text (#1456)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BeagleTextViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ViewRendererFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/GenerateIdManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ScreenExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleActivityTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ActionReportFactoryTest.kt
Due: android

docs: generating kdocs and uploading them (#1391)
  .github/workflows/release-kdocs.yml
  .gitignore
  android/build.gradle
  backend/build.gradle
  fastlane/kdocs/format_doc.sh
  fastlane/kdocs/indexTemplate/index.html
  fastlane/kdocs/merge_docs.sh
  fastlane/kdocs/substitute.sh
Due: android, backend

create beagle flex view
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextComponentHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/RootView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/GenerateIdManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/InternalBeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/RootView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AddChildrenTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BaseComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/SimpleFormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/GenerateIdManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleFlexViewTest.kt
Due: android

add documentation in beagle flex view
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
Due: android

Path conditions:
  ios: any of: iOS/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  android: any of: android/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  backend: any of: backend/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  flutter: any of: flutter/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
