Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

fix: add controllerId to action resetApplication
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/NavigateTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
Due: ios

fix: add controllerId to action resetApplication (#1226)
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/NavigateTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
Due: ios

adjust proguard
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/android/annotation/BeagleField.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/AccessibilitySetup.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BeagleFieldAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/Accessibility.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/Widget.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Due: android

Remote image rendering ok. All tests ok
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/BeagleBitmapFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloader.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/imagecomponent/BeagleBitmapFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloaderTest.kt
Due: android

PR update
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloader.kt
Due: android

PR updates
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
Due: android

chore: add unit tests and refactor to android listView
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ListViewIdViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListViewHolderTest.kt
  android/beagle/src/test/resources/robolectric.properties
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Due: android

test: listview automated tests (#1218)
  android/automated-tests/build.gradle
  android/automated-tests/src/androidTest/assets/features/ListView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/GenericSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ListViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/action/OrientationChangeAction.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/action/SmoothScrollAction.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/action/SmoothScrollPercentAction.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/assertions/RecyclerViewItemCountAssertion.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/assertions/RecyclerViewOrientationAssertion.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/transform/SingleQuoteTransform.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ListController.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Book.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/CharacterResponse.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Genre.kt
Due: android, backend

androidx imports change for android support
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListViewHolderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/AbstractViewRendererTest.kt
  android/preview/src/main/res/layout/activity_preview.xml
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/BeagleSetupTest.kt
  android/sample/src/main/res/layout/activity_server_driven.xml
Due: android

fix: android listview context reference
  android/automated-tests/src/androidTest/assets/features/ListView.feature
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
Due: android

fix: image view remote (#1229)
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/BeagleBitmapFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloader.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/imagecomponent/BeagleBitmapFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloaderTest.kt
Due: android

fix: android listview context reference-s
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
Due: android

remove BeagleSchema from automated tests
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/MainScreen.swift
Due: ios

update horusec ignore paths
  .github/workflows/horusec_pr.yml
Due: none

config horusec
  .github/workflows/horusec_pr.yml
Due: none

Inclusion of Robolectric for tests and realization of tests to verify the title manager in the toolbar
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarTextManager.kt
  android/beagle/src/test/AndroidManifest.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarTextManagerTest.kt
  android/beagle/src/test/resources/robolectric.properties
Due: android

Fixed unit tests for android support dependency
  android/automated-tests/build.gradle
  android/automated-tests/src/androidTest/assets/features/Confirm.feature
  android/automated-tests/src/androidTest/assets/features/Navigate.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/matcher/MatcherExtension.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/BeagleLoggerDefaultTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/BeagleSQLiteDatabaseTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/BeagleSetupTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/DatabaseLocalStoreTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/HttpClientDefaultTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/MemoryLocalStoreTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/StoreHandlerDefaultTest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AddChildrenTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/OnInitiableComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/AbstractViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/GenerateIdManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleFlexViewTest.kt
Due: android

Code organization
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
Due: android

refactor: Add modifier on genericFactoryProcessor for public methods
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenericFactoryProcessor.kt
Due: android

iOS - aborting local image asset load for empty mobileId
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
Due: ios

refactor: Convert corner radius that come from backend in dp to pixel corresponding value when rendering button
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
Due: android

init generate schema in build android
  android/beagle/build.gradle
  android/schema.gradle
  schema-ruby-erb/model_generation/Scripts/Kotlin/schema-android.sh
  schema-ruby-erb/model_generation/Scripts/Kotlin/schema-backend.sh
  schema-ruby-erb/model_generation/Scripts/Kotlin/schema-kotlin.sh
  schema-ruby-erb/model_generation/Scripts/Kotlin/test.sh
  schema-ruby-erb/model_generation/Scripts/Swift/.swiftlint.yml
  schema-ruby-erb/model_generation/Scripts/Swift/test.sh
  schema-ruby-erb/model_generation/main.rb
  schema-ruby-erb/model_generation/schema.sh
Due: android

chore: improve android ListView unit tests
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ListViewIdViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListViewHolderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ListViewIdViewModelTest.kt
Due: android

chore: improve android ListView unit tests
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ListViewIdViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewTest.kt
Due: android

fix: adjust android sample main activity
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Due: android

fix: android listview context reference (#1233)
  android/automated-tests/src/androidTest/assets/features/ListView.feature
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
Due: android

fix: adjust robolectric dependencie
  android/beagle/build.gradle
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
Due: android

refactor: remove commented lines
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
Due: android

refactor: removed unused imports
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
Due: android

refactor: removed unused imports
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ListViewIdViewModel.kt
Due: android

fix: adjust corner radius button
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
Due: android

adjust sonar timeout
  android/gradle.properties
Due: android

fix: sonar time out
  backend/gradle.properties
Due: backend

refactor: added unit tests to ListAdapter
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ListViewIdViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
Due: android

Adds new testing pattern
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarTextManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarTextManagerTest.kt
Due: android

refactor: create BeagleScope to remove GlobalScope (#1166)
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleScope.kt
Due: android

fix: android listview context reference-s (#1235)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
Due: android

fix: sonar timeout (#1246)
  android/gradle.properties
  backend/gradle.properties
Due: android, backend

tests of processor module and internal-processor commented by bug in the windows path
  android/automated-tests/build.gradle
  android/internal-processor/src/test/java/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/BeagleSetupTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/AnalyticsTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleConfigTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleImageDownloaderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleLoggerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/DeepLinkHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/DesignSystemTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/FormLocalActionHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/HttpClientTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/StoreHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/UrlBuilderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredActionGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredControllerGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredCustomAdapterGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredCustomValidatorGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredOperationGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredWidgetGeneratorTest.kt
Due: android

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
