Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

TypeAdapterResolverImpl processor created
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleAnnotationProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterBeagleAdapterProcessor.kt
Due: android

Code review: Improvements on code
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/ArrayListAdapterTest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/TypeAdapterResolverImpl.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterBeagleAdapterProcessor.kt
Due: android

feat: add support to default activity
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleDefaultServerDrivenActivity.kt
  android/beagle/src/main/res/drawable/beagle_error_ic.xml
  android/beagle/src/main/res/layout/activity_beagle_default_server_driven.xml
  android/beagle/src/main/res/layout/beagle_include_default_error_server_driven.xml
  android/beagle/src/main/res/values-pt-rBR/strings.xml
  android/beagle/src/main/res/values/strings.xml
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterControllerProcessor.kt
  android/sample/src/main/AndroidManifest.xml
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/activities/SampleServerDrivenActivity.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClasses.kt
Due: android, backend

feat: adjust theme
  android/beagle/src/main/AndroidManifest.xml
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/res/drawable/beagle_error_ic.xml
  android/beagle/src/main/res/layout/beagle_include_default_error_server_driven.xml
  android/beagle/src/main/res/values-pt-rBR/strings.xml
  android/beagle/src/main/res/values/strings.xml
Due: android

delete default activity
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterControllerProcessor.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/activities/SampleServerDrivenActivity.kt
Due: android

refacotr: change name to server driven activity
  android/beagle/src/main/AndroidManifest.xml
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ServerDrivenActivity.kt
  android/beagle/src/main/res/layout/beagle_activity_server_driven.xml
  android/beagle/src/main/res/layout/beagle_include_error_server_driven.xml
  android/beagle/src/main/res/values-pt-rBR/strings.xml
  android/beagle/src/main/res/values/strings.xml
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClasses.kt
Due: android, backend

adjust license
  android/sample/src/main/AndroidManifest.xml
Due: android

add class generated in processor
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/BeagleGenericAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/ParameterizedTypeFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterBeagleAdapterProcessor.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClasses.kt
Due: android, backend

create method to default import
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
Due: android

fix: Merge 1.2.1-android patch with master (#881)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextExpressionReplacer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ImplicitContextManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/TokenInterpreter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ContextDataAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/SimpleJsonAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/JsonReaderExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabBarTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTwoTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataValueResolverTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ImplicitContextManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/tokenizer/TokenParserTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModelTest.kt
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/InternalWidgetFactoryProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterActionProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterWidgetProcessor.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/actions/CustomAndroidAction.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleSetupRegisteredWidgetGenerator.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredActionGenerator.kt
Due: android, backend

adjust test
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
Due: android

feat: Improve cache
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/store/DatabaseLocalStore.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/store/LocalStore.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/store/MemoryLocalStore.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/store/StoreHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/store/StoreHandlerDefault.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppBeagleConfig.kt
  backend/sample/spring/src/main/resources/application.properties
Due: android, backend

feat: improve cache
  android/beagle/src/main/java/br/com/zup/beagle/android/store/DatabaseLocalStore.kt
Due: android

remove comments
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
Due: android

update code owners
  CODEOWNERS
Due: none

chore: merge release/1.2.1-iOS hotfix with master (#875)
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
Due: ios

feat: list-view
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Action.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildrenAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/OnInitableComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/UndefinedAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/actions/CustomAndroidAction.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ListViewFragment.kt
Due: android

Change the imports from androidx to android support
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/AbstractViewRendererTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/activities/DeepLinkActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/activities/NavigationBarActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/activities/SampleServerDrivenActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/components/CustomPageIndicatorView.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ComposeComponentFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ContextOperationsFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/DisabledFormSubmitFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/FormFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/LazyComponentFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ListViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/NavigationFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/PageViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ScrollViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TextInputFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/WebViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/SampleTextField.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/TextField.kt
  android/sample/src/main/res/layout/activity_server_driven.xml
Due: android

fix import errors
  android/sample/src/androidTest/java/br/com/zup/beagle/sample/SampleTestRunner.kt
  android/sample/src/androidTest/java/br/com/zup/beagle/sample/snapshot/MainActivityTest.kt
Due: android

Expression support in remote route navigation
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/PreFetchHelper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/NavigateTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/PreFetchHelperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ContextOperationsFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/DisabledFormSubmitFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/NavigationFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
Due: android

Imports organization
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/NavigationFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
Due: android

create defaults adapters
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/defaults/CharSequenceAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/defaults/MoshiArrayListJsonAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/BeagleGenericAdapterFactory.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/adapters/ArrayListAdapter.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/adapters/ComplexAdapter.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/adapters/PairAdapter.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/adapters/StringAdapter.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextInputBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/widget/SampleTextField.kt
Due: android, backend

Organizing imports
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextScreenBuilder.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNavigationTypeService.kt
Due: backend

Synced Spring BFF sample to Micronaut BFF sample.
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNavigationTypeService.kt
Due: backend

Creating BeagleView
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Renderer/BeagleView.swift
Due: ios

Creating tests for BeagleView
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleViewTests.swift
Due: ios

create adapter to pair
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/defaults/MoshiArrayListJsonAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/defaults/PairAdapterFactory.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/adapters/PairAdapter.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextInputBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/widget/SampleTextField.kt
Due: android, backend

add tests to news adapters
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/defaults/CharSequenceAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/defaults/MoshiArrayListJsonAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/defaults/PairAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/CustomWidget.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/adapters/PairAdapter.kt
Due: android

creare test to custom adapter
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/PersonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/TypeAdapterResolverImpl.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/adapters/PersonAdapter.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextInputBuilder.kt
Due: android, backend

feat: Improve cache
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/LruCacheStore.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextBinding.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/store/DatabaseLocalStore.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/LruCacheStoreTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppBeagleConfig.kt
  backend/sample/spring/src/main/resources/application.properties
Due: android, backend

Exception added when trying to call the remote route prefetch with expressions
  android/beagle/src/main/java/br/com/zup/beagle/android/data/PreFetchHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/RouteAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
Due: android

feat: add support to default activity (#880)
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ServerDrivenActivity.kt
  android/beagle/src/main/res/layout/beagle_activity_server_driven.xml
  android/beagle/src/main/res/layout/beagle_include_error_server_driven.xml
  android/beagle/src/main/res/values-pt-rBR/strings.xml
  android/beagle/src/main/res/values/strings.xml
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterControllerProcessor.kt
  android/sample/src/main/AndroidManifest.xml
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/activities/SampleServerDrivenActivity.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClasses.kt
Due: android, backend

chore: update code owners (#885)
  CODEOWNERS
Due: none

adjust test errors
  android/beagle/src/test/java/br/com/zup/beagle/android/store/DatabaseLocalStoreTest.kt
Due: android

Organization of the prefetch method
  android/beagle/src/main/java/br/com/zup/beagle/android/data/PreFetchHelper.kt
Due: android

changed isHot method name
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/store/DatabaseLocalStoreTest.kt
Due: android

feat: add support to user register adapter to moshi
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/android/annotation/RegisterBeagleAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/defaults/CharSequenceAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/defaults/MoshiArrayListJsonAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/defaults/PairAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/BeagleGenericAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/BeagleTypeAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/ParameterizedTypeFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/TypeAdapterResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/PersonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/TypeAdapterResolverImpl.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleAnnotationProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterBeagleAdapterProcessor.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/adapters/PersonAdapter.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClasses.kt
Due: android, backend

fix evaluate function when is a json object
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextExpressionReplacer.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

Fix expression check for JSONArray and JSONObject
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BindAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ActionExtensionsKtTest.kt
Due: android

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
