Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

Adding deleted test cases.
  common/tests/UrlBuilderTestSpec.json
Due: android, backend

feat: add parameter rootview in deeplinkhanlder
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/navigation/DeepLinkHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/NavigateTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppDeepLinkHandler.kt
Due: android

Fix Fastfile and delete_release
  fastlane/Fastfile
  fastlane/delete_release.sh
Due: none

fix: resolve bindings of lists inside lists
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/main/res/values/ids.xml
Due: android

fix: image placeholder on android (#784)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
Due: android

fix: android hotfix for version 1.1.1 (#786)
  .github/workflows/postRelease.yml
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BindAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/ComponentBinding.kt
  fastlane/Fastfile
  fastlane/delete_release.sh
Due: android

refactoring and fixing some bugs
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/StyleSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Style.kt
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Button.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/CornerRadius.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/EdgeValue.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Flex.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Size.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Style.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Text.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/UnitValue.swift
  schema/schema-ruby-erb/Model Generation/Generated/Ts/Style.ts
  schema/schema-ruby-erb/Model Generation/Models/Layout/edge_value.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/style.rb
  schema/schema-ruby-erb/Model Generation/model_template_swift.erb
Due: none

handling same file types with correct padding
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Style.swift
  schema/schema-ruby-erb/Model Generation/model_template_swift.erb
  schema/schema-ruby-erb/Model Generation/template_helper.rb
Due: none

added flex properties
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/DisplaySchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/PositionTypeSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/StyleSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Display.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/PositionType.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Style.kt
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Display.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Flex.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/PositionType.swift
  schema/schema-ruby-erb/Model Generation/Generated/Ts/Display.ts
  schema/schema-ruby-erb/Model Generation/Generated/Ts/PositionType.ts
  schema/schema-ruby-erb/Model Generation/Models/Layout/Flex/align_content.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/Flex/align_items.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/Flex/align_self.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/Flex/flex.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/Flex/flex_direction.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/Flex/flex_wrap.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/Flex/justify_content.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/flex.rb
  schema/schema-ruby-erb/Model Generation/main.rb
Due: none

show more explicitly our usage of RawRepresentable, Decodable, Equatable
  iOS/Schema/Sources/ContextExpression/Binding.swift
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Schema/Sources/ContextExpression/Literal.swift
  iOS/Schema/Sources/ContextExpression/Operation.swift
  iOS/Schema/Sources/ContextExpression/Path.swift
  iOS/Schema/Sources/ContextExpression/Value.swift
Due: ios

Encoding urls before http calls on android
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/urlbuilder/UrlBuilderDefault.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/urlbuilder/UrlBuilderDefaultTest.kt
Due: android

Changes to url builder class.
  iOS/Sources/Beagle/Sources/Networking/UrlBuilder.swift
Due: ios

deprecated loadView method and loading attribute of class ServerDrivenState
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
Due: android

added unit type
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/UnitTypeSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/UnitValueSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/UnitType.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/UnitValue.kt
  schema/schema-ruby-erb/Model Generation/Generated/Swift/UnitType.swift
  schema/schema-ruby-erb/Model Generation/Generated/Ts/UnitType.ts
  schema/schema-ruby-erb/Model Generation/Generated/Ts/UnitValue.ts
  schema/schema-ruby-erb/Model Generation/Models/Layout/edge_value.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/unit_type.rb
  schema/schema-ruby-erb/Model Generation/main.rb
Due: none

Code organization
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/urlbuilder/UrlBuilderDefault.kt
Due: android

Fix to repository test
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
Due: ios

added accessibility and analytics is WIP
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/AccessibilitySchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Accessibility.kt
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Accessibility.swift
  schema/schema-ruby-erb/Model Generation/Generated/Ts/Accessibility.ts
  schema/schema-ruby-erb/Model Generation/Models/Accessibility/accessibility.rb
  schema/schema-ruby-erb/Model Generation/Models/Analytics/analytics_events.rb
  schema/schema-ruby-erb/Model Generation/Models/Analytics/analytics_models.rb
  schema/schema-ruby-erb/Model Generation/Models/base_component.rb
  schema/schema-ruby-erb/Model Generation/Synthax/Types/primitive_types.rb
  schema/schema-ruby-erb/Model Generation/main.rb
  schema/schema-ruby-erb/Model Generation/model_template_swift.erb
Due: none

refactoring types
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/UnitTypeSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/UnitType.kt
  schema/schema-ruby-erb/Model Generation/Models/base_component.rb
  schema/schema-ruby-erb/Model Generation/Synthax/Attributes/base_attributes.rb
  schema/schema-ruby-erb/Model Generation/Synthax/Attributes/enum_case.rb
  schema/schema-ruby-erb/Model Generation/Synthax/Attributes/list.rb
  schema/schema-ruby-erb/Model Generation/Synthax/Attributes/variable.rb
  schema/schema-ruby-erb/Model Generation/Synthax/Types/common_type.rb
  schema/schema-ruby-erb/Model Generation/Synthax/Types/enum_type.rb
  schema/schema-ruby-erb/Model Generation/Synthax/Types/primitive_types.rb
  schema/schema-ruby-erb/Model Generation/Synthax/Types/type.rb
Due: none

added enum condition to ts and kotlin templates
  schema/schema-ruby-erb/Model Generation/Generated/Ts/UnitType.ts
  schema/schema-ruby-erb/Model Generation/Synthax/Attributes/base_attributes.rb
  schema/schema-ruby-erb/Model Generation/Synthax/Attributes/enum_case.rb
  schema/schema-ruby-erb/Model Generation/Synthax/Attributes/list.rb
  schema/schema-ruby-erb/Model Generation/Synthax/Attributes/variable.rb
  schema/schema-ruby-erb/Model Generation/main.rb
  schema/schema-ruby-erb/Model Generation/model_template_kotlin.erb
  schema/schema-ruby-erb/Model Generation/model_template_kotlin_backend.erb
  schema/schema-ruby-erb/Model Generation/model_template_swift.erb
  schema/schema-ruby-erb/Model Generation/model_template_ts.erb
  schema/schema-ruby-erb/Model Generation/template_helper.rb
Due: none

adding condition for enum type in kotlinSchema
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/UnitTypeSchema.kt
  schema/schema-ruby-erb/Model Generation/model_template_kotlin.erb
Due: none

improve some DynamicObject code
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject.swift
Due: ios

Adding declarative navigate screen to demo
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/NavigateTypeScreen.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
Due: ios

added condition to implement enum in kotlin backend
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Button.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Text.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/UnitType.kt
  schema/schema-ruby-erb/Model Generation/main.rb
  schema/schema-ruby-erb/Model Generation/model_template_kotlin_backend.erb
Due: none

changed name of common type
  schema/schema-ruby-erb/Model Generation/Models/Accessibility/accessibility.rb
  schema/schema-ruby-erb/Model Generation/Models/Analytics/analytics_events.rb
  schema/schema-ruby-erb/Model Generation/Models/Analytics/analytics_models.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/Flex/flex.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/corner_radius.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/display.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/edge_value.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/position_type.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/size.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/style.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/unit_value.rb
  schema/schema-ruby-erb/Model Generation/Models/Widgets/button.rb
  schema/schema-ruby-erb/Model Generation/Models/Widgets/text.rb
  schema/schema-ruby-erb/Model Generation/Models/Widgets/widget.rb
  schema/schema-ruby-erb/Model Generation/Synthax/Types/basic_type.rb
  schema/schema-ruby-erb/Model Generation/Synthax/Types/built_in_type.rb
Due: none

New use cases have been added
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/urlbuilder/UrlBuilderDefault.kt
  common/tests/UrlBuilderTestSpec.json
Due: android, backend

Updates to class and test function.
  iOS/Sources/Beagle/Sources/Networking/Tests/UrlBuilderTests.swift
  iOS/Sources/Beagle/Sources/Networking/UrlBuilder.swift
Due: ios

Adding Unit test for Operation Evaluation
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/ContextExpression/Operation+Evaluate.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationArrayEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationComparisonEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationLogicEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationNumberEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationOtherEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationStringEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluationTests.swift
Due: ios

Change in encodings
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/urlbuilder/UrlBuilderDefault.kt
  common/tests/UrlBuilderTestSpec.json
Due: android, backend

Cleaning code
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/urlbuilder/UrlBuilderDefault.kt
Due: android

implementation of the ServerDrivenState class states in the loadView method
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
Due: android

Integrated the generated text and button schemas.
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/schema/ButtonSchema.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/schema/TextSchema.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ButtonSchema.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Text.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextSchema.kt
Due: android, backend

Improving ExpressionTests and PathTests
  iOS/Example/BeagleDemo/BeagleDemo/Screens/OperationsScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/ContextExpression/Tests/ExpressionTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/PathTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_multipleExpressionRawRepresentable.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_multipleExpressionRawRepresentable.2.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_singleExpressionRawRepresentable.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_singleExpressionRawRepresentable.2.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/PathTests/test_RawRepresentable.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/PathTests/test_RawRepresentable.2.txt
  iOS/Sources/Beagle/Sources/Common/Extensions/UIView+Style.swift
Due: ios

Removing SwiftLint warnings
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationArrayEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationComparisonEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationLogicEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationNumberEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationOtherEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationStringEvaluationTests.swift
Due: ios

chore: change PR template to improve DX
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

automatically generate init for RepresentableByParsableString types
  iOS/Schema/Sources/ContextExpression/Binding.swift
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Schema/Sources/ContextExpression/Literal.swift
  iOS/Schema/Sources/ContextExpression/Operation.swift
  iOS/Schema/Sources/ContextExpression/Parser.swift
  iOS/Schema/Sources/ContextExpression/Path.swift
  iOS/Schema/Sources/ContextExpression/Value.swift
Due: ios

change from var to let to avoid unintended side effects
  iOS/Schema/Sources/ContextExpression/Binding.swift
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Schema/Sources/ContextExpression/Literal.swift
  iOS/Schema/Sources/ContextExpression/Operation.swift
  iOS/Schema/Sources/ContextExpression/Path.swift
  iOS/Schema/Sources/ContextExpression/Value.swift
Due: ios

Improving ExpressionTests and PathTests, removing repetitive code.
  iOS/Schema/Sources/ContextExpression/Tests/ExpressionTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/PathTests.swift
Due: ios

small improvements on related issues
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Improving OperationNumberEvaluationTests and OperationLogicEvaluationTests, removing repetitive code.
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationLogicEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationNumberEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluationTests.swift
Due: ios

Update on some screens.
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/DSCollection/DSCollectionViewCell.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/GenerationTests.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/NavigateTypeScreen.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
Due: ios

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
