Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags:
          - ios
      android:
        target: 70%
        threshold: 7%
        flags:
          - android
      backend:
        target: 70%
        threshold: 7%
        flags:
          - backend
      flutter:
        target: 70%
        threshold: 7%
        flags:
          - flutter
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
    carryforward: true
  flutter:
    paths:
      - flutter/
    carryforward: true
ignore:
  - "iOS/Example"
  - "iOS/Libraries"
  - "iOS/Test"
  - "iOS/Tests"
  - "iOS/Sources/Beagle/BeagleTests"
  - "iOS/Sources/Beagle/**/*Test*.swift"
  - "iOS/Sources/Beagle/**/*Tests*.swift"

removing pull_request condition
  .github/workflows/release-kdocs.yml
Due: none

Update release-kdocs.yml
  .github/workflows/release-kdocs.yml
Due: none

removing lazy component scenario
  tests/appium/project/src/test/resources/features/LazyComponent.feature
Due: none

removing lazy component scenario (#1422)
  tests/appium/project/src/test/resources/features/LazyComponent.feature
Due: none

change PageView serialization
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleClasses.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenerateFunctionWidget.kt
Due: android

fix page layout of listView tests
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Due: backend

adding suport to additional data on navigate actions
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/JSON/pushViewWithAdditionalData.json
  iOS/Sources/Beagle/Sources/Action/Types/Tests/NavigateTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/NavigateTests/testDecodingPushView.1.txt
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/NavigateTests/testDecodingPushViewWithAdditionalData.1.txt
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/NavigateTests/testDecodingPushViewWithContext.1.txt
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Logger/Tests/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/Sources/Networking/HttpAditionalData.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/NetworkCacheTest.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
Due: ios

fix: changed Android PageView component to suit BFF contract (#1420)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
Due: android

add path additionaldata
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
Due: ios

adding doc to code
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Networking/HttpAditionalData.swift
Due: ios

fix demo tests
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Network/Tests/__Snapshots__/HttpRequestBuilderTest/testBuilder.1.txt
  iOS/Sources/Beagle/Sources/Networking/HttpAditionalData.swift
Due: ios

feat: Add gRPC support for android
  android/automated-tests/build.gradle
  android/beagle-grpc/.gitignore
  android/beagle-grpc/build.gradle
  android/beagle-grpc/consumer-rules.pro
  android/beagle-grpc/proguard-rules.pro
  android/beagle-grpc/src/main/AndroidManifest.xml
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/DataContextAdapter.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/GrpcClient.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/MessageAdapter.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/MessageAdapterFactory.kt
  android/beagle-grpc/src/main/proto/messages.proto
  android/beagle-grpc/src/main/proto/screen.proto
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/build.gradle
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleClasses.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/PropertyImplementationManager.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/TypeElementImplementationManager.kt
  android/sample/build.gradle
  android/sample/src/main/java/br/com/zup/beagle/sample/config/AppHttpClientFactory.kt
  android/settings.gradle
Due: android

fix: iOS - ErrorView retry block
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleErrorView.swift
Due: ios

Add clientInterceptor
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/DataContextAdapter.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/GrpcClient.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/HeaderClientInterceptor.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/MessageAdapter.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/NetworkingMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
Due: android

update
  .github/workflows/automated_tests_appium_ios.yml
Due: none

update
  fastlane/automatedTests/appium/ios/run_appium_ios_tests.sh
Due: none

refactor: deprecated beagle dsl
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Padding.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/styled.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexYogaMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/StyleComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/core/Flex.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ContextOperationsFragment.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/BeagleBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/BeagleDsl.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/analytics/ClickEventBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/analytics/ScreenEventBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/core/AccessibilityBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/core/StyleBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/widget/FlexBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/widget/UnitValueBuilder.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNavigationTypeService.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/AlertBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/ConfirmBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/NavigateBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/SendRequestBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/SetContextBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/SubmitFormBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/context/ContextDataBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/form/SimpleFormBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/layout/ContainerBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/layout/PageViewBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/layout/ScreenComponentBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/layout/ScrollViewBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/lazy/LazyComponentBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/navigation/TouchableBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/pager/PageIndicatorBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/ButtonBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/ImageBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/ListViewBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TabBarBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TabViewBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TextBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TextInputBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/WebViewBuilder.kt
Due: android, backend

Synced Micronaut BFF sample to Spring BFF sample.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNavigationTypeService.kt
Due: backend

remove code
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Center.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Column.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Padding.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Row.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexYogaMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/StyleComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/core/Flex.kt
Due: android

remove code android
  android/beagle/src/main/java/br/com/zup/beagle/android/components/styled.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ContextOperationsFragment.kt
Due: android

feat: improve api to write flex and style
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Column.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/Style.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/core/Flex.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ContextOperationsFragment.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/StyleComponent.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/FlexExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/StyleExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/Flex.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Center.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Column.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Row.kt
Due: android, backend

adjust code
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/Style.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/StyleComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/core/Flex.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ContextOperationsFragment.kt
Due: android

remove components
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Center.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Row.kt
Due: android

add new components
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Expanded.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Margin.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Padding.kt
Due: backend

create extension to unit value
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ContextOperationsFragment.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/UnitValueExtensions.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/Flex.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/UnitValue.kt
Due: android, backend

adjust backend code and create sized box component
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/StyleExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/Flex.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Expanded.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Padding.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/SizedBox.kt
Due: backend

add new function in style
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/Flex.kt
Due: backend

adjust operation
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ContextOperationsFragment.kt
Due: android

create static function in bind
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/context/Bind.kt
Due: backend

update
  .github/workflows/automated_tests_appium_ios.yml
  fastlane/automatedTests/appium/ios/run_appium_ios_tests.sh
Due: none

improve accessbility
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/AccessibilityExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/StyleExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Accessibility.kt
Due: backend

create helper to platform
  backend/framework/src/main/kotlin/br/com/zup/beagle/platform/BeaglePlatform.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/platform/BeaglePlatformExtensions.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Row.kt
Due: backend

Fix PageView retain cycle
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView+Extensions.swift
Due: ios
