Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags:
          - ios
      android:
        target: 70%
        threshold: 7%
        flags:
          - android
      backend:
        target: 70%
        threshold: 7%
        flags:
          - backend
      flutter:
        target: 70%
        threshold: 7%
        flags:
          - flutter
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
    carryforward: true
  flutter:
    paths:
      - flutter/
    carryforward: true
ignore:
  - "iOS/Example"
  - "iOS/Libraries"
  - "iOS/Test"
  - "iOS/Tests"
  - "iOS/Sources/Beagle/BeagleTests"
  - "iOS/Sources/Beagle/**/*Test*.swift"
  - "iOS/Sources/Beagle/**/*Tests*.swift"

feat: integration with yoga_engine
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/style/beagle_style_widget.dart
  flutter/beagle/lib/style/style_mapper.dart
  flutter/sample/ios/Podfile.lock
  flutter/sample/lib/app_beagle_config.dart
  flutter/sample/lib/main.dart
Due: flutter

update
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/PullToRefreshScreenSteps.kt
Due: none

update
  tests/appium/project/src/test/resources/features/PullToRefresh.feature
Due: none

update
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ConfirmScreenSteps.kt
Due: none

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/SendRequestScreenSteps.kt
  tests/appium/project/src/test/resources/features/SendRequest.feature
Due: none

chore: adjust PullToRefresh
  android/beagle/src/main/java/br/com/zup/beagle/android/components/refresh/PullToRefresh.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/refresh/PullToRefreshTest.kt
Due: android

chore: adjust PullToRefresh (#1653)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/refresh/PullToRefresh.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/refresh/PullToRefreshTest.kt
Due: android

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/SetContextScreenSteps.kt
  tests/appium/project/src/test/resources/features/SetContext.feature
Due: none

impl
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ButtonScreenBuilder.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ButtonScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/GenericSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/SimpleFormScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TabBarScreenSteps.kt
  tests/appium/project/src/test/resources/features/Button.feature
  tests/appium/project/src/test/resources/features/ListView.feature
  tests/appium/project/src/test/resources/features/Navigate.feature
  tests/appium/project/src/test/resources/features/PageView.feature
  tests/appium/project/src/test/resources/features/ScrollView.feature
  tests/appium/project/src/test/resources/features/SimpleForm.feature
  tests/appium/project/src/test/resources/features/TabBar.feature
Due: backend

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
Due: none

other tests
  flutter/readme.md
Due: flutter

feat: iOS - Adds init from Encodable to DynamicObject (#1650)
  iOS/Sources/Beagle/BeagleTests/ContextExpression/DynamicObjectTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject.swift
Due: ios

components and actions are now case insensitive
  flutter/.editorconfig
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle_components/lib/default_components.dart
Due: flutter

fixed action error log
  flutter/beagle/lib/beagle_widget.dart
Due: flutter

fix: components and actions in Flutter are now case insensitive (#1654)
  flutter/.editorconfig
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle_components/lib/default_components.dart
Due: flutter

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AddChildrenScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AlertScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ButtonScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ConditionalScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ConfirmScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TextInputScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TouchScreenSteps.kt
  tests/appium/project/src/test/resources/features/TextInput.feature
Due: none

Synced Micronaut BFF sample to Spring BFF sample.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/SampleDataController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleDataService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SamplePullToRefreshService.kt
Due: backend

feat: add Android kapt multi module support
  android/build.gradle
  android/moduleA/.gitignore
  android/moduleA/build.gradle
  android/moduleA/consumer-rules.pro
  android/moduleA/proguard-rules.pro
  android/moduleA/src/androidTest/java/br/com/zup/beagle/android/modulea/ExampleInstrumentedTest.kt
  android/moduleA/src/main/AndroidManifest.xml
  android/moduleA/src/main/java/br/com/zup/beagle/android/modulea/ModuleABeagleConfig.kt
  android/moduleA/src/main/java/br/com/zup/beagle/android/modulea/ModuleAWidget.kt
  android/moduleA/src/test/java/br/com/zup/beagle/android/modulea/ExampleUnitTest.kt
  android/moduleB/.gitignore
  android/moduleB/build.gradle
  android/moduleB/consumer-rules.pro
  android/moduleB/proguard-rules.pro
  android/moduleB/src/androidTest/java/br/com/zup/beagle/android/moduleb/ExampleInstrumentedTest.kt
  android/moduleB/src/main/AndroidManifest.xml
  android/moduleB/src/main/java/br/com/zup/beagle/android/moduleb/ModuleBBeagleConfig.kt
  android/moduleB/src/main/java/br/com/zup/beagle/android/moduleb/ModuleBWidget.kt
  android/moduleB/src/test/java/br/com/zup/beagle/android/moduleb/ExampleUnitTest.kt
  android/moduleC/.gitignore
  android/moduleC/build.gradle
  android/moduleC/consumer-rules.pro
  android/moduleC/proguard-rules.pro
  android/moduleC/src/androidTest/java/br/com/zup/beagle/android/modulec/ExampleInstrumentedTest.kt
  android/moduleC/src/main/AndroidManifest.xml
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/ModuleCBeagleConfig.kt
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/ModuleCWidget.kt
  android/moduleC/src/test/java/br/com/zup/beagle/android/modulec/ExampleUnitTest.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleGeneratorFunction.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/Constants.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenerateFunctionWidgetRegistrar.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/processor/BeagleAnnotationProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/processor/KaptOptions.kt
  android/sample/build.gradle
  android/settings.gradle
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/AnnotationTestBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/widget/AnnotationTest.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/AnnotationTestService.kt
Due: android, backend

Synced Spring BFF sample to Micronaut BFF sample.
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/AnnotationTestService.kt
Due: backend

feat: pullToRefresh Appium tests (#1651)
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PullToRefreshScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/SimpleComponentsController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/SampleDataController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleDataService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SamplePullToRefreshService.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/PullToRefreshScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
  tests/appium/project/src/test/resources/features/PullToRefresh.feature
Due: backend

Creates a separated BeagleContainer component and implements the onInit event. Fixes a bug within the BeagleText component.
  flutter/beagle_components/lib/beagle_container.dart
  flutter/beagle_components/lib/beagle_text.dart
  flutter/beagle_components/lib/default_components.dart
Due: flutter

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TextInputScreenSteps.kt
  tests/appium/project/src/test/resources/features/TextInput.feature
Due: none

Creates a separated BeagleContainer component and implements the onInit event. Fixes a bug within the BeagleText component. (#1655)
  flutter/beagle_components/lib/beagle_container.dart
  flutter/beagle_components/lib/beagle_text.dart
  flutter/beagle_components/lib/default_components.dart
Due: flutter

feat: GridView span count
  iOS/Example/BeagleDemo/BeagleDemo/Screens/GridViewScreen.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/GridView/GridViewDecodeTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/GridView/JSON/gridViewNumColumns.json
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/GridView/JSON/gridViewSpanCount.json
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/GridView/__Snapshots__/GridViewDecodeTests/testDecodingDeprecatedJson.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/GridView/__Snapshots__/GridViewDecodeTests/testDecodingJson.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDecodingJsonListView.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDecodingJsonListViewWithTemplate.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDecodingJsonListViewWithoutChildren.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/GridViewTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/__Snapshots__/GridViewTests/testGridViewTemplateSimple.2.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/__Snapshots__/GridViewTests/testGridViewTemplateWithDifferentSizes.2.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/__Snapshots__/GridViewTests/testGridViewWithFourColumns.2.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/__Snapshots__/GridViewTests/testGridViewWithNumColumnsZero.2.png
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/Widget/GridView/GridView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/GridView/GridView.swift
Due: ios

Implements teh scroll view component for Flutter. Fixes bug where null would cause problems when parsing strings into enums.
  flutter/beagle/lib/utils/enum.dart
  flutter/beagle_components/lib/beagle_scroll_view.dart
  flutter/beagle_components/lib/default_components.dart
Due: flutter

Tests for the BeagleScrollView
  flutter/beagle_components/test/beagle_scroll_view_test.dart
Due: flutter

fixes to commentaries
  flutter/beagle_components/lib/beagle_scroll_view.dart
Due: flutter

chore: update url to localhost
  flutter/sample/lib/app_beagle_config.dart
  flutter/sample/lib/main.dart
Due: flutter

fix: removed unused imports
  flutter/beagle/lib/utils/enum.dart
  flutter/beagle_components/lib/beagle_scroll_view.dart
Due: flutter

fix: pageview and textview
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/style/beagle_style_widget.dart
  flutter/beagle_components/lib/beagle_page_view.dart
  flutter/beagle_components/lib/beagle_text.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/sample/lib/main.dart
Due: android, flutter

fix: text component when is aligned to center
  flutter/beagle_components/lib/beagle_text.dart
  flutter/beagle_components/test/beagle_text_test.dart
Due: flutter

fix: text return
  flutter/beagle_components/lib/beagle_text.dart
Due: flutter

Added all missing features from BeagleTextInput
  flutter/beagle_components/lib/beagle_text_input.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/lib/text_input_type.dart
Due: flutter

TextInputField now renders as a CupertinoTextField on iOS
  flutter/beagle_components/lib/beagle_text_input.dart
Due: flutter

Fixes problem where onChange would trigger once the user focused the text input.
  flutter/beagle_components/lib/beagle_text_input.dart
Due: flutter

Removes dev logs
  flutter/beagle_components/lib/beagle_text_input.dart
Due: flutter

Fixes the PageView component. Makes a general change that allows event listeners to receive any kind of serializable data instead of only maps.
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle_components/lib/beagle_page_view.dart
  flutter/beagle_components/test/beagle_page_view_test.dart
Due: flutter

fix: text component when is aligned to center (#1659)
  flutter/beagle_components/lib/beagle_text.dart
  flutter/beagle_components/test/beagle_text_test.dart
Due: flutter

feat: flutter/scrollView (#1658)
  flutter/beagle/lib/utils/enum.dart
  flutter/beagle_components/lib/beagle_scroll_view.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/test/beagle_scroll_view_test.dart
Due: flutter
