Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

Created mixin to impose order on EdgeValue fields when serialized.
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/EdgeValueMixin.kt
Due: backend

fix: applying flex to the root node
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/layout/ScreenComponent.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/core/LayoutComponent.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/form/Form.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/layout/Horizontal.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/layout/ScrollView.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/layout/Spacer.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/layout/Stack.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/layout/Vertical.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/lazy/LazyComponent.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
Due: android, backend

Renderer now enables Flex in any UIView that beagle uses
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Action/Tests/TouchableTests.swift
  iOS/Sources/BeagleUI/Sources/Common/Util/Tests/Snapshot.swift
  iOS/Sources/BeagleUI/Sources/Components/Form+Renderable/Submit/Tests/FormSubmitTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Form+Renderable/Submit/Tests/__Snapshots__/FormSubmitTests/testRenderView.1.png
  iOS/Sources/BeagleUI/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Flex/Tests/ContainerTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Screen/Tests/ScreenComponentTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Scroll/Tests/ScrollViewTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Spacer+Renderable/Tests/SpacerTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Lazy+Renderable/Tests/LazyComponentTests.swift
  iOS/Sources/BeagleUI/Sources/Components/ListView+Renderable/Tests/ListViewTests.swift
  iOS/Sources/BeagleUI/Sources/Components/NetworkImage+Renderable/NetworkImage.swift
  iOS/Sources/BeagleUI/Sources/Components/Page+Renderable/Tests/CustomPageIndicator/CustomPageIndicatorTest.swift
  iOS/Sources/BeagleUI/Sources/Components/Tests/ComposeComponentTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Text+Renderable/Tests/TextTests.swift
  iOS/Sources/BeagleUI/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/BeagleUI/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Due: ios

strongly storing Renderer inside Screen so NetworkImage works correctly
  iOS/Sources/BeagleUI/Sources/Renderer/ScreenController.swift
Due: ios

Create logic to handle multiple expressions in a string
  android/beagle/src/main/java/br/com/zup/beagle/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/utils/StringExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/utils/StringExtensionsKtTest.kt
Due: android

Create logic to handle implicit context
  android/android-declarative/src/main/java/br/com/zup/beagle/core/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/engine/util/ContextComponentHandler.kt
  android/beagle/src/test/java/br/com/zup/beagle/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/engine/renderer/AbstractViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/engine/util/ContextComponentHandlerTest.kt
Due: android

docs: Page not found at "Learn how to" section
  README.md
Due: none

Created Positon to distinguish position's ordering from padding and margin.
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/PositionMixin.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/core/Flex.kt
Due: android, backend

Adding kotlin reflect to fix a build error
  backend/sample/spring/build.gradle
  buildSrc/src/main/java/Dependencies.kt
Due: backend

add imports in the test class toAndroidColor ()
  android/beagle/src/test/java/br/com/zup/beagle/utils/StringExtensionsKtTest.kt
Due: android

:ok_hand: Change parameter of Action.handle to rootView
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/BeagleActionBindingGenerator.kt
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/util/BeagleClasses.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/Action.kt
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/RootView.kt
  android/beagle/src/test/java/br/com/zup/beagle/processor/ActionBindingTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/processor/ActionTestCases.kt
Due: android

feat: Adds code binding generation for android Actions Classes registered with @RegisterAction (#244)
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/annotation/RegisterAction.kt
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/BeagleActionBindingGenerator.kt
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/BeagleActionBindingProcessor.kt
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/BeagleAnnotationProcessor.kt
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/BeagleWidgetBindingProcessor.kt
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/util/BeagleClasses.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/Action.kt
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/RootView.kt
  android/beagle/src/test/java/br/com/zup/beagle/processor/ActionBindingTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/processor/ActionTestCases.kt
  android/beagle/src/test/java/br/com/zup/beagle/processor/WidgetTestCases.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleBindingHandler.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleProcessorExtensions.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleWidgetBindingHandler.kt
Due: android, backend

fix: applying flex to the root node (#252)
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/layout/ScreenComponent.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/core/LayoutComponent.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/form/Form.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/layout/Horizontal.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/layout/ScrollView.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/layout/Spacer.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/layout/Stack.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/layout/Vertical.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/lazy/LazyComponent.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
Due: android, backend

fix imports
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNavigationTypeService.kt
Due: backend

change design systems parameter name to id
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/DesignSystem.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppDesignSystem.kt
Due: android

add demo textinput
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Action/ActionExecutor.swift
  iOS/Sources/BeagleUI/Sources/Action/SetContext.swift
  iOS/Sources/BeagleUI/Sources/Common/Extensions/UIView/UIView+Context.swift
  iOS/Sources/BeagleUI/Sources/Context/ActionManager.swift
  iOS/Sources/BeagleUI/Sources/Context/BeagleContext.swift
  iOS/Sources/BeagleUI/Sources/Decoding/AnyDecodableContainer.swift
Due: ios

Add customizable log api logic
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Caching/CacheManager/CacheManager.swift
  iOS/Sources/BeagleUI/Sources/Caching/CoreData/CacheDiskManager.swift
  iOS/Sources/BeagleUI/Sources/Components/Form/Form.swift
  iOS/Sources/BeagleUI/Sources/Components/ServerDrivenComponent.swift
  iOS/Sources/BeagleUI/Sources/Context/FormManager.swift
  iOS/Sources/BeagleUI/Sources/Decoding/AnyDecodableContainer.swift
  iOS/Sources/BeagleUI/Sources/Logger/BeagleLogger.swift
  iOS/Sources/BeagleUI/Sources/Logger/BeagleLoggerProxy.swift
  iOS/Sources/BeagleUI/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/BeagleUI/Sources/Navigation/DependencyURLOpener.swift
  iOS/Sources/BeagleUI/Sources/Networking/Default/NetworkClientDefault.swift
  iOS/Sources/BeagleUI/Sources/Networking/Repository.swift
  iOS/Sources/BeagleUI/Sources/Setup/BeagleDependencies.swift
Due: ios

fix sample base url
  android/sample/src/main/java/br/com/zup/beagle/sample/constants/EndPointConstants.kt
Due: android

Integrate implicit context with actions
  android/beagle/src/main/java/br/com/zup/beagle/action/ActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/action/SendRequestActionHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/action/SetContextActionHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/engine/util/ContextComponentHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/action/ActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/action/SendRequestActionHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/engine/util/ContextComponentHandlerTest.kt
  common/declarative/src/main/kotlin/br/com/zup/beagle/action/SetContext.kt
Due: android, backend

fix: remove wildcard imports
  android/beagle/src/test/java/br/com/zup/beagle/utils/StringExtensionsKtTest.kt
Due: android

Fixed FlexBuilder.
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/core/FlexBuilder.kt
Due: android, backend

Adjusted Android.
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/mapper/FlexMapperTest.kt
Due: android

refactor: adjust import and extension function
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/jackson/BeagleBuilderSerializerTest.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/jackson/BeagleSerializerModifierTest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewScreenBuilder.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ComposeComponent.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/extensions/ListViewExtensions.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
Due: backend

:sparkles: Adds android-internal-processor module, extract the common implementation of generation for the processor-utils
  android/android-internal-processor/build.gradle
  android/android-internal-processor/gradle.properties
  android/android-internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessor.kt
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/BeagleAnnotationProcessor.kt
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/BeagleSetupProcessor.kt
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/BeagleSetupPropertyGenerator.kt
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/BeagleSetupRegisteredWidgetGenerator.kt
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/BeagleWidgetBindingGenerator.kt
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/BeagleWidgetBindingProcessor.kt
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/ValidatorHandlerProcessor.kt
  buildSrc/src/main/java/Dependencies.kt
  common/annotation/src/main/kotlin/br/com/zup/beagle/annotation/RegisterAction.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleActionBindingGenerator.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleActionBindingProcessor.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleBindingHandler.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClass.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClasses.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/MessagerExtensions.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/ProcessorConstants.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/TypeElementExtensions.kt
  settings.gradle
Due: android, backend

Merge remote-tracking branch 'remotes/origin/feature/context-actions-expressions' into feature/context-action-expression/action-modularization
  android/android-internal-processor/build.gradle
  common/processor-utils/build.gradle
Due: android, backend

refactor: Flex and some attributes moved to Style to improve the resposabilities
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/layout/ContainerViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/layout/DirectionalViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/layout/FormInputHiddenViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/layout/HorizontalViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/layout/ScreenViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/layout/ScrollViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/layout/SpacerViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/layout/StackViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/layout/VerticalViewRender.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ui/NetworkImageViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ui/TabViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/mapper/FlexMapperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/ContainerViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/ScreenViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/StackViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/NetworkImageViewRendererTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ComposeComponentFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/DisabledFormSubmitFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/FormFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ListViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/NavigationFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ScrollViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/StackViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/WebViewFragment.kt
  common/extended-schema/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/FlexComponent.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/Widget.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/Flex.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/FlexBuilder.kt
Due: android, backend

:bug: Fixed bind parameter due to classpath
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleWidgetBindingGenerator.kt
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleWidgetBindingProcessor.kt
  backend/processor/src/main/kotlin/br/com/zup/beagle/compiler/BeagleBackendProcessor.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleBindingHandler.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClasses.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleWidgetBindingHandler.kt
Due: android, backend

feat: Adds android-internal-processor module, extract the common implementation of generation for the processor-utils (#261)
  android/android-internal-processor/build.gradle
  android/android-internal-processor/gradle.properties
  android/android-internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessor.kt
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleAnnotationProcessor.kt
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupRegisteredWidgetGenerator.kt
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleWidgetBindingGenerator.kt
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleWidgetBindingProcessor.kt
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/ValidatorHandlerProcessor.kt
  backend/processor/src/main/kotlin/br/com/zup/beagle/compiler/BeagleBackendProcessor.kt
  buildSrc/src/main/java/Dependencies.kt
  common/annotation/src/main/kotlin/br/com/zup/beagle/annotation/RegisterAction.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleActionBindingGenerator.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleActionBindingProcessor.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleBindingHandler.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClass.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClasses.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleWidgetBindingHandler.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/MessagerExtensions.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/ProcessorConstants.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/TypeElementExtensions.kt
  settings.gradle
Due: android, backend

Treated nullable types in original getters.
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleBindingHandler.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClass.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleProcessorExtensions.kt
Due: android, backend

action handlers integrated inside actions
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/util/BeagleClasses.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Action.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/CustomActionHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalActionHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/NavigationActionHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ShowNativeDialog.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/RootView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/layout/FormViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/layout/ScreenViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/layout/TouchableViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ui/ButtonViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/form/FormSubmitter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppCustomActionHandler.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ComposeComponentFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/DisabledFormSubmitFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/FormFragment.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/FormScreenBuilder.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/action/Action.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/action/Form.kt
  schema/kotlin/src/main/kotlin/br/com/zup/beagle/widget/form/Form.kt
Due: android, backend

Unit test.
  backend/processor/src/test/kotlin/br/com/zup/beagle/test/NullableWidgetTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/test/TestCases.kt
Due: backend

refactor: changing variable name component TabView, ListView, PageView for children and child
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/layout/PageViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ui/ListViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ui/TabViewRenderer.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/PageViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/ListViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/TabViewRendererTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ListViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/PageViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PageViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TabViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/ComposePageView.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/extensions/ListViewExtensions.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
Due: android, backend

repositioned form components
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/layout/ScreenViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/form/FormSubmitter.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ComposeComponentFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/DisabledFormSubmitFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/FormFragment.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/FormScreenBuilder.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/action/CustomAction.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/action/Form.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/action/FormValidation.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/form/Form.kt
Due: android, backend

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
