Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

feat: iOS - AutoLayoutWrapper enhancement (#1669)
  iOS/Sources/Beagle/BeagleTests/Renderer/AutoLayoutWrapperTests.swift
  iOS/Sources/Beagle/Sources/Renderer/AutoLayoutWrapper.swift
Due: ios

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ActionNotRegisteredScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AddChildrenScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AlertScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AnalyticsScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ButtonScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ConditionalScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ConfirmScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ContainerScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/GenericSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/LazyComponentScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/NavigateScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/PageViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/PullToRefreshScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ScrollViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/SendRequestScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/SetContextScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/SimpleFormScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TabBarScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TextInputScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TextStyleScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TouchScreenSteps.kt
Due: none

feat: add Android kapt multi module support
  android/build.gradle
  android/moduleA/build.gradle
  android/moduleA/src/main/java/br/com/zup/beagle/android/modulea/ModuleAAction.kt
  android/moduleA/src/main/java/br/com/zup/beagle/android/modulea/ModuleAController1.kt
  android/moduleA/src/main/java/br/com/zup/beagle/android/modulea/ModuleAOperation.kt
  android/moduleA/src/main/java/br/com/zup/beagle/android/modulea/ModuleAValidator.kt
  android/moduleB/build.gradle
  android/moduleB/src/main/java/br/com/zup/beagle/android/moduleb/ModuleBAction.kt
  android/moduleB/src/main/java/br/com/zup/beagle/android/moduleb/ModuleBController1.kt
  android/moduleB/src/main/java/br/com/zup/beagle/android/moduleb/ModuleBController2.kt
  android/moduleB/src/main/java/br/com/zup/beagle/android/moduleb/ModuleBController3.kt
  android/moduleB/src/main/java/br/com/zup/beagle/android/moduleb/ModuleBOperation.kt
  android/moduleB/src/main/java/br/com/zup/beagle/android/moduleb/ModuleBTypeAdapter.kt
  android/moduleB/src/main/java/br/com/zup/beagle/android/moduleb/ModuleBValidator.kt
  android/moduleC/build.gradle
  android/moduleC/gradle.properties
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/ModuleCAction.kt
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/ModuleCController1.kt
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/ModuleCController2.kt
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/ModuleCOperation.kt
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/ModuleCTypeAdapter.kt
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/ModuleCTypeAdapter2.kt
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/ModuleCValidator.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleGeneratorFunction.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenerateFunctionOperation.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenerateFunctionWidget.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenerateFunctionWidgetRegistrar.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionAction.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionComponentRegistrar.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionCustomAdapter.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionCustomValidator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/RegisterControllerProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/processor/BeagleAnnotationProcessor.kt
  android/sample/build.gradle
  android/sample/src/main/java/br/com/zup/beagle/sample/activities/DeepLinkActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/activities/NavigationBarActivity.kt
Due: android

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/PageViewScreenSteps.kt
  tests/appium/project/src/test/resources/features/PageView.feature
Due: none

refactor: rename name field custom operation to operation
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle/test/bridge_impl/beagle_service_js_test.dart
  flutter/sample/lib/main.dart
Due: flutter

refactor: remove class beagle config
  flutter/beagle/lib/beagle.dart
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/default/empty/default_empty_config.dart
  flutter/beagle/lib/model/beagle_config.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle_components/test/service_locator/service_locator.dart
  flutter/sample/lib/app_beagle_config.dart
  flutter/sample/lib/main.dart
Due: flutter

adjust name parameter
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
Due: flutter

adjust unit test
  flutter/beagle/test/bridge_impl/beagle_service_js_test.dart
Due: flutter

refactor: rename field custom operation to operation (#1675)
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle/test/bridge_impl/beagle_service_js_test.dart
  flutter/sample/lib/main.dart
Due: flutter

refactor: remove shared preferences and use memory to save data
  flutter/beagle/lib/default/default_storage.dart
  flutter/beagle/pubspec.yaml
  flutter/beagle/test/default/default_storage_test.dart
Due: flutter

adjust
  flutter/beagle/lib/default/default_storage.dart
Due: flutter

refactor: remove class beagle config (#1676)
  flutter/beagle/lib/beagle.dart
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/default/empty/default_empty_config.dart
  flutter/beagle/lib/model/beagle_config.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle_components/test/service_locator/service_locator.dart
  flutter/sample/lib/app_beagle_config.dart
  flutter/sample/lib/main.dart
Due: flutter

refactor: remove shared preferences and use memory to save data (#1677)
  flutter/beagle/lib/default/default_storage.dart
  flutter/beagle/pubspec.yaml
  flutter/beagle/test/default/default_storage_test.dart
Due: flutter

feat: add default logger in beagle
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/default/default_logger.dart
  flutter/sample/lib/main.dart
Due: flutter

feat: first yoga + beagle integration
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ScrollViewScreenBuilder.kt
  flutter/beagle/android/build.gradle
  flutter/beagle/android/gradle/wrapper/gradle-wrapper.properties
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/model/beagle_style.dart
  flutter/beagle/lib/style/style_builder.dart
  flutter/beagle/lib/style/style_mapper.dart
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/lib/beagle_container.dart
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/sample/android/app/build.gradle
  flutter/sample/android/app/src/main/AndroidManifest.xml
  flutter/sample/android/build.gradle
  flutter/sample/android/gradle/wrapper/gradle-wrapper.properties
  flutter/sample/ios/Podfile.lock
  flutter/sample/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  flutter/sample/lib/app_beagle_config.dart
  flutter/sample/lib/main.dart
Due: backend, flutter

chore: removed unused import
  flutter/beagle/lib/beagle_widget.dart
Due: flutter

revert: unnecessary change
  flutter/beagle_components/lib/beagle_tab_bar.dart
Due: flutter

fix: PageView and PageIndicator to work with yoga
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PageViewScreenBuilder.kt
  flutter/beagle_components/lib/beagle_page_indicator.dart
  flutter/beagle_components/lib/beagle_page_view.dart
  flutter/sample/ios/Podfile.lock
Due: backend, flutter

chore: removed unused import
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ScrollViewScreenBuilder.kt
Due: backend

update tests
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ImageScreenBuilder.kt
Due: backend

feat: improve Appium iOS tests speed (#1656)
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ButtonScreenBuilder.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ActionNotRegisteredScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AddChildrenScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AlertScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AnalyticsScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ButtonScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ConditionalScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ConfirmScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ContainerScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/GenericSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ImageScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/LazyComponentScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/NavigateScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/PageViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/PullToRefreshScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ScrollViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/SendRequestScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/SetContextScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/SimpleFormScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TabBarScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TextInputScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TextStyleScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TouchScreenSteps.kt
  tests/appium/project/src/test/resources/features/Button.feature
  tests/appium/project/src/test/resources/features/Confirm.feature
  tests/appium/project/src/test/resources/features/Container.feature
  tests/appium/project/src/test/resources/features/Image.feature
  tests/appium/project/src/test/resources/features/LazyComponent.feature
  tests/appium/project/src/test/resources/features/ListView.feature
  tests/appium/project/src/test/resources/features/Navigate.feature
  tests/appium/project/src/test/resources/features/PageView.feature
  tests/appium/project/src/test/resources/features/ScrollView.feature
  tests/appium/project/src/test/resources/features/SendRequest.feature
  tests/appium/project/src/test/resources/features/SetContext.feature
  tests/appium/project/src/test/resources/features/SimpleForm.feature
  tests/appium/project/src/test/resources/features/TabBar.feature
  tests/appium/project/src/test/resources/features/TextInput.feature
Due: backend

feat: add default logger in beagle (#1679)
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/default/default_logger.dart
  flutter/sample/lib/main.dart
Due: flutter

chore: update tests (#1681)
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ImageScreenBuilder.kt
Due: backend

feat: BeagleYogaFactory created to be able to run tests
  flutter/beagle/lib/beagle.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle/lib/style/style_builder.dart
  flutter/beagle_components/lib/beagle_container.dart
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/test/beagle_image_test.dart
  flutter/beagle_components/test/beagle_page_view_test.dart
  flutter/beagle_components/test/service_locator/service_locator.dart
Due: flutter

fix: ImageView wrapped with YogaLayout instead of YogaNode
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/test/beagle_image_test.dart
Due: flutter

fix: TabBar test
  flutter/beagle_components/test/beagle_tab_bar_test.dart
Due: flutter

fix: updated pubspec.yaml to point to yoga_engine repository
  flutter/beagle/pubspec.yaml
Due: flutter

adjust global context
  flutter/beagle/lib/interface/global_context.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle_components/lib/beagle_text.dart
  flutter/sample/ios/Podfile.lock
  flutter/sample/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  flutter/sample/lib/beagle_sample_screen.dart
  flutter/sample/lib/main.dart
Due: flutter

fix: adjust deploy release
  fastlane/Fastfile
Due: none

fix: adjust deploy release (#1682)
  fastlane/Fastfile
Due: none

chore: switch changed to map
  flutter/beagle/lib/style/style_mapper.dart
Due: flutter

chore: removed unnecessary set versions
  flutter/beagle/android/build.gradle
  flutter/sample/android/app/build.gradle
Due: flutter

feat: flutter with yoga alpha (#1680)
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PageViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ScrollViewScreenBuilder.kt
  flutter/beagle/android/build.gradle
  flutter/beagle/android/gradle/wrapper/gradle-wrapper.properties
  flutter/beagle/lib/beagle.dart
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/model/beagle_style.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle/lib/style/style_builder.dart
  flutter/beagle/lib/style/style_mapper.dart
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/lib/beagle_container.dart
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/lib/beagle_page_indicator.dart
  flutter/beagle_components/lib/beagle_page_view.dart
  flutter/beagle_components/lib/beagle_tab_bar.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/test/beagle_image_test.dart
  flutter/beagle_components/test/beagle_page_view_test.dart
  flutter/beagle_components/test/beagle_tab_bar_test.dart
  flutter/beagle_components/test/service_locator/service_locator.dart
  flutter/sample/android/app/build.gradle
  flutter/sample/android/app/src/main/AndroidManifest.xml
  flutter/sample/android/build.gradle
  flutter/sample/android/gradle/wrapper/gradle-wrapper.properties
  flutter/sample/ios/Podfile.lock
  flutter/sample/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  flutter/sample/lib/main.dart
Due: backend, flutter

adjust API global context
  flutter/beagle/lib/interface/global_context.dart
  flutter/beagle/lib/service_locator.dart
  flutter/sample/lib/beagle_sample_screen.dart
  flutter/sample/lib/main.dart
Due: flutter

adjust code
  flutter/beagle/lib/beagle.dart
  flutter/beagle/lib/interface/global_context.dart
  flutter/beagle/lib/service_locator.dart
  flutter/sample/lib/beagle_sample_screen.dart
  flutter/sample/lib/main.dart
Due: flutter

adjust podfile
  flutter/sample/ios/Podfile.lock
Due: flutter

docs: readme.md updated
  flutter/readme.md
  flutter/sample/lib/main.dart
Due: flutter

feat: add Android kapt multi module support
  android/moduleA/build.gradle
  android/moduleA/src/main/java/br/com/zup/beagle/android/modulea/ModuleABeagleConfig.kt
  android/moduleB/build.gradle
  android/moduleB/src/main/java/br/com/zup/beagle/android/moduleb/ModuleBBeagleConfig.kt
  android/moduleC/build.gradle
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/CoroutineDispatchers.kt
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/HttpClientDefault.kt
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/HttpURLConnectionExtensions.kt
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/widgets/ModuleCWidget.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleGeneratorFunction.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/Constants.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/PropertiesRegistrarProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/PropertyImplementationManager.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/TypeElementImplementationManager.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/RegisterControllerProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/processor/BeagleAnnotationProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/processor/BeagleProcessorUtils.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/processor/KaptOptions.kt
  android/sample/build.gradle
Due: android

Update flutter/beagle/lib/interface/global_context.dart
  flutter/beagle/lib/interface/global_context.dart
Due: flutter

Path conditions:
  ios: any of: iOS/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  android: any of: android/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  backend: any of: backend/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  flutter: any of: flutter/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
