Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

adding image test
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/__Snapshots__/ImageTests/testLocalImageWithContext.1.png
Due: ios

deleting spaces inside empty declaration components
  schema/schema-ruby-erb/model_generation/Generated/Swift/Action.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/AnalyticsEvent.swift
  schema/schema-ruby-erb/model_generation/Templates/swift.erb
Due: none

Fixing android and iOS automated tests
  android/.idea/copyright/beagle.xml
  android/.idea/copyright/profiles_settings.xml
  android/automated-tests/src/androidTest/assets/features/SimpleFormScreen.feature
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/ButtonScreen.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/GenericSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/SimpleFormScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/TabViewScreenSteps.kt
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsTests/AutomatedTestsTests.swift
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/ButtonScreen.feature
  iOS/Tests/AutomatedTestsUITests/Features/ImageScreen.feature
  iOS/Tests/AutomatedTestsUITests/Features/ListViewScreen.feature
  iOS/Tests/AutomatedTestsUITests/Features/PageViewScreen.feature
  iOS/Tests/AutomatedTestsUITests/Features/ScrollViewScreen.feature
  iOS/Tests/AutomatedTestsUITests/Features/SimpleFormScreen.feature
  iOS/Tests/AutomatedTestsUITests/Features/TabViewScreen.feature
  iOS/Tests/AutomatedTestsUITests/Features/TouchableScreen.feature
  iOS/Tests/AutomatedTestsUITests/Robots/ScreenRobot.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ButtonScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/CucumberStepsDefinition.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ImageScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ListViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/PageViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TabViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Utils/TestUtils.swift
Due: ios, android, backend

adding action and unknown action to xcode
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/Action.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/UnknownAction.swift
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/UnknownActionSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Ts/UnknownAction.ts
  schema/schema-ruby-erb/model_generation/Models/Action/unknown_action.rb
  schema/schema-ruby-erb/model_generation/main.rb
Due: ios

Removing unecessary gradle wrappers
  android/automated-tests/gradle/wrapper/gradle-wrapper.jar
  android/automated-tests/gradle/wrapper/gradle-wrapper.properties
  android/gradle/wrapper/gradle-wrapper.properties
  backend/automated-tests/gradle/wrapper/gradle-wrapper.jar
  backend/automated-tests/gradle/wrapper/gradle-wrapper.properties
Due: android, backend

fix: multiple expression not working when observing due to cache
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/UIView+ContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

creating add children and alert actions
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/AddChildrenSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/AlertSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Swift/AddChildren.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Alert.swift
  schema/schema-ruby-erb/model_generation/Generated/Ts/AddChildren.ts
  schema/schema-ruby-erb/model_generation/Generated/Ts/Alert.ts
  schema/schema-ruby-erb/model_generation/Models/Action/add_children.rb
  schema/schema-ruby-erb/model_generation/Models/Action/alert.rb
  schema/schema-ruby-erb/model_generation/Templates/swift.erb
  schema/schema-ruby-erb/model_generation/main.rb
Due: ios

Multiple expression binding test
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/UIView+ContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

integrated alert to xcode
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/Alert.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/Alert.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  schema/schema-ruby-erb/model_generation/main.rb
Due: ios

Fix Multiple Expression evaluation when using cache.
  iOS/Example/BeagleDemo/BeagleDemo/Screens/OperationsScreen.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

integrating confirm action
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/Confirm.swift
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ConfirmSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Ts/Confirm.ts
  schema/schema-ruby-erb/model_generation/Models/Action/confirm.rb
  schema/schema-ruby-erb/model_generation/Templates/swift.erb
  schema/schema-ruby-erb/model_generation/main.rb
Due: ios

integrating confirm action
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

adding test to navigationBar item with context
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/Tests/ScreenComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/Tests/__Snapshots__/ScreenComponentTests/testNavigationBarItemWithContextOnImage.1.png
Due: ios

WIP Send request
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/SendRequestSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Swift/SendRequest.swift
  schema/schema-ruby-erb/model_generation/Generated/Ts/SendRequest.ts
  schema/schema-ruby-erb/model_generation/Models/Action/send_request.rb
  schema/schema-ruby-erb/model_generation/Templates/swift.erb
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

change demo + remove deprecated
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ImageScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Schema/Sources/Widgets/Image/Image.swift
Due: ios

Update iOS/DynamicObjectExtension.swift
  iOS/DynamicObjectExtension.swift
Due: ios

fix: Not passing additional data in request (#940)
  iOS/Sources/Beagle/Sources/Networking/Default/HttpAditionalData.swift
  iOS/Sources/Beagle/Sources/Networking/Repository.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
Due: ios

feat: create BeagleView (#891)
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/NativeViewController.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/NativeScreenTest.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/__Snapshots__/NativeScreenTest/testNativeScreen.1.png
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleView.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleViewTests.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/BeagleViewTests/testViewLayout.1.png
Due: ios

fix: TabView (deprecated) was hiding navigation bar when page changed
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/Tests/TabViewUIComponentTests.swift
Due: ios

fix: widgets styles that uses view size don't work properly (#902)
  iOS/Example/BeagleDemo/BeagleDemo/BeagleStyle.swift
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Button+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Text+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TextInput+Renderable/TextInput.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/ViewConfigurator.swift
  iOS/Sources/Beagle/Sources/Theme/Theme.swift
  iOS/Sources/Beagle/Sources/Theme/ThemeTests.swift
Due: ios

feat: iOS Auto-Layout Yoga interworking
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/NativeViewController.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/BeagleViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/NativeScreenTest.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/__Snapshots__/NativeScreenTest/testNativeScreen.1.png
  iOS/Example/BeagleDemo/BeagleDemoTests/__Snapshots__/NativeScreenTest/testNativeScreenWithNavigation.1.png
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/AddChildren.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/ScreenComponent+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/StyleViewConfigurator.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/LazyComponent+Renderable.swift
  iOS/Sources/Beagle/Sources/Renderer/AutoLayoutWrapper.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleView.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/AutoLayoutWrapperTests.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewResizing.1.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewResizing.2.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewWithColumnAndWrap.1.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewWithDefault.1.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewWithRowAndNoWrap.1.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewWithRowAndWrap.1.png
Due: ios

fixed snapshotDescription return
  iOS/DynamicObjectExtension.swift
Due: ios

Fixed container's package and added comment.
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ContainerSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Container.kt
  schema/schema-ruby-erb/model_generation/Models/Widgets/container.rb
Due: none

Extracted Flex sub classes to their own files.
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/AlignContent.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/AlignItems.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/AlignSelf.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/FlexDirection.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/FlexWrap.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/JustifyContent.kt
Due: none

Added treatment for core Kotlin classes generated as backend.
  schema/schema-ruby-erb/model_generation/Tests/Kotlin/test.sh
Due: none

teste page view + remote image
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/Tests/AddChildrenTests.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/__Snapshots__/ImageTests/testRenderRemoteImage.1.png
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/__Snapshots__/ImageTests/testRenderRemoteImage.2.png
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/StyleViewConfigurator.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
Due: ios

Improved backend Kotlin default value handling.
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Accessibility.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/AnalyticsClick.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Button.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Container.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/EdgeValue.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Flex.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Image.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Size.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Style.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Text.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/TextInput.kt
  schema/schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
Due: none

Extracted Style's other classes.
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/CornerRadius.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Display.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/PositionType.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
Due: none

Fixed Style and its dependencies packages.
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/CornerRadiusSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/PositionType.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/StyleSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/CornerRadius.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Style.kt
  schema/schema-ruby-erb/model_generation/Models/Layout/corner_radius.rb
  schema/schema-ruby-erb/model_generation/Models/Layout/display.rb
  schema/schema-ruby-erb/model_generation/Models/Layout/position_type.rb
  schema/schema-ruby-erb/model_generation/Models/Layout/style.rb
  schema/schema-ruby-erb/model_generation/Tests/Kotlin/test.sh
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

fixed dynamic object default string conversion
  iOS/Schema/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

added dynamic object extension
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Common/Extensions/DynamicObjectExtension.swift
Due: ios

added dynamic object dictionary validation with snapshot
  iOS/DynamicObjectExtension.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/ContextExpression/Tests/ExpressionTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/Json/testDictionarySnapShot.json
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/testDictionarySnapShot.1.txt
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Common/Extensions/DynamicObjectExtension.swift
Due: ios

Create scenario to reproduce dialog error
  android/sample/build.gradle
  android/sample/src/main/java/br/com/zup/beagle/sample/DialogState.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/TestDialogFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/TestDialogFragmentViewModel.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/actions/CustomAndroidAction.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TestFragment.kt
  android/sample/src/main/res/layout/fragment_test.xml
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/CustomAndroidAction.kt
Due: android, backend

uptaded unit test
  iOS/Schema/Sources/Widgets/SimpleForm/Tests/__Snapshots__/SimpleFormTests/test_whenDecodingJson_shouldReturnASimpleForm.1.txt
  iOS/Schema/Sources/Widgets/TextInput/Tests/__Snapshots__/TextInputTests/test_whenDecodingJson_shouldReturnAText.1.txt
Due: ios

fixed unit test
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/testDictionarySnapShot.1.txt
  iOS/Schema/Sources/Widgets/SimpleForm/Tests/__Snapshots__/SimpleFormTests/test_whenDecodingJson_shouldReturnASimpleForm.1.txt
Due: ios

fixed lint
  iOS/DynamicObjectExtension.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SendRequestTests/test_whenSendRequestWithError_shouldDoRequestAndTriggerActions.1.txt
Due: ios

fixed unit test
  iOS/DynamicObjectExtension.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SendRequestTests/test_whenSendRequestWithError_shouldDoRequestAndTriggerActions.1.txt
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SendRequestTests/test_whenSendRequestWithSuccess_shouldDoRequestAndTriggerActions.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/ValueEvaluateTest/testBindingEvaluation.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/ValueEvaluateTest/testLiteralEvaluation.1.txt
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
Due: ios

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
