Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags:
          - ios
      android:
        target: 70%
        threshold: 7%
        flags:
          - android
      backend:
        target: 70%
        threshold: 7%
        flags:
          - backend
      flutter:
        target: 70%
        threshold: 7%
        flags:
          - flutter
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
    carryforward: true
  flutter:
    paths:
      - flutter/
    carryforward: true
ignore:
  - "iOS/Example"
  - "iOS/Libraries"
  - "iOS/Test"
  - "iOS/Tests"
  - "iOS/Sources/Beagle/BeagleTests"
  - "iOS/Sources/Beagle/**/*Test*.swift"
  - "iOS/Sources/Beagle/**/*Tests*.swift"

test: create unit test to gridview (#1602)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/Token.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/GridViewTest.kt
Due: android

chore: iOS - Update Beagle Dependencies
  iOS/Beagle.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Preview/BeaglePreview.xcodeproj/project.pbxproj
Due: ios

chore: adjust automated test
  .github/workflows/automated_tests.yml
  .github/workflows/automated_tests_android.yml
  fastlane/Fastfile
  fastlane/automatedTests/run_android_automation.sh
Due: none

chore: adjust automated test (#1607)
  .github/workflows/automated_tests.yml
  .github/workflows/automated_tests_android.yml
  fastlane/Fastfile
  fastlane/automatedTests/run_android_automation.sh
Due: none

refactor: update dependencies with code
  .github/workflows/release.yml
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/components/LazyComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpAdditionalData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ServerDrivenActivity.kt
  android/build.gradle
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/preview/build.gradle
  android/preview/src/main/java/br/com/zup/beagle/android/preview/PreviewActivity.kt
  android/sample/build.gradle
  android/sample/src/main/java/br/com/zup/beagle/sample/components/CustomPageIndicatorView.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/list/ListViewFragment.kt
  backend/build.gradle
  fastlane/Fastfile
Due: android, backend

adjust code
  android/preview/src/main/java/br/com/zup/beagle/android/preview/PreviewActivity.kt
Due: android

adjust detekt
  android/sample/src/main/java/br/com/zup/beagle/sample/components/CustomPageIndicatorView.kt
  config/detekt-default-config.yml
Due: android

adjust unit test
  android/beagle/src/test/java/br/com/zup/beagle/android/components/LazyComponentTest.kt
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  backend/build.gradle
  backend/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  config/detekt-default-config.yml
Due: android, backend

refactor: update dependencies and necessary code (#1608)
  .github/workflows/release.yml
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/components/LazyComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpAdditionalData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ServerDrivenActivity.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/LazyComponentTest.kt
  android/build.gradle
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/preview/build.gradle
  android/preview/src/main/java/br/com/zup/beagle/android/preview/PreviewActivity.kt
  android/sample/build.gradle
  android/sample/src/main/java/br/com/zup/beagle/sample/components/CustomPageIndicatorView.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/list/ListViewFragment.kt
  backend/build.gradle
  backend/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  config/detekt-default-config.yml
  fastlane/Fastfile
Due: android, backend

chore: adjust docs
  android/android-annotation/build.gradle
  android/beagle/build.gradle
  android/build.gradle
  backend/build.gradle
  backend/framework/build.gradle
  backend/kotlin-core/build.gradle
  backend/starters/micronaut/build.gradle
  backend/starters/spring/build.gradle
  backend/widgets/build.gradle
  dokka.gradle
Due: android, backend

chore: adjust docs (#1611)
  android/android-annotation/build.gradle
  android/beagle/build.gradle
  android/build.gradle
  backend/build.gradle
  backend/framework/build.gradle
  backend/kotlin-core/build.gradle
  backend/starters/micronaut/build.gradle
  backend/starters/spring/build.gradle
  backend/widgets/build.gradle
  dokka.gradle
Due: android, backend

chore: update dependencies beagle android
  android/beagle/build.gradle
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/preview/build.gradle
Due: android

update libraries
  android/android-annotation/build.gradle
  android/beagle/build.gradle
  android/build.gradle
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/internal-processor/build.gradle
  android/preview/build.gradle
  android/processor-shared-code/build.gradle
  android/processor/build.gradle
  android/sample/build.gradle
  android/test/build.gradle
Due: android

remove code
  android/build.gradle
Due: android

remove code
  android/beagle/build.gradle
Due: android

adjust code
  android/build.gradle
Due: android

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ScrollViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
  tests/appium/project/src/test/resources/features/Navigate.feature
  tests/appium/project/src/test/resources/features/ScrollView.feature
Due: none

chore: update dependencies beagle android (#1614)
  android/android-annotation/build.gradle
  android/beagle/build.gradle
  android/build.gradle
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/internal-processor/build.gradle
  android/preview/build.gradle
  android/processor-shared-code/build.gradle
  android/processor/build.gradle
  android/sample/build.gradle
  android/test/build.gradle
Due: android

chore: iOS - Update Beagle Dependencies (#1606)
  iOS/Beagle.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Preview/BeaglePreview.xcodeproj/project.pbxproj
Due: ios

remove old automated tests readme
  AutomatedTests.md
Due: none

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ScrollViewScreenSteps.kt
  tests/appium/project/src/test/resources/features/ScrollView.feature
Due: none

revert
  tests/appium/project/src/test/resources/features/Navigate.feature
Due: none

update
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ScrollViewScreenSteps.kt
  tests/appium/project/src/test/resources/features/ScrollView.feature
Due: none

update
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ScrollViewScreenSteps.kt
  tests/appium/project/src/test/resources/features/ScrollView.feature
Due: none

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ScrollViewScreenSteps.kt
Due: none

update
  tests/appium/app-android/app/build.gradle
  tests/appium/app-android/build.gradle
Due: none

update
  tests/appium/app-android/app/build.gradle
Due: none

update
  .github/workflows/automated_tests_appium_ios.yml
Due: none

:sparkles: Adds jacoco
  android/beagle/build.gradle
  android/build.gradle
  android/internal-processor/build.gradle
  android/jacoco-android.gradle
  android/preview/build.gradle
  backend/framework/build.gradle
  backend/processor/build.gradle
  backend/starters/micronaut/build.gradle
  backend/starters/spring/build.gradle
  fastlane/Fastfile
  jacoco.gradle
Due: android, backend

:sparkles: Adds jacoco for backend
  fastlane/Fastfile
Due: none

refactor: refactored ActionAnalyticsConfig tests
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ActionRequesterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/analytics/ActionAnalyticsConfigSerializationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/UndefinedComponentSerializationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/RequestDataFactory.kt
Due: android

:wrench: Improve configuration for jacoco android
  android/jacoco-android.gradle
Due: android

refactor: removed unnused imports
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/context/BindSerializationTest.kt
Due: android
