Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

Create test case
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

Fix liveData onActive to not call twice
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
Due: android

fix: applyStyle method uses flex object
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ContainerTest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextScreenBuilder.kt
  common/extended-schema/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
Due: android, backend

fix: LiveData onActive to not call twice (#453)
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
Due: android

put nullable on yoga
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
Due: android

Fixing micronaut starter bug with binary response
  backend/sample/micronaut/src/main/resources/application.properties
  backend/sample/micronaut/src/main/resources/static/images/BFF.png
  backend/starters/beagle-micronaut-starter/build.gradle
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeaglePlatformFilter.kt
Due: backend

updating some tests and organizing archives
  iOS/Schema/Sources/ServerDrivenComponent/Page/Indicator/PageIndicator.swift
  iOS/Schema/Sources/ServerDrivenComponent/Page/PageView.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/CustomPageIndicator/CustomPageIndicator.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/CustomPageIndicator/CustomPageIndicatorTest.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/CustomPageIndicator/__Snapshots__/CustomPageIndicatorTest/test_indicator_render.1.png
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/CustomPageIndicator/__Snapshots__/CustomPageIndicatorTest/test_pageViewWithCustomIndicator_render.1.png
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/PageViewTests.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/PageViewUIComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/__Snapshots__/PageViewTests/test_viewWithPagesAndIndicator.1.png
  iOS/Sources/Beagle/Sources/Components/PageIndicator+Renderable/PageIndicator+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/PageIndicator+Renderable/PageIndicatorUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/TabViewUIComponentTests.swift
Due: ios

adjust classes
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ButtonSubmitAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SimpleFormSubmitAction.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/SimpleFormTest.kt
Due: android

fix: Form remote content type (#442)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormSubmitter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleServiceWrapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/core/FormSubmitterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/HttpClientDefaultTest.kt
  android/sample/src/main/res/values/styles.xml
Due: android

Remove a empty constructor from class SubmitForm
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
Due: android

changes requested in PR
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SimpleFormSubmitAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/FormExtensions.kt
Due: android

Fixing micronaut and spring starters bug with binary response
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/NetworkImageScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/ImageConstants.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNetworkImageService.kt
  backend/sample/micronaut/src/main/resources/static/html/bff.html
  backend/sample/micronaut/src/main/resources/static/images/BFF.png
  backend/sample/micronaut/src/main/resources/static/images/beach.jpg
  backend/sample/spring/src/main/resources/static/html/bff.html
  backend/sample/spring/src/main/resources/static/images/beach.jpg
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/filter/BeaglePlatformFilter.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/filter/BeaglePlatformFilterTest.kt
Due: backend

Synced Micronaut BFF sample to Spring BFF sample.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNetworkImageService.kt
Due: backend

Fixing micronaut starter bug with binary response
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
Due: backend

fix: context lose its data when screen rotates
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
Due: android

partial PR resolution
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SubmitFormTest.kt
Due: android

Fix ContextDataManagerTest tests
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
Due: android

adding tests in Simple Form
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllActionsAreBeingRegistered.1.txt
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllComponentsAreBeingRegistered.1.txt
  iOS/Schema/Sources/Widgets/SimpleForm/Tests/Json/simpleFormComponent.json
  iOS/Schema/Sources/Widgets/SimpleForm/Tests/SimpleFormTests.swift
  iOS/Schema/Sources/Widgets/SimpleForm/Tests/__Snapshots__/SimpleFormTests/test_whenDecodingJson_shouldReturnASimpleForm.1.txt
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SubmitFormTests.swift
  iOS/Sources/Beagle/Sources/Components/SimpleForm+Renderable/Tests/SimpleFormTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

fix: context lose its data when screen rotates (#466)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
Due: android

change snapshots
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Widgets/SimpleForm/Tests/__Snapshots__/SimpleFormTests/test_whenDecodingJson_shouldReturnASimpleForm.1.txt
Due: ios

fix: adjust url remote
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
Due: android

ci: remove code owners and readme
  android/CODEOWNERS
  iOS/CODEOWNERS
  iOS/README.md
Due: ios, android

fix navigation inside PageView
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/PageViewTests.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/PageViewUIComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabView.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/TabViewUIComponentTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Theme/ThemeTests.swift
Due: ios

ci: remove code owners and readme (#469)
  android/CODEOWNERS
  iOS/CODEOWNERS
  iOS/README.md
Due: ios, android

fix: adjust url remote (#468)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
Due: android

remove elvis operator from applyStyle
  common/extended-schema/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
Due: android, backend

fix: string evaluation for JSON (#452)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

Addind tests to PageIndicator
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/PageIndicator+Renderable/Tests/Json/PageIndicatorInvalid.json
  iOS/Sources/Beagle/Sources/Components/PageIndicator+Renderable/Tests/PageIndicatorTests.swift
  iOS/Sources/Beagle/Sources/Components/PageIndicator+Renderable/Tests/__Snapshots__/PageIndicatorTests/test_indicator.1.png
Due: ios

Change pageView and PageIndicator.kt android and backend
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
Due: android, backend

Change PageIndicator.kt backend
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/pager/PageIndicator.kt
Due: backend

Fixing pr issues
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/NetworkImageScreenBuilder.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNetworkImageService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNetworkImageService.kt
Due: backend

iOS: deprecate Form, FormInput, FormSubmit, FormInputHidden
  iOS/Example/BeagleDemo/BeagleDemo/Screens/FormScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/LazyComponentScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Schema/Sources/Deprecated/Deprecated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Form/Form.swift
  iOS/Schema/Sources/ServerDrivenComponent/Form/Input/FormInput.swift
  iOS/Schema/Sources/ServerDrivenComponent/Form/Input/FormInputHidden.swift
  iOS/Schema/Sources/ServerDrivenComponent/Form/Input/Tests/FormInputTests.swift
  iOS/Schema/Sources/ServerDrivenComponent/Form/Submit/Tests/FormSubmitTests.swift
  iOS/Schema/Sources/ServerDrivenComponent/Form/Tests/FormTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormValidation.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/FormValidationTests.swift
  iOS/Sources/Beagle/Sources/Components/Form+Renderable/Form+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Form+Renderable/Input/FormInput+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Form+Renderable/Input/FormInputHidden+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Form+Renderable/Input/Tests/FormInputTests.swift
  iOS/Sources/Beagle/Sources/Components/Form+Renderable/Submit/FormSubmit+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Form+Renderable/Submit/SubmitFormGestureRecognizer.swift
  iOS/Sources/Beagle/Sources/Components/Form+Renderable/Submit/Tests/FormSubmitTests.swift
  iOS/Sources/Beagle/Sources/Components/Form+Renderable/Tests/FormTests.swift
  iOS/Sources/Beagle/Sources/Context/FormManager.swift
  iOS/Sources/Beagle/Sources/Context/Tests/FormManagerTests.swift
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/Beagle/Sources/Logger/Tests/BeagleLoggerTests.swift
Due: ios

Fixing pr issues
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeaglePlatformFilter.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/filter/BeaglePlatformFilter.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/filter/BeaglePlatformFilterTest.kt
Due: backend

fix: Fixing bug in beagle platform logic with services that not returns json data (#467)
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/NetworkImageScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/ImageConstants.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNetworkImageService.kt
  backend/sample/micronaut/src/main/resources/application.properties
  backend/sample/micronaut/src/main/resources/static/html/bff.html
  backend/sample/micronaut/src/main/resources/static/images/beach.jpg
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNetworkImageService.kt
  backend/sample/spring/src/main/resources/static/html/bff.html
  backend/sample/spring/src/main/resources/static/images/beach.jpg
  backend/starters/beagle-micronaut-starter/build.gradle
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeaglePlatformFilter.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/filter/BeaglePlatformFilter.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/filter/BeaglePlatformFilterTest.kt
Due: backend

added verification to applyStyle and tests
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ContainerTest.kt
  common/extended-schema/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
  common/extended-schema/src/test/kotlin/br/com/zup/beagle/ext/UnitValueExtensionsTest.kt
  common/extended-schema/src/test/kotlin/br/com/zup/beagle/ext/WidgetExtensionsTest.kt
Due: android, backend

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
