Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

improvements
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/LazyComponentScreen.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/SourceryFiles/Generated/AutoDecodable.generated.swift
  iOS/Sources/BeagleUI/Sources/Action/ActionExecutor.swift
  iOS/Sources/BeagleUI/Sources/Action/SetContext.swift
  iOS/Sources/BeagleUI/Sources/Components/Text/Text.swift
  iOS/Sources/BeagleUI/Sources/Context/ActionManager.swift
  iOS/Sources/BeagleUI/Sources/Context/Context.swift
  iOS/Sources/BeagleUI/Sources/Context/SingleExpression.swift
  iOS/Sources/BeagleUI/Sources/Context/UIView+Context.swift
Due: ios

create test tab-view and fix test page-view, list-view
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Due: android

adjust module to backend
  backend/backend-widgets/build.gradle
  backend/backend-widgets/gradle.properties
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/form/Form.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/form/FormInput.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/form/FormInputHidden.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/form/FormSubmit.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/form/InputWidget.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ComposeComponent.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Horizontal.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ScreenBuilder.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ScrollView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Spacer.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Stack.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Vertical.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/extensions/ListViewExtensions.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/lazy/LazyComponent.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/navigation/Touchable.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/pager/PageIndicator.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/pager/PageIndicatorComponent.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Image.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/NetworkImage.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Text.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/WebView.kt
  backend/framework/build.gradle
  buildSrc/src/main/java/Dependencies.kt
  settings.gradle
Due: backend

adjust part of test
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ui/UndefinedViewRenderer.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/FormValidationActionHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/BeagleViewModelTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/ComposeComponentViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/form/FormSubmitterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/form/FormValidatorControllerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/FormInputView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ComponentStylizationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/StyleManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
Due: android

adjust test
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ButtonTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/LazyComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewRecyclerAdapterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/NetworkImageTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/SpacerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabItemTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TouchableTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/WebViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormInputHiddenTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormInputTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormSubmitTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/InputWidgetTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/core/FormDataStoreHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/core/FormSubmitterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/core/FormValidatorControllerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ComposeComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ContainerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/HorizontalTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/StackTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/VerticalTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageIndicatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/AccessibilitySetupTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/CanvasExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ComponentStylizationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
Due: android

made code generation for widgets
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/SourceryFiles/Generated/AutoDecodable.generated.swift
  iOS/Sources/BeagleUI/SourceryFiles/Generated/ComponentDecoder.generated.swift
  iOS/Sources/BeagleUI/SourceryFiles/Generated/Initiable.generated.swift
  iOS/Sources/BeagleUI/SourceryFiles/Generated/WidgetWithBind.generated.swift
  iOS/Sources/BeagleUI/SourceryFiles/Templates/ComponentDecoder.swifttemplate
  iOS/Sources/BeagleUI/SourceryFiles/Templates/WidgetWithBind.swifttemplate
  iOS/Sources/BeagleUI/Sources/Common/Extensions/UIView/UIView+Context.swift
  iOS/Sources/BeagleUI/Sources/Common/Util/BindedWidget.swift
  iOS/Sources/BeagleUI/Sources/Components/Text/Text.swift
  iOS/Sources/BeagleUI/Sources/Decoding/ComponentDecoder.swift
Due: ios

fixed previus usage of Text component
  iOS/Darwin-BeagleUI.xcworkspace/contents.xcworkspacedata
  iOS/Example/BeagleDemo/BeagleDemo/Screens/CustomComponentScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/LazyComponentScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/SourceryFiles/Generated/Bindable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/SourceryFiles/Generated/ComponentDecoder.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/SourceryFiles/Generated/WidgetWithBind.generated.swift
  iOS/Example/MiniBeagle/Playground.playground/timeline.xctimeline
Due: ios

create test
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BaseComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/StackTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/ScreenViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/ScrollViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/StackViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/VerticalViewRenderTest.kt
Due: android

create unit test
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BaseComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ButtonTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/VerticalTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageIndicatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/PageViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/PageIndicatorViewRendererTest.kt
Due: android

adjust test
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ButtonTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/ButtonViewRendererTest.kt
Due: android

adjust test
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/UIViewRendererFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ui/UndefinedViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/ui/UndefinedWidget.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/LazyComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/SpacerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TouchableTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/LazyComponentViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/SpacerViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/TouchableViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/ListViewRecyclerAdapterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/TextViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/UndefinedViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/ViewConvertableRendererTest.kt
Due: android

adjust tests
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/NetworkImage.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/NetworkImageTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/WebViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/ImageViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/ListViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/NetworkImageViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/TabViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/WebViewRendererTest.kt
Due: android

aadjust tests
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/Constants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormResult.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormSubmitter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormValidatorController.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/WebViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
Due: android

improve code in swifttemplate
  iOS/Sources/BeagleUI/SourceryFiles/Templates/WidgetWithBind.swifttemplate
Due: ios

fifix some lint errors and comment previous usage of Text
  iOS/Sources/BeagleUI/SourceryFiles/Generated/Initiable.generated.swift
  iOS/Sources/BeagleUI/SourceryFiles/Templates/Initiable.swifttemplate
Due: ios

fifix some lint errors and comment previous usage of Text
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
Due: ios

create DynamicObject
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Sources/BeagleUI/Sources/Action/ActionExecutor.swift
  iOS/Sources/BeagleUI/Sources/Action/SetContext.swift
  iOS/Sources/BeagleUI/Sources/Context/Context.swift
  iOS/Sources/BeagleUI/Sources/Context/SingleExpression.swift
  iOS/Sources/BeagleUI/Sources/Context/UIView+Context.swift
Due: ios

:sparkles: Adds registration of custom actions for moshi deserialization by using @RegisterAction
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/AndroidActionJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/CustomAndroidAction.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClasses.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredActionGenerator.kt
Due: android, backend

handle action method name changed to execute
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Action.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ShowNativeDialog.kt
Due: android

Update common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredActionGenerator.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredActionGenerator.kt
Due: android, backend

adjust unit test form
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/Constants.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
Due: android

adjust image and network image radius
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/NetworkImage.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/RoundedImageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BeagleTextViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/CanvasExtensionsKtTest.kt
Due: android

adjust test
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/NetworkImageTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/FormInputView.kt
Due: android

adjust code
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/RoundedImageView.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/jackson/BeagleBuilderSerializerTest.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/jackson/BeagleSerializerModifierTest.kt
Due: android, backend

aadjust code
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Horizontal.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Stack.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Vertical.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/HorizontalTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/StackTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/VerticalTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/StackViewFragment.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/form/Form.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/form/FormInput.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/form/FormInputHidden.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/form/FormSubmit.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Horizontal.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ScrollView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Spacer.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Stack.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Vertical.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/lazy/LazyComponent.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/navigation/Touchable.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/pager/PageIndicator.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Image.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/NetworkImage.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Text.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/WebView.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/StackViewScreenBuilder.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/layout/Screen.kt
Due: android, backend

fixed render bug
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/UIViewRendererFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewConvertableRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/UIViewRendererFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/ViewConvertableRendererTest.kt
Due: android

adjust code
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/StackViewFragment.kt
  android/sample/src/main/res/menu/menu_navigation_drawer.xml
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/StackViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleStackService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleStackService.kt
Due: android, backend

adjust code
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/UIViewRendererFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ViewRendererFactoryTest.kt
Due: android

adjust code
  android/sample/build.gradle
  gradle.properties
Due: android

adjust code
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
Due: android

- adding path parser to generate a DynamicObject - adding DynamicObject merge
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Action/ActionExecutor.swift
  iOS/Sources/BeagleUI/Sources/Context/Context.swift
  iOS/Sources/BeagleUI/Sources/Context/PathParser.swift
Due: ios

Adding kotlin reflect to fix a build error (#268)
  backend/sample/spring/build.gradle
  buildSrc/src/main/java/Dependencies.kt
Due: backend

feat: treat nullable fields in binding generation (#262)
  backend/processor/src/test/kotlin/br/com/zup/beagle/test/NullableWidgetTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/test/TestCases.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleBindingHandler.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClass.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleProcessorExtensions.kt
Due: android, backend

feat: Adds registration of custom actions for moshi deserialization by using @RegisterAction (#267)
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/AndroidActionJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/CustomAndroidAction.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClasses.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredActionGenerator.kt
Due: android, backend

rename Widget and ServerDrivenComponent on Schema
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/DSCollection/DSCollection.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/OtherComponent.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/Navigate/Tests/NavigateTests.swift
  iOS/Schema/Sources/Decoding/AnyDecodableContainer.swift
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Schema/Sources/Decoding/Tests/ComponentDecoderTests.swift
  iOS/Schema/Sources/ServerDrivenComponent/Form/Form.swift
  iOS/Schema/Sources/ServerDrivenComponent/Form/Input/FormInput.swift
  iOS/Schema/Sources/ServerDrivenComponent/Form/Input/FormInputComponent.swift
  iOS/Schema/Sources/ServerDrivenComponent/Form/Submit/FormSubmit.swift
  iOS/Schema/Sources/ServerDrivenComponent/Lazy/LazyComponent.swift
  iOS/Schema/Sources/ServerDrivenComponent/ListView/ListView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Page/Indicator/Tests/CustomPageIndicator.swift
  iOS/Schema/Sources/ServerDrivenComponent/Page/Indicator/Tests/PageIndicatorTests.swift
  iOS/Schema/Sources/ServerDrivenComponent/Page/PageView.swift
  iOS/Schema/Sources/ServerDrivenComponent/RawComponent.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/Screen.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/ScreenComponent/ScreenComponent.swift
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/ScrollView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Spacer/Spacer.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Touchable/Touchable.swift
  iOS/Schema/Sources/ServerDrivenComponent/WebView/WebView.swift
  iOS/Schema/Sources/Widgets/Button/Button.swift
  iOS/Schema/Sources/Widgets/Container/Container.swift
  iOS/Schema/Sources/Widgets/Image/Image.swift
  iOS/Schema/Sources/Widgets/NetworkImage/NetworkImage.swift
  iOS/Schema/Sources/Widgets/RawWidget.swift
  iOS/Schema/Sources/Widgets/Text/Text.swift
  iOS/Schema/Tests/Helpers/ComponentFromJsonFile.swift
  iOS/Sources/BeagleUI/CodeGeneration/Templates/AutoDecodable.swifttemplate
  iOS/Sources/BeagleUI/Sources/Components/ServerDrivenComponent.swift
  iOS/Sources/BeagleUI/Sources/Components/Tests/ComposeComponentTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Widget.swift
  iOS/Sources/BeagleUI/Sources/Networking/Tests/RepositoryTests.swift
  iOS/Sources/BeagleUI/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/BeagleSetupTests.swift
Due: ios

Revert "Removed namespaces that differentiate custom from Beagle widgets and actions."
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/BeagleSerializerConstants.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/BeagleTypeSerializer.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/jackson/BeagleTypeSerializerTest.kt
Due: android, backend

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
