Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags:
          - ios
      android:
        target: 70%
        threshold: 7%
        flags:
          - android
      backend:
        target: 70%
        threshold: 7%
        flags:
          - backend
      flutter:
        target: 70%
        threshold: 7%
        flags:
          - flutter
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
    carryforward: true
  flutter:
    paths:
      - flutter/
    carryforward: true
ignore:
  - "iOS/Example"
  - "iOS/Libraries"
  - "iOS/Test"
  - "iOS/Tests"
  - "iOS/Sources/Beagle/BeagleTests"
  - "iOS/Sources/Beagle/**/*Test*.swift"
  - "iOS/Sources/Beagle/**/*Tests*.swift"

update codeowners
  CODEOWNERS
Due: none

update
  .github/workflows/automated_tests_appium_ios.yml
Due: none

PageView retain cycle test
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/Tests/PageViewTests.swift
Due: none

update
  .github/workflows/horusec_pr.yml
Due: none

fix: iOS - TextInput enabled custom style config
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/TextInputTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithDisabled.1.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithDisabled.2.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithEnabled.1.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithEnabled.2.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
Due: ios

update
  .github/workflows/automated_tests_appium_ios.yml
  .github/workflows/horusec_pr.yml
Due: none

apply var to corner radius
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
Due: backend

chore: update codeowners (#1435)
  CODEOWNERS
Due: none

refactor: deprecated dsl in backend (#1431)
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/BeagleBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/BeagleDsl.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/analytics/ClickEventBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/analytics/ScreenEventBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/core/AccessibilityBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/core/StyleBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/widget/FlexBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/widget/UnitValueBuilder.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNavigationTypeService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNavigationTypeService.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/AlertBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/ConfirmBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/NavigateBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/SendRequestBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/SetContextBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/SubmitFormBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/context/ContextDataBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/form/SimpleFormBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/layout/ContainerBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/layout/PageViewBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/layout/ScreenComponentBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/layout/ScrollViewBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/lazy/LazyComponentBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/navigation/TouchableBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/pager/PageIndicatorBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/ButtonBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/ImageBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/ListViewBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TabBarBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TabViewBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TextBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TextInputBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/WebViewBuilder.kt
Due: backend

fix: PageView retain cycle (#1434)
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/Tests/PageViewTests.swift
Due: ios

adjust code
  backend/framework/src/main/kotlin/br/com/zup/beagle/platform/BeaglePlatform.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/FlexExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/StyleExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/Flex.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/UnitValue.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Column.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Row.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Accessibility.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Center.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Expanded.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Margin.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Padding.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/SizedBox.kt
Due: backend

add simple documentation
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Column.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Row.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Accessibility.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Center.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Expanded.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Margin.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Padding.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/SizedBox.kt
Due: backend

adjust documentation
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/FlexExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/StyleExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/context/Bind.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/Flex.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/UnitValue.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Center.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Expanded.kt
Due: backend

adjust code
  backend/framework/src/main/kotlin/br/com/zup/beagle/platform/BeaglePlatform.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/FlexExtension.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Center.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Expanded.kt
Due: backend

chore: ignore error in appium test
  .github/workflows/horusec_pr.yml
Due: none

adjust
  .github/workflows/horusec_pr.yml
Due: none

create unit test
  backend/framework/src/test/kotlin/br/com/zup/beagle/platform/PlatformWidgetTest.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/platform/ServerDrivenComponentTest.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/AccessibilityExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/StyleExtension.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/AccessibilityComponentTest.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/FunctionFlexTest.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/SetFlexTest.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/fake/AccessibilityComponentFake.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/fake/FlexComponentFake.kt
Due: backend

create unit test
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/Flex.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/core/EdgeValueTest.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/core/SizeTest.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/FunctionStyledTest.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/SetStyleTest.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/widget/context/BindTest.kt
Due: backend

adjust code
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/Flex.kt
Due: backend

create unit test
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/UnitValue.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/core/UnitValueTest.kt
  backend/widgets/build.gradle
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/layout/ColumnTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/layout/RowTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/style/AccessibilityTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/style/CenterTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/style/ExpandedTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/style/MarginTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/style/PaddingTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/style/SizedBoxTest.kt
Due: backend

adjust test and components
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Row.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Center.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Expanded.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/layout/ColumnTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/layout/RowTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/style/AccessibilityTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/style/CenterTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/style/ExpandedTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/style/MarginTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/style/PaddingTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/style/SizedBoxTest.kt
Due: backend

remove unowned references
  iOS/Example/BeagleDemo/BeagleDemo/Screens/AddChildrenScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ConditionActionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/NativeViewController.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/NavigateTypeScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/OperationsScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewController.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/ListViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/ComponentHostController.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/TabBar+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/TabBarItemUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/TabBarUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/Tests/TabBarTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabView/TabView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabView/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabView/Tests/TabViewUIComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Image/Image+Extensions.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/BindingConfigurator.swift
  iOS/Sources/Beagle/Sources/Renderer/LayoutManager.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BindingConfiguratorTests.swift
  iOS/Sources/Beagle/Sources/Theme/ThemeTests.swift
Due: ios

adjust expanded
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Expanded.kt
Due: backend

chore: adjust error in horusec (#1441)
  .github/workflows/horusec_pr.yml
Due: none

revert demo screen changes
  iOS/Example/BeagleDemo/BeagleDemo/Screens/AddChildrenScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ConditionActionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/NavigateTypeScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/OperationsScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
Due: none

revert demo screen changes
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
Due: none

refactor
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/Constant.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/GrpcClient.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/HeaderClientInterceptor.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/serializer/NetworkingMoshi.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/serializer/adapter/DataContextAdapter.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/serializer/adapter/MessageAdapter.kt
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/serializer/adapter/MessageAdapterFactory.kt
Due: android

Update automated_tests_appium_ios.yml
  .github/workflows/automated_tests_appium_ios.yml
Due: none

Update backend/framework/src/main/kotlin/br/com/zup/beagle/platform/BeaglePlatform.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/platform/BeaglePlatform.kt
Due: backend

Update backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/FlexExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/FlexExtension.kt
Due: backend

Update backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/StyleExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/StyleExtension.kt
Due: backend

Update backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Margin.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Margin.kt
Due: backend

Update backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Padding.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Padding.kt
Due: backend
