Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

change test text input
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TextInputScreenSteps.kt
Due: backend

fix: Contributing Markdown File (#1255)
  CONTRIBUTING.md
  FAQ.md
  doc/contributing/pull_requests.md
Due: none

add missing field controllerId when decoding action resetApplication
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/NavigateTests.swift
Due: ios

create tests
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleActivityTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleViewTest.kt
Due: android

add soLoader deinit
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleActivityTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleFragmentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleViewTest.kt
Due: android

fix: iOS - add missing field controllerId when decoding action resetApplication (#1240)
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/NavigateTests.swift
Due: ios

improved doc
  tests/appium/README.MD
  tests/appium/project/README.MD
Due: none

remove local gitignore
  .gitignore
  flutter/.gitignore
Due: none

add buttons of test
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NewAnalyticsScreenBuilder.kt
Due: backend

refactor imports, documentation and kotlinhelper for kotlin
  schema-ruby-erb/model_generation/Templates/kotlin_android.erb
  schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
  schema-ruby-erb/model_generation/Templates/kotlin_template_helper.rb
  schema-ruby-erb/model_generation/Templates/template_helper.rb
  schema-ruby-erb/model_generation/main.rb
Due: none

refactor variables in kotlin templates
  schema-ruby-erb/model_generation/Templates/kotlin_android.erb
  schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
Due: none

doc improvement
  tests/appium/project/README.MD
  tests/appium/project/build.gradle
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/Runner.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
  tests/appium/project/src/test/resources/features/TextInput.feature
Due: none

rollback build.gradle
  android/beagle/build.gradle
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/preview/build.gradle
Due: android

fix tests
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleActivityTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleFragmentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleViewTest.kt
Due: android

doc improvement
  tests/appium/project/README.MD
Due: none

Update README.MD
  tests/appium/README.MD
Due: none

rollback
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/preview/build.gradle
Due: android

param validation
  tests/appium/project/README.MD
Due: none

param validation
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
Due: none

remove duplication
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseSoLoaderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleActivityTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleFragmentTest.kt
Due: android

remove smells code
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleFragmentTest.kt
Due: android

remove code smells
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleFragmentTest.kt
Due: android

remove unused imports
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
Due: android

remove unnecessary comma
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
Due: android

analytics tests
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NewAnalyticsScreenBuilder.kt
Due: backend

fix dependencies ref
  tests/appium/app-android/app/build.gradle
Due: none

typescript code re-organization + better memory management for functions
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/javascript-bridge/package.json
  flutter/beagle/javascript-bridge/src/action.ts
  flutter/beagle/javascript-bridge/src/function.ts
  flutter/beagle/javascript-bridge/src/global.d.ts
  flutter/beagle/javascript-bridge/src/http-client.ts
  flutter/beagle/javascript-bridge/src/index.ts
  flutter/beagle/javascript-bridge/src/promise.ts
  flutter/beagle/javascript-bridge/src/storage.ts
  flutter/beagle/javascript-bridge/src/view.ts
  flutter/beagle/javascript-bridge/webpack.config.js
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
Due: none

adding suggestion
  iOS/Beagle.xcworkspace/contents.xcworkspacedata
  iOS/Common/ViewLayoutHelper.swift
  tests/appium/app-ios/AppiumApp/AppiumApp.xcodeproj/project.pbxproj
  tests/appium/app-ios/AppiumApp/AppiumApp/AppDelegate.swift
  tests/appium/app-ios/AppiumApp/AppiumApp/MainViewController.swift
Due: ios

change implementation
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ScreenExtensions.kt
Due: android

add ActionAnalytics
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
Due: android

moving js folder
  flutter/javascript-bridge/package.json
  flutter/javascript-bridge/src/action.ts
  flutter/javascript-bridge/src/function.ts
  flutter/javascript-bridge/src/global.d.ts
  flutter/javascript-bridge/src/http-client.ts
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/promise.ts
  flutter/javascript-bridge/src/storage.ts
  flutter/javascript-bridge/src/utils/promise.ts
  flutter/javascript-bridge/src/view.ts
  flutter/javascript-bridge/tsconfig.json
  flutter/javascript-bridge/webpack.config.js
Due: none

ci: horusec manager add template (#1248)
  .github/workflows/horusec_pr.yml
Due: none

removing comments
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ActionNotRegisteredScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AddChildrenScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AlertScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ButtonScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ConditionalScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ConfirmScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ContainerScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/GenericSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ImageScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/LazyComponentScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/NavigateScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/PageViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ScrollViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/SendRequestScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/SetContextScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/SimpleFormScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TabBarScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TextInputScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TextStyleScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TouchScreenSteps.kt
Due: none

refactor: updated gradle and kotlin versions and beagle components description
  flutter/beagle/android/gradle.properties
  flutter/beagle_components/pubspec.yaml
  flutter/sample/android/app/build.gradle
  flutter/sample/android/build.gradle
Due: none

refactor kotlin init interface
  schema-ruby-erb/model_generation/Templates/kotlin_android.erb
  schema-ruby-erb/model_generation/Templates/kotlin_template_helper.rb
  schema-ruby-erb/model_generation/Templates/template_helper.rb
Due: none

Change actions to actionanalytics
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ActionReportFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ActionReportFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/AnalyticsServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/OnInitiableComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
Due: android

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
