Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags:
          - ios
      android:
        target: 70%
        threshold: 7%
        flags:
          - android
      backend:
        target: 70%
        threshold: 7%
        flags:
          - backend
      flutter:
        target: 70%
        threshold: 7%
        flags:
          - flutter
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
    carryforward: true
  flutter:
    paths:
      - flutter/
    carryforward: true
ignore:
  - "iOS/Example"
  - "iOS/Libraries"
  - "iOS/Test"
  - "iOS/Tests"
  - "iOS/Sources/Beagle/BeagleTests"
  - "iOS/Sources/Beagle/**/*Test*.swift"
  - "iOS/Sources/Beagle/**/*Tests*.swift"

ubunt
  .github/workflows/security.yml
Due: none

horusec concat
  .github/workflows/security.yml
Due: none

horusec branch name
  .github/workflows/security.yml
Due: none

horusec teste
  .github/workflows/security.yml
Due: none

test
  .github/workflows/security.yml
Due: none

delimiter
  .github/workflows/security.yml
Due: none

horusec+container scanner
  .github/workflows/security.yml
Due: none

change the ActionAnalyticsConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ActionAnalyticsConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ActionReportFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionAnalyticsConfigAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ActionReportFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/AnalyticsServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/sample/build.gradle
Due: android

adjust rule consumer
  android/beagle/consumer-rules.pro
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Screen.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BeagleKotlinJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/GenerateIdManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ScreenExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/sample/build.gradle
  android/sample/proguard-rules.pro
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/constants/EndPointConstants.kt
Due: android

horusec+Container scanner
  .github/workflows/security.yml
Due: none

remove startSession and refactor the code
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ActionAnalyticsConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ActionReportFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsProvider.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/DataActionReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/DataReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/DataScreenReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ActionReportFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/AnalyticsServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/DataActionReportTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/DataScreenReportTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/setup/BeagleSetupTest.kt
Due: android

fix detekt and refactor
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionAnalyticsConfigAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/AnalyticsServiceTest.kt
Due: android

fix: letting beagleLoggerProxy public (#1303)
  iOS/Sources/Beagle/Sources/Logger/BeagleLoggerProxy.swift
Due: ios

change the package and add documentation for the ActionAnalyticsConfig.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/BeagleModule.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/newanalytics/ActionAnalyticsConfig.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/ActionAnalytics.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildren.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Condition.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Confirm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Form.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SetContext.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SubmitForm.kt
Due: backend

change documentation
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ActionAnalyticsConfig.kt
Due: android

update documentation
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/newanalytics/ActionAnalyticsConfig.kt
Due: backend

change the package
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ActionAnalytics.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionAnalyticsConfigAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/AnalyticsViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ActionAnalyticsConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ActionReportFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsProvider.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsRecord.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataActionReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataScreenReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ScreenReportFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/MyBeagleSetup.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/AnalyticsViewModelTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ActionReportFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/AnalyticsServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/DataActionReportTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/DataScreenReportTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ScreenReportFactoryTest.kt
  android/preview/src/test/java/br/com/zup/beagle/android/preview/MyBeagleSetup.kt
  android/processor/src/test/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/processor/src/test/java/br/com/zup/beagle/newanalytics/AnalyticsProvider.kt
Due: android

adjust license class copy
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AsyncAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/LazyComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/OnInitiableComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicatorComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/AccessibilitySetup.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BeagleKotlinJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/Widget.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/CustomPageIndicator.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/MutableText.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/SampleTextField.kt
Due: android

fix wildCardImports
  android/beagle/src/test/java/br/com/zup/beagle/android/MyBeagleSetup.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleMessageLogsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/AnalyticsViewModelTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/DataScreenReportTest.kt
Due: android

fix package on processor
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleClasses.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/AnalyticsMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/AnalyticsProviderMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/BeagleConfigMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/BeagleSetupMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/DeepLinkHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/DesignSystemMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/FormLocalActionHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/HttpClientMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/ImageDownloaderMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/LoggerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/StoreHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/UrlBuilderMocks.kt
Due: android

add multidex
  android/sample/src/main/java/br/com/zup/beagle/sample/BeagleUiSampleApplication.kt
Due: android

remove blank spaces
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionAnalyticsConfigAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ActionAnalyticsConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataActionReport.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/AnalyticsServiceTest.kt
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/processor/src/test/java/br/com/zup/beagle/newanalytics/AnalyticsProvider.kt
  android/sample/build.gradle
Due: android

add timestamp
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ActionAnalytics.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ActionReportFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsRecord.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataActionReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataScreenReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ScreenReportFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ActionReportFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/DataReportTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/DataScreenReportTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ScreenReportFactoryTest.kt
Due: android

remove unused imports
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataActionReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ScreenReportFactory.kt
Due: android

refactor regex
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/DataReportTest.kt
Due: android

change timestamp
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ActionReportFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsRecord.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ScreenReportFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/DataReportTest.kt
Due: android

try to adjust context with proguard
  android/beagle/consumer-rules.pro
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/annotation/ContextDataValue.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ContextDataAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexMapper.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ScreenContextBuilder.kt
Due: android, backend

solve detekt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataReport.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ScreenReportFactoryTest.kt
Due: android

adjust response data
  android/beagle/consumer-rules.pro
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/ResponseData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
Due: android

addjust to work add children
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/AccessibilityComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/IdentifierComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/StyleComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/Widget.kt
Due: android

browserstack support, performance fix, new scripts
  .github/workflows/automated_tests_appium_android.yml
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
  fastlane/automatedTests/appium/android/install_apk_in_emulator.sh
  fastlane/automatedTests/appium/android/run_appium_android_tests.sh
  fastlane/automatedTests/appium/android/upload_apk_to_browserstack_and_get_id.sh
  tests/appium/project/build.gradle
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/GenericSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/Runner.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TextInputScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/screens/AbstractScreen.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/screens/MainScreen.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/AppiumConstants.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetupPlugin.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
Due: none

fix var
  .github/workflows/automated_tests_appium_android.yml
Due: none

script refactor
  .github/workflows/automated_tests_appium_android.yml
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
  fastlane/automatedTests/appium/config_and_run_appium_server.sh
  fastlane/automatedTests/appium/upload_app_to_browserstack_and_get_id.sh
Due: none

screenshot database refactor
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/Runner.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TextStyleScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/ImageUtil.kt
  tests/appium/project/src/test/resources/screenshots_database/android/1080x2220/TextStyleScreen01.png
  tests/appium/project/src/test/resources/screenshots_database/android/1080x2280/TextStyleScreen01.png
  tests/appium/project/src/test/resources/screenshots_database/ios/828x1792/TextStyleScreen01.png
Due: none

error message improvement on image comparison
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
Due: none

change the attribute name on AnalyticsRecord.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ActionReportFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsRecord.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ScreenReportFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ActionReportFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ScreenReportFactoryTest.kt
Due: android

adjust consumer
  android/beagle/consumer-rules.pro
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Due: android

add analytics changes
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NewAnalyticsNavigateScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NewAnalyticsScreenBuilder.kt
Due: backend
