Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

Create logic to handle multiple expressions in a string
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequestActionHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/UpdateContextActionHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/util/ContextViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestActionHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModelTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/utils/StringExtensionsKtTest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/ContextComponent.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequestAction.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/UpdateContext.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
Due: android, backend

Created internal annotation module to annotate Beagle's widgets.
  buildSrc/src/main/java/Dependencies.kt
  common/annotation-internal/build.gradle
  common/annotation-internal/gradle.properties
  common/annotation-internal/src/main/kotlin/br/com/zup/beagle/annotation/internal/InternalAction.kt
  common/annotation-internal/src/main/kotlin/br/com/zup/beagle/annotation/internal/InternalWidget.kt
  settings.gradle
Due: android, backend

Applied internal annotations to Beagle's widgets.
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequestActionHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/UpdateContextActionHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestActionHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModelTest.kt
  backend/framework/build.gradle
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/BeagleTypeSerializer.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
  schema/kotlin-widgets/build.gradle
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequestAction.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/UpdateContext.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Image.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/NetworkImage.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Text.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/WebView.kt
Due: android, backend

Updated backend annotation processor to also process internal annotations.
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleWidgetBindingProcessor.kt
  backend/processor/build.gradle
  backend/processor/src/main/kotlin/br/com/zup/beagle/compiler/BeagleBackendProcessor.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleWidgetBindingHandler.kt
Due: android, backend

refactor!: deprecated LazyComponent
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/LayoutViewRendererFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/layout/LazyComponentViewRenderer.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/LayoutViewRendererFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/LazyComponentViewRendererTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/LazyComponentFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ListViewFragment.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/LazyComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/WidgetController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleLazyComponentService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/WidgetController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleLazyComponentService.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/lazy/LazyComponent.kt
Due: android, backend

refactored tests
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ShowNativeDialog.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/form/ValidationErrorListener.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/FormLocalActionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/FormValidationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/NavigateTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ShowNativeDialogTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ActionRequesterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/FormViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/ScreenViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/TouchableViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/form/FormSubmitterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
  android/sample/src/test/java/br/com/zup/beagle/sample/BeagleSetupTest.kt
Due: android

form component replaced
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/ValidationErrorListener.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppFormLocalActionHandler.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ComposeComponentFragment.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/form/Form.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/action/FormRemoteAction.kt
Due: android, backend

Created BeagleLoggerFactory and refactor MessageLogs
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/util/BeagleClasses.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleLoggerDefault.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleLoggerFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
Due: android

Add BeagleLogger to annotation
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/util/BeagleClasses.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleNavigator.kt
Due: android

Fix beagle loogger test
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleLoggerDefaultTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleLoggerFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleMessageLogsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
Due: android

adjust import and class handler
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/NavigationBarViewScreenBuilder.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleBindingHandler.kt
Due: android, backend

refactor: Flex and some attributes moved to Style to improve the resposabilities
  common/extended-schema/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
Due: android, backend

fix BeagleSchema location
  iOS/Darwin-BeagleUI.xcworkspace/contents.xcworkspacedata
Due: ios

Standardizing ios logging api
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Caching/CacheManager/CacheManager.swift
  iOS/Sources/BeagleUI/Sources/Caching/CacheManager/Tests/CacheManagerDefaultTests.swift
  iOS/Sources/BeagleUI/Sources/Caching/CoreData/CacheDiskManager.swift
  iOS/Sources/BeagleUI/Sources/Caching/CoreData/Tests/CacheDiskManagerTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Form/Form.swift
  iOS/Sources/BeagleUI/Sources/Components/ServerDrivenComponent.swift
  iOS/Sources/BeagleUI/Sources/Context/FormManager.swift
  iOS/Sources/BeagleUI/Sources/Decoding/AnyDecodableContainer.swift
  iOS/Sources/BeagleUI/Sources/Logger/BeagleLoggerDefault.swift
  iOS/Sources/BeagleUI/Sources/Logger/BeagleLoggerFactory.swift
  iOS/Sources/BeagleUI/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/BeagleUI/Sources/Navigation/DependencyURLOpener.swift
  iOS/Sources/BeagleUI/Sources/Networking/Default/NetworkClientDefault.swift
  iOS/Sources/BeagleUI/Sources/Networking/Repository.swift
  iOS/Sources/BeagleUI/Sources/Setup/BeagleDependencies.swift
Due: ios

Adjust form remote action
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/FormRemoteActionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
Due: android

comment temporary test
  android/beagle/src/test/java/br/com/zup/beagle/android/processor/InputWidgetBindingTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/processor/WidgetTestCases.kt
Due: android

adjust form submmit test
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/core/FormSubmitterTest.kt
Due: android

Fixing test
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleAnnotationProcessor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequestActionHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextComponentHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextPathResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ui/ButtonViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextComponentHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextPathResolverTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/AbstractViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/FormInputViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/CustomAndroidAction.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/CustomWidget.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/FormInputView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/processor/ActionTestCases.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/processor/WidgetTestCases.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModelTest.kt
  android/schema-implementation/src/main/java/br/com/zup/beagle/android/widget/core/Bind.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredActionGenerator.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/ContextComponent.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  schema/kotlin-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
Due: android, backend

Fix ContextDataManagerTest
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
Due: android

Tabview init from decoder is generated by sourcery
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Page/PageView.swift
  iOS/Sources/BeagleUI/CodeGeneration/Templates/AutoDecodable.swifttemplate
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
Due: ios

Moved unwrapping to BeaglePlatformUtil since Jackson cannot unwrap with custom serialization.
  backend/framework/src/main/kotlin/br/com/zup/beagle/platform/BeaglePlatformUtil.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/platform/BeaglePlatformWrapper.kt
Due: backend

Update dependencies tests, Add tests to LoggerFactory
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Caching/CacheManager/Tests/CacheManagerDefaultTests.swift
  iOS/Sources/BeagleUI/Sources/Caching/CoreData/Tests/CacheDiskManagerTests.swift
  iOS/Sources/BeagleUI/Sources/Logger/Tests/BeagleLoggerFactoryTests.swift
  iOS/Sources/BeagleUI/Sources/Navigation/Tests/BeagleNavigatorTests.swift
  iOS/Sources/BeagleUI/Sources/Networking/Tests/RepositoryTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

Implemented the web view component and corrected private attributes
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/LazyComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/NetworkImage.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Spacer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormSubmit.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/WebViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/WebViewService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleWebViewService.kt
Due: android, backend

Updated image path type key.
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/BeagleSerializerConstants.kt
Due: backend

fixed page view
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Page/PageView.swift
  iOS/Sources/BeagleUI/CodeGeneration/Templates/AutoDecodable.swifttemplate
Due: ios

Fix tests
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormInputTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextComponentHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModelTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
Due: android, backend

refactor: adjust test action request view model
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModelTest.kt
Due: android

add proxy to control log enable
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleLogger.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleLoggerDefault.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleLoggerProxy.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleNavigator.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppBeagleConfig.kt
Due: android

fix: fix crash if cache disabled and memoryMaximumCapacity is zero
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
Due: android

Add tests to LoggerProxy and fix olders
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleLoggerDefaultTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleLoggerProxyTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleMessageLogsTest.kt
Due: android

updte version library shot
  android/sample/build.gradle
  android/screenshots.gradle
  buildSrc/src/main/java/Dependencies.kt
Due: android

Adding proxy logic to IOS project
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Caching/CacheManager/Tests/CacheManagerDefaultTests.swift
  iOS/Sources/BeagleUI/Sources/Caching/CoreData/CacheDiskManager.swift
  iOS/Sources/BeagleUI/Sources/Caching/CoreData/Tests/CacheDiskManagerTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Form/Form.swift
  iOS/Sources/BeagleUI/Sources/Context/FormManager.swift
  iOS/Sources/BeagleUI/Sources/Decoding/AnyDecodableContainer.swift
  iOS/Sources/BeagleUI/Sources/Logger/BeagleLoggerDefault.swift
  iOS/Sources/BeagleUI/Sources/Logger/BeagleLoggerFactory.swift
  iOS/Sources/BeagleUI/Sources/Logger/Tests/BeagleLoggerFactoryTests.swift
  iOS/Sources/BeagleUI/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/BeagleUI/Sources/Navigation/DependencyURLOpener.swift
  iOS/Sources/BeagleUI/Sources/Navigation/Tests/BeagleNavigatorTests.swift
  iOS/Sources/BeagleUI/Sources/Networking/Default/NetworkClientDefault.swift
  iOS/Sources/BeagleUI/Sources/Networking/Repository.swift
  iOS/Sources/BeagleUI/Sources/Networking/Tests/RepositoryTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

Adjusting some things and adding tests to LoggerProxy
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Logger/BeagleLoggerDefault.swift
  iOS/Sources/BeagleUI/Sources/Logger/BeagleLoggerProxy.swift
  iOS/Sources/BeagleUI/Sources/Logger/Tests/BeagleLoggerProxyTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/BeagleDependencies.swift
Due: ios

import changes
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/WebViewScreenBuilder.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
Due: backend
