Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

deprecated TabView and TabItem
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
Due: android

fix: correct toolbar menu (#562)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
Due: android

remove the context
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabBar.kt
Due: android, backend

remove the context
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
Due: android

Unit tests of TTL handling.
  backend/framework/src/test/kotlin/br/com/zup/beagle/cache/BeagleCacheHandlerTest.kt
Due: backend

Fixed Duration seconds' conversion.
  backend/framework/src/main/kotlin/br/com/zup/beagle/cache/BeagleCacheHandler.kt
Due: backend

Fix context reuse when screen rotates
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataTreeHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
Due: android

GlobalContext update4
  android/beagle/src/main/java/br/com/zup/beagle/android/context/GlobalContext.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/PageViewFragment.kt
Due: android

fix: adds extension variable for beagleComponent on View class. To set the tag with the resourceId (#621)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormSubmit.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormValidatorController.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/res/values/ids.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/action/FormValidationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SubmitFormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BaseComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormInputTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormSubmitTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/core/FormValidatorControllerTest.kt
Due: android

feat: implementing global context for iOS. (#602)
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ContextExpression/Context.swift
  iOS/Schema/Sources/ContextExpression/DynamicObject.swift
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Schema/Sources/ContextExpression/Path.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/ContextExpression/GlobalContext.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/GlobalContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

fix: fixed readme links (#633)
  README.md
Due: none

feat: backend cache ttl configuration (#601)
  backend/framework/src/main/kotlin/br/com/zup/beagle/cache/BeagleCacheHandler.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/cache/BeagleCacheProperties.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/cache/HttpCacheHandler.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/constants/PropertyConstants.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/cache/BeagleCacheHandlerTest.kt
  backend/sample/micronaut/src/main/resources/application.properties
  backend/sample/spring/src/main/resources/application.properties
  backend/starters/micronaut/src/main/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleMicronautCacheProperties.kt
  backend/starters/micronaut/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeagleCacheFilter.kt
  backend/starters/micronaut/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeagleMicronautCacheHandler.kt
  backend/starters/micronaut/src/test/kotlin/br/com/zup/beagle/micronaut/Constants.kt
  backend/starters/micronaut/src/test/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleCacheConfigurationTest.kt
  backend/starters/micronaut/src/test/kotlin/br/com/zup/beagle/micronaut/filter/BeagleCacheFilterTest.kt
  backend/starters/micronaut/src/test/kotlin/br/com/zup/beagle/micronaut/filter/BeagleMicronautCacheHandlerTest.kt
  backend/starters/spring/src/main/kotlin/br/com/zup/beagle/spring/configuration/BeagleCacheAutoConfiguration.kt
  backend/starters/spring/src/main/kotlin/br/com/zup/beagle/spring/configuration/BeagleSpringCacheProperties.kt
  backend/starters/spring/src/main/kotlin/br/com/zup/beagle/spring/filter/BeagleCacheFilter.kt
  backend/starters/spring/src/main/kotlin/br/com/zup/beagle/spring/filter/BeagleSpringCacheHandler.kt
  backend/starters/spring/src/test/kotlin/br/com/zup/beagle/spring/configuration/BeagleCacheAutoConfigurationTest.kt
  backend/starters/spring/src/test/kotlin/br/com/zup/beagle/spring/filter/BeagleCacheFilterTest.kt
  backend/starters/spring/src/test/kotlin/br/com/zup/beagle/spring/filter/BeagleSpringCacheHandlerTest.kt
Due: backend

annotation
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewDslScreenBuilder.kt
  common/annotation/src/main/kotlin/br/com/zup/beagle/annotation/BeagleDsl.kt
  common/extended-schema/src/main/kotlin/br/com/zup/beagle/builder/BeagleBuilder.kt
Due: android, backend

Adds the Navigate documentation.
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
Due: ios

create cache mechanism in context/expressions
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/UIView+ContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/UIView+ContextTests/test_setContext.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/UIView+ContextTests/test_setContext.2.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/UIView+ContextTests/test_setContext.3.txt
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

fix context observer weak reference
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/xcshareddata/xcschemes/BeagleDemo.xcscheme
  iOS/Sources/Beagle/Sources/Common/Observable/Observable.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/UIView+ContextTests/test_setContext.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/UIView+ContextTests/test_setContext.2.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/UIView+ContextTests/test_setContext.3.txt
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

escape expressions
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Schema/Sources/ContextExpression/DynamicObject.swift
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Schema/Sources/ContextExpression/Parser.swift
  iOS/Schema/Sources/ContextExpression/Tests/ExpressionTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_multipleExpressionRawRepresentable.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_multipleExpressionRawRepresentable.2.txt
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

trigger view's update function when expression evaluates to nil
  iOS/Schema/Sources/ContextExpression/Parser.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Action/Types/SetContext.swift
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Button+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/SimpleForm+Renderable/Tests/SimpleFormTests.swift
  iOS/Sources/Beagle/Sources/Components/WebView+Renderable/WebView+Renderable.swift
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/UIView+ContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/UIView+ContextTests/test_evaluate.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Due: ios

fix page view observer nil case
  iOS/Sources/Beagle/Sources/Components/PageIndicator+Renderable/PageIndicator+Renderable.swift
Due: ios

implemented bff test listview with context
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BindAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BindCollectionAdapterFactory.kt
Due: android

Fix context normalization
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
Due: android

some fixes
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/GlobalContextTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
Due: ios

Action.execute refactor
  iOS/Sources/Beagle/Sources/Action/Action.swift
  iOS/Sources/Beagle/Sources/Action/Types/Alert.swift
  iOS/Sources/Beagle/Sources/Action/Types/Confirm.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormLocalAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Action/Types/SubmitForm.swift
  iOS/Sources/Beagle/Sources/Analytics/AnalyticsGestureRecognizer.swift
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Button+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Container/Container+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/NavigationBar+UIKit.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/ContainerTests.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/Tests/LazyComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TextInput+Renderable/TextInput.swift
  iOS/Sources/Beagle/Sources/Context/FormManager.swift
  iOS/Sources/Beagle/Sources/Context/Tests/FormManagerTests.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Due: ios

Update test
  android/beagle/src/main/java/br/com/zup/beagle/android/context/GlobalContext.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/PageViewFragment.kt
Due: android

implemented service test listView on spring
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BindCollectionAdapterFactory.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleListViewContextService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleListViewService.kt
Due: android, backend

fix: page view (#635)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTwoTest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PageViewScreenBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
Due: android, backend

Update android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
Due: android

feat: TabBar Componnent (#620)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllComponentsAreBeingRegistered.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabBar.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/JSON/TabBar.json
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/TabBarTests.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/__Snapshots__/TabBarTests/test_whenDecodingJson_thenItShouldReturnATabBar.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/TabView/TabView.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabView/Tests/JSON/TabView.json
  iOS/Schema/Sources/ServerDrivenComponent/TabView/Tests/TabViewTests.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabView/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarCollectionViewCell.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/TabBarCollectionViewCellTests.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/TabBarTests.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/TabBarUIComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/__Snapshots__/TabBarTests/test_viewWithTabBar.1.png
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/__Snapshots__/TabViewTests/test_viewWithTabView.1.png
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/Tests/TabViewTests.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/Tests/TabViewUIComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/Tests/__Snapshots__/TabViewTests/test_viewWithTabView.1.png
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
  iOS/Sources/Beagle/Sources/Theme/Theme.swift
  iOS/Sources/Beagle/Sources/Theme/ThemeTests.swift
Due: ios

change p0 to tab
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
Due: android

set possibility of escape expressions
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

change deprecated message
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/utils/BeagleConstants.kt
Due: android, backend

Global context working. Tests ok
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/GlobalContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/GlobalContextAPI.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SetContextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataTreeHelperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/GlobalContextTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/PageViewFragment.kt
Due: android

created retry functionality test case
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/FormLocalActionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/WebViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
Due: android

fix wrong update binding
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
Due: android

refactor: tab view android (#636)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabBarTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabBar.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/utils/BeagleConstants.kt
Due: android, backend

fix evaluateMultipleExpressions return when empty text
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

fix commit
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
Due: android

fix imports
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
Due: android

change discoverAllContext
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
Due: android
