Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

change version_name and change basetest mock
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/gradle.properties
Due: android

refactor: Refactor evaluateMultipleExpressions method to improve readability
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
Due: android

updated global context example on navigationBar class and changed TextInputScreenBuilder class
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NavigationBarScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

added justifyContent attribute on navigationBarScreenBuilder class
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NavigationBarScreenBuilder.kt
Due: backend

changed lazyComponent component url
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
Due: backend

myTheme style change
  android/automated-tests/src/main/res/values/styles.xml
Due: android

fix: adjust android action generator class (#863)
  android/sample/src/main/java/br/com/zup/beagle/sample/actions/CustomAndroidAction.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredActionGenerator.kt
Due: android, backend

add tests
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Due: android

create first template for generic adapters
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/android/annotation/RegisterBeagleTypeConverter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/BeagleGenericAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/BeagleTypeAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/ConcreteAdapterTest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/TypeAdapterResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/TypeAdapterResolverImpl.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleAnnotationProcessor.kt
Due: android

ci: iOS update podspec version and tag independently so hotfix works
  Beagle.podspec
  BeagleSchema.podspec
  fastlane/Fastfile
Due: none

fix: deserializes integer double in context (#865)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataValueResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ContextDataAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/SimpleJsonAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/JsonReaderExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataValueResolverTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Due: android

main header removal from android automation
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/ButtonScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/ImageScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/ListViewScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/PageViewScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/ScrollViewScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/SimpleFormScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/TabViewScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/TouchableScreenSteps.kt
  android/automated-tests/src/main/java/com/example/automated_tests/activity/MainActivity.kt
Due: android

button style change
  android/automated-tests/src/main/res/values/styles.xml
Due: android

ci: iOS update podspec version and tag independently so hotfix works (#866)
  Beagle.podspec
  BeagleSchema.podspec
  fastlane/Fastfile
Due: none

first step finished
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/android/annotation/RegisterBeagleAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/ArrayListAdapterTest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/BeagleGenericAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/TypeAdapterResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/TypeAdapterResolverImpl.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleAnnotationProcessor.kt
Due: android

added serialize test
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/ArrayListAdapterTest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/BeagleGenericAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
Due: android

adding error view.
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTests/BeagleConfig.swift
  iOS/Tests/AutomatedTests/CustomNavigationController.swift
  iOS/Tests/AutomatedTests/ErrorView.swift
  iOS/Tests/AutomatedTests/MainScreen.swift
Due: ios

adjust algorithm
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/TokenInterpreter.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/tokenizer/TokenParserTest.kt
Due: android

adjust algorithm
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/TokenInterpreter.kt
Due: android

ci: iOS update podspec version and tag independently so hotfix works (#869)
  Beagle.podspec
  BeagleSchema.podspec
  fastlane/Fastfile
Due: none

Code review: Improvements
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/BeagleGenericAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/TypeAdapterResolverImpl.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Due: android

fix: escape string literal (#871)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/TokenInterpreter.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/tokenizer/TokenParserTest.kt
Due: android

refactor: Implement a new algorithm to validate multiple expression
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

fix: objects inside arrays are converted to String
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/JsonReaderExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Due: android

refactor: Adjust new algorithm to escape key correctly and improve code readability
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

fix: objects inside arrays are converted to String (#872)
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/JsonReaderExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Due: android

fix: assert made in moshi tests
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Due: android

Create more tests and did a refactor
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextExpressionReplacer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

fix: assert made in moshi tests (#873)
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Due: android

fix: Fix logic that replace expressions for values (#874)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextExpressionReplacer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

feat: Created generated class for Widgets and Actions
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/InternalWidgetFactoryProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterActionProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterWidgetProcessor.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleSetupRegisteredWidgetGenerator.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredActionGenerator.kt
Due: android, backend

Remove unused import
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterActionProcessor.kt
Due: android

feat: Generating extra class for Widget and Actions registration (#876)
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/InternalWidgetFactoryProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterActionProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterWidgetProcessor.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleSetupRegisteredWidgetGenerator.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredActionGenerator.kt
Due: android, backend

processor feito
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/TypeAdapterResolverImpl.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterBeagleAdapterProcessor.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/adapters/ArrayListAdapter.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClasses.kt
Due: android, backend

feat: add support to bind in expression
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/PreFetchHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/RouteAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNavigationTypeService.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
Due: android, backend

Synced Spring BFF sample to Micronaut BFF sample.
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNavigationTypeService.kt
Due: backend

processor adjusts
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/generic/TypeAdapterResolverImpl.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterBeagleAdapterProcessor.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/adapters/ArrayListAdapter.kt
Due: android

solve processor without complex generic
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterBeagleAdapterProcessor.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/adapters/ComplexAdapter.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/adapters/PairAdapter.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/adapters/StringAdapter.kt
Due: android

create adapter implement finished
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterBeagleAdapterProcessor.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/adapters/ArrayListAdapter.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/adapters/PairAdapter.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/adapters/StringAdapter.kt
Due: android
