Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

temp
  Beagle.podspec
  fastlane/Fastfile
  iOS/Beagle.xcworkspace/contents.xcworkspacedata
  iOS/Beagle.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Sources/BeagleUI/CodeGeneration/Templates/AutoDecodable.swifttemplate
Due: ios

:recycle: Add Bind attributes for Button solves one of the checklist items for the issue https://github.com/ZupIT/beagle/issues/283
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/context/Bind.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
Due: android, backend

Update backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
Due: backend

:recycle: refactor method call
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/context/Bind.kt
Due: android, backend

feat: Add Bind attributes for Button (#305)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/context/Bind.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
Due: android, backend

added support to some default components
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/NavigationBar.swift
  iOS/Schema/Sources/ServerDrivenComponent/WebView/WebView.swift
  iOS/Schema/Sources/Widgets/Button/Button.swift
  iOS/Schema/Sources/Widgets/Text/Text.swift
Due: ios

added support to some default components
  iOS/Sources/BeagleUI/Sources/Components/Button+Renderable/Button+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Components/Text+Renderable/Text+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Components/WebView+Renderable/WebView+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Renderer/BeagleScreenViewController.swift
Due: ios

Adding alert and confirm actions
  common/processor-utils/bin/main/br/com/zup/beagle/compiler/BeagleClasses.kt
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/Alert.swift
  iOS/Schema/Sources/Action/Types/Confirm.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllActionsAreBeingRegistered.1.txt
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Action/Types/Alert.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Confirm.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Tests/AlertTests.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Tests/ConfirmTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios, android, backend

Removing bin
  common/processor-utils/bin/main/br/com/zup/beagle/compiler/BeagleClasses.kt
Due: android, backend

propagate folder name modification
  iOS/Beagle.xcworkspace/contents.xcworkspacedata
  iOS/Example/BeagleDemo/.sourcery.yml
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeaglePreviewDemo/BeaglePreviewDemo.xcodeproj/project.pbxproj
  iOS/Schema/.sourcery.yml
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/BeaglePlayground.playground/Contents.swift
  iOS/Sources/Beagle/BeaglePlayground.playground/contents.xcplayground
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Templates/AutoDecodable.swifttemplate
  iOS/Sources/Preview/BeaglePreview.xcodeproj/project.pbxproj
  iOS/Sources/Preview/Sources/BeaglePreview.swift
Due: ios

rename BeagleFrameworkTests to BeagleTests
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Beagle.xcodeproj/xcshareddata/xcschemes/Beagle.xcscheme
  iOS/Sources/Beagle/BeagleTests/Helpers/ComponentFromJsonFile.swift
  iOS/Sources/Beagle/BeagleTests/Info.plist
  iOS/Sources/Beagle/BeagleTests/Spies/BeaglePrefetchHelpingSpy.swift
  iOS/Sources/Beagle/BeagleTests/Spies/ThemeSpy.swift
  iOS/Sources/Beagle/Sources/Logger/Tests/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
Due: ios

small fixes
  iOS/Beagle.xcworkspace/contents.xcworkspacedata
  iOS/Sources/Beagle/Sources/Logger/Tests/BeagleLoggerProxyTests.swift
Due: ios

feat: alert and confirm actions (#306)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/Alert.swift
  iOS/Schema/Sources/Action/Types/Confirm.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllActionsAreBeingRegistered.1.txt
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Action/Types/Alert.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Confirm.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Tests/AlertTests.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Tests/ConfirmTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

wrote more rules
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/xcshareddata/xcschemes/BeagleDemo.xcscheme
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/CustomActionableContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Protocols.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/GenerationTests.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/TextContainer.json
  iOS/Example/BeagleDemo/BeagleDemoTests/Helpers/ComponentFromJsonFile.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/Info.plist
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/Json/PageViewWith3PagesAndIndicator.json
  iOS/Sources/BeagleUI/CodeGeneration/Templates/AutoDecodable.swifttemplate
Due: ios

resolve some problems with cocoapods integration
  iOS/Schema/Sources/Action/Action.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Resources/Beagle.h
  iOS/Sources/Beagle/Sources/Components/Text/Text.swift
Due: ios

Fixing actions on click
  iOS/Sources/BeagleUI/Sources/Action/Types/Alert.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Confirm.swift
Due: ios

wrote more rules
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/TextContainer.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/TextContainer.swift
  iOS/Sources/BeagleUI/CodeGeneration/Templates/AutoDecodable.swifttemplate
Due: ios

feat: disable dco to members of organization
  .github/dco.yml
Due: none

:feature: Adds android implementation for the bind attributes
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/StyleManagerTest.kt
Due: android

wip
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/SingleTextContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/GenerationTests.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/CustomActionableContainer.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/SingleCustomActionableContainer.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/SingleTextContainer.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/TextContainerWithAction.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/TextContainerWithAction.swift
Due: ios

wip
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/GenerationTests.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/CustomActionableContainer.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/SingleCustomActionableContainer.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/TextContainerWithAction.json
  iOS/Example/BeagleDemo/BeagleDemoTests/Helpers/ComponentFromJsonFile.swift
Due: ios

wip
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/SingleCustomActionableContainer.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/TextContainerWithAction.json
Due: ios

Created a typed binding expression representation with BeagleExpressionRoot annotation and its processor to generate them.
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/expression/BeagleIterableSubexpression.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/expression/ExpressionHelper.kt
  backend/processor/build.gradle
  backend/processor/gradle.properties
  backend/processor/src/gradle.properties
  backend/processor/src/main/kotlin/br/com/zup/beagle/compiler/BackendProcessorConstants.kt
  backend/processor/src/main/kotlin/br/com/zup/beagle/compiler/BackendProcessorExtensions.kt
  backend/processor/src/main/kotlin/br/com/zup/beagle/compiler/BeagleBackendProcessor.kt
  backend/processor/src/main/kotlin/br/com/zup/beagle/compiler/BeagleExpressionHandler.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/BasicContextTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/ChildContextTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/CollectionContextTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/CompositeContextTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/CyclicContextTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/EasyFalseCycleContextTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/EnumContextTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/GetContextTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/HardFalseCycleContextTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/IterableContextTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/LeafContextTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/ListContextTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/MultiOriginContextTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/NullableContextTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/ObjectContextTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/OtherRootAsSubexpressionModelTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/RecursiveContextTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/RecursiveListContextTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/SetContextTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/SuperIterableContextTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/TestCases.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/TestUtils.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/VisibilityContextTest.kt
  common/annotation/src/main/kotlin/br/com/zup/beagle/annotation/BeagleExpressionRoot.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleProcessorExtensions.kt
  settings.gradle
Due: android, backend

feat: disable dco to members of organization (#308)
  .github/dco.yml
Due: none

Fixed tests.
  backend/processor/src/test/kotlin/br/com/zup/beagle/expression/TestUtils.kt
Due: backend

done.
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/CustomActionableContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Protocols.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/SingleTextContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/GenerationTests.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/CustomActionableContainer.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/SingleCustomActionableContainer.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/SingleTextContainerWithoutActions.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/TextContainer.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/TextContainerMissingSecondAction.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/TextContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/TextContainerWithAction.swift
  iOS/Sources/BeagleUI/CodeGeneration/Templates/AutoDecodable.swifttemplate
Due: ios

Fixed detekt.
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/KotlinPoetExtensions.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/ProcessorConstructExtensions.kt
Due: android, backend

Fixed DCO.
  backend/processor/src/main/kotlin/br/com/zup/beagle/compiler/BeagleExpressionHandler.kt
Due: backend

Signature attempt.
  backend/processor/src/main/kotlin/br/com/zup/beagle/compiler/BeagleExpressionHandler.kt
Due: backend

Fix implicit context for multithreading scenario
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Action.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/WidgetView.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Text.kt
Due: android

adding simple form
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SimpleForm.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/SubmitForm.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/Widgets/SimpleForm/SimpleForm.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Action/Types/SubmitForm.swift
  iOS/Sources/BeagleUI/Sources/Components/SimpleForm+Renderable/SimpleForm+Renderable.swift
Due: ios

feat: Adds android implementation for the bind attributes of button (#309)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/StyleManagerTest.kt
Due: android

Used ImagePath.Local type in appropriate components' fields.
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Screen.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/AccessibilityScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComposeScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/FormScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ImageScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/LazyComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/MyScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/NavigationBarViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/NetworkImageScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PageViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/SampleViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ScrollViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TabViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TouchableScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/WebViewScreenBuilder.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNavigationBarService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNavigationTypeService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNavigationBarService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNavigationTypeService.kt
Due: backend

remove spacer from project
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Spacer.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/SpacerTest.kt
Due: android

add BeaglePreview scheme in Xcode shared schemes
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Preview/BeaglePreview.xcodeproj/xcshareddata/xcschemes/BeaglePreview.xcscheme
Due: ios

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
