Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

Update android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
Due: android

change name of netWorkImage in sample
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
Due: android, backend

refactor components
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/AccessibilityScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/FormScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TouchableScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/ComposeScrollView.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/CustomComposeComponent.kt
Due: android, backend

more refactor components
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/NavigationBarViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/NetworkImageScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ScrollViewScreenBuilder.kt
Due: backend

create text input
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/res/values/attrs.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/components/InputTextTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppDesignSystem.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TextFieldFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TextInputFragment.kt
  android/sample/src/main/res/menu/menu_navigation_drawer.xml
  android/sample/src/main/res/values/styles.xml
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/TextInputType.kt
Due: android, backend

fix imports
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
Due: android

Fixes on actions behaviors
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Schema/Sources/Action/Types/Alert.swift
  iOS/Schema/Sources/Action/Types/Confirm.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Alert.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Confirm.swift
Due: ios

added support to SendRequest and SetContext evaluate expressions in complex objects
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/StringExtensionsKtTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SetContext.kt
Due: android, backend

Used ImagePath.Local type in NavigationBarItem
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Screen.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
Due: android

assign variable call
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindExtensions.kt
Due: android

refactor style SampleNavigation
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNavigationTypeService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNavigationTypeService.kt
Due: backend

remove unecessary import from AccessibilityScreenBuilder
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/AccessibilityScreenBuilder.kt
Due: backend

added expressions in unit tests
  iOS/Sources/BeagleUI/Sources/Components/Button+Renderable/Tests/ButtonTests.swift
  iOS/Sources/BeagleUI/Sources/Components/ListView+Renderable/Tests/ListViewTests.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
  iOS/Sources/BeagleUI/Sources/Components/Text+Renderable/Tests/TextTests.swift
  iOS/Sources/BeagleUI/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Due: ios

remove support attribute start and end property edgevalue
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/mapper/FlexMapperTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/DisabledFormSubmitFragment.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextScreenBuilder.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/Flex.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/FlexBuilder.kt
Due: android, backend

refactor: remove support attribute start and end property edgevalue (#326)
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/mapper/FlexMapperTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/DisabledFormSubmitFragment.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextScreenBuilder.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/Flex.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/FlexBuilder.kt
Due: android, backend

Update dco.yml
  .github/dco.yml
Due: none

feat: Adds schema/android implementation for Bind attributes of TabView Widget (#316)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
Due: android, backend

feat: crate tree to json
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextPathResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonPathFinder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
Due: android, backend

Adding expression to titles
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Schema/Sources/Action/Types/Alert.swift
  iOS/Schema/Sources/Action/Types/Confirm.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Alert.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Confirm.swift
Due: ios

Synced Micronaut BFF sample to Spring BFF sample.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNavigationTypeService.kt
Due: backend

set default sample config
  android/sample/src/main/java/br/com/zup/beagle/sample/AppBeagleConfig.kt
Due: android

fix maximum line length
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/LazyComponentFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ListViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ScrollViewFragment.kt
Due: android

feat: rename Button and Form action (#317)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Form/Form.swift
  iOS/Schema/Sources/ServerDrivenComponent/Form/Tests/JSON/formComponent.json
  iOS/Schema/Sources/ServerDrivenComponent/Form/Tests/__Snapshots__/FormTests/test_whenDecodingJson_thenItShouldReturnAForm.1.txt
  iOS/Schema/Sources/Widgets/Button/Button.swift
  iOS/Schema/Sources/Widgets/Button/Tests/Json/buttonComponent.json
  iOS/Schema/Sources/Widgets/Button/__Snapshots__/ButtonTests/test_whenDecodingJson_thenItShouldReturnAButton.1.txt
  iOS/Sources/BeagleUI/Sources/Action/Types/Tests/FormValidationTests.swift
  iOS/Sources/BeagleUI/Sources/Analytics/Tests/Json/buttonAnalyticsComponent.json
  iOS/Sources/BeagleUI/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfullForClickEvent.1.txt
  iOS/Sources/BeagleUI/Sources/Components/Button+Renderable/Button+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Components/Button+Renderable/Tests/ButtonTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Form+Renderable/Tests/FormTests.swift
  iOS/Sources/BeagleUI/Sources/Context/FormManager.swift
  iOS/Sources/BeagleUI/Sources/Context/Tests/FormManagerTests.swift
  iOS/Sources/BeagleUI/Sources/Logger/Tests/BeagleLoggerTests.swift
  iOS/Sources/BeagleUI/Sources/Logger/Tests/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/BeagleUI/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Due: ios

change SHOW_AS_ACTION_ALWAYS to SHOW_AS_ACTION_IF_ROOM
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
Due: android

Update dco.yml (#327)
  .github/dco.yml
Due: none

regenerated some snapshot references
  iOS/Sources/BeagleUI/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfullForClickEvent.1.txt
  iOS/Sources/BeagleUI/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfullForScreenEvent.1.txt
  iOS/Sources/BeagleUI/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
Due: ios

component test
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/FormScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/LazyComponentScreen.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
Due: ios, android

Improving code + preventing memory leak
  iOS/Sources/BeagleUI/Sources/Action/Types/Alert.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Confirm.swift
Due: ios

Small fix on variable
  iOS/Sources/BeagleUI/Sources/Action/Types/Confirm.swift
Due: ios

change screen navigate-type service to builder and change style screen button
  android/sample/src/main/java/br/com/zup/beagle/sample/AppDesignSystem.kt
  android/sample/src/main/res/values/colors.xml
  android/sample/src/main/res/values/styles.xml
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/NavigateTypeBuilder.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNavigationTypeService.kt
Due: android, backend

Synced Spring BFF sample to Micronaut BFF sample.
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNavigationTypeService.kt
Due: backend

create style
  iOS/Example/BeagleDemo/BeagleDemo/BeagleStyle.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
Due: ios

update style
  iOS/Example/BeagleDemo/BeagleDemo/BeagleStyle.swift
Due: ios

add flex margin and align-self
  android/sample/src/main/res/values/colors.xml
  android/sample/src/main/res/values/styles.xml
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
Due: android, backend

teste screen text
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextScreenBuilder.kt
Due: backend

test screen tab-view
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TabViewScreenBuilder.kt
Due: backend

fix: confirm and alert actions (#323)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Schema/Sources/Action/Types/Alert.swift
  iOS/Schema/Sources/Action/Types/Confirm.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Alert.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Confirm.swift
Due: ios

fixed unit test
  iOS/Sources/BeagleUI/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfullForClickEvent.1.txt
  iOS/Sources/BeagleUI/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfullForScreenEvent.1.txt
  iOS/Sources/BeagleUI/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
Due: ios

code review improvements
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/mapper/FlexMapperTest.kt
  common/extended-schema/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/FlexBuilder.kt
Due: android, backend

page view with AutoDecodable
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Page/PageView.swift
Due: ios
