Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags:
          - ios
      android:
        target: 70%
        threshold: 7%
        flags:
          - android
      backend:
        target: 70%
        threshold: 7%
        flags:
          - backend
      flutter:
        target: 70%
        threshold: 7%
        flags:
          - flutter
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
    carryforward: true
  flutter:
    paths:
      - flutter/
    carryforward: true
ignore:
  - "iOS/Example"
  - "iOS/Libraries"
  - "iOS/Test"
  - "iOS/Tests"
  - "iOS/Sources/Beagle/BeagleTests"
  - "iOS/Sources/Beagle/**/*Test*.swift"
  - "iOS/Sources/Beagle/**/*Tests*.swift"

upgrade test beagle api
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/ScreenRequestMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/BeagleApiTest.kt
Due: android

add unit test component requester
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/ScreenRequestMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
Due: android

Adds custom operations support
  flutter/beagle/lib/action/beagle_open_native_route.dart
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/service_locator.dart
  flutter/javascript-bridge/src/global.d.ts
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/operation.ts
Due: flutter

feat: deprecated field isLoggingEnabled in beagle sdk and BeagleDependencies (#1408)
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleConfig.kt
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
Due: ios, android

Adds unit testing
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/test/bridge_impl/beagle_js_engine_test.dart
  flutter/beagle/test/bridge_impl/beagle_service_js_test.dart
Due: flutter

feat: Adds BuildContext reference to ActionHandler
  flutter/beagle/lib/action/beagle_alert.dart
  flutter/beagle/lib/action/beagle_open_native_route.dart
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/default/default_actions.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/beagle_view.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle/test/action/beagle_alert_test.dart
  flutter/beagle/test/action/beagle_open_native_route_test.dart
  flutter/beagle/test/bridge_impl/beagle_service_js_test.dart
  flutter/beagle/test/bridge_impl/beagle_view_js_test.dart
  flutter/sample/lib/app_beagle_config.dart
  flutter/sample/lib/main.dart
Due: flutter

create unit test to serialzier
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/RouteAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpAdditionalData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/BeagleApiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Due: android

add unit test to server driven factory
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ServerDrivenFactoryKtTest.kt
Due: android

feat: create field enabled in text input and deprecated field disabled (#1407)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TextInputBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput.swift
Due: ios, android, backend

Update BeagleMicronautCacheHandlerTest.kt
  backend/starters/micronaut/src/test/kotlin/br/com/zup/beagle/micronaut/filter/BeagleMicronautCacheHandlerTest.kt
Due: backend

create unit test to view group extensions
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/RequestData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ViewGroupExtensionsKtTest.kt
Due: android

ajdust test navigator
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
Due: android

adjust test
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/mapper/ScreenRequestMapperTest.kt
Due: android

adjust unit test
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleViewTest.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/NavigateBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/networking/HttpAdditionalData.kt
Due: android, backend

adjust text
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpAdditionalData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/RequestData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/networking/HttpAdditionalData.kt
Due: android, backend

change action listener
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/interface/beagle_view.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle/lib/utils/build_context_utils.dart
  flutter/beagle/test/bridge_impl/beagle_js_engine_test.dart
  flutter/beagle/test/bridge_impl/beagle_service_js_test.dart
  flutter/beagle/test/bridge_impl/beagle_view_js_test.dart
  flutter/sample/lib/app_beagle_config.dart
  flutter/sample/lib/main.dart
Due: flutter

refactor BeagleWidget
  flutter/beagle/lib/beagle_widget.dart
Due: flutter

refactor
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/sample/lib/main.dart
Due: flutter

adjust code
  android/sample/src/main/java/br/com/zup/beagle/sample/config/HttpClientDefault.kt
Due: android

refactor
  flutter/beagle/lib/service_locator.dart
  flutter/sample/pubspec.yaml
Due: flutter

refactor
  flutter/beagle/example/pubspec.yaml
  flutter/beagle/lib/action/beagle_alert.dart
  flutter/beagle/pubspec.yaml
  flutter/beagle/test/action/beagle_open_native_route_test.dart
  flutter/beagle_components/pubspec.yaml
  flutter/sample/pubspec.yaml
Due: flutter

remove deprecated tests
  android/automated-tests/src/androidTest/assets/features/ActionNotRegistered.feature
  android/automated-tests/src/androidTest/assets/features/AddChildren.feature
  android/automated-tests/src/androidTest/assets/features/Alert.feature
  android/automated-tests/src/androidTest/assets/features/Button.feature
  android/automated-tests/src/androidTest/assets/features/Conditional.feature
  android/automated-tests/src/androidTest/assets/features/Confirm.feature
  android/automated-tests/src/androidTest/assets/features/Container.feature
  android/automated-tests/src/androidTest/assets/features/Image.feature
  android/automated-tests/src/androidTest/assets/features/LazyComponent.feature
  android/automated-tests/src/androidTest/assets/features/Navigate.feature
  android/automated-tests/src/androidTest/assets/features/PageView.feature
  android/automated-tests/src/androidTest/assets/features/ScrollView.feature
  android/automated-tests/src/androidTest/assets/features/SendRequestScreen.feature
  android/automated-tests/src/androidTest/assets/features/SetContext.feature
  android/automated-tests/src/androidTest/assets/features/SimpleForm.feature
  android/automated-tests/src/androidTest/assets/features/TabBar.feature
  android/automated-tests/src/androidTest/assets/features/TextInput.feature
  android/automated-tests/src/androidTest/assets/features/TextScreen.feature
  android/automated-tests/src/androidTest/assets/features/Touchable.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ActionNotRegistered.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/AddChildrenScreenSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/AlertSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ButtonSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ConditionalSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ConfirmSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ContainerSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ImageSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/LazyComponentSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ListViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/NavigateSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/PageViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ScrollViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SendRequestSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SetContextSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SimpleFormSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TabBarSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TouchableSteps.kt
Due: android

Update flutter/beagle/lib/service_locator.dart
  flutter/beagle/lib/service_locator.dart
Due: flutter

refactor: remove deprecated tests (#1417)
  android/automated-tests/src/androidTest/assets/features/ActionNotRegistered.feature
  android/automated-tests/src/androidTest/assets/features/AddChildren.feature
  android/automated-tests/src/androidTest/assets/features/Alert.feature
  android/automated-tests/src/androidTest/assets/features/Button.feature
  android/automated-tests/src/androidTest/assets/features/Conditional.feature
  android/automated-tests/src/androidTest/assets/features/Confirm.feature
  android/automated-tests/src/androidTest/assets/features/Container.feature
  android/automated-tests/src/androidTest/assets/features/Image.feature
  android/automated-tests/src/androidTest/assets/features/LazyComponent.feature
  android/automated-tests/src/androidTest/assets/features/Navigate.feature
  android/automated-tests/src/androidTest/assets/features/PageView.feature
  android/automated-tests/src/androidTest/assets/features/ScrollView.feature
  android/automated-tests/src/androidTest/assets/features/SendRequestScreen.feature
  android/automated-tests/src/androidTest/assets/features/SetContext.feature
  android/automated-tests/src/androidTest/assets/features/SimpleForm.feature
  android/automated-tests/src/androidTest/assets/features/TabBar.feature
  android/automated-tests/src/androidTest/assets/features/TextInput.feature
  android/automated-tests/src/androidTest/assets/features/TextScreen.feature
  android/automated-tests/src/androidTest/assets/features/Touchable.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ActionNotRegistered.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/AddChildrenScreenSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/AlertSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ButtonSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ConditionalSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ConfirmSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ContainerSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ImageSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/LazyComponentSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ListViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/NavigateSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/PageViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ScrollViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SendRequestSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SetContextSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SimpleFormSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TabBarSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TouchableSteps.kt
Due: android

test components
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Center.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Column.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Row.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ContextOperationsFragment.kt
Due: android

feat: add support to add parameters in request to push view (#1411)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/RouteAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpAdditionalData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpMethod.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/RequestData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/ResponseData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ServerDrivenFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/ScreenRequestMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/BeagleApiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ServerDrivenFactoryKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ViewGroupExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleActivityTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/mapper/ScreenRequestMapperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/HttpClientDefault.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/NavigateBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/networking/HttpAdditionalData.kt
Due: android, backend

fix: changed Android PageView component to suit BFF contract
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleClasses.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenerateFunctionWidget.kt
Due: android

index.html
  fastlane/kdocs/indexTemplate/index.html
  fastlane/kdocs/merge_docs.sh
Due: none

chore: change beagle initialization
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/service_locator.dart
  flutter/sample/lib/main.dart
Due: flutter

refactor: remove unused imports
  flutter/beagle/lib/beagle_sdk.dart
Due: flutter

Create release-kdocs.yml
  .github/workflows/release-kdocs.yml
Due: none

fix paths
  fastlane/kdocs/format_doc.sh
  fastlane/kdocs/merge_docs.sh
Due: none

feat: custom operations (#1412)
  flutter/beagle/lib/action/beagle_open_native_route.dart
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle/test/bridge_impl/beagle_js_engine_test.dart
  flutter/beagle/test/bridge_impl/beagle_service_js_test.dart
  flutter/javascript-bridge/src/global.d.ts
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/operation.ts
Due: flutter

merge with master
  flutter/beagle/lib/service_locator.dart
Due: flutter

merge with master
  flutter/sample/lib/main.dart
Due: flutter

feat: Adds BuildContext reference to ActionHandler (#1413)
  flutter/beagle/example/pubspec.yaml
  flutter/beagle/lib/action/beagle_alert.dart
  flutter/beagle/lib/action/beagle_open_native_route.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/default/default_actions.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/beagle_view.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle/lib/utils/build_context_utils.dart
  flutter/beagle/pubspec.yaml
  flutter/beagle/test/action/beagle_alert_test.dart
  flutter/beagle/test/action/beagle_open_native_route_test.dart
  flutter/beagle/test/bridge_impl/beagle_js_engine_test.dart
  flutter/beagle/test/bridge_impl/beagle_service_js_test.dart
  flutter/beagle/test/bridge_impl/beagle_view_js_test.dart
  flutter/beagle_components/pubspec.yaml
  flutter/sample/lib/app_beagle_config.dart
  flutter/sample/lib/main.dart
  flutter/sample/pubspec.yaml
Due: flutter

upload to aws
  .github/workflows/release-kdocs.yml
Due: none

fix path upload s3
  .github/workflows/release-kdocs.yml
Due: none

Update release-kdocs.yml
  .github/workflows/release-kdocs.yml
Due: none
