Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

Fixed PR questions.
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/context/Bind.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/expression/BeagleIterableSubexpression.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/expression/ExpressionHelper.kt
  backend/processor/src/gradle.properties
Due: backend

:sparkles: Adds schema/android implementation for Bind attributes of Text widget
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Text.kt
Due: android, backend

Added processor to Fastfile testing.
  fastlane/Fastfile
Due: none

Fixed imports.
  backend/processor/src/main/kotlin/br/com/zup/beagle/compiler/BackendProcessorConstants.kt
Due: backend

Fixed naming.
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/expression/BeagleIterableSubExpression.kt
  backend/processor/src/main/kotlin/br/com/zup/beagle/compiler/BackendProcessorConstants.kt
Due: backend

Update android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
Due: android

Update backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/WebView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/WebView.kt
Due: backend

remove blank space
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
Due: android

Adds schema/android implementation for Bind attributes of WebView Widget
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/WebView.kt
Due: android, backend

Update android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
Due: android

removing unnecessary space
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Protocols.swift
Due: ios

small fix on import
  iOS/Sources/Beagle/Sources/Action/Types/Tests/ConfirmTests.swift
Due: ios

feature: simpleForm component creation on android and backend
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SubmitForm.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/form/SimpleForm.kt
Due: android, backend

feat: Adds schema/android implementation for Bind attributes of WebView Widget (#312)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/WebView.kt
Due: android, backend

feat: Adds schema/android implementation for Bind attributes of Text widget (#311)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Text.kt
Due: android, backend

:sparkles: Adds schema/android implementation for Bind attributes of Alert action
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AlertTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
Due: android, backend

Update backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
Due: backend

Update android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
Due: android

:sparkles: Adds schema/android implementation for Bind attributes of Confirm action
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ConfirmTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Confirm.kt
Due: android, backend

:sparkles: Adds schema/android implementation for Bind attributes of Confirm action
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Confirm.kt
Due: android, backend

fix: fix widget with context
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/FormScreen.swift
  iOS/Sources/BeagleUI/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/BeagleUI/Sources/Renderer/ViewConfigurator.swift
Due: ios

feat: autoDecodable is now possible for developers using beagle (#273)
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/xcshareddata/xcschemes/BeagleDemo.xcscheme
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/CustomActionableContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Protocols.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/SingleCustomActionableContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/SingleTextContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/GenerationTests.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/CustomActionableContainer.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/SingleCustomActionableContainer.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/SingleTextContainer.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/SingleTextContainerWithoutActions.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/TextContainer.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/TextContainerMissingSecondAction.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/TextContainerWithAction.json
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/TextContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/TextContainerWithAction.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/Helpers/ComponentFromJsonFile.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/Info.plist
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/Decoding/AnyDecodableContainer.swift
  iOS/Schema/Sources/ServerDrivenComponent/Page/PageView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/Json/PageViewWith3PagesAndIndicator.json
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/CodeGeneration/Templates/AutoDecodable.swifttemplate
  iOS/Sources/BeagleUI/Sources/Common/Extensions/KeyedDecodingContainerExtension.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
Due: ios

Adds schema/android implementation for Bind attribute of TabView Widget
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
Due: android

Adds schema/android implementation for Bind attribute of TabView Widget
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
Due: android, backend

feat: Adds schema/android implementation for Bind attributes of Alert action (#313)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AlertTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
Due: android, backend

change Button action to onPress
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Form/Tests/__Snapshots__/FormTests/test_whenDecodingJson_thenItShouldReturnAForm.1.txt
  iOS/Schema/Sources/Widgets/Button/Button.swift
  iOS/Schema/Sources/Widgets/Button/Tests/Json/buttonComponent.json
  iOS/Schema/Sources/Widgets/Button/__Snapshots__/ButtonTests/test_whenDecodingJson_thenItShouldReturnAButton.1.txt
  iOS/Sources/BeagleUI/Sources/Analytics/Tests/Json/buttonAnalyticsComponent.json
  iOS/Sources/BeagleUI/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfullForClickEvent.1.txt
  iOS/Sources/BeagleUI/Sources/Components/Button+Renderable/Button+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Components/Button+Renderable/Tests/ButtonTests.swift
  iOS/Sources/BeagleUI/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Due: ios

feat: Adds schema/android implementation for Bind attributes of Confirm action (#314)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ConfirmTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Confirm.kt
Due: android, backend

change Form action to onSubmit
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Form/Form.swift
  iOS/Schema/Sources/ServerDrivenComponent/Form/Tests/JSON/formComponent.json
  iOS/Schema/Sources/ServerDrivenComponent/Form/Tests/__Snapshots__/FormTests/test_whenDecodingJson_thenItShouldReturnAForm.1.txt
  iOS/Sources/BeagleUI/Sources/Action/Types/Tests/FormValidationTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Form+Renderable/Tests/FormTests.swift
  iOS/Sources/BeagleUI/Sources/Context/FormManager.swift
  iOS/Sources/BeagleUI/Sources/Context/Tests/FormManagerTests.swift
  iOS/Sources/BeagleUI/Sources/Logger/Tests/BeagleLoggerTests.swift
  iOS/Sources/BeagleUI/Sources/Logger/Tests/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
Due: ios

set textinput tests
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/InputTextTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/DisabledFormSubmitFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TextFieldFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TextInputFragment.kt
  android/sample/src/main/res/menu/menu_navigation_drawer.xml
  android/sample/src/main/res/values/styles.xml
Due: android

merge Image with ImageNetwork
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/NetworkImage.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ImagePathTypeJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppBeagleConfig.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/LazyComponentFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ListViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ScrollViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
Due: android

:bug: Fixes checkstyle
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
Due: android

add token for cocoapods to release workflow
  .github/workflows/release.yml
  fastlane/Fastfile
Due: none

fix: artifact names
  common/processor-utils/gradle.properties
Due: android, backend

fix imports with old names
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/CustomActionableContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Protocols.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/SingleCustomActionableContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/SingleTextContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/GenerationTests.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/TextContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/TextContainerWithAction.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/Helpers/ComponentFromJsonFile.swift
Due: ios

fix line length
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
Due: android

Fix tests
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
Due: android

Update android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
Due: android

Update android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
Due: android

Update backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
Due: backend
