Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

fix: adjust unit test automated tests
  android/automated-tests/build.gradle
  android/automated-tests/src/main/java/com/example/automatedTests/AppFormLocalActionHandler.kt
  android/automated-tests/src/main/java/com/example/automatedTests/adapters/PersonAdapter.kt
  android/automated-tests/src/main/java/com/example/automatedTests/widgets/Text.kt
  android/automated-tests/src/test/java/com/example/automatedTests/BeagleSetupTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
Due: android

fix: adjust unit test sample (#981)
  android/automated-tests/build.gradle
  android/automated-tests/src/main/java/com/example/automatedTests/AppFormLocalActionHandler.kt
  android/automated-tests/src/main/java/com/example/automatedTests/adapters/PersonAdapter.kt
  android/automated-tests/src/main/java/com/example/automatedTests/widgets/Text.kt
  android/automated-tests/src/test/java/com/example/automatedTests/BeagleSetupTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
Due: android

ListView: review suggestions
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/Tests/ListViewTests.swift
Due: ios

fixing item size and tests
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabBarScreen.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabView/TabView.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/ContainerIndicatorView.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarItemUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/TabBarCollectionViewCellTests.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/TabBarTests.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/TabBarUIComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/__Snapshots__/TabBarTests/testCurrentTabWithContext.1.png
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/__Snapshots__/TabBarTests/testImageWithContext.1.png
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/__Snapshots__/TabBarTests/test_viewWithTabBar.1.png
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/Tests/TabViewUIComponentTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
Due: ios

Add a way to dismiss the numeric keyboard.
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/Equality.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/Sources/Components/TextInput+Renderable/TextInput.swift
Due: ios

undoing expression test change
  iOS/Schema/Sources/ContextExpression/Tests/ExpressionTests.swift
Due: ios

removing unecessary condition
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
Due: ios

implement a way to user override the download of images
  android/beagle/gradle/wrapper/gradle-wrapper.jar
  android/beagle/gradle/wrapper/gradle-wrapper.properties
  android/beagle/gradlew
  android/beagle/gradlew.bat
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ImplicitContextManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/BeagleImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloaderTest.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleAnnotationProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClasses.kt
Due: android, backend

fix: make extendsFromClass check all super classes in hierarchy
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/KotlinPoetExtensions.kt
Due: android, backend

add some tests and add the logic when the component is ScreenComponent
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
Due: android

refactor attribute name and add a error when user implement more than one time BeagleImageDownloader
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
Due: android

removing unecessary function
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
Due: ios

fix processor error
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
Due: android

code review: improvements on ImageDownloader and remove unsed imports from Image
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
Due: android

documentation all public classes of the context, engine and exception package
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/GlobalContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/RootView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/exception/BeagleApiException.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/exception/BeagleException.kt
Due: android

suggested team changes
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
Due: android

suggested team changes
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
Due: android

code review: improvements and create BitmapFactoryTest
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/BeagleBitmapFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloader.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/imagecomponent/BeagleBitmapFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloaderTest.kt
Due: android

change example navigation screen to declarative (#979)
  android/sample/src/main/java/br/com/zup/beagle/sample/constants/ColorConstants.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/NavigationFragment.kt
  android/sample/src/main/res/menu/menu_navigation_drawer.xml
Due: android

PushStackRemote class ok
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NavigateBaseTestBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NavigateHereBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
Due: backend

fix: Global Context (#945)
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/GlobalContextScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/Beagle/Sources/ContextExpression/GlobalContext.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/GlobalContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/UIView+ContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/ValueEvaluateTest.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Value+Evaluate.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
Due: ios

fix DynamicObject set(value: with path:)
  iOS/Sources/Beagle/Sources/Action/Types/SetContext.swift
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/Beagle/Sources/ContextExpression/GlobalContext.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/DynamicObjectTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/DynamicObjectTests/testSetObjectWithVariousPaths.1.json
Due: ios

Starting navigation UITests
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NavigateBaseTestBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NavigateHereBuilder.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/Features/NavigationAction.feature
  iOS/Tests/AutomatedTestsUITests/Steps/NavigationActionSteps.swift
Due: ios, backend

different approach instead of using addBindin
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
Due: ios

code review: improvements
  android/beagle/gradle/wrapper/gradle-wrapper.properties
  android/beagle/gradlew
  android/beagle/gradlew.bat
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/LruImageCache.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/BeagleImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloaderTest.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
Due: android

fix: make extendsFromClass check all super classes in hierarchy (#987)
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/KotlinPoetExtensions.kt
Due: android, backend

refactor: documentation public class backend (#972)
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildren.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Condition.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SetContext.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SubmitForm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/context/Bind.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/context/ContextComponent.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/context/ContextData.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/form/Form.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ComposeComponent.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Screen.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ScrollView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/pager/PageIndicator.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/ScrollAxis.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/TextInputType.kt
Due: backend

feat: add documentation to all public components on the beagle android (#978)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/LazyComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormSubmit.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ComposeComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Screen.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicatorComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
Due: android

improvement on instance cache
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloader.kt
Due: android

Creating ImageDownloader dependency and updating the necessary tests.
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/Equality.generated.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/Tests/LazyComponentTests.swift
  iOS/Sources/Beagle/Sources/Networking/ImageDownloader.swift
  iOS/Sources/Beagle/Sources/Networking/Repository.swift
  iOS/Sources/Beagle/Sources/Networking/RequestDispatcher.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/ImageDownloaderTests.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

updating Navigate tests
  android/automated-tests/src/androidTest/assets/features/NavigateScreen.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Constants.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/NavigateScreenSteps.kt
Due: android

code review: move image cache to beagle cache protocol
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/BitmapUtils.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloader.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloaderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloaderTest.kt
Due: android

remove LruImage cache from import
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloader.kt
Due: android

adjust max line length
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloader.kt
Due: android

fiz tests names
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
Due: android

fix: app crash when use a JSON without ScreenComponent on startActivity (#982)
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
Due: android

feat: add documentation to all public action on the beagle android (#977)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
Due: android
