Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

refactor
  flutter/beagle_components/lib/beagle_image.dart
Due: flutter

adjust name field button in flutter
  flutter/beagle_components/lib/beagle_button.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/test/beagle_button_test.dart
Due: flutter

small fix on decoding test
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForClickEvent.1.txt
Due: ios

refactor
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/sample/lib/main.dart
Due: flutter

update list view
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/ListViewTests.swift
Due: none

formatting
  .github/workflows/automated_tests_appium_ios.yml
Due: none

feat: change name field disabled to enabled (#1325)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ButtonTest.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ButtonScreenBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/ButtonBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
  danger/android/Dangerfile
  flutter/beagle_components/lib/beagle_button.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/test/beagle_button_test.dart
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForClickEvent.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Button+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Button.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Tests/ButtonTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Tests/JSON/buttonComponent.json
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Tests/__Snapshots__/ButtonTests/test_whenDecodingJson_thenItShouldReturnAButton.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/Tests/__Snapshots__/SimpleFormTests/test_whenDecodingJson_shouldReturnASimpleForm.1.txt
Due: ios, android, backend, flutter

Left docker logout to ecr action's cleanup.
  fastlane/automatedTests/deploy_test_backend.sh
Due: none

Fixed env variable typo.
  fastlane/automatedTests/deploy_test_backend.sh
Due: none

Removed extra ".
  fastlane/automatedTests/deploy_test_backend.sh
Due: none

Fixed namespace env var name.
  fastlane/automatedTests/deploy_test_backend.sh
Due: none

adding default error view
  iOS/.jazzy.yaml
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/Equality.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/CustomViews/CustomLoadingView.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/ErrorView.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/NavigationControllers/CustomBeagleNavigationController.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleErrorView.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleNavigationController.swift
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/CustomNavigationController.swift
Due: ios

removing unecessary files
  iOS/.jazzy.yaml
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/Equality.generated.swift
Due: ios

Revert "removing unecessary files"
  iOS/.jazzy.yaml
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/Equality.generated.swift
Due: ios

undoing changes
  iOS/.jazzy.yaml
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/Equality.generated.swift
Due: ios

adding accessibility header
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Accessibility/Accessibility.swift
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Accessibility/AccessibilityTests.swift
  iOS/Sources/Beagle/Sources/Renderer/ViewConfigurator.swift
Due: ios

adjust prefix
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/res/values/ids.xml
  android/beagle/src/main/res/values/style.xml
Due: android

feat: Adding scrollIndicator to the ListView in Beagle Backend (#1319)
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
Due: backend

fix problems with proguard
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ActionReportFactory.kt
Due: android

adjust unit test
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewTest.kt
Due: android

change class to object
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/newanalytics/ActionAnalyticsConfig.kt
Due: backend

change class to data class
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
Due: backend

feat: Adding scrollIndicator to the ListView in Beagle Android (#1318)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/res/values/style.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/list/ListViewActivity.kt
Due: android

Add tests
  .gitignore
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/test/beagle_image_test.dart
  flutter/beagle_components/test/goldens/beagle_image_local.png
  flutter/beagle_components/test/goldens/beagle_image_remote.png
  flutter/beagle_components/test/image/image_mock_data.dart
  flutter/beagle_components/test/image/image_mock_http_client.dart
Due: flutter

feat: add action analytics in backend (#1265)
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/ActionAnalyticsConfigMixin.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/BeagleModule.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/newanalytics/ActionAnalyticsConfig.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/ActionAnalytics.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildren.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Condition.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Confirm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Form.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SubmitForm.kt
Due: backend

adjust sample app
  flutter/sample/lib/main.dart
Due: flutter

refactor
  flutter/beagle_components/test/image/image_mock_http_client.dart
Due: flutter

chore: remove pubspec.lock files from project
  flutter/beagle/example/pubspec.lock
  flutter/beagle/pubspec.lock
  flutter/beagle_components/pubspec.lock
  flutter/sample/pubspec.lock
Due: flutter

feat: add support to accessibility header android and backend
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/AccessibilitySetup.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/Accessibility.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/AccessibilitySetupTest.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/core/AccessibilityBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Accessibility.kt
Due: android, backend

adjust toolbar manager
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
Due: android

chore: remove pubspec.lock files from project (#1332)
  flutter/beagle/example/pubspec.lock
  flutter/beagle/pubspec.lock
  flutter/beagle_components/pubspec.lock
  flutter/sample/pubspec.lock
Due: flutter

Update android/beagle/src/main/java/br/com/zup/beagle/core/Accessibility.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/Accessibility.kt
Due: android

Update backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Accessibility.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Accessibility.kt
Due: backend

feat: add support to accessibility header in android and backend (#1333)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/AccessibilitySetup.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/Accessibility.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/AccessibilitySetupTest.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/core/AccessibilityBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Accessibility.kt
Due: android, backend

adding suggestion
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/ListViewTests.swift
Due: none

minimum_coverage simplecov schema
  schema-ruby-erb/model_generation/tests/base_unit_test.rb
Due: none

feat: Adding scrollIndicator to the ListView (#1294)
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/ListViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/test_whenDecodingJson_thenItShouldReturnAListView.1.txt
Due: ios

init schema tests workflow
  .github/workflows/schema_tests.yml
Due: none

improve test
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ComponentPropertyAssigner.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ActionReportFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ComponentPropertyAssignerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ActionReportFactoryTest.kt
Due: android

fix test
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ActionReportFactoryTest.kt
Due: android

Path conditions:
  ios: any of: iOS/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  android: any of: android/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  backend: any of: backend/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  flutter: any of: flutter/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
