Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags:
          - ios
      android:
        target: 70%
        threshold: 7%
        flags:
          - android
      backend:
        target: 70%
        threshold: 7%
        flags:
          - backend
      flutter:
        target: 70%
        threshold: 7%
        flags:
          - flutter
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
    carryforward: true
  flutter:
    paths:
      - flutter/
    carryforward: true
ignore:
  - "iOS/Example"
  - "iOS/Libraries"
  - "iOS/Test"
  - "iOS/Tests"
  - "iOS/Sources/Beagle/BeagleTests"
  - "iOS/Sources/Beagle/**/*Test*.swift"
  - "iOS/Sources/Beagle/**/*Tests*.swift"

Update flutter/beagle/lib/interface/global_context.dart
  flutter/beagle/lib/interface/global_context.dart
Due: flutter

fix: adjust global context in flutter (#1683)
  flutter/beagle/lib/beagle.dart
  flutter/beagle/lib/interface/global_context.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle_components/lib/beagle_text.dart
  flutter/sample/ios/Podfile.lock
  flutter/sample/lib/beagle_sample_screen.dart
  flutter/sample/lib/main.dart
Due: flutter

docs: adjust readme.md
  flutter/readme.md
Due: flutter

docs: added links to readme.md
  flutter/readme.md
Due: flutter

feat: add Android kapt multi module support
  android/build.gradle
  android/moduleA/build.gradle
  android/moduleA/src/main/java/br/com/zup/beagle/android/modulea/ModuleABeagleConfig.kt
  android/moduleB/build.gradle
  android/moduleB/src/main/java/br/com/zup/beagle/android/moduleb/ModuleBController3.kt
  android/moduleB/src/main/java/br/com/zup/beagle/android/moduleb/design/ModuleBDesignSystem.kt
  android/moduleB/src/main/java/br/com/zup/beagle/android/moduleb/http/ModuleBHttpClientFactory.kt
  android/moduleC/build.gradle
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/ModuleCBeagleConfig.kt
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/ModuleCController1.kt
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/http/CoroutineDispatchers.kt
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/http/HttpURLConnectionExtensions.kt
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/http/ModuleCHttpClientDefault.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleGeneratorFunction.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleProcessorUtils.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenericFactoryProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/PropertyImplementationManager.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionComponentRegistrar.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionCustomAdapter.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionCustomValidator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/RegisterControllerProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/processor/BeagleAnnotationProcessor.kt
  android/sample/build.gradle
  android/sample/src/main/java/br/com/zup/beagle/sample/AppDesignSystem.kt
Due: android

chore: change pubspec versions
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/pubspec.yaml
Due: flutter

bugfix: docs reference redirect to android page on s3 bucket
  fastlane/kdocs/indexTemplate/index.html
Due: none

bugfix: docs reference redirect to android page on s3 bucket (#1685)
  fastlane/kdocs/indexTemplate/index.html
Due: none

feat: flutter alpha preparation (#1684)
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/pubspec.yaml
  flutter/readme.md
  flutter/sample/lib/main.dart
Due: flutter

chore: fixed beagle and beagle-components versions
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/pubspec.yaml
Due: flutter

chore: fixed readme.md link
  flutter/readme.md
Due: flutter

fix: flutter version and readme link (#1686)
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/pubspec.yaml
  flutter/readme.md
Due: flutter

chore: changed pubspec versions
  flutter/beagle/CHANGELOG.md
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/CHANGELOG.md
  flutter/beagle_components/pubspec.yaml
  flutter/readme.md
Due: flutter

chore: CHANGELOG.md updated
  flutter/beagle/CHANGELOG.md
Due: flutter

chore: CHANGELOG.md versions updated
  flutter/readme.md
Due: flutter

chore: changed pubspec versions (#1687)
  flutter/beagle/CHANGELOG.md
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/CHANGELOG.md
  flutter/beagle_components/pubspec.yaml
  flutter/readme.md
Due: flutter

feat: add Android kapt multi module support
  android/moduleA/build.gradle
  android/moduleA/src/main/java/br/com/zup/beagle/android/modulea/ModuleABeagleConfig.kt
  android/moduleB/build.gradle
  android/moduleC/build.gradle
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/ModuleCBeagleConfig.kt
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/ModuleCBeagleConfig2.kt
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/ModuleCController1.kt
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/ModuleCController2.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleProcessorUtils.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/Constants.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenerateFunctionOperation.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenerateFunctionWidget.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/GenericTypeElementManagement.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionAction.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionCustomAdapter.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionCustomValidator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/RegisterControllerProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/processor/BeagleAnnotationProcessor.kt
  android/sample/build.gradle
Due: android

feat: add Android kapt multi module support
  android/build.gradle
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/moduleB/src/main/java/br/com/zup/beagle/android/moduleb/ModuleBController3.kt
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/ModuleCController1.kt
  android/moduleC/src/main/java/br/com/zup/beagle/android/modulec/ModuleCController2.kt
  android/processor-shared-code/build.gradle
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleProcessorUtils.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/RegisterControllerProcessor.kt
Due: android

feat: add Android kapt multi module support
  android/build.gradle
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleGeneratorFunction.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/PropertiesRegistrarProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/GenericTypeElementManagement.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/PropertyImplementationManager.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionAction.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/processor/BeagleAnnotationProcessor.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/activities/DeepLinkActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/activities/NavigationBarActivity.kt
Due: android

bugfix: Dokka proxy file
  fastlane/kdocs/indexTemplate/index.html
Due: none

fix: temporary solution to adjust loop inside page docs
  fastlane/kdocs/indexTemplate/index.html
Due: none

feat: add Android kapt multi module support
  android/build.gradle
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleGeneratorFunction.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/TypeElementImplementationManager.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionComponentRegistrar.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/RegisterControllerProcessor.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppDesignSystem.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/constants/EndPointConstants.kt
  android/settings.gradle
Due: android

feat: add Android kapt multi module support
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleProcessorUtils.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/PropertiesRegistrarProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionComponentRegistrar.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionCustomAdapter.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/RegisterControllerProcessor.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/AnnotationTestBuilder.kt
Due: android, backend

feat: add Android kapt multi module support
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/AnalyticsProviderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/AnalyticsTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleConfigTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleImageDownloaderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleLoggerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/DeepLinkHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/DesignSystemTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/FormLocalActionHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/HttpClientTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/StoreHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/UrlBuilderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredControllerGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/AnalyticsMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/AnalyticsProviderMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/BeagleConfigMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/BeagleSetupMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/ControllersMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/DeepLinkHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/DesignSystemMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/FormLocalActionHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/HttpClientMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/ImageDownloaderMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/LoggerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/StoreHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/UrlBuilderMocks.kt
Due: android

feat: add Android kapt multi module support
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/AnalyticsProviderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleImageDownloaderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleLoggerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/DeepLinkHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/DesignSystemTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/FormLocalActionHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/extensions/KotlinCompilerExtensions.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredControllerGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/components/form/core/ValidatorHandler.kt
  android/processor/src/test/java/br/com/zup/beagle/android/data/serializer/adapter/generic/BeagleTypeAdapter.kt
  android/processor/src/test/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
Due: android

:wrench: Adds apache rat plugin for gradle to verify headers, for now we only print the fails, but we can change it later
  android/build.gradle
  android/licensing.gradle
Due: android

:wrench: Adds missing license headers to android module
  NameFile.csv
  android/beagle/proguard-rules.pro
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/SimpleJsonAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/SimpleJsonArrayAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/defaults/CharSequenceAdapter.kt
  android/beagle/src/main/res/layout/beagle_include_error_server_driven.xml
Due: android

Delete NameFile.csv
  NameFile.csv
Due: none

chore: Adds missing license headers to android module (#1693)
  android/beagle/proguard-rules.pro
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/SimpleJsonAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/SimpleJsonArrayAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/defaults/CharSequenceAdapter.kt
  android/beagle/src/main/res/layout/beagle_include_error_server_driven.xml
Due: android

fix: adds license, readme and http library
  flutter/beagle/LICENSE
  flutter/beagle/README.md
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/LICENSE
  flutter/beagle_components/README.md
  flutter/beagle_components/pubspec.yaml
Due: flutter

fix: adds license, readme and http library (#1695)
  flutter/beagle/LICENSE
  flutter/beagle/README.md
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/LICENSE
  flutter/beagle_components/README.md
  flutter/beagle_components/pubspec.yaml
Due: flutter

fix: added beagle to the example project
  flutter/beagle/example/lib/main.dart
  flutter/beagle/example/test/widget_test.dart
Due: flutter

fix: added beagle to the example project (#1696)
  flutter/beagle/example/lib/main.dart
  flutter/beagle/example/test/widget_test.dart
Due: flutter

update
  tests/bff-server/gradle.properties
Due: none
