Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

ajusted fastfile
  .github/workflows/postRelease.yml
  fastlane/Fastfile
Due: none

fixfinished fastfile code
  .github/workflows/postRelease.yml
  fastlane/Fastfile
Due: none

changed PR title and message
  fastlane/Fastfile
Due: none

added error view wfor lazy loading, treatment to dont show error for each component at the same time
  iOS/Example/BeagleDemo/BeagleDemo/CustomBeagleNavigationController.swift
Due: ios

fixed misspelling and simplefied some code
  iOS/Example/BeagleDemo/BeagleDemo/CustomBeagleNavigationController.swift
Due: ios

added submitForm and action treatment
  iOS/Example/BeagleDemo/BeagleDemo/CustomBeagleNavigationController.swift
Due: ios

Remove optional from orign & fix screen context
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/RawComponent.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/ScreenComponent/ScreenComponent.swift
  iOS/Sources/Beagle/Sources/Action/Action.swift
  iOS/Sources/Beagle/Sources/Action/Types/Alert.swift
  iOS/Sources/Beagle/Sources/Action/Types/Confirm.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormLocalAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/SubmitForm.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/FormLocalActionTests.swift
  iOS/Sources/Beagle/Sources/Analytics/AnalyticsGestureRecognizer.swift
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForScreenEvent.1.txt
  iOS/Sources/Beagle/Sources/Components/Form+Renderable/Submit/FormSubmit+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/NavigationBar+UIKit.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/Tests/ScreenComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/ContainerTests.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/ComponentHostController.swift
  iOS/Sources/Beagle/Sources/Context/FormManager.swift
  iOS/Sources/Beagle/Sources/Context/Tests/FormManagerTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/Screen+Renderable.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Due: ios

feat: context improvements iOS (#613)
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/xcshareddata/xcschemes/BeagleDemo.xcscheme
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Schema/Sources/ContextExpression/DynamicObject.swift
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Schema/Sources/ContextExpression/Parser.swift
  iOS/Schema/Sources/ContextExpression/Tests/ExpressionTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_multipleExpressionRawRepresentable.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_multipleExpressionRawRepresentable.2.txt
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Action/Types/SetContext.swift
  iOS/Sources/Beagle/Sources/Common/Observable/Observable.swift
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Button+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/PageIndicator+Renderable/PageIndicator+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/SimpleForm+Renderable/Tests/SimpleFormTests.swift
  iOS/Sources/Beagle/Sources/Components/WebView+Renderable/WebView+Renderable.swift
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/GlobalContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/UIView+ContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/UIView+ContextTests/test_evaluate.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/UIView+ContextTests/test_setContext.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/UIView+ContextTests/test_setContext.2.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/UIView+ContextTests/test_setContext.3.txt
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
Due: ios

Updated backend to run as a JAR to coexist with Android.
  .github/workflows/automated_tests.yml
  backend/automated-tests/build.gradle
  backend/automated-tests/src/main/resources/application.properties
  backend/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  fastlane/Fastfile
  fastlane/automatedTests/start_test_backend.sh
Due: backend

Updated Android test action to manually triggered.
  .github/workflows/automated_tests_android.yml
Due: none

iOS automation.
  .github/workflows/automated_tests.yml
  .github/workflows/automated_tests_android.yml
  .github/workflows/automated_tests_ios.yml
Due: none

Updated iOS action to manually triggered.
  .github/workflows/automated_tests_ios.yml
Due: none

chore: Update test retry (#643)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/FormLocalActionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/WebViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
Due: android

fixed bug to retry all errors at the same time
  iOS/Example/BeagleDemo/BeagleDemo/CustomBeagleNavigationController.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/ErrorView.swift
Due: ios

changed if let for case let
  iOS/Example/BeagleDemo/BeagleDemo/CustomBeagleNavigationController.swift
Due: ios

serverDrivenStateDidChange documentation
  iOS/Sources/Beagle/Sources/Renderer/BeagleNavigationController.swift
Due: ios

remove public method; rename method.
  iOS/Sources/Beagle/Sources/Action/Action.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormLocalAction.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/LazyComponent+Renderable.swift
  iOS/Sources/Beagle/Sources/Context/FormManager.swift
Due: ios

fix null tab
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
Due: ios

fix null tab (#658)
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
Due: ios

refactor: update shot plugin version
  android/automated-tests/build.gradle
  android/automated-tests/screenshots.gradle
  android/automated-tests/src/androidTest/assets/features/ButtonScreen.feature
  android/automated-tests/src/androidTest/assets/features/ListViewScreen.feature
  android/automated-tests/src/androidTest/assets/features/PageViewScreen.feature
  android/automated-tests/src/androidTest/assets/features/ScrollViewScreen.feature
  android/automated-tests/src/androidTest/assets/features/TabViewScreen.feature
  android/automated-tests/src/androidTest/assets/features/TouchableScreen.feature
  android/automated-tests/src/androidTest/java/com/example/automated_tests/snapshot/MainActivityTest.kt
  android/automated-tests/src/debug/AndroidManifest.xml
  android/automated-tests/src/test/java/com/example/automated_tests/BeagleSetupTest.kt
  android/build.gradle
  android/sample/build.gradle
  android/sample/screenshots/br.com.zup.beagle.sample.snapshot.MainActivityTest_testSnapshot.png
  android/sample/src/androidTest/java/br/com/zup/beagle/sample/SampleTestRunner.kt
  android/sample/src/androidTest/java/br/com/zup/beagle/sample/snapshot/MainActivityTest.kt
Due: android

fix lazy component test
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/Tests/LazyComponentTests.swift
Due: ios

inserted unit tests
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewTwoTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
Due: android

Improved output of publish test BFF action.
  fastlane/Fastfile
  fastlane/automatedTests/publish_test_backend.sh
Due: none

Added docker logout step for cleanup in publish lane.
  fastlane/Fastfile
Due: none

Using registry from environment in login and logout.
  fastlane/Fastfile
Due: none

Hiding docker logout from Fastlane logs.
  fastlane/Fastfile
Due: none

created test screenshot image
  android/automated-tests/build.gradle
  android/automated-tests/src/androidTest/java/com/example/automated_tests/TestRunner.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/snapshot/MainActivityTest.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/snapshot/TestRunner.kt
  android/automated-tests/src/debug/AndroidManifest.xml
  android/automated-tests/src/main/java/com/example/automated_tests/MainActivity.kt
Due: android

Fixed fastlane syntax.
  fastlane/Fastfile
Due: none

Update fastlane/Fastfile
  fastlane/Fastfile
Due: none

Replaced publish backend lane with shell script for security.
  .github/workflows/publish_test_backend.yml
  fastlane/Fastfile
  fastlane/automatedTests/publish_test_backend.sh
Due: none

asd
  .github/workflows/release.yml
  fastlane/Fastfile
Due: none

asd
  .github/workflows/release.yml
Due: none

asd
  fastlane/Fastfile
Due: none

changed variables form of use
  .github/workflows/postRelease.yml
  fastlane/Fastfile
Due: none
