Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

Adds doc
  flutter/beagle_components/lib/beagle_button.dart
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/lib/beagle_page_indicator.dart
  flutter/beagle_components/lib/beagle_page_view.dart
  flutter/beagle_components/lib/beagle_tab_bar.dart
  flutter/beagle_components/lib/beagle_text.dart
  flutter/beagle_components/lib/beagle_text_input.dart
  flutter/beagle_components/lib/beagle_touchable.dart
Due: flutter

feat: add new fields in text input
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
Due: android

solve when a attribute is annotated
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ActionReportFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ActionReportFactoryTest.kt
Due: android

schema Android/Backend formatting changes and BeagleJson rule
  android/beagle/src/main/java/br/com/zup/beagle/analytics/ClickEvent.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics/TouchableAnalytics.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/Accessibility.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/AccessibilityComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/IdentifierComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/ServerDrivenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/Style.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/StyleComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/generated/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/Widget.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/core/Flex.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/core/UnitValue.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/ClickEvent.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/TouchableAnalytics.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Accessibility.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/AccessibilityComponent.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/IdentifierComponent.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/ServerDrivenComponent.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/StyleComponent.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/Widget.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/Flex.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/UnitValue.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
  schema-ruby-erb/model_generation/Templates/kotlin_android.erb
  schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
  schema-ruby-erb/model_generation/Templates/kotlin_template_helper.rb
Due: android, backend

add logic in simple form
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/form/SimpleFormBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TextInputBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/form/SimpleForm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
Due: android, backend

schema Android/Backend innerTypes formatting
  android/beagle/src/main/java/br/com/zup/beagle/core/Style.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/core/Flex.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/core/UnitValue.kt
  schema-ruby-erb/model_generation/Templates/kotlin_android.erb
Due: android

some suggestions on queue manipulation of Service
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Analytics/AnalyticsProvider.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/AnalyticsService.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/RecordFactory.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/ActionRecordFactoryTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/AnalyticsServiceTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/ScreenRecordFactoryTests.swift
Due: ios

add unit test to simple form
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/SimpleFormTest.kt
Due: android

adjust style
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
Due: android, backend

change activity
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/activity/AnalyticsActivity.kt
Due: none

resolve detekt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ActionReportFactory.kt
Due: android

adjust test and code
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
Due: android

adjust unit test and name method
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/SimpleFormTest.kt
Due: android

feat: add form validation (#1354)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/SimpleFormTest.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/form/SimpleFormBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TextInputBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/form/SimpleForm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
Due: android, backend

Update flutter/beagle_components/lib/beagle_button.dart
  flutter/beagle_components/lib/beagle_button.dart
Due: flutter

refactor: adjust code simple form and unit test
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/SimpleFormTest.kt
Due: android

adjust unit test
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/SimpleFormTest.kt
Due: android

add name on annotation
  android/beagle/src/main/java/br/com/zup/beagle/android/components/OnInitiableComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormSubmit.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Screen.kt
Due: android

adjust code style
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
Due: android

refactor: fix form validation always submit action (#1356)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/SimpleFormTest.kt
Due: android

restoring horusec to master version
  .github/workflows/horusec_pr.yml
Due: none

Update .github/workflows/automated_tests_appium_android.yml
  .github/workflows/automated_tests_appium_android.yml
Due: none

restoring Runner
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/Runner.kt
Due: none

restoring class
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TextStyleScreenSteps.kt
Due: none

removing comments
  .github/workflows/automated_tests_appium_android.yml
  .github/workflows/automated_tests_appium_ios.yml
  .github/workflows/automated_tests_appium_mobile.yml
Due: none

adds BeagleLazyComponent doc
  flutter/beagle_components/lib/beagle_lazy_component.dart
Due: flutter

feat: Add flutter default WebView component (#1348)
  flutter/beagle_components/lib/beagle_webview.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/pubspec.yaml
  flutter/beagle_components/test/beagle_webview_test.dart
  flutter/sample/lib/main.dart
Due: flutter

adjust schema to root of core
  android/beagle/build.gradle
  backend/framework/build.gradle
  backend/schema.gradle
  schema.gradle
Due: android, backend

adjust schema gradle
  android/build.gradle
  backend/build.gradle
  schema.gradle
Due: android, backend

using interface in component
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
Due: android

chore: Adds flutter components doc (#1353)
  flutter/beagle_components/lib/beagle_button.dart
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/lib/beagle_lazy_component.dart
  flutter/beagle_components/lib/beagle_page_indicator.dart
  flutter/beagle_components/lib/beagle_page_view.dart
  flutter/beagle_components/lib/beagle_tab_bar.dart
  flutter/beagle_components/lib/beagle_text.dart
  flutter/beagle_components/lib/beagle_text_input.dart
  flutter/beagle_components/lib/beagle_touchable.dart
Due: flutter

adjust
  android/build.gradle
Due: android

adjust file schema gradle
  android/beagle/build.gradle
  backend/framework/build.gradle
Due: android, backend

fixing tests and style
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/BeagleStyle.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SimpleForm.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/BeagleTests/Helpers/BeagleScreenViewControllerHelper.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SetContextTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SubmitFormTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SubmitFormTests/test_whenValidationError_onSubmitIsNotTriggered.1.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/TextInputTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithValidationComponent.1.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
  iOS/Sources/Beagle/Sources/Theme/Theme.swift
Due: ios

remove queue
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsProvider.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsService.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleMessageLogsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/AnalyticsServiceTest.kt
Due: android

change AnalyticsProvider.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsProvider.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/AnalyticsServiceTest.kt
Due: android

update on Service due to an edge case
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Analytics/AnalyticsProviderDemo.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/BeagleConfig.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Analytics/Deprecated/DeprecatedAnalytics.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/ActionAttributes.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/AnalyticsService.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/RecordFactory.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/ActionRecordFactoryTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/AnalyticsServiceTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/ScreenRecordFactoryTests.swift
  iOS/Sources/Beagle/Sources/Common/Util/IfSome.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleSetup.swift
Due: ios

change [String: DynamicObject] to DynamicDictionary
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Analytics/AnalyticsProviderDemo.swift
  iOS/Sources/Beagle/Sources/Action/ActionAnalyticsConfig.swift
  iOS/Sources/Beagle/Sources/Analytics/AnalyticsRecord.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/ActionAttributes.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/RecordFactory.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/ActionAttributesTest.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/ActionRecordFactoryTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/AnalyticsServiceTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/ScreenRecordFactoryTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject+Extensions.swift
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
  iOS/Test/DynamicObjectExtension.swift
Due: ios

Path conditions:
  ios: any of: iOS/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  android: any of: android/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  backend: any of: backend/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  flutter: any of: flutter/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
