Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

PR updates
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/LazyComponentSteps.kt
Due: android

refactor: move constant to variable local to help develop understand the deprecation message (#1210)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/RouteAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleRegex.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
Due: android

updating ios feature
  iOS/Tests/AutomatedTestsUITests/Features/LazyComponent.feature
Due: ios

chore: Add canalization to listview endpoint
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Due: backend

test: tab bar functional tests (#1164)
  android/automated-tests/build.gradle
  android/automated-tests/src/androidTest/assets/features/SimpleForm.feature
  android/automated-tests/src/androidTest/assets/features/TabBar.feature
  android/automated-tests/src/androidTest/assets/features/TabView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SimpleFormSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TabBarSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TabViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/screenshotTests/ExampleScreenshotTest.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/matcher/MatcherExtension.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TabBarScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  backend/automated-tests/src/main/resources/images/beagle1.jpg
  backend/automated-tests/src/main/resources/images/beagle2.jpg
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/Assets.xcassets/delete.imageset/Contents.json
  iOS/Tests/AutomatedTests/Assets.xcassets/delete.imageset/delete.png
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/SimpleForm.feature
  iOS/Tests/AutomatedTestsUITests/Features/TabBar.feature
  iOS/Tests/AutomatedTestsUITests/Features/TabView.feature
  iOS/Tests/AutomatedTestsUITests/Steps/SetContextSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TabBarSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TabViewSteps.swift
Due: ios, android, backend

Screen elements screen updated
  android/automated-tests/src/androidTest/assets/features/PageView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
Due: android

starting add proguard
  android/beagle/consumer-rules.pro
  android/sample/build.gradle
Due: android

remove the view on DataActionReport
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ActionRecordFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/DataActionReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ActionRecordFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/AnalyticsServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/DataActionReportTest.kt
Due: android

test: adds lazy component funtional tests (#1171)
  android/automated-tests/src/androidTest/assets/features/LazyComponent.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/LazyComponentSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/LazyComponentScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/LazyFailureScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/LazySuccessScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/WebViewScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Features/LazyComponent.feature
  iOS/Tests/AutomatedTestsUITests/Steps/LazyComponentSteps.swift
Due: ios, android, backend

Solving conflicts
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
Due: backend

refactor AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
Due: android

fix: Fix android listView template item was not calling onInit
  android/beagle/src/main/java/br/com/zup/beagle/android/components/OnInitiableComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/res/values/ids.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/components/OnInitiableComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListViewHolderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ViewExtensionsKtTest.kt
Due: android

fix: Adjust OnInitiableComponent tests
  android/beagle/src/test/java/br/com/zup/beagle/android/components/OnInitiableComponentTest.kt
Due: android

Conflict in bff solved
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
Due: backend

fix SonarCloud
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/AnalyticsServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/DataScreenReportTest.kt
  android/preview/src/test/java/br/com/zup/beagle/android/preview/MyBeagleSetup.kt
Due: android

fix SonarCloud
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ScreenReportFactoryTest.kt
Due: android

change beagle default
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleScope.kt
Due: android

Adding new UI tests to textInput
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/Features/TextInput.feature
  iOS/Tests/AutomatedTestsUITests/Steps/TextInputSteps.swift
Due: ios

refactor: adjust imports
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
Due: android

unused function removed from robots
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
Due: android

add the calls to report action
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/DataScreenReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/AnalyticsViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/AnalyticsServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/DataScreenReportTest.kt
Due: android

fix: Adjust android listView scroll threshold calculation
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
Due: android

fix: android listview oninit actions not been called for template items (#1211)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/OnInitiableComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/res/values/ids.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/components/OnInitiableComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListViewHolderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ViewExtensionsKtTest.kt
Due: android

create primitive types
  schema-ruby-erb/model_generation/Models/Accessibility/accessibility.rb
  schema-ruby-erb/model_generation/Models/Action/action.rb
  schema-ruby-erb/model_generation/Models/Analytics/analytics_event.rb
  schema-ruby-erb/model_generation/Models/Analytics/click_event.rb
  schema-ruby-erb/model_generation/Models/Analytics/touchable_analytics.rb
  schema-ruby-erb/model_generation/Models/Layout/Flex/flex.rb
  schema-ruby-erb/model_generation/Models/Layout/corner_radius.rb
  schema-ruby-erb/model_generation/Models/Layout/edge_value.rb
  schema-ruby-erb/model_generation/Models/Layout/size.rb
  schema-ruby-erb/model_generation/Models/Layout/style.rb
  schema-ruby-erb/model_generation/Models/Layout/unit_value.rb
  schema-ruby-erb/model_generation/Models/ServerDriven/server_driven_component.rb
  schema-ruby-erb/model_generation/Models/Types/abstract.rb
  schema-ruby-erb/model_generation/Models/Types/boolean.rb
  schema-ruby-erb/model_generation/Models/Types/double.rb
  schema-ruby-erb/model_generation/Models/Types/enum.rb
  schema-ruby-erb/model_generation/Models/Types/integer.rb
  schema-ruby-erb/model_generation/Models/Types/interface.rb
  schema-ruby-erb/model_generation/Models/Types/string.rb
  schema-ruby-erb/model_generation/Models/Widgets/button.rb
  schema-ruby-erb/model_generation/Models/Widgets/identifier_component.rb
  schema-ruby-erb/model_generation/Models/Widgets/style_component.rb
  schema-ruby-erb/model_generation/Models/Widgets/widget.rb
  schema-ruby-erb/model_generation/Models/base_component.rb
  schema-ruby-erb/model_generation/Synthax/Attributes/field.rb
  schema-ruby-erb/model_generation/Synthax/Types/enum_type.rb
  schema-ruby-erb/model_generation/Synthax/Types/type_to_string.rb
  schema-ruby-erb/model_generation/Templates/kotlin.erb
  schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
  schema-ruby-erb/model_generation/Templates/kotlin_template_helper.rb
  schema-ruby-erb/model_generation/Templates/template_helper.rb
  schema-ruby-erb/model_generation/Tests/Kotlin/test.sh
  schema-ruby-erb/model_generation/main.rb
Due: none

refactor typeName to type
  schema-ruby-erb/model_generation/Models/Accessibility/accessibility.rb
  schema-ruby-erb/model_generation/Models/Analytics/click_event.rb
  schema-ruby-erb/model_generation/Models/Analytics/touchable_analytics.rb
  schema-ruby-erb/model_generation/Models/Layout/Flex/flex.rb
  schema-ruby-erb/model_generation/Models/Layout/corner_radius.rb
  schema-ruby-erb/model_generation/Models/Layout/edge_value.rb
  schema-ruby-erb/model_generation/Models/Layout/size.rb
  schema-ruby-erb/model_generation/Models/Layout/style.rb
  schema-ruby-erb/model_generation/Models/Layout/unit_value.rb
  schema-ruby-erb/model_generation/Models/Widgets/accessibility_component.rb
  schema-ruby-erb/model_generation/Models/Widgets/button.rb
  schema-ruby-erb/model_generation/Models/Widgets/identifier_component.rb
  schema-ruby-erb/model_generation/Models/Widgets/style_component.rb
  schema-ruby-erb/model_generation/Synthax/Attributes/field.rb
  schema-ruby-erb/model_generation/Templates/kotlin.erb
  schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
  schema-ruby-erb/model_generation/Templates/kotlin_template_helper.rb
  schema-ruby-erb/model_generation/Templates/template_helper.rb
Due: none

adjust moshi serialization
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/android/annotation/RegisterBeagleAdapter.kt
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/annotation/RegisterAction.kt
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/annotation/RegisterWidget.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/InputWidget.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicatorComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
  android/sample/build.gradle
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Due: android

fix: adjust bff for listview automated testes
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Book.kt
Due: backend

refactor: refactor of android scroll actions
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/GenericSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/action/SmoothScrollPercentAction.kt
Due: android

fix: Adjust android listView scroll threshold calculation (#1215)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
Due: android

refactor: refactor of orientation change steps
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/GenericSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ListViewSteps.kt
Due: android

refactor imports kotlin
  schema-ruby-erb/model_generation/Templates/kotlin.erb
  schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
  schema-ruby-erb/model_generation/Templates/kotlin_template_helper.rb
  schema-ruby-erb/model_generation/Templates/template_helper.rb
Due: none

test: Adds android listview instrumentation tests.
  android/automated-tests/build.gradle
  android/automated-tests/src/androidTest/assets/features/ListView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/GenericSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ListViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/action/SmoothScrollAction.kt
Due: android

refact: change activity lifecycle management in android listview instrumented tests
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ListViewSteps.kt
Due: android

Improvement of texts to describe the scenarios
  android/automated-tests/src/androidTest/assets/features/TextInput.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputSteps.kt
Due: android

adjust proguard
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/annotation/RegisterAction.kt
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/annotation/RegisterWidget.kt
  android/beagle/consumer-rules.pro
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleServiceWrapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/SerializerUtils.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/AndroidActionJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/ServerDrivenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/Widget.kt
  android/sample/build.gradle
  android/sample/src/main/AndroidManifest.xml
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Due: android

fix type error
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ActionRecordFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/DataActionReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ActionAnalytics.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/Widget.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ActionRecordFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/AnalyticsServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/DataActionReportTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
Due: android

remove import manager and implement inherited in kotlin android
  schema-ruby-erb/model_generation/Templates/kotlin.erb
  schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
  schema-ruby-erb/model_generation/Templates/kotlin_template_helper.rb
  schema-ruby-erb/model_generation/Templates/template_helper.rb
  schema-ruby-erb/model_generation/main.rb
Due: none

change message
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
Due: android

revert ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
Due: android

revert Widget.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/Widget.kt
Due: android

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
