Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags:
          - ios
      android:
        target: 70%
        threshold: 7%
        flags:
          - android
      backend:
        target: 70%
        threshold: 7%
        flags:
          - backend
      flutter:
        target: 70%
        threshold: 7%
        flags:
          - flutter
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
    carryforward: true
  flutter:
    paths:
      - flutter/
    carryforward: true
ignore:
  - "iOS/Example"
  - "iOS/Libraries"
  - "iOS/Test"
  - "iOS/Tests"
  - "iOS/Sources/Beagle/BeagleTests"
  - "iOS/Sources/Beagle/**/*Test*.swift"
  - "iOS/Sources/Beagle/**/*Tests*.swift"

chore: remove unnecessary code
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ImageRemoteScreenBuilder.kt
Due: android, backend

chore: removed unnecessary changes
  tests/appium/app-android/app/build.gradle
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/Runner.kt
Due: none

chore: removed unused imports
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloader.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
Due: android

feat: Add ListVew multiple templates
  android/beagle/src/main/java/br/com/zup/beagle/android/components/GridView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewTemplate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewTemplateJson.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/list/ListViewActivity.kt
Due: android

Fix script to run BFF from custom branch
  .github/workflows/automated_tests_appium_android.yml
Due: none

Update .github/workflows/automated_tests_appium_android.yml
  .github/workflows/automated_tests_appium_android.yml
Due: none

fix: run BFF on custom branch (#1579)
  .github/workflows/automated_tests_appium_android.yml
Due: none

test: add image snapshot reference to CI
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ImageScreenSteps.kt
  tests/appium/project/src/test/resources/screenshots_database/android/Google Pixel 4/ImageScreen.png
Due: none

chore: changed description and constant names
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ImageScreenSteps.kt
  tests/appium/project/src/test/resources/features/Image.feature
Due: none

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
Due: none

test: updated iphone 11 ImageScreen
  tests/appium/project/src/test/resources/screenshots_database/ios/iPhone 11/ImageScreen.png
Due: none

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
Due: none

fix: image android with screenshot tests (#1578)
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloader.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloaderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ImageRemoteScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ImageScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/ImageConstants.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/AppDesignSystem.kt
  tests/appium/app-android/app/src/main/res/drawable-v21/beagle_image.png
  tests/appium/app-android/app/src/main/res/drawable/beagle.png
  tests/appium/app-android/app/src/main/res/drawable/beagle_logo.png
  tests/appium/app-android/build.gradle
  tests/appium/app-android/gradle/wrapper/gradle-wrapper.properties
  tests/appium/app-ios/AppiumApp/AppiumApp.xcodeproj/xcshareddata/xcschemes/AppiumApp.xcscheme
  tests/appium/app-ios/AppiumApp/AppiumApp/Assets.xcassets/beagle_logo.imageset/Contents.json
  tests/appium/app-ios/AppiumApp/AppiumApp/Assets.xcassets/beagle_logo.imageset/beagle_logo.png
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ImageScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/Runner.kt
  tests/appium/project/src/test/resources/features/Image.feature
  tests/appium/project/src/test/resources/screenshots_database/android/Google Pixel 4/ImageScreen.png
  tests/appium/project/src/test/resources/screenshots_database/android/Pixel_3a_API_30_x86/ImageScreen.png
  tests/appium/project/src/test/resources/screenshots_database/android/Pixel_4_API_30/ImageScreen.png
  tests/appium/project/src/test/resources/screenshots_database/ios/iPhone 11/ImageScreen.png
Due: android, backend

fix: iOS - ListView async layout changes
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewController.swift
Due: ios

chore: update Gemfile.lock
  Gemfile.lock
Due: none

chore: update horusec_pr.yml
  .github/workflows/horusec_pr.yml
Due: none

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/resources/features/ListView.feature
Due: none

chore: ignore Gemfile.lock in horusec_pr.yml
  .github/workflows/horusec_pr.yml
Due: none

chore: update Gemfile.lock (#1580)
  .github/workflows/horusec_pr.yml
  Gemfile.lock
Due: none

update
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/resources/features/ListView.feature
Due: none

update
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
  tests/appium/project/src/test/resources/features/ListView.feature
Due: none

listview templates
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDecodingJsonListView.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDecodingJsonListViewWithTemplate.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDecodingJsonListViewWithoutChildren.1.txt
  iOS/Sources/Beagle/BeagleTests/ContextExpression/Expression/OperationEvaluation/OperationEvaluationTests.swift
  iOS/Sources/Beagle/BeagleTests/Logger/BeagleLoggerTests.swift
  iOS/Sources/Beagle/BeagleTests/Logger/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/BeagleTests/Setup/BeagleSetupTests.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/Widget/GridView/GridView+Extensions.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Evaluate.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Expression.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/OperationsProvider.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
Due: ios

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
  tests/appium/project/src/test/resources/features/ListView.feature
Due: none

fix warning
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView.swift
Due: ios

cleanup and docs
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/Equality.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/GridViewScreen.swift
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/GridViewTests.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabView/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/Widget/GridView/GridView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/GridView/GridView.swift
Due: ios

update
  tests/appium/project/src/test/resources/features/ListView.feature
Due: none

impl
  android/automated-tests/src/androidTest/assets/features/ListView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ListViewSteps.kt
Due: android

text commit
  tests/appium/project/src/test/resources/features/SimpleForm.feature
Due: none

Updates the http client default
  android/sample/src/main/java/br/com/zup/beagle/sample/config/HttpClientDefault.kt
Due: android

revert
  tests/appium/project/src/test/resources/features/ListView.feature
  tests/appium/project/src/test/resources/features/SimpleForm.feature
Due: none

revert
  tests/appium/project/src/test/resources/features/ListView.feature
Due: none

revert
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
Due: none

fix: iOS - ListView layout changes (#1556, #1581) (#1582)
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewController.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
Due: ios

chore: Add tests
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Due: android

Update MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Due: android

line formatting applied
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
Due: none

update
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/GenericSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/SimpleFormScreenSteps.kt
  tests/appium/project/src/test/resources/features/SimpleForm.feature
Due: none
