Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

refactor kotlin imports
  schema-ruby-erb/model_generation/Templates/kotlin.erb
  schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
  schema-ruby-erb/model_generation/Templates/kotlin_template_helper.rb
  schema-ruby-erb/model_generation/Templates/template_helper.rb
  schema-ruby-erb/model_generation/main.rb
Due: none

Update imports
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
Due: backend

Screen change
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
Due: backend

Updating Simple form UI tests
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/SimpleForm.feature
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormSteps.swift
Due: ios

Add scenario five on the screen
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/PageViewSteps.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
  android/build.gradle
Due: android

Removing unnecessary cases
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
Due: ios

Suitability with web
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
Due: backend

Screen update
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
Due: backend

test: ios - functional tests to simple form component (#1140)
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/SimpleForm.feature
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormSteps.swift
Due: ios

refactor class processor
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessor.kt
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/GenericFactoryProcessor.kt
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/InternalWidgetFactoryProcessor.kt
  android/internal-processor/src/test/java/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessorTest.kt
  android/internal-processor/src/test/java/br/com/zup/beagle/android/internal/processor/TestClasses.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleGeneratorFunction.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenerateFunctionOperation.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenerateFunctionWidget.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/RegisteredOperationGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterOperationsProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterWidgetProcessor.kt
Due: android

setContext tests done
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SetContextSteps.swift
Due: ios

removing unused imports
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SetContextScreenBuilder.kt
Due: backend

adding ios tests
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Features/Confirm.feature
  iOS/Tests/AutomatedTestsUITests/Steps/AddChildrenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ConditionalActionSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ConfirmActionSteps.swift
Due: ios

New screen idea to suit all platforms
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
Due: backend

Navigation bar was removed
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
Due: backend

refactor: remove modedule annotation and put all annotations in android-annotation
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/annotation/BeaglePreview.kt
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/annotation/RegisterAction.kt
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/annotation/RegisterOperation.kt
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/annotation/RegisterWidget.kt
  android/annotation/build.gradle
  android/annotation/gradle.properties
  android/beagle/build.gradle
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/internal-processor/build.gradle
  android/processor-shared-code/build.gradle
  android/processor/build.gradle
  android/settings.gradle
Due: android

start of listview automated testing services
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ListController.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Book.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Character.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Genre.kt
Due: backend

test: add test to internal processor (#1138)
  android/automated-tests/build.gradle
  android/beagle/build.gradle
  android/build.gradle
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/internal-processor/build.gradle
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessor.kt
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/GenericFactoryProcessor.kt
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/InternalWidgetFactoryProcessor.kt
  android/internal-processor/src/test/java/br/com/zup/beagle/android/components/form/InputWidget.kt
  android/internal-processor/src/test/java/br/com/zup/beagle/android/components/page/PageIndicatorComponent.kt
  android/internal-processor/src/test/java/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessorTest.kt
  android/internal-processor/src/test/java/br/com/zup/beagle/android/internal/processor/TestClasses.kt
  android/internal-processor/src/test/java/br/com/zup/beagle/android/operation/Operation.kt
  android/internal-processor/src/test/java/br/com/zup/beagle/android/widget/WidgetView.kt
  android/preview/build.gradle
  android/processor-shared-code/build.gradle
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleGeneratorFunction.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleSetupRegisteredWidgetGenerator.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenerateFunctionOperation.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenerateFunctionWidget.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/KotlinPoetExtensions.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/RegisteredOperationGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleAnnotationProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleClasses.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterActionProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterOperationsProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterWidgetProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/ValidatorHandlerProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/TypeElementImplementationManager.kt
  fastlane/Fastfile
Due: android

Confirm update
  android/automated-tests/src/androidTest/assets/features/Confirm.feature
Due: android

test: setContext tests (#1141)
  android/automated-tests/src/androidTest/assets/features/ListView.feature
  android/automated-tests/src/androidTest/assets/features/SetContext.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SetContextSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SetContextScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Features/SetContext.feature
  iOS/Tests/AutomatedTestsUITests/Steps/SetContextSteps.swift
Due: ios, android, backend

mock of the characters service for the automated tests of the listview
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ListController.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Character.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/CharacterResponse.kt
Due: backend

PR update
  android/automated-tests/src/androidTest/assets/features/Confirm.feature
Due: android

PR updated
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ConfirmScreenBuilder.kt
Due: backend

create tests to actions
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenerateFunctionOperation.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/KotlinPoetExtensions.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterActionProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisteredActionGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/ValidatorHandlerProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/TypeElementImplementationManager.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionAction.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/processor/BeagleAnnotationProcessor.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredActionGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/ActionsMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessorTest.kt
Due: android

mock of the categories service for the automated tests of the listview
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ListController.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Genre.kt
Due: backend

mock of the books by category service for the automated tests of the listview
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ListController.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Book.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/CharacterResponse.kt
Due: backend

mock of the books by page service for the automated tests of the listview
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ListController.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Book.kt
Due: backend

feat: handle config changes for onInit calls
  android/beagle/src/main/java/br/com/zup/beagle/android/components/OnInitiableComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewModels.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/GenerateIdManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/OnInitViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/OnInitiableComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListViewHolderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/GenerateIdManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/OnInitViewModelTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModelTest.kt
  android/build.gradle
Due: android

test: refactor to new test style
  android/beagle/src/test/java/br/com/zup/beagle/android/components/OnInitiableComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListViewHolderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/GenerateIdManagerTest.kt
Due: android

Initial screen idea for listView tests
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Due: backend

create unit test to custom adapter
  android/internal-processor/src/test/java/br/com/zup/beagle/android/internal/processor/TestClasses.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenericFactoryProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleClasses.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterBeagleAdapterProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionCustomAdapter.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredCustomAdapterGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/ActionsMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/CustomAdapterMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/OperationsMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/WidgetsMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/data/serializer/adapter/generic/ParameterizedTypeFactory.kt
Due: android

adjust lint
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/ValidatorHandlerProcessor.kt
Due: android

feat: handle config changes for onInit calls (#1146)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/OnInitiableComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewModels.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/GenerateIdManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/OnInitViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/OnInitiableComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListViewHolderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/GenerateIdManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/OnInitViewModelTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModelTest.kt
  android/build.gradle
Due: android

add test to validator
  android/internal-processor/src/test/java/br/com/zup/beagle/android/internal/processor/TestClasses.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenericFactoryProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterBeagleAdapterProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/ValidatorHandlerProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/PropertyImplementationManager.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionCustomAdapter.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionCustomValidator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/processor/BeagleAnnotationProcessor.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredCustomValidatorGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/ActionsMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/CustomAdapterMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/CustomValidatorMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/OperationsMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/WidgetsMocks.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/validators/TextNotBlankValidator.kt
Due: android

Fixing Xcode 12 dependencies problem and tests.
  iOS/Beagle.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/xcshareddata/xcschemes/BeagleDemo.xcscheme
  iOS/Libraries/YogaKit/YogaKit.xcodeproj/project.pbxproj
  iOS/Libraries/YogaKit/YogaKit.xcodeproj/xcshareddata/xcschemes/YogaKit.xcscheme
  iOS/Schema/BeagleSchema.xcodeproj/xcshareddata/xcschemes/Schema.xcscheme
  iOS/Schema/Sources/ServerDrivenComponent/ListView/ListView.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageView/PageView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/ScrollView.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabView/TabView.swift
  iOS/Schema/Sources/Widgets/Container/Container.swift
  iOS/Schema/Sources/Widgets/SimpleForm/SimpleForm.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/xcshareddata/xcschemes/All.xcscheme
  iOS/Sources/Beagle/Beagle.xcodeproj/xcshareddata/xcschemes/Beagle.xcscheme
  iOS/Sources/Preview/BeaglePreview.xcodeproj/project.pbxproj
  iOS/Sources/Preview/BeaglePreview.xcodeproj/xcshareddata/xcschemes/BeaglePreview.xcscheme
  iOS/Tests/AutomatedTests.xcodeproj/xcshareddata/xcschemes/AutomatedTests.xcscheme
  iOS/Tests/AutomatedTests.xcodeproj/xcshareddata/xcschemes/AutomatedTestsUITests.xcscheme
Due: ios

add test to registered controller
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleClasses.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredControllerGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/ControllersMocks.kt
Due: android

schema swift template tweaks
  schema-ruby-erb/model_generation/Templates/swift.erb
  schema-ruby-erb/model_generation/Templates/template_helper.rb
Due: none

init third listview for automated testes
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Due: android, backend
