Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

Update android/automated-tests/src/androidTest/java/com/example/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/java/com/example/automatedTests/cucumber/robots/ScreenRobot.kt
Due: android

Update android/automated-tests/src/androidTest/java/com/example/automatedTests/cucumber/steps/ButtonScreen.kt
  android/automated-tests/src/androidTest/java/com/example/automatedTests/cucumber/steps/ButtonScreen.kt
Due: android

Update backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
Due: backend

Update backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ExpressionEscapingScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ExpressionEscapingScreenBuilder.kt
Due: backend

Update android/automated-tests/src/androidTest/java/com/example/automatedTests/cucumber/steps/ListViewScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automatedTests/cucumber/steps/ListViewScreenSteps.kt
Due: android

Update android/automated-tests/src/androidTest/java/com/example/automatedTests/cucumber/steps/ScrollViewScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automatedTests/cucumber/steps/ScrollViewScreenSteps.kt
Due: android

fixing some automated tests PR issue
  android/automated-tests/src/androidTest/java/com/example/automatedTests/cucumber/steps/ButtonScreen.kt
  android/automated-tests/src/androidTest/java/com/example/automatedTests/cucumber/steps/Constants.kt
  android/automated-tests/src/androidTest/java/com/example/automatedTests/cucumber/steps/ImageScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automatedTests/cucumber/steps/ListViewScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automatedTests/cucumber/steps/PageViewScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automatedTests/cucumber/steps/ScrollViewScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automatedTests/cucumber/steps/SimpleFormScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automatedTests/cucumber/steps/TabViewScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automatedTests/cucumber/steps/TouchableScreenSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NavigationBarScreenBuilder.kt
Due: android, backend

fix: 1.2.2 iOS release (#961)
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/Equality.generated.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/Tests/TabViewUIComponentTests.swift
Due: ios

adding image black hole
  iOS/Example/BeagleDemo/BeagleDemo/Assets.xcassets/blackHole.imageset/Contents.json
  iOS/Example/BeagleDemo/BeagleDemo/Assets.xcassets/blackHole.imageset/buracoNegro.jpg
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabViewScreen.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarItemUIComponent.swift
Due: ios

DynamicObject evaluate refactor
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/Beagle/Sources/ContextExpression/GlobalContext.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/GlobalContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/UIView+ContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/ValueEvaluateTest.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Value+Evaluate.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
Due: ios

fixing some bugs + tests
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/TabBarCollectionViewCellTests.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/TabBarUIComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/Tests/TabViewUIComponentTests.swift
  iOS/Sources/Beagle/Sources/Theme/ThemeTests.swift
Due: ios

add set/get/clear globalContext with default parameters
  iOS/Example/BeagleDemo/BeagleDemo/Screens/GlobalContextScreen.swift
  iOS/Sources/Beagle/Sources/ContextExpression/GlobalContext.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/GlobalContextTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
Due: ios

command executed to recover commit f208dba2
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Condition.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/context/Bind.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/context/ContextComponent.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/form/Form.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Screen.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ScrollView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
Due: backend

command executed to recover commit 556ce2ad
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildrenAction.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SetContext.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SubmitForm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/context/ContextData.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ComposeComponent.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/pager/PageIndicator.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/ScrollAxis.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/TextInputType.kt
Due: backend

fetch before danger
  fastlane/Fastfile
Due: none

simple cache created
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagemanager/ImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagemanager/LruImagesCache.kt
Due: android

change documentation form component
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/form/Form.kt
Due: backend

LruCache for images and simple downloader working with big images
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/LruImageCache.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ScrollViewFragment.kt
Due: android

fix indicator
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
Due: ios

fixing size
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
Due: ios

documentation beagle action android
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
Due: android

refactor: documentation action navigate
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
Due: backend

simple image downloader finalized
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/BeagleBitmapFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloaderTest.kt
Due: android

feat: documentation beagle components android
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/LazyComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormSubmit.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ComposeComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Screen.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicatorComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/TextInputType.kt
Due: android

refactor: change documentation navigationBarItem
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Screen.kt
Due: backend

adjust break changes
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
Due: android

change example navigation screen to declarative
  android/sample/src/main/java/br/com/zup/beagle/sample/constants/ColorConstants.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/NavigationFragment.kt
  android/sample/src/main/res/menu/menu_navigation_drawer.xml
Due: android

fix: add adapter to map json array
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/SimpleJsonArrayAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ActionExtensionsKtTest.kt
Due: android

avoid download bitmap when width or height is equals 0
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloaderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
Due: android

organize methods
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
Due: ios

code review: improvement on coroutine assign to lyfeClicleOwner
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
Due: android

ListView: fix sizing and layout inconsistency error
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListViewController.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListViewUIComponent.swift
Due: ios

code review: improvements resposabilities on method loadImage and save on cache code
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
Due: android

fix: adjust request with json array (#980)
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/SimpleJsonArrayAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ActionExtensionsKtTest.kt
Due: android

Fix when a JSON is used to start an activity without ScreenComponent
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
Due: android

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
