Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags:
          - ios
      android:
        target: 70%
        threshold: 7%
        flags:
          - android
      backend:
        target: 70%
        threshold: 7%
        flags:
          - backend
      flutter:
        target: 70%
        threshold: 7%
        flags:
          - flutter
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
    carryforward: true
  flutter:
    paths:
      - flutter/
    carryforward: true
ignore:
  - "iOS/Example"
  - "iOS/Libraries"
  - "iOS/Test"
  - "iOS/Tests"
  - "iOS/Sources/Beagle/BeagleTests"
  - "iOS/Sources/Beagle/**/*Test*.swift"
  - "iOS/Sources/Beagle/**/*Tests*.swift"

feat: added bindable fields to navigate methods (#1507)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/NavigateTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
Due: android, backend

chore: deprecate httpClient in BeagleSdk
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
Due: android

feat: Adds support to beagle gRPC library (#1497)
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/MyBeagleSetup.kt
  android/preview/src/test/java/br/com/zup/beagle/android/preview/MyBeagleSetup.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleClasses.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/PropertyImplementationManager.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/TypeElementImplementationManager.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/AnalyticsMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/AnalyticsProviderMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/BeagleConfigMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/BeagleSetupMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/DeepLinkHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/DesignSystemMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/FormLocalActionHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/HttpClientMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/ImageDownloaderMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/LoggerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/StoreHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/UrlBuilderMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/networking/HttpClientFactory.kt
  android/processor/src/test/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
Due: android

final adjusts
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/HookManager.kt
Due: none

final adjusts
  .github/workflows/automated_tests_appium_ios.yml
Due: none

final adjusts
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
Due: none

fix: shouldPrefetch variable is nullable
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/PreFetchHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/RouteAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/PreFetchHelperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ActionReportFactoryTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  iOS/Sources/Beagle/BeagleTests/Action/Types/NavigateTests.swift
  iOS/Sources/Beagle/BeagleTests/Action/Types/__Snapshots__/NavigateTests/testDecodingPushView.1.txt
  iOS/Sources/Beagle/BeagleTests/Action/Types/__Snapshots__/NavigateTests/testDecodingPushViewWithAdditionalData.1.txt
  iOS/Sources/Beagle/BeagleTests/Action/Types/__Snapshots__/NavigateTests/testDecodingPushViewWithContext.1.txt
  iOS/Sources/Beagle/BeagleTests/Caching/Prefetch/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/BeagleTests/Logger/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/BeaglePrefetchHelper.swift
Due: ios, android, backend

fix: set title toolbar beagle android
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
Due: android

fix: shouldPrefetch variable is nullable (#1510)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/PreFetchHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/RouteAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/PreFetchHelperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ActionReportFactoryTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  iOS/Sources/Beagle/BeagleTests/Action/Types/NavigateTests.swift
  iOS/Sources/Beagle/BeagleTests/Action/Types/__Snapshots__/NavigateTests/testDecodingPushView.1.txt
  iOS/Sources/Beagle/BeagleTests/Action/Types/__Snapshots__/NavigateTests/testDecodingPushViewWithAdditionalData.1.txt
  iOS/Sources/Beagle/BeagleTests/Action/Types/__Snapshots__/NavigateTests/testDecodingPushViewWithContext.1.txt
  iOS/Sources/Beagle/BeagleTests/Caching/Prefetch/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/BeagleTests/Logger/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/BeaglePrefetchHelper.swift
Due: ios, android, backend

fix: rename mtests method
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
Due: android

chore: iOS - Update dependencies in Podspec and Package.swift
  Beagle.podspec
  Package.swift
Due: none

fix semantic version
  Package.swift
Due: none

chore: iOS - Update dependencies in Podspec and Package.swift (#1511)
  Beagle.podspec
  Package.swift
Due: none

fix: toolbar set title in beagle android (#1513)
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
Due: android

fix keys
  .github/workflows/automated_tests_appium_android.yml
Due: none

fix keys (#1516)
  .github/workflows/automated_tests_appium_android.yml
Due: none

fix: popToView error message when route doesnt exist
  iOS/Sources/Beagle/BeagleTests/Logger/BeagleLoggerTests.swift
  iOS/Sources/Beagle/BeagleTests/Logger/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
Due: ios

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: ignore appium yml
  .github/workflows/horusec_pr.yml
Due: none

chore: ignore appium yml (#1519)
  .github/workflows/horusec_pr.yml
Due: none

link update
  tests/appium/README.MD
Due: none

Update PULL_REQUEST_TEMPLATE.md (#1518)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: link update (#1520)
  tests/appium/README.MD
Due: none

fix: popToView error message when route doesnt exist (#1517)
  iOS/Sources/Beagle/BeagleTests/Logger/BeagleLoggerTests.swift
  iOS/Sources/Beagle/BeagleTests/Logger/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
Due: ios

fix: PageView component size
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PageView/CustomPageIndicator/CustomPageIndicatorTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PageView/PageViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageViewUIComponent.swift
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
Due: ios

ci: update horusec script
  .github/workflows/horusec_pr.yml
Due: none

fix: PageView component size (#1524)
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PageView/CustomPageIndicator/CustomPageIndicatorTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PageView/PageViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageViewUIComponent.swift
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
Due: ios

feat: iOS Appium tests with deep links (#1493)
  tests/appium/app-ios/AppiumApp/AppiumApp.xcodeproj/project.pbxproj
  tests/appium/app-ios/AppiumApp/AppiumApp.xcodeproj/xcshareddata/xcschemes/AppiumApp.xcscheme
  tests/appium/app-ios/AppiumApp/AppiumApp/AppDelegate.swift
  tests/appium/app-ios/AppiumApp/AppiumApp/DeepLinkViewController.swift
  tests/appium/app-ios/AppiumApp/AppiumApp/Info.plist
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/HookManager.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
Due: none

refactor: remove codecov by security
  .github/workflows/android-pr.yml
  .github/workflows/backend-pr.yml
  .github/workflows/flutter-pr.yml
  .github/workflows/ios-pr.yml
  Gemfile.lock
  README.md
  android/beagle/build.gradle
  android/build.gradle
  android/internal-processor/build.gradle
  android/jacoco-android.gradle
  android/preview/build.gradle
  android/processor-shared-code/build.gradle
  android/processor/build.gradle
  android/test/build.gradle
  backend/framework/build.gradle
  backend/processor/build.gradle
  backend/starters/micronaut/build.gradle
  backend/starters/spring/build.gradle
  codecov.yml
  fastlane/Fastfile
  fastlane/Pluginfile
  jacoco.gradle
  tests/appium/app-android/build.gradle
Due: android, backend

refactor: remove codecov by security (#1537)
  .github/workflows/android-pr.yml
  .github/workflows/backend-pr.yml
  .github/workflows/flutter-pr.yml
  .github/workflows/ios-pr.yml
  Gemfile.lock
  README.md
  android/beagle/build.gradle
  android/build.gradle
  android/internal-processor/build.gradle
  android/jacoco-android.gradle
  android/preview/build.gradle
  android/processor-shared-code/build.gradle
  android/processor/build.gradle
  android/test/build.gradle
  backend/framework/build.gradle
  backend/processor/build.gradle
  backend/starters/micronaut/build.gradle
  backend/starters/spring/build.gradle
  codecov.yml
  fastlane/Fastfile
  fastlane/Pluginfile
  jacoco.gradle
  tests/appium/app-android/build.gradle
Due: android, backend

ci: update horusec script (#1526)
  .github/workflows/horusec_pr.yml
Due: none

add support to bind in add children
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildren.kt
Due: android, backend

add unit test
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AddChildrenTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
Due: android, backend

adjust import
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildren.kt
Due: backend

created grid view
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/BeagleConfig.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/GridViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/Widget/GridView/GridView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/GridView/GridView.swift
  iOS/Sources/Beagle/Sources/Decoding/ComponentDecoder.swift
Due: ios

feat: add support to bind in field value in action add children (#1544)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AddChildrenTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildren.kt
Due: android, backend

fix: support expression in action AddChildren
  iOS/Sources/Beagle/BeagleTests/Action/Types/__Snapshots__/AddChildrenTests/testDecodingAddChildren.1.txt
  iOS/Sources/Beagle/BeagleTests/Action/Types/__Snapshots__/AddChildrenTests/testDecodingAddChildrenWithDefaultMode.1.txt
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Action/Types/AddChildren+Extensions.swift
  iOS/Sources/Beagle/Sources/Action/Types/AddChildren.swift
Due: ios

fix the image resize behaviour on android. Adds and refactor imageView tests
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
Due: android
