Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags:
          - ios
      android:
        target: 70%
        threshold: 7%
        flags:
          - android
      backend:
        target: 70%
        threshold: 7%
        flags:
          - backend
      flutter:
        target: 70%
        threshold: 7%
        flags:
          - flutter
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
    carryforward: true
  flutter:
    paths:
      - flutter/
    carryforward: true
ignore:
  - "iOS/Example"
  - "iOS/Libraries"
  - "iOS/Test"
  - "iOS/Tests"
  - "iOS/Sources/Beagle/BeagleTests"
  - "iOS/Sources/Beagle/**/*Test*.swift"
  - "iOS/Sources/Beagle/**/*Tests*.swift"

improved step message
  .github/workflows/automated_tests_appium_android.yml
Due: none

analytics: remove base url from screen url
  iOS/Sources/Beagle/Sources/Analytics/AnalyticsService.swift
Due: ios

ios implementation for appium analytics tests
  tests/appium/app-ios/AppiumApp/AppiumApp.xcodeproj/project.pbxproj
  tests/appium/app-ios/AppiumApp/AppiumApp/AnalyticsViewController.swift
  tests/appium/app-ios/AppiumApp/AppiumApp/BeagleConfig/Analytics/LocalAnalyticsProvider.swift
  tests/appium/app-ios/AppiumApp/AppiumApp/BeagleConfig/BeagleConfig.swift
  tests/appium/app-ios/AppiumApp/AppiumApp/BeagleConfig/DeepLink/DeepLinkScreenManager.swift
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AnalyticsScreenSteps.kt
Due: none

renderer + lazy component
  flutter/beagle/lib/beagle_remote_view.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/bridge_impl/renderer_js.dart
  flutter/beagle/lib/default/url_builder.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/beagle_view.dart
  flutter/beagle/lib/interface/renderer.dart
  flutter/beagle/lib/model/request.dart
  flutter/beagle/test/bridge_impl/renderer_js.dart
  flutter/beagle/test/default/url_builder.dart
  flutter/beagle_components/lib/beagle_lazy_component.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/pubspec.lock
  flutter/beagle_components/pubspec.yaml
  flutter/sample/lib/main.dart
  flutter/sample/pubspec.lock
Due: flutter

refactor test
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/activity/AnalyticsActivity.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AnalyticsScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/GenericSteps.kt
  tests/appium/project/src/test/resources/features/AnalyticsScreen.feature
Due: backend

Remove base url
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ScreenReportFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ScreenReportFactoryTest.kt
Due: android

change analytics url
  tests/appium/app-ios/AppiumApp/AppiumApp/BeagleConfig/Analytics/LocalAnalyticsProvider.swift
Due: none

Change to the current test pattern and TextInput class pattern
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
Due: android

Code update
  android/beagle/build.gradle
Due: android

feat: flutter navigation controller (#1284)
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/beagle_initializer.dart
  flutter/beagle/lib/beagle_remote_view.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/navigation_controller.dart
  flutter/javascript-bridge/src/index.ts
  flutter/sample/lib/main.dart
Due: flutter

remove unused types
  flutter/beagle/lib/interface/global_context.dart
Due: flutter

feat: flutter global context (#1289)
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/bridge_impl/beagle_navigator_js.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/global_context_js.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/global_context.dart
  flutter/beagle/pubspec.lock
  flutter/beagle/pubspec.yaml
  flutter/beagle/test/bridge_impl/global_context_js.dart
  flutter/javascript-bridge/src/index.ts
  flutter/sample/lib/main.dart
Due: flutter

feat: added support to style
  flutter/beagle/lib/beagle_remote_view.dart
  flutter/beagle/lib/utils/color.dart
  flutter/beagle/lib/utils/style.dart
  flutter/beagle_components/lib/beagle_container.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/sample/lib/main.dart
Due: flutter

removes unnecessary log
  flutter/beagle/lib/default/default_storage.dart
Due: flutter

chenge name of button
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NewAnalyticsScreenBuilder.kt
Due: backend

Adding scrollIndicatorEnabled attribute
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/ListViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/test_whenDecodingJson_thenItShouldReturnAListView.1.txt
Due: ios

feat: flutter persistent storage (#1290)
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/example/pubspec.lock
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/default/default_storage.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/storage.dart
  flutter/beagle/pubspec.lock
  flutter/beagle/pubspec.yaml
  flutter/javascript-bridge/package.json
  flutter/javascript-bridge/src/global.d.ts
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/promise.ts
  flutter/javascript-bridge/src/storage.ts
  flutter/sample/pubspec.lock
Due: flutter

testing script on branch
  .github/workflows/automated_tests_appium_android.yml
Due: none

script fix
  fastlane/automatedTests/run_appium_android_automation.sh
Due: none

removes dep for after_layout
  flutter/beagle_components/lib/after_layout.dart
  flutter/beagle_components/lib/beagle_lazy_component.dart
  flutter/beagle_components/pubspec.lock
  flutter/beagle_components/pubspec.yaml
  flutter/sample/pubspec.lock
Due: flutter

Unit test added to verify that the component was returned correctly
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ViewRendererFactoryTest.kt
Due: android

Code update
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ViewRendererFactoryTest.kt
Due: android

after_layout: header + test
  flutter/beagle_components/lib/after_layout.dart
  flutter/beagle_components/test/after_layout.dart
Due: flutter

after_layout: header + test
  flutter/beagle_components/test/after_layout.dart
Due: flutter

I changed the name of the scrollIndicatorEnabled parameter to isScrollIndicatorVisible
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/ListViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/test_whenDecodingJson_thenItShouldReturnAListView.1.txt
Due: ios

fix script
  fastlane/automatedTests/run_appium_android_automation.sh
Due: none

Updating of nomenclatures
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ViewRendererFactoryTest.kt
Due: android

feat: isolate responsibilities
  flutter/beagle/lib/beagle_remote_view.dart
  flutter/beagle/lib/utils/flex.dart
  flutter/beagle/lib/utils/style.dart
  flutter/beagle_components/lib/beagle_container.dart
  flutter/sample/lib/main.dart
Due: flutter

test: flex and color utils tested
  flutter/beagle/lib/utils/flex.dart
  flutter/beagle/test/empty_test.dart
  flutter/beagle/test/utils/color_test.dart
  flutter/beagle/test/utils/flex_test.dart
Due: flutter

chore: add pubspec.lock
  flutter/beagle_components/pubspec.lock
Due: flutter

feat: row reverse mapped
  flutter/beagle/lib/utils/flex.dart
  flutter/beagle/test/utils/flex_test.dart
Due: flutter

Code organization
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ViewRendererFactoryTest.kt
Due: android

fix scripts
  .github/workflows/automated_tests_appium_android.yml
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
  fastlane/automatedTests/appium/android/config_and_run_appium_server.sh
  fastlane/automatedTests/appium/android/run_appium_android_tests.sh
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/HookManager.kt
Due: none

fix scripts
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
Due: none

script fix / installed app validation
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
Due: none

remove unnecessary things from workflow
  .github/workflows/automated_tests.yml
Due: none

change location of environment variables
  .github/workflows/automated_tests.yml
Due: none

capabilities fix
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
Due: none

could not use runner.os before actually executing step
  .github/workflows/automated_tests.yml
Due: none
