Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

generation screen, navigation bar and item, safe area
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/NavigationBarItemSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/NavigationBarSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/NavigationBar.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/NavigationBarItem.kt
  schema/schema-ruby-erb/model_generation/Generated/Swift/NavigationBar.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/NavigationBarItem.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/SafeArea.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Screen.swift
  schema/schema-ruby-erb/model_generation/Generated/Ts/NavigationBar.ts
  schema/schema-ruby-erb/model_generation/Generated/Ts/NavigationBarItem.ts
  schema/schema-ruby-erb/model_generation/Models/ServerDriven/Screen/navigation_bar.rb
  schema/schema-ruby-erb/model_generation/Models/ServerDriven/Screen/navigation_bar_item.rb
  schema/schema-ruby-erb/model_generation/Models/ServerDriven/Screen/screen.rb
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

integrated Screen, Navigation bar and SafeArea to Xcode
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/NavigationBar.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/SafeArea.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/Screen.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/NavigationBar+Extension.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/Screen+Extension.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/Screen.swift
  schema/schema-ruby-erb/model_generation/Templates/swift.erb
  schema/schema-ruby-erb/model_generation/main.rb
Due: ios

Adding documentation for running the automated tests on each platform
  AutomatedTests.md
  iOS/Tests/AutomatedTests.xcodeproj/xcshareddata/xcschemes/AutomatedTestsUITests.xcscheme
Due: ios

Update AutomatedTests.md
  AutomatedTests.md
Due: none

ListView: fix cell sizing
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListViewUIComponent.swift
Due: ios

Fixing automated tests PR issues
  android/automated-tests/build.gradle
  android/automated-tests/src/main/res/values/colors.xml
  android/automated-tests/src/main/res/values/styles.xml
  iOS/Tests/AutomatedTests.xcodeproj/xcshareddata/xcschemes/AutomatedTestsUITests.xcscheme
  iOS/Tests/AutomatedTestsUITests/Steps/ButtonScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ImageScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ListViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/PageViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TabViewScreenSteps.swift
Due: ios, android

refactoring files inside xcode project
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/ServerDrivenComponent/Screen/NavigationBarItem.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/SafeArea.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Screen.swift
Due: ios

fixed container
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ContainerSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Container.kt
  schema/schema-ruby-erb/model_generation/Generated/Swift/Container.swift
  schema/schema-ruby-erb/model_generation/Models/Widgets/container.rb
Due: none

renamed AddChildrenAction to AddChildren
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AddChildrenTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildren.kt
Due: android, backend

fixing server driven component
  schema/schema-ruby-erb/model_generation/Models/ServerDriven/server_driven_component.rb
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

fix: textInput onBlur (#944)
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/Equality.generated.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/Sources/Components/TextInput+Renderable/TextInput.swift
Due: ios

creating listView
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ListViewSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/ListView.kt
  schema/schema-ruby-erb/model_generation/Generated/Swift/ListView.swift
  schema/schema-ruby-erb/model_generation/Generated/Ts/ListView.ts
  schema/schema-ruby-erb/model_generation/Models/ServerDriven/List/list_view.rb
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

creating tab bar and tab bar item item
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TabBarItemSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TabBarSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/TabBar.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/TabBarItem.kt
  schema/schema-ruby-erb/model_generation/Generated/Swift/TabBar.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/TabBarItem.swift
  schema/schema-ruby-erb/model_generation/Generated/Ts/TabBar.ts
  schema/schema-ruby-erb/model_generation/Generated/Ts/TabBarItem.ts
  schema/schema-ruby-erb/model_generation/Models/ServerDriven/TabBar/tab_bar.rb
  schema/schema-ruby-erb/model_generation/Models/ServerDriven/TabBar/tab_bar_item.rb
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

fixing attribute on screen
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/Screen.swift
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ScreenSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Screen.kt
  schema/schema-ruby-erb/model_generation/Models/ServerDriven/Screen/screen.rb
Due: ios

created test deserialize AddChildren Action
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildrenAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AddChildrenActionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildrenAction.kt
Due: android, backend

integrated tab bar and tab bar item
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/TabBar.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/TabBarItem.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabBarItem+Extension.swift
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TabBarSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/TabBar.kt
  schema/schema-ruby-erb/model_generation/Generated/Swift/TabBar.swift
  schema/schema-ruby-erb/model_generation/Models/ServerDriven/TabBar/tab_bar.rb
  schema/schema-ruby-erb/model_generation/Synthax/Types/type_to_string.rb
  schema/schema-ruby-erb/model_generation/Templates/template_helper.rb
  schema/schema-ruby-erb/model_generation/main.rb
Due: ios

created test serialize AddChildren and change name format test addchildren
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
Due: android

refactor: documentation in the public backend classes
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildrenAction.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SetContext.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SubmitForm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/context/ContextData.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ComposeComponent.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ScrollView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/pager/PageIndicator.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/ScrollAxis.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/TextInputType.kt
Due: backend

documentation PageView component
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
Due: backend

refactor: renamed class AddChildrenAction to AddChildren (#959)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AddChildrenTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildren.kt
Due: android, backend

fix: resize view when inside the scroll layout (#952)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
Due: android

refactor: adjust ComponentRequesterTest.kt to improve tests scenarios quality
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
Due: android

refactor: remove test classes and adjust ComponentRequesterTest.kt to get new beagleCache method
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/TestDialogFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/TestDialogFragmentViewModel.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/actions/CustomAndroidAction.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TestFragment.kt
  android/sample/src/main/res/layout/fragment_test.xml
Due: android

Update backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/config/CorsConfig.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/config/CorsConfig.kt
Due: backend

Removed blank and unused script.
  fastlane/automatedTests/deploy_angular_website.sh
  fastlane/automatedTests/deploy_react_website.sh
  fastlane/automatedTests/run_angular_automation.sh
  fastlane/automatedTests/run_ios_automation.sh
  fastlane/automatedTests/run_react_automation.sh
Due: none

refactor: Adjust ComponentRequesterTest.kt tests scenarios to be more reliable
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
Due: android

Update gradle-wrapper.properties
  android/gradle/wrapper/gradle-wrapper.properties
Due: android

Removing unecessary gradlew files
  android/automated-tests/gradlew
  android/automated-tests/gradlew.bat
Due: android

refactor: adjust `component request` tests scenarios to be more reliable (#963)
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
Due: android

Update android/automated-tests/src/androidTest/assets/features/ImageScreen.feature
  android/automated-tests/src/androidTest/assets/features/ImageScreen.feature
Due: android

removed DispatchQueue from image render
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
Due: ios

fix: set measure zero when view it is gone
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
Due: android

fix: adjust visibility gone in yoga layout (#966)
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
Due: android

documentation class public android
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/RootView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/navigation/DeepLinkHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/store/StoreHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/RootView.kt
Due: android

refactoring tab bar
  iOS/Example/BeagleDemo/BeagleDemo/BeagleStyle.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabViewScreen.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarItemUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Theme/Theme.swift
Due: ios
