Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

refactored templates to support Dictionary variable
  schema/schema-ruby-erb/model_generation/Templates/kotlin.erb
  schema/schema-ruby-erb/model_generation/Templates/template_helper.rb
  schema/schema-ruby-erb/model_generation/Templates/ts.erb
Due: none

refactored kotlin template
  schema/schema-ruby-erb/model_generation/Templates/kotlin.erb
Due: none

integrating sendrequest to xcode
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/Equality.generated.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/SendRequest+Extension.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/SendRequest.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  schema/schema-ruby-erb/model_generation/Templates/swift.erb
  schema/schema-ruby-erb/model_generation/main.rb
Due: ios

Integrated schema generated classes in Android.
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Action.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/schema/ButtonSchema.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/schema/TextSchema.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextData.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Image.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/ui/ImageSchema.kt
Due: android, backend

updating text
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TextSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Swift/Text.swift
  schema/schema-ruby-erb/model_generation/Models/Widgets/text.rb
  schema/schema-ruby-erb/model_generation/Templates/swift.erb
Due: none

fix form validation error (#946)
  android/beagle/src/test/java/br/com/zup/beagle/android/action/FormValidationTest.kt
Due: android

used commom file
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
  iOS/Tests/DynamicObjectExtension.swift
Due: ios

just reducing snapshot image size
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/Tests/ScreenComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/Tests/__Snapshots__/ScreenComponentTests/testNavigationBarItemWithContextOnImage.1.png
Due: ios

code indentation
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabBar.swift
Due: ios

putted dynamic object extension in a common folder again
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Common/Tests/DynamicObjectExtension.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Test/DynamicObjectExtension.swift
Due: ios

updates
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Style.kt
  schema/schema-ruby-erb/model_generation/Generated/Ts/PositionType.ts
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

image configure binding fix
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/UIView+ContextTests.swift
Due: ios

added lazy component to xcode
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/LazyComponent.swift
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/LazyComponentSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/LazyComponent.kt
  schema/schema-ruby-erb/model_generation/Generated/Ts/LazyComponent.ts
  schema/schema-ruby-erb/model_generation/Models/ServerDriven/Lazy/lazy_component.rb
  schema/schema-ruby-erb/model_generation/main.rb
Due: ios

add global context screen in beagle demo
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/GlobalContextScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Schema/Sources/ContextExpression/Context.swift
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/Beagle/Sources/ContextExpression/GlobalContext.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/GlobalContextTests.swift
Due: ios

added condition to xcode
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/Condition.swift
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ConditionSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Condition.kt
  schema/schema-ruby-erb/model_generation/Generated/Swift/Condition.swift
  schema/schema-ruby-erb/model_generation/Generated/Ts/Condition.ts
  schema/schema-ruby-erb/model_generation/Models/Action/condition.rb
  schema/schema-ruby-erb/model_generation/Templates/swift.erb
  schema/schema-ruby-erb/model_generation/main.rb
Due: ios

Fixing wrong behavior.
  iOS/Sources/Beagle/Sources/Components/TextInput+Renderable/TextInput.swift
Due: ios

fix markDirty
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/StyleViewConfigurator.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
Due: ios

Fixing some PR issues on automated tests projects
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
  iOS/Tests/AutomatedTestsTests/AutomatedTestsTests.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ButtonScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ImageScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ListViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/PageViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TabViewScreenSteps.swift
Due: ios, backend

Removing report files
  fastlane/test_output/report.html
  fastlane/test_output/report.junit
Due: none

Splitting big controller on automated tests backend project
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ContainersController.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/NavigationBarController.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/SimpleComponentsController.kt
Due: backend

Changing CI xcode version
  AutomatedTests.md
  fastlane/Fastfile
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ButtonScreenSteps.swift
Due: ios

waiting server to start before starting ios tests
  .github/workflows/automated_tests_ios.yml
Due: none

Adding debug logs to android automated tests job
  .github/workflows/automated_tests_android.yml
  .github/workflows/automated_tests_ios.yml
  fastlane/automatedTests/run_android_automation.sh
Due: none

Adding some comments to android automated tests script
  fastlane/automatedTests/run_android_automation.sh
Due: none

updating avd
  fastlane/automatedTests/run_android_automation.sh
Due: none

fix: adjust scroll bug
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
Due: android

refactor: remove deprecated from constructor
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
Due: android

update test
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
Due: android

adjust test
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
Due: android

refactor: remove deprecated from constructor (#953)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
Due: android

change method invalid view by dirty all views
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
Due: android

refactor: Add documentation RootView and DeepLinkHandler
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/RootView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/navigation/DeepLinkHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/RootView.kt
Due: android

fix: dynamic object default string conversion (#909)
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/ContextExpression/DynamicObject.swift
  iOS/Schema/Sources/ContextExpression/Tests/ExpressionTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/Json/testDictionarySnapShot.json
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/testDictionarySnapShot.1.txt
  iOS/Schema/Sources/Widgets/SimpleForm/Tests/__Snapshots__/SimpleFormTests/test_whenDecodingJson_shouldReturnASimpleForm.1.txt
  iOS/Schema/Sources/Widgets/TextInput/Tests/__Snapshots__/TextInputTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SendRequestTests/test_whenSendRequestWithError_shouldDoRequestAndTriggerActions.1.txt
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SendRequestTests/test_whenSendRequestWithSuccess_shouldDoRequestAndTriggerActions.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/ValueEvaluateTest/testBindingEvaluation.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/ValueEvaluateTest/testLiteralEvaluation.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Test/DynamicObjectExtension.swift
Due: ios

feat: ListView iOS
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Schema/Sources/Action/Types/SendRequest.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ContextExpression/DynamicObject.swift
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Schema/Sources/ServerDrivenComponent/ListView/ListView.swift
  iOS/Schema/Sources/ServerDrivenComponent/ListView/Tests/ListViewTests.swift
  iOS/Schema/Sources/Widgets/Container/Container.swift
  iOS/Schema/Sources/Widgets/RawWidget.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Action.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Container/Container+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/ContainerTests.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListItemCollectionViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListViewController.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/Tests/ListViewInitTests.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/Tests/ListViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/Tests/__Snapshots__/ListViewTests/testHorizontalDirection.1.png
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/Tests/__Snapshots__/ListViewTests/testHorizontalDirectionWithDifferentSizes.1.png
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/Tests/__Snapshots__/ListViewTests/testVerticalDirection.1.png
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/Tests/__Snapshots__/ListViewTests/testVerticalDirectionWithDifferentSizes.1.png
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/ComponentHostController.swift
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/UIView+ContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/ValueEvaluateTest.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Value+Evaluate.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Due: ios

generated screen and safe area
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/SafeAreaSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ScreenSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/SafeArea.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Screen.kt
  schema/schema-ruby-erb/model_generation/Generated/Swift/SafeArea.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Screen.swift
  schema/schema-ruby-erb/model_generation/Generated/Ts/SafeArea.ts
  schema/schema-ruby-erb/model_generation/Generated/Ts/Screen.ts
  schema/schema-ruby-erb/model_generation/Models/ServerDriven/Screen/safe_area.rb
  schema/schema-ruby-erb/model_generation/Models/ServerDriven/Screen/screen.rb
  schema/schema-ruby-erb/model_generation/Templates/swift.erb
  schema/schema-ruby-erb/model_generation/main.rb
Due: ios

updating attributes of screen
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ScreenSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Screen.kt
  schema/schema-ruby-erb/model_generation/Generated/Swift/Screen.swift
  schema/schema-ruby-erb/model_generation/Models/ServerDriven/Screen/screen.rb
Due: none
