Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

chore: remove beagle local dependency from beagle_components
  flutter/beagle_components/pubspec.yaml
Due: flutter

fix: sample pubspec.yaml point to remote beagle dependencies
  flutter/sample/pubspec.yaml
Due: flutter

chore: remove beagle local dependency from beagle_components (#1697)
  flutter/beagle_components/pubspec.yaml
  flutter/sample/pubspec.yaml
Due: flutter

fix: change dir
  .github/workflows/automated_tests_appium_android.yml
Due: none

chore: change dir (#1698)
  .github/workflows/automated_tests_appium_android.yml
Due: none

update
  fastlane/automatedTests/start_test_backend.sh
Due: none

fix: update ci script considering new folder
  fastlane/automatedTests/start_test_backend.sh
Due: none

fix: fixing wrong dir
  fastlane/automatedTests/start_test_backend.sh
Due: none

fix: fixing wrong dir (#1700)
  fastlane/automatedTests/start_test_backend.sh
Due: none

feat: add Android kapt multi module support
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/MessagerExtensions.kt
  android/processor/build.gradle
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/GenericTypeElementManagement.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/BeagleSetupTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/AnalyticsProviderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/AnalyticsTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleConfigTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleLoggerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/DeepLinkHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/DesignSystemTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/FormLocalActionHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/HttpClientFactoryTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/HttpClientTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/StoreHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/UrlBuilderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/extensions/KotlinCompilerExtensions.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredActionGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredCustomAdapterGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredCustomValidatorGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredOperationGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredWidgetGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/ActionsMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/BeagleSetupMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/ControllersMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/CustomAdapterMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/CustomValidatorMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/HttpClientFactoryMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/OperationsMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/PropertiesRegistrarMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/WidgetsMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/registrar/ActionRegistrarGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/registrar/ControllerRegistrarGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/registrar/CustomAdapterRegistrarGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/registrar/CustomValidatorRegistrarGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/registrar/OperationRegistrarGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/registrar/PropertiesRegistrarGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/registrar/RegistrarGeneratorBaseTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/registrar/WidgetRegistrarGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/networking/HttpClientFactory.kt
Due: android

:wrench: Rename branch master to main on github actions
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/android-pr.yml
  .github/workflows/automated_tests_appium_mobile.yml
  .github/workflows/backend-pr.yml
  .github/workflows/flutter-pr.yml
  .github/workflows/horusec_pr.yml
  .github/workflows/ios-pr.yml
  .github/workflows/pr_danger.yml
  .github/workflows/release-kdocs.yml
  .github/workflows/release.yml
  .github/workflows/sync_micronaut_sample.yml
  .github/workflows/sync_spring_sample.yml
  CONTRIBUTING.md
  README.md
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BeagleKotlinJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
  fastlane/Fastfile
  flutter/beagle/lib/src/interface/renderer.dart
Due: android, flutter

feat: add Android kapt multi module support
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleGeneratorFunction.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleProcessorUtils.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenerateFunctionOperation.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/GenerateFunctionWidget.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/RegistrarComponentsProvider.kt
  android/processor/build.gradle
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleProcessorUtils.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/Constants.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/DependenciesRegistrarComponentsProvider.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/PropertiesRegistrarProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionAction.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionComponentRegistrar.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionCustomAdapter.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/GenerateFunctionCustomValidator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/RegisterControllerProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/processor/BeagleAnnotationProcessor.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/registrar/PropertiesRegistrarGeneratorTest.kt
Due: android

feat: add Android kapt multi module support
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/RegistrarComponentsProvider.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/DependenciesRegistrarComponentsProvider.kt
Due: android

Update android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
Due: android

Update android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BeagleKotlinJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BeagleKotlinJsonAdapterFactory.kt
Due: android

feat: Rename branch master to main on github actions (#1704)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/android-pr.yml
  .github/workflows/automated_tests_appium_mobile.yml
  .github/workflows/backend-pr.yml
  .github/workflows/flutter-pr.yml
  .github/workflows/horusec_pr.yml
  .github/workflows/ios-pr.yml
  .github/workflows/pr_danger.yml
  .github/workflows/release-kdocs.yml
  .github/workflows/release.yml
  .github/workflows/sync_micronaut_sample.yml
  .github/workflows/sync_spring_sample.yml
  CONTRIBUTING.md
  README.md
  fastlane/Fastfile
  flutter/beagle/lib/src/interface/renderer.dart
Due: flutter

fix: Windows environment fix
  tests/bff-server/bff/build.gradle
Due: none

:wrench: Testing license-check.yml
  .github/workflows/license-check.yml
  .licenserc.json
Due: none

:wrench: Testing license-check.yml
  .github/workflows/license-check.yml
Due: none

:wrench: Testing license-check.yml
  .licenserc.json
Due: none

Update .licenserc.json
  .licenserc.json
Due: none

refactor: sample description
  flutter/sample/pubspec.yaml
Due: flutter

feat: add Android kapt multi module support
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/DependenciesRegistrarComponentsProvider.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/RegisterControllerProcessor.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/AnalyticsProviderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredControllerGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/AnalyticsProviderMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/ControllersMocks.kt
Due: android

:wrench: Adjust ignores
  .github/workflows/license-check.yml
  .licenserc.json
Due: none

:wrench: Adjust ignores
  .licenserc.json
Due: none

Update license-check.yml
  .github/workflows/license-check.yml
Due: none

Path conditions:
  ios: any of: iOS/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  android: any of: android/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  backend: any of: backend/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  flutter: any of: flutter/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
