Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

Fixed broken merge.
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TouchableScreenBuilder.kt
Due: android, backend

fix: fix widget with context (#315)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/FormScreen.swift
  iOS/Sources/BeagleUI/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/BeagleUI/Sources/Renderer/ViewConfigurator.swift
Due: ios

add Bind to Image component
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Image.kt
Due: android, backend

re generated auto decodable
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
Due: ios

fixing tests
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllComponentsAreBeingRegistered.1.txt
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

Resolving conflicts after merge
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Schema/Sources/Widgets/TextInput/Tests/JSON/TextInputComponent.json
  iOS/Schema/Sources/Widgets/TextInput/Tests/__Snapshots__/TextInputTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Sources/BeagleUI/Sources/Components/TextInput+Renderable/Tests/TextInputTests.swift
Due: ios

remove unused file and move functions close to their context of usage
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Common/Extensions/UIImageViewExtension.swift
  iOS/Sources/BeagleUI/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllDecodersAreBeingRegistered.1.txt
Due: ios

created custom action
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/Actions/CustomAction.swift
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
Due: ios

feat: create tree
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
Due: android, backend

test screen navigate-type and custom action
  android/sample/src/main/java/br/com/zup/beagle/sample/AppBeagleConfig.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/customAction/BeagleAlertAction.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/beaglecustomaction/BeagleAlertAction.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/NavigateTypeBuilder.kt
Due: android, backend

fix: treated empty response body, which is returned with HTTP 304
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
Due: android

Fixed test.
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/HttpClientDefaultTest.kt
Due: android

change SHOW_AS_ACTION_IF_ROOM to SHOW_AS_ACTION_ALWAYS
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
Due: android

changed swift version to 5
  BeagleUI.podspec
Due: none

refactor: change attribute sendRequest onSuccess, onError and onFinish
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
Due: android, backend

add method "observe" to use when dealing with Expressions and UIView
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Sources/BeagleUI/Sources/Components/Text+Renderable/Text+Renderable.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/Expression+Public.swift
  iOS/Sources/BeagleUI/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/BeagleUI/Sources/Renderer/BeagleRenderer.swift
Due: ios

Fix multiple expressions for implicit context
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TouchableTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/ComponentModel.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Due: android

Create tests to tree
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonCreateTree.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonPathFinder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonPathReplacer.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/jsonpath/JsonCreateTreeTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/jsonpath/MockJson.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
Due: android, backend

Added path variable replacements to CI.
  backend/sample/micronaut/micronaut2spring.sed
  backend/sample/spring/spring2micronaut.sed
Due: backend

Refactor evaluate method to be a extension function
  android/android-preview/src/main/java/br/com/zup/beagle/android/preview/PreviewActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Action.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/WidgetView.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Text.kt
Due: android

Revert MainActivity changes
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Due: android

adjust tree
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonCreateTree.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonPathReplacer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonPathUtils.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/jsonpath/JsonCreateTreeTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/jsonpath/JsonPathReplacerTest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
Due: android, backend

create method alert
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
Due: backend

Refactor evaluation extension
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/StringExtensionsKtTest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/widget/Input.kt
Due: android, backend

refactor: change serialazer type beagle to custom
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/BeagleSerializerConstants.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/BeagleTypeSerializer.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/jackson/BeagleTypeSerializerTest.kt
Due: backend

refactor: change line code style
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/BeagleTypeSerializer.kt
Due: backend

refactor: change line code style method getPrefixByAnnotation
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/BeagleTypeSerializer.kt
Due: backend

Create unit tests
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextPathResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonCreateTree.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonPathUtils.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/jsonpath/JsonCreateTreeTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/jsonpath/JsonPathReplacerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/jsonpath/MockJson.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
Due: android, backend

adjust code
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextPathResolver.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/jsonpath/StubJsonTest.kt
Due: android

adjust unit test
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonCreateTree.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BaseComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/jsonpath/JsonPathReplacerTest.kt
Due: android

adjust test flakes
  android/beagle/.attach_pid5764
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
Due: android

adjust code style
  android/beagle/.attach_pid5764
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
Due: android

improve code
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonCreateTree.kt
Due: android

refactor: remove code improvement
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonCreateTree.kt
Due: android

refactor: change attribute sendRequest onSuccess, onError and onFinish (#335)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
Due: android, backend

adjust class to internal
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonCreateTree.kt
Due: android

add test case for custom action
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/jackson/BeagleTypeSerializerTest.kt
Due: backend

refactor: change serializer type beagle to custom (#337)
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/BeagleSerializerConstants.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/BeagleTypeSerializer.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/jackson/BeagleTypeSerializerTest.kt
Due: backend

Synced Micronaut BFF sample to Spring BFF sample.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/PlatformController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/AccessibilityService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/PlatformService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SafeAreaService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleActionClickService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleActionService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleAnalyticsService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleButtonService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleComponentsService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleComposeComponentService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleFormService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleImageService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleLazyComponentService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleListViewService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNavigationBarService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNavigationTypeService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SamplePageViewService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleSafeAreaService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleScreenBuilderService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleScrollViewService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleTabViewService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleTextService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleTouchableService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleWebViewService.kt
Due: backend
