Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

test: refactored AddChildren tests
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AddChildrenTest.kt
Due: android

fix alert parameter's default value
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
Due: backend

TextInput UI tests
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/TextInputScreen.feature
  iOS/Tests/AutomatedTestsUITests/Steps/TextInputSteps.swift
  iOS/Tests/AutomatedTestsUITests/Utils/XCUIElementQuery+Extension.swift
Due: ios

Adding swiftlint to UI tests
  iOS/Tests/.swiftlint.yml
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/Config/Network/NetworkClientDefault.swift
  iOS/Tests/AutomatedTestsUITests/Steps/AddChildrenSteps.swift
Due: ios

AlertScreenBuilder WEB adjustment
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/AlertScreenBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
Due: backend

Fixing lint warnings
  iOS/Tests/.swiftlint.yml
  iOS/Tests/AutomatedTestsUITests/Steps/ContainerSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/NavigateSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SendRequestActionSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TextInputSteps.swift
Due: ios

fix alert parameter's default value (#1109)
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
Due: backend

AlertScreenBuilder Beagle Alert BFF update
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/AlertScreenBuilder.kt
Due: backend

test: refactored ListAdapter and action extension tests
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/res/values/ids.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/ViewMock.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ActionExtensionsKtTest.kt
Due: android

regression tests ok
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
Due: android

Ajusts the scenarios.
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/ScrollView.feature
  iOS/Tests/AutomatedTestsUITests/Steps/ScrollViewSteps.swift
Due: ios

Improves scrollView tests.
  iOS/Tests/AutomatedTestsUITests/Features/ScrollView.feature
  iOS/Tests/AutomatedTestsUITests/Steps/ScrollViewSteps.swift
Due: ios

Adds more assertions for the test scenario.
  iOS/Tests/AutomatedTestsUITests/Features/ScrollView.feature
  iOS/Tests/AutomatedTestsUITests/Steps/ScrollViewSteps.swift
Due: ios

create type
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/OperationResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/OperationType.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/ContainsOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/InsertOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/RemoveIndexOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/RemoveOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/GtOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/GteOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/LtOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/LteOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/AndOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/ConditionOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/NotOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/OrOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/DivideOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/MultiplyOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/SubtractOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/SumOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/other/IsEmptyOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/other/IsNullOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/other/LengthOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/string/CapitalizeOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/string/ConcatOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/string/LowercaseOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/string/SubstrOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/string/UppercaseOperation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/OperationsTest.kt
Due: android

refactor operation name
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/BeagleConfig.swift
  iOS/Schema/Sources/ContextExpression/Operation.swift
  iOS/Schema/Sources/ContextExpression/Parser.swift
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/testValidMultipleExpressions.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/testValidSingleExpression.1.txt
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/ContextExpression/CustomOperationProvider.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Operation+Evaluate.swift
  iOS/Sources/Beagle/Sources/ContextExpression/OperationsProvider.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/CustomOperationsTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationArrayEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationComparisonEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationLogicEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationNumberEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationOtherEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationStringEvaluationTests.swift
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

Improves the scenario 1.
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ScrollViewScreenBuilder.kt
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/ScrollView.feature
  iOS/Tests/AutomatedTestsUITests/Steps/ScrollViewSteps.swift
Due: ios, backend

feat: custom operations (#1096)
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/BeagleConfig.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/OperationsScreen.swift
  iOS/Schema/Sources/ContextExpression/Operation.swift
  iOS/Schema/Sources/ContextExpression/Parser.swift
  iOS/Schema/Sources/ContextExpression/Tests/ExpressionTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/testValidMultipleExpressions.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/testValidSingleExpression.1.txt
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/ContextExpression/Operation+Evaluate.swift
  iOS/Sources/Beagle/Sources/ContextExpression/OperationsProvider.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/CustomOperationsTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationArrayEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationComparisonEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationLogicEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationNumberEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationOtherEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationStringEvaluationTests.swift
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

Adjusts .feature
  iOS/Tests/AutomatedTestsUITests/Features/ScrollView.feature
Due: ios

Screen adaptation to accompany the ios platform
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ScrollViewScreenBuilder.kt
Due: backend

branch update from master backend
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextScreenBuilder.kt
Due: backend

PR updates
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextScreenBuilder.kt
Due: backend

Update imports
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ScrollViewScreenBuilder.kt
Due: backend

add unit tests
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/OperationResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/ContainsOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/InsertOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/RemoveIndexOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/RemoveOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/EqOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/AndOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/other/IsEmptyOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/other/LengthOperation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/OperationResolverTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/OperationsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/array/ContainsOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/array/InsertOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/array/RemoveIndexOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/array/RemoveOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/comparison/EqOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/comparison/GtOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/comparison/GteOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/comparison/LtOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/comparison/LteOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/logic/AndOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/logic/ConditionOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/logic/NotOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/logic/OrOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/number/DivideOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/number/MultiplyOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/number/SubtractOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/number/SumOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/other/IsEmptyOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/other/LengthOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/string/CapitalizeOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/string/ConcatOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/string/LowercaseOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/string/SubstrOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/string/UppercaseOperationTest.kt
Due: android

PR backend update
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
Due: android

adjust type
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/OperationResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/OperationType.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/ContainsOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/InsertOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/RemoveIndexOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/RemoveOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/ComparisonValidationParameterOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/GtOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/LtOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/LteOperation.kt
Due: android

refactor: revert ListView path and removed suppress
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewModels.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListViewHolderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/list/DeprecatedListViewActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/list/ListViewActivity.kt
Due: android

adjust unit test
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/Operation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/OperationResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/OperationType.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/SafeGetHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/GtOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/GteOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/LtOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/comparison/LteOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/AndOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/ConditionOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/NotOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/logic/OrOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/DivideOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/MultiplyOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/SubtractOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/SumOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/other/IsEmptyOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/other/IsNullOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/other/LengthOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/string/SubstrOperation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/comparison/GtOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/comparison/GteOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/comparison/LtOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/comparison/LteOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/logic/ConditionOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/other/IsEmptyOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/other/LengthOperationTest.kt
Due: android

remove interface don't used
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/number/DivideOperation.kt
Due: android

feat: initial struct to add custom operation
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/Operation.kt
  android/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredOperationGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterOperationsProcessor.kt
Due: android

adding imgs
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Tests/__Snapshots__/TextTests/testRenderTextComponent.1.png
Due: ios

adjust unit test
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/other/IsEmptyOperationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/other/LengthOperationTest.kt
Due: android

add validation of name in processor
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/OperationResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredOperationGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterOperationsProcessor.kt
Due: android

Adjusts the scenario 1.
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/Text.feature
  iOS/Tests/AutomatedTestsUITests/Steps/TextSteps.swift
Due: ios

Name improvement - data class with readOnly attribute
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

test: adds Alert action functional tests (#1110)
  android/automated-tests/src/androidTest/assets/features/Alert.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/AlertSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/AlertScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/Alert.feature
  iOS/Tests/AutomatedTestsUITests/Steps/AlertSteps.swift
Due: ios, android, backend

adjust unit test
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/other/IsEmptyOperationTest.kt
Due: android

Paragraph improvement
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ScrollViewScreenBuilder.kt
Due: backend

trying ios 13.4
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Tests/__Snapshots__/TextTests/testRenderTextComponent.1.png
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Tests/__Snapshots__/TextTests/testTextWithContext.1.png
Due: ios
