Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

diff commit
  fastlane/Fastfile
Due: none

add comment
  .github/workflows/horusec_pr.yml
Due: none

tentantiva 1
  fastlane/Fastfile
Due: none

Screen update for tests with text Input
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

Update tests android
  android/automated-tests/src/androidTest/assets/features/TextInputScreen.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputScreen.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
Due: android

synteax
  fastlane/Fastfile
Due: none

iOS: Creating TextInputSteps for scenario 1 and 2
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/Equality.generated.swift
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TextInputSteps.swift
Due: ios, backend

adjust preview
  android/preview/src/main/java/br/com/zup/beagle/android/preview/PreviewActivity.kt
Due: android

feat: add OnInitiableWidget with observable AsyncActions
  android/beagle/jacoco.exec
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AsyncAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextComponentHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/AsyncActionViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleScreenViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/OnInitiableWidget.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/BaseAsyncActionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/FormLocalActionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/FormRemoteActionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextComponentHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/AbstractViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/AsyncActionViewModelTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/widget/OnInitiableWidgetTest.kt
Due: android

changed workflow to enable release renaration from any branch
  .github/workflows/release.yml
  fastlane/Fastfile
Due: none

added comment to explain function
  fastlane/Fastfile
Due: none

removed typo
  .github/workflows/release.yml
  fastlane/Fastfile
Due: none

ci: changed workflow to enable release from any branch (#1080)
  .github/workflows/release.yml
  fastlane/Fastfile
Due: none

adjust import
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/HttpClientDefault.kt
Due: android

change workflow
  .github/workflows/horusec_pr.yml
Due: none

create ci to security
  .github/workflows/horusec_pr.yml
Due: none

fix: adjust support to bind
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
Due: android

adjust code
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/FunctionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
Due: android

remove code used to test
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ContextOperationsFragment.kt
Due: android

Adequacy of imports
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputScreen.kt
Due: android

updating unit inputTextTest
  android/beagle/src/test/java/br/com/zup/beagle/android/components/InputTextTest.kt
Due: android

first test scroll view
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/ScrollViewScreen.feature
  iOS/Tests/AutomatedTestsUITests/Steps/ScrollViewScreenSteps.swift
Due: ios

Organizing screen style
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ScrollViewScreenBuilder.kt
Due: backend

Arranging elements on the screen
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ScrollViewScreenBuilder.kt
Due: backend

fix file header template (#1075)
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests.xcodeproj/xcshareddata/IDETemplateMacros.plist
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTests/BeagleConfig.swift
  iOS/Tests/AutomatedTestsTests/AutomatedTestsTests.swift
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Robots/ScreenRobot.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ButtonScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/CucumberStepsDefinition.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ImageScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ListViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/NavigationActionSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/PageViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ScrollViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TabViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TouchableScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Utils/TestUtils.swift
  iOS/Tests/AutomatedTestsUITests/scrollToExtension.swift
Due: ios

updating unit inputTextTest
  android/beagle/src/test/java/br/com/zup/beagle/android/components/InputTextTest.kt
  android/gti
Due: android

refactor in the kotlin generation template and implementation of InnerTypes in the kotlin
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/AccessibilitySchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ActionSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/AddChildrenSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/AlertSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/AnalyticsClickSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/AnalyticsEventSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/AnalyticsScreenSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ButtonSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ConditionSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ConfirmSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ContainerSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/CornerRadiusSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/EdgeValueSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/FlexSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ImageContentMode.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ImageSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/LazyComponentSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ListViewSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/NavigationBarItemSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/NavigationBarSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/SafeAreaSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ScreenSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ScrollAxis.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ScrollViewSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/SendRequestSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/SizeSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/StyleSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TabBarItemSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TabBarSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TextInputSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TextInputType.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TextSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/UnitType.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/UnitValueSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/UnknownActionSchema.kt
  schema/schema-ruby-erb/model_generation/Templates/kotlin.erb
Due: none

Screen organization
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

test add children coding improvement
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/Robots/ScreenRobot.swift
Due: ios

updating bff to included WEB tests
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
Due: android

ci: create ci to security (#1083)
  .github/workflows/horusec_pr.yml
Due: none

input Type from Android is the same set through Beagle
  android/beagle/src/test/java/br/com/zup/beagle/android/components/InputTextTest.kt
Due: android

refactor: remove attributes from OnInitiableWidget body
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/OnInitiableWidget.kt
Due: android

Nomenclature organization
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

Adjusts the Navigate .feature file
  iOS/Tests/AutomatedTestsUITests/Features/Navigate.feature
Due: ios

refactor OnInitiableWidget
  android/beagle/src/main/java/br/com/zup/beagle/android/components/OnInitiableComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/OnInitiableWidget.kt
Due: android

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
