Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

Fix: now page view uses beagle flex api do layout views
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageViewUIComponent.swift
Due: ios

Formatting changes to test commit signing by Actions.
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/LayoutController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/PlatformController.kt
Due: backend

Synced Micronaut BFF sample to Spring BFF sample.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/LayoutController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/PlatformController.kt
Due: backend

Fixed empty commits.
  fastlane/Fastfile
  fastlane/git_commit.sh
Due: none

Line change to test Actions.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/PlatformController.kt
Due: backend

Added missing push.
  fastlane/Fastfile
Due: none

Revert "Line change to test Actions."
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/PlatformController.kt
Due: backend

Used commit script in other sync.
  fastlane/Fastfile
Due: none

Simple format change to test Actions.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/WidgetController.kt
Due: backend

Synced Spring BFF sample to Micronaut BFF sample.
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/PlatformController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/WidgetController.kt
Due: backend

refactor: migrated bff sample syncs to fastlane (#439)
  .github/workflows/sync_micronaut_sample.yml
  .github/workflows/sync_spring_sample.yml
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ActionController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/CustomComponentController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/LayoutController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/PlatformController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/WidgetController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/PlatformService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleWebViewService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ActionController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/CustomComponentController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/LayoutController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/PlatformController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/WidgetController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/PlatformService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleWebViewService.kt
  fastlane/Fastfile
  fastlane/README.md
  fastlane/git_commit.sh
  fastlane/micronaut2spring.sed
  fastlane/spring2micronaut.sed
  fastlane/sync-to-micronaut.sh
  fastlane/sync-to-spring.sh
Due: backend

add coroutinesScopeBase and fix tests
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormSubmitter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleServiceWrapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/CoroutineScopeBase.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/core/FormSubmitterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/HttpClientDefaultTest.kt
Due: android

#fix: ignoring push events for master
  .github/workflows/sync_micronaut_sample.yml
  .github/workflows/sync_spring_sample.yml
Due: none

Removing Sample AndroidTest
  android/sample/src/androidTest/java/br/com/zup/beagle/sample/SampleTestRunner.kt
  android/sample/src/androidTest/java/br/com/zup/beagle/sample/snapshot/MainActivityTest.kt
Due: android

carthage test
  iOS/Sources/Beagle/Beagle.xcodeproj/xcshareddata/xcschemes/All.xcscheme
Due: ios

fix: page view crash with empty array of pages and breaking constraints (#431)
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/PageViewTests.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/__Snapshots__/PageViewTests/test_viewWithNoPages.1.png
Due: ios

#fix: ignoring push events for master (#441)
  .github/workflows/sync_micronaut_sample.yml
  .github/workflows/sync_spring_sample.yml
Due: none

fix: typo in git_commit.sh in Fastfile
  fastlane/Fastfile
Due: none

Simple change to test fix.
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/CustomComponentController.kt
Due: backend

Synced Micronaut BFF sample to Spring BFF sample.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/CustomComponentController.kt
Due: backend

Created the BaseViewModel for ViewModels tha use coroutines
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BaseViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModelTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
Due: android

fix: typo in git_commit.sh in Fastfile (#443)
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/CustomComponentController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/CustomComponentController.kt
  fastlane/Fastfile
Due: backend

change dependencies to use spm
  iOS/Beagle.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/Cartfile
  iOS/Cartfile.resolved
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Beagle.xcodeproj/xcshareddata/xcschemes/All.xcscheme
  iOS/Sources/Preview/BeaglePreview.xcodeproj/project.pbxproj
Due: ios

fix test
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/HttpClientDefaultTest.kt
Due: android

fixing comments
  android/beagle/build.gradle
  android/sample/build.gradle
  buildSrc/src/main/java/Dependencies.kt
Due: android

try to fix testes
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/HttpClientDefaultTest.kt
Due: android

fix exception type
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormSubmitter.kt
Due: android

docs: update issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/issue-report.md
Due: none

docs: update template bug
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

remove framework search paths
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Preview/BeaglePreview.xcodeproj/project.pbxproj
Due: ios

remove ios dependencies phase on fastfile
  fastlane/Fastfile
Due: none

remove dependencies step from pull_request_verification
  fastlane/Fastfile
Due: none

fix: Beagle iOS Carthage support (#448)
  fastlane/Fastfile
  iOS/Beagle.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/Cartfile
  iOS/Cartfile.resolved
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Preview/BeaglePreview.xcodeproj/project.pbxproj
Due: ios

Fix String evaluation for JSON
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
Due: android

remove CoroutineContextBase
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormSubmitter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleServiceWrapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/CoroutineScopeBase.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/core/FormSubmitterTest.kt
Due: android

docs: update issue templates (#447)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/issue-report.md
Due: none

Fix support Toolbar on android Readme
  android/README.md
  android/sample/src/main/res/layout/activity_server_driven.xml
Due: android

simple form action finished
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ButtonSubmitAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/FormExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/RootView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/SimpleFormTest.kt
Due: android

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
