Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

fix: adjust unit test
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataTreeHelperTest.kt
Due: android

fix test
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
Due: android

:bug: Fixes flex conflict with grow and shrink (#354)
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexMapper.kt
Due: android

fix: show expression when change the tree and evaluate (#353)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataTreeHelperTest.kt
Due: android

fix TabView second constructor
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
Due: android

fix merge
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/Tests/__Snapshots__/ScrollViewTests/test_whenDecodingJson_shouldReturnAScrollView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/WebView/Tests/__Snapshots__/WebViewTests/test_whenDecondingJson_shouldReturnAWebView.1.txt
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
Due: ios

remove TextInput from Demo and use from Beagle
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
Due: ios

docs: create a simple readme
  README.md
Due: none

docs: update image
  README.md
Due: none

docs: adjust links
  README.md
Due: none

feat: add in backend context data
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Screen.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ScrollView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
Due: backend

fix merge problems
  iOS/Example/BeagleDemo/BeagleDemo/Screens/FormScreen.swift
  iOS/Schema/Sources/ServerDrivenComponent/Page/PageView.swift
  iOS/Sources/BeagleUI/Sources/Components/Text+Renderable/Text+Renderable.swift
Due: ios

docs: update the link
  README.md
Due: none

fix scroll snapshot
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/Tests/__Snapshots__/ScrollViewTests/test_whenDecodingJson_shouldReturnAScrollView.1.txt
Due: ios

docs: update readme (#355)
  README.md
Due: none

fix: scroll view with horizontal axis
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
Due: android

feat: add context to some components #282 (#320)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Screen.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ScreenExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Screen.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ScrollView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  iOS/Example/BeagleDemo/BeagleDemo/Screens/FormScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/ScrollView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/Tests/__Snapshots__/ScrollViewTests/test_whenDecodingJson_shouldReturnAScrollView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/WebView/WebView.swift
  iOS/Sources/BeagleUI/Sources/Components/ListView+Renderable/Tests/ListViewTests.swift
  iOS/Sources/BeagleUI/Sources/Components/WebView+Renderable/WebView+Renderable.swift
Due: ios, android, backend

added test to verify makeBeagleFlexView method call
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
Due: android

Update xcode version to 11.5.0
  fastlane/Fastfile
Due: none

Indicator size fix
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
Due: ios

Update xcode version in Fastfile
  fastlane/Fastfile
Due: none

created screen context
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ScreenContextBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleContextService.kt
Due: backend

fix: scroll view with horizontal axis (#357)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
Due: android

Synced Micronaut BFF sample to Spring BFF sample.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleContextService.kt
Due: backend

feat: added cors support for backend sample
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/config/CorsConfig.kt
Due: backend

open class
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/config/CorsConfig.kt
Due: backend

Fixes flex conflict with grow and shrink
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Style/StyleViewConfigurator.swift
Due: ios

change class failure detekt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/beaglecustomaction/BeagleAlertAction.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/CustomPlatformBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFormQuality.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeListViewQuality.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposePageViewQuality.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/PlatformController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/PlatformService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/PlatformController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/PlatformService.kt
Due: backend

Synced Micronaut BFF sample to Spring BFF sample.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
Due: backend

refactor: replacing formInputHidden for form additionalData field on android
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormInputHidden.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormInputHiddenTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/FormFragment.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/form/Form.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/FormScreenBuilder.kt
Due: android, backend

fix: adjust send request action
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppBeagleConfig.kt
  backend/sample/micronaut/src/main/resources/application.properties
  backend/sample/spring/src/main/resources/application.properties
Due: android, backend

adjust style code
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
Due: android, backend

fix Image Local or Remote now can be used in other places
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabViewScreen.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/NavigationBar.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabView.swift
  iOS/Schema/Sources/Widgets/Image/Image.swift
  iOS/Sources/BeagleUI/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Screen/NavigationBar+UIKit.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabBarCollectionViewCell.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/Tests/TabBarCollectionViewCellTests.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/Tests/TabViewTests.swift
Due: ios

added for micronaut
  backend/sample/micronaut/src/main/resources/application.properties
Due: backend

refactor: adjust test
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
Due: android, backend

feat: implement multiple expression iOS (#332)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/SetContext.swift
  iOS/Schema/Sources/ContextExpression/DynamicObject.swift
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Schema/Sources/ContextExpression/Parser.swift
  iOS/Schema/Sources/ContextExpression/Path.swift
  iOS/Schema/Sources/ContextExpression/PathParser.swift
  iOS/Schema/Sources/ContextExpression/SingleExpression.swift
  iOS/Schema/Sources/ContextExpression/Tests/ExpressionTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/PathTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_multipleExpressionRawRepresentable.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_multipleExpressionRawRepresentable.2.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_singleExpressionRawRepresentable.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_singleExpressionRawRepresentable.2.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/PathTests/test_RawRepresentable.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/PathTests/test_RawRepresentable.2.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/SingleExpressionTests/test_rawRepresentable.1.txt
  iOS/Schema/Sources/Widgets/TextInput/Tests/__Snapshots__/TextInputTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Action/Types/Alert.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Confirm.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/SetContext.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/DynamicObject+Merge.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/DynamicObject+Public.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/Expression.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/SingleExpression+Evaluate.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/DynamicObjectTests.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/ExpressionTests.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/__Snapshots__/DynamicObjectTests/test_setObjectWithPath.1.txt
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/__Snapshots__/DynamicObjectTests/test_setObjectWithPath.2.txt
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/__Snapshots__/DynamicObjectTests/test_setObjectWithPath.3.txt
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/__Snapshots__/DynamicObjectTests/test_setObjectWithPath.4.txt
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/__Snapshots__/DynamicObjectTests/test_setObjectWithPath.5.txt
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/__Snapshots__/DynamicObjectTests/test_setObjectWithPath.6.txt
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_singleExpressionEvaluation.1.txt
  iOS/Sources/BeagleUI/Sources/ContextExpression/UIView+Context.swift
Due: ios

refactor: remote route attribute changed to url
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/PreFetchHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/RouteAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/PreFetchHelperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
Due: android, backend
