Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

remove AnalyticsAction
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
Due: android

Added scrollview scenario within scrollview and refactoring other tests
  android/automated-tests/src/androidTest/assets/features/ScrollView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ScrollViewSteps.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
Due: android

remove AnalyticsAction
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ConditionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabBarTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TouchableTest.kt
Due: android

remove AnalyticsAction
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTwoTest.kt
Due: android

remove AnalyticsAction
  android/beagle/src/test/java/br/com/zup/beagle/android/processor/ActionTestCases.kt
Due: android

Screen change to suit the scrollview scenario within scrollview
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ScrollViewScreenBuilder.kt
Due: backend

Update ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
Due: android

revert BeagleSdk.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
Due: android

feature tests up to 5 are ready
  android/automated-tests/build.gradle
  android/automated-tests/src/androidTest/assets/features/TabBar.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TabBarSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/screenshotTests/ExampleScreenshotTest.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/matcher/MatcherExtension.kt
Due: android

fix tests
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ActionRecordFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/AnalyticsServiceTest.kt
Due: android

fix tests
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ActionRecordFactoryTest.kt
Due: android

Returning tags to default
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
Due: android

feature completed
  android/automated-tests/src/androidTest/assets/features/TabBar.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TabBarSteps.kt
Due: android

TabView screen ok for all tests in feature
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TabBarScreenBuilder.kt
Due: backend

fix tests
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/AnalyticsServiceTest.kt
Due: android

Steps update
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TabBarSteps.kt
Due: android

refactor tabbar screen to implement web tests
  android/automated-tests/src/androidTest/assets/features/LazyComponent.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/LazyComponentSteps.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
Due: android

fix: adjust compile testing to use type test implementation
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/internal-processor/build.gradle
  android/processor-shared-code/build.gradle
  android/processor/build.gradle
Due: android

adding ios tests
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/Assets.xcassets/delete.imageset/Contents.json
  iOS/Tests/AutomatedTests/Assets.xcassets/delete.imageset/delete.png
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/TabBar.feature
  iOS/Tests/AutomatedTestsUITests/Features/TabView.feature
  iOS/Tests/AutomatedTestsUITests/Steps/SetContextSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TabBarSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TabViewSteps.swift
Due: ios

Add the AnalyticsProvider.kt to beagleSdk and support for annotation
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleClasses.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/PropertyImplementationManager.kt
Due: android

Refactor AnlyticsService and ActionRecord and ScreenRecord
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ActionRecordFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsProvider.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ScreenReportFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ActionRecordFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/AnalyticsServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ScreenReportFactoryTest.kt
Due: android

add screenId on renderScreen
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
Due: android

fix: adjust compile testing to use type test implementation (#1165)
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/internal-processor/build.gradle
  android/processor-shared-code/build.gradle
  android/processor/build.gradle
Due: android

Create BeagleScope.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleScope.kt
Due: android

remove unused imports
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
Due: android

changing password input from simpleform screen
  android/automated-tests/src/androidTest/assets/features/SimpleForm.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SimpleFormSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
  iOS/Tests/AutomatedTestsUITests/Features/SimpleForm.feature
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormSteps.swift
Due: ios, android, backend

remove unused imports
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleScope.kt
Due: android

adding swiftlint rules
  iOS/Tests/AutomatedTestsUITests/Steps/SetContextSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TabBarSteps.swift
Due: ios

Update android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleScope.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleScope.kt
Due: android

add automated-tests on horusec
  .github/workflows/horusec_pr.yml
Due: none

chore: add automated-tests on horusec (#1167)
  .github/workflows/horusec_pr.yml
Due: none

refactor test
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
Due: android

lazy update
  android/automated-tests/src/androidTest/assets/features/LazyComponent.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/LazyComponentSteps.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
Due: android

PR update
  android/automated-tests/src/androidTest/assets/features/TabBar.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
Due: android

updating bff lazy
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/LazyComponentResultScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
Due: backend

solve detekt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
Due: android
