Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

Update tests android
  android/automated-tests/src/androidTest/assets/features/TextInputScreen.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputScreen.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
Due: android

First test textInput
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputScreen.kt
Due: android

Home screen assembly for textInput
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

Adequacy of imports
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputScreen.kt
Due: android

Code Organization
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

Screen update for tests with text Input
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

First scenario textInput
  android/automated-tests/src/androidTest/assets/features/TextInputScreen.feature
Due: android

Screen organization
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

iOS: Creating TextInputSteps for scenario 1 and 2
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TextInputSteps.swift
Due: ios, backend

Organizing textInput order
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

Nomenclature organization
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

Added scenarios for the textinput
  android/automated-tests/src/androidTest/assets/features/TextInputScreen.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputScreen.kt
Due: android

iOS: Creating TextInputSteps for scenario 3
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/Features/TextInputScreen.feature
  iOS/Tests/AutomatedTestsUITests/Steps/TextInputSteps.swift
  iOS/Tests/AutomatedTestsUITests/Utils/XCUIElementQuery+Extension.swift
Due: ios

iOS: Creating TextInputSteps for scenario 4 and 5
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
  iOS/Tests/AutomatedTestsUITests/Features/TextInputScreen.feature
  iOS/Tests/AutomatedTestsUITests/Steps/TextInputSteps.swift
Due: ios, backend

Organization od screen
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

Organization of imports
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
Due: android

Organization of imports
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/AppApplication.kt
Due: android

Organization of imports
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/NavigateScreenSteps.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/AppBeagleActivity.kt
Due: android

refactor: remove id generation from ViewRenderer
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/GenerateIdManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/AbstractViewRendererTest.kt
Due: android

Synced Micronaut BFF sample to Spring BFF sample.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleScreenBuilderService.kt
Due: backend

implemented scenario 7 - textInput
  android/automated-tests/src/androidTest/assets/features/TextInputScreen.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputScreen.kt
Due: android

change textinput parameters from placeholder to value
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

adjust crash in cache manager
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
Due: android

Organization of the hidden attribute scenario of textInput
  android/automated-tests/src/androidTest/assets/features/TextInputScreen.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputScreen.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
Due: android

Screen organization for textInput hidden attribute scenario
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

feat: create id manager and add support to views without id in contextDataManager (#1090)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/GenerateIdManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/main/res/values/ids.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/AbstractViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/BeagleExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/GenerateIdManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleFlexViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModelTest.kt
Due: android

Url pattern for calling and running all tests
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
Due: android

test: adds SendRequest functional tests (#1035)
  android/automated-tests/src/androidTest/assets/features/SendRequestScreen.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ButtonScreen.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SendRequestSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/WaitHelper.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/matcher/MatcherExtension.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SendRequestScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/NavigationAction.feature
  iOS/Tests/AutomatedTestsUITests/Features/SendRequestAction.feature
  iOS/Tests/AutomatedTestsUITests/Steps/ButtonScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ImageScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ListViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/PageViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SendRequestActionSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormScreenSteps.swift
Due: ios, android, backend

adding log
  iOS/Sources/Beagle/Sources/ContextExpression/CustomOperationProvider.swift
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
Due: ios

improvements and adding test
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/BeagleConfig.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/OperationsScreen.swift
  iOS/Sources/Beagle/Sources/ContextExpression/CustomOperationProvider.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Operation+Evaluate.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/CustomOperationsTests.swift
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

feat: add name to Horusec workflow (#1091)
  .github/workflows/horusec_pr.yml
Due: none

renaming class + fix bot comment
  iOS/Sources/Beagle/Sources/ContextExpression/CustomOperationProvider.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/CustomOperationsTests.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
Due: ios

adjust crash in cache manager (#1092)
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
Due: android

fixing snaptshot
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

Attempt to render textInput actions
  android/automated-tests/src/androidTest/assets/features/TextInputScreen.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputScreen.kt
Due: android

Organization of screen
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

removing unecessary public
  iOS/Sources/Beagle/Sources/ContextExpression/CustomOperationProvider.swift
Due: ios

feat: add ListView
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/GenerateIdManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/JsonExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ListViewIdViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/sample/src/main/AndroidManifest.xml
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/list/DeprecatedListViewActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/list/ListViewActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/list/ListViewFragment.kt
  android/sample/src/main/res/layout/fragment_list_view.xml
  android/sample/src/main/res/values/strings.xml
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
Due: android, backend

refactor: ListViewScreenBuilder changed to new ListView
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewScreenBuilder.kt
Due: backend

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
