Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags:
          - ios
      android:
        target: 70%
        threshold: 7%
        flags:
          - android
      backend:
        target: 70%
        threshold: 7%
        flags:
          - backend
      flutter:
        target: 70%
        threshold: 7%
        flags:
          - flutter
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
    carryforward: true
  flutter:
    paths:
      - flutter/
    carryforward: true
ignore:
  - "iOS/Example"
  - "iOS/Libraries"
  - "iOS/Test"
  - "iOS/Tests"
  - "iOS/Sources/Beagle/BeagleTests"
  - "iOS/Sources/Beagle/**/*Test*.swift"
  - "iOS/Sources/Beagle/**/*Tests*.swift"

testing new ways to compare the speed of test runs
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
Due: none

fix: iOS - TextInput disabled without expression (#1486)
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/TextInputTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithDisabledTrue.1.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
Due: ios

tests
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/HookManager.kt
Due: none

performance tests
  tests/appium/app-ios/AppiumApp/AppiumApp/DeepLinkViewController.swift
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/Runner.kt
Due: none

impl
  tests/appium/app-ios/AppiumApp/AppiumApp/AppDelegate.swift
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/Runner.kt
Due: none

update
  .github/workflows/automated_tests_appium_ios.yml
Due: none

tests
  fastlane/automatedTests/appium/ios/run_appium_ios_tests.sh
Due: none

feat: Adds secret manager configuration (#1485)
  .github/workflows/android-pr.yml
  .github/workflows/automated_tests_appium_android.yml
  .github/workflows/backend-pr.yml
  .github/workflows/flutter-pr.yml
  .github/workflows/horusec_pr.yml
  .github/workflows/ios-pr.yml
  .github/workflows/label.yml
  .github/workflows/pr_danger.yml
  .github/workflows/publish_test_backend.yml
  .github/workflows/release-kdocs.yml
  .github/workflows/release.yml
Due: none

tests
  .github/workflows/automated_tests_appium_ios.yml
  fastlane/automatedTests/appium/ios/run_appium_ios_tests.sh
Due: none

testing headless
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
Due: none

testing headless
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
Due: none

testing
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
Due: none

fix: used OncePerRequestHttpServerFilter to fix unresponsive API when Micronaut client request fails
  backend/starters/micronaut/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeagleCacheFilter.kt
  backend/starters/micronaut/src/test/kotlin/br/com/zup/beagle/micronaut/filter/BeagleCacheFilterTest.kt
Due: backend

feat: added support to empty children to Beagle components
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/GenerateIdManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/MultiChildComponent.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTwoTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleFlexViewTest.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/GhostComponent.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/MultiChildComponent.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/SingleChildComponent.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/form/SimpleForm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Column.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Row.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ScrollView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
  config/detekt-default-config.yml
Due: android, backend

revert
  .github/workflows/automated_tests_appium_ios.yml
Due: none

testing tweaks
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/HookManager.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetupPlugin.kt
Due: none

fix
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetupPlugin.kt
Due: none

fix: renderScreen replacement method (#1495)
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ViewGroupExtensionsKtTest.kt
  android/preview/src/test/java/br/com/zup/beagle/android/preview/PreviewActivityTest.kt
Due: android

testing new params
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/HookManager.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetupPlugin.kt
Due: none

fix: support expression in actions OpenExternalURL, OpenNativeRoute, PopToView
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/NavigateTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/BeaglePrefetchHelperTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Logger/Tests/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
Due: ios

refactor: adjust tests
  android/beagle/src/test/java/br/com/zup/beagle/android/MyBeagleSetup.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/AnalyticsMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/AnalyticsProviderMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/BeagleConfigMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/BeagleSetupMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/DeepLinkHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/DesignSystemMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/FormLocalActionHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/HttpClientMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/ImageDownloaderMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/LoggerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/StoreHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/UrlBuilderMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/networking/HttpClientFactory.kt
  android/processor/src/test/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
Due: android

Used OncePerRequestHttpServerFilter in BeaglePlatformFilter as well.
  backend/starters/micronaut/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeaglePlatformFilter.kt
Due: backend

Update CODEOWNERS
  CODEOWNERS
Due: none

fix: micronaut starter stopped hanging when underlying client fails (#1502)
  backend/starters/micronaut/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeagleCacheFilter.kt
  backend/starters/micronaut/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeaglePlatformFilter.kt
  backend/starters/micronaut/src/test/kotlin/br/com/zup/beagle/micronaut/filter/BeagleCacheFilterTest.kt
Due: backend

chore: Update CODEOWNERS (#1506)
  CODEOWNERS
Due: none

feat: added support to empty children to Beagle components (#1503)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/GenerateIdManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/MultiChildComponent.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTwoTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleFlexViewTest.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/GhostComponent.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/MultiChildComponent.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/SingleChildComponent.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/form/SimpleForm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Column.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Row.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ScrollView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
  config/detekt-default-config.yml
Due: android, backend

feat: added bindable fields to navigate methods
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/NavigateTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
Due: android, backend

cursiosity: testing android on non-gpu emulator
  .github/workflows/automated_tests_appium_android_local.yml
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
Due: none

revert
  .github/workflows/automated_tests_appium_android_local.yml
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
Due: none

fix: mantain the image aspect ratio (#1494)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Image/Image+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Image/Tests/__Snapshots__/ImageTests/testLocalImageWithContext.1.png
Due: ios

fix: iOS - Make children property optional (#1498)
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Analytics/Deprecated/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForScreenEvent.1.txt
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Tests/__Snapshots__/FormTests/test_whenDecodingJson_thenItShouldReturnAForm.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/JSON/listViewWithTemplate.json
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/JSON/listViewWithoutChildren.json
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/ListViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/testDecodingJsonListView.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/testDecodingJsonListViewWithTemplate.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/testDecodingJsonListViewWithoutChildren.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/Tests/PageViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Scroll/ScrollView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Scroll/ScrollView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Scroll/Tests/ScrollViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabView/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Container+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Container.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Tests/ContainerTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Tests/JSON/ContainerWithoutChildren.json
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson2_shouldReturnAContainer.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/SimpleForm+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/SimpleForm.swift
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/Tests/__Snapshots__/SimpleFormTests/test_whenDecodingJson_shouldReturnASimpleForm.1.txt
  iOS/Sources/Beagle/Sources/Decoding/AnyDecodableContainer.swift
Due: ios

fix: support expression in actions OpenExternalURL, OpenNativeRoute, PopToView (#1505)
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/NavigateTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/BeaglePrefetchHelperTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Logger/Tests/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
Due: ios
