Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags:
          - ios
      android:
        target: 70%
        threshold: 7%
        flags:
          - android
      backend:
        target: 70%
        threshold: 7%
        flags:
          - backend
      flutter:
        target: 70%
        threshold: 7%
        flags:
          - flutter
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
    carryforward: true
  flutter:
    paths:
      - flutter/
    carryforward: true
ignore:
  - "iOS/Example"
  - "iOS/Libraries"
  - "iOS/Test"
  - "iOS/Tests"
  - "iOS/Sources/Beagle/BeagleTests"
  - "iOS/Sources/Beagle/**/*Test*.swift"
  - "iOS/Sources/Beagle/**/*Tests*.swift"

Update release-kdocs.yml
  .github/workflows/release-kdocs.yml
Due: none

chore: Update release-kdocs.yml (#1720)
  .github/workflows/release-kdocs.yml
Due: none

impl
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ActionNotRegisteredScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ActionScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/AlertScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/BuilderKotlinDslScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ButtonScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ClickActionScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ConditionalScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ConfirmScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ContainerTestsScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ExpressionEscapingScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/GlobalSampleTextScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NavigateActionsScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NavigationBarScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PullToRefreshScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SafeAreaScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ScrollViewScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SendRequestScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SetContextScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TabBarScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TabViewScreenBuilder.kt
Due: none

update
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TouchableScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/WebViewScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/ColorConstants.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/StyleConstants.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ActionsScreenController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ContainersController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ListController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/NavigateActionController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/NavigationBarController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/SimpleComponentsController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Book.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Genre.kt
Due: none

update
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ActionScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ButtonScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ExpressionEscapingScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
Due: none

chore: Adds DCO Action file (#1715)
  .github/workflows/dco-check.yml
Due: none

chore: replace deprecated method usage in bff-server project (#1718)
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/AccessibilityScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ActionNotRegisteredScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ActionScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/AlertScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/BuilderKotlinDslScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ButtonScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ClickActionScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ConditionalScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ConfirmScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ContainerTestsScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ExpressionEscapingScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/GlobalSampleTextScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NavigateActionsScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NavigationBarScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PullToRefreshScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SafeAreaScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ScrollViewScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SendRequestScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SetContextScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TabBarScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TabViewScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TouchableScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/WebViewScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/ColorConstants.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/StyleConstants.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ActionsScreenController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ContainersController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ListController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/NavigateActionController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/NavigationBarController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/SimpleComponentsController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Book.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Genre.kt
Due: none

feat: deprecated first version of analytics
  android/beagle/src/main/kotlin/br/com/zup/beagle/analytics/Analytics.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/analytics/ClickEvent.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/analytics/ScreenAnalytics.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/analytics/ScreenEvent.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/analytics/TouchableAnalytics.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/android/components/layout/Screen.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/android/setup/BeagleSdk.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/Analytics.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/ClickEvent.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/ScreenAnalytics.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/ScreenEvent.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/TouchableAnalytics.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Screen.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/navigation/Touchable.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
Due: android, backend

feat: iOS - CornerRadius
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/BeagleTests/Analytics/Deprecated/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForClickEvent.1.txt
  iOS/Sources/Beagle/BeagleTests/Common/Extensions/__Snapshots__/StyleBuildersExtensionTests/test_StyleBuilder.1.txt
  iOS/Sources/Beagle/BeagleTests/Common/Util/Snapshot.swift
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/Form/Submit/__Snapshots__/FormSubmitTests/testRenderView.1.png
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDirectionVerticalWithManyLargeRows.1.png
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDirectionVerticalWithManyRows.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Button/__Snapshots__/ButtonTests/test_whenDecodingJson_thenItShouldReturnAButton.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Container/ContainerTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Container/__Snapshots__/ContainerTests/test_renderContainer.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Container/__Snapshots__/ContainerTests/test_renderContainer_withBorder.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Container/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Image/JSON/ImageComponent.json
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Image/__Snapshots__/ImageTests/testRenderImage.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Text/TextTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Text/__Snapshots__/TextTests/testRenderTextComponent.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Text/__Snapshots__/TextTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/Widget/__Snapshots__/WidgetTests/testParsingOfWidgetWithAllAttributes.1.txt
  iOS/Sources/Beagle/BeagleTests/Renderer/ViewConfiguratorTests.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Style/Style.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/BorderView.swift
  iOS/Sources/Beagle/Sources/Renderer/ViewConfigurator.swift
Due: ios

Commit signed with gpg key
  flutter/sample/lib/main.dart
Due: flutter

Commit signed with gpg key - update user email
  flutter/sample/lib/main.dart
Due: flutter

feat: iOS - Deprecate Analytics old infrastructure
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PullToRefreshScreen.swift
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Image/ImageTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Text/TextTests.swift
  iOS/Sources/Beagle/BeagleTests/Navigation/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Analytics.swift
  iOS/Sources/Beagle/Sources/Analytics/Deprecated/DeprecatedAnalytics.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Screen/Screen.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ServerDrivenComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Touchable/Touchable+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Touchable/Touchable.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Button.swift
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Analytics/AnalyticsModels.swift
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Analytics/Events.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
Due: ios

feat: iOS - CornerRadius (#1731)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/BeagleTests/Analytics/Deprecated/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForClickEvent.1.txt
  iOS/Sources/Beagle/BeagleTests/Common/Extensions/__Snapshots__/StyleBuildersExtensionTests/test_StyleBuilder.1.txt
  iOS/Sources/Beagle/BeagleTests/Common/Util/Snapshot.swift
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/Form/Submit/__Snapshots__/FormSubmitTests/testRenderView.1.png
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDirectionVerticalWithManyLargeRows.1.png
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDirectionVerticalWithManyRows.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Button/__Snapshots__/ButtonTests/test_whenDecodingJson_thenItShouldReturnAButton.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Container/ContainerTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Container/__Snapshots__/ContainerTests/test_renderContainer.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Container/__Snapshots__/ContainerTests/test_renderContainer_withBorder.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Container/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Image/JSON/ImageComponent.json
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Image/__Snapshots__/ImageTests/testRenderImage.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Text/TextTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Text/__Snapshots__/TextTests/testRenderTextComponent.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Text/__Snapshots__/TextTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/Widget/__Snapshots__/WidgetTests/testParsingOfWidgetWithAllAttributes.1.txt
  iOS/Sources/Beagle/BeagleTests/Renderer/ViewConfiguratorTests.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Style/Style.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/BorderView.swift
  iOS/Sources/Beagle/Sources/Renderer/ViewConfigurator.swift
Due: ios

feat: iOS - Deprecate Analytics old infrastructure (#1732)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PullToRefreshScreen.swift
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Image/ImageTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Text/TextTests.swift
  iOS/Sources/Beagle/BeagleTests/Navigation/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Analytics.swift
  iOS/Sources/Beagle/Sources/Analytics/Deprecated/DeprecatedAnalytics.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Screen/Screen.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ServerDrivenComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Touchable/Touchable+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Touchable/Touchable.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Button.swift
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Analytics/AnalyticsModels.swift
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Analytics/Events.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
Due: ios

adding open source forum link
  README.md
  readme/zup-forum-topics.png
Due: none

Update README.md
  README.md
Due: none

feat: deprecated first version of analytics (#1722)
  android/beagle/src/main/kotlin/br/com/zup/beagle/analytics/Analytics.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/analytics/ClickEvent.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/analytics/ScreenAnalytics.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/analytics/ScreenEvent.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/analytics/TouchableAnalytics.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/android/components/layout/Screen.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/android/setup/BeagleSdk.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/Analytics.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/ClickEvent.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/ScreenAnalytics.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/ScreenEvent.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/TouchableAnalytics.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Screen.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/navigation/Touchable.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
Due: android, backend

chore: update readme
  README.md
Due: none

some typos were fixed in the README.md file
  README.md
Due: none

Adds DCO contributing description
  CONTRIBUTING.md
  doc/contributing/dco_rules.md
Due: none

Updates Button, EditText and Text libraries to their CompatApp versions
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
Due: android

Adjusts test classes
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BeagleTextViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/UndefinedViewRendererTest.kt
Due: android

Delete horusec_pr.yml
  .github/workflows/horusec_pr.yml
Due: none

fix: adds a hotfix android 1.6.2 (#1753)
  .github/workflows/horusec_pr.yml
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BeagleTextViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/UndefinedViewRendererTest.kt
Due: android

Update release.yml
  .github/workflows/release.yml
Due: none

Update Fastfile
  fastlane/Fastfile
Due: none

fix: release.yml for hotfix 1.6.2-android (#1754)
  .github/workflows/release.yml
  fastlane/Fastfile
Due: none

Update android-pr.yml
  .github/workflows/android-pr.yml
Due: none

Update android-pr.yml (#1755)
  .github/workflows/android-pr.yml
Due: none

adjust workflowxy
  .github/workflows/release.yml
  fastlane/Fastfile
Due: none

adjust
  .github/workflows/release.yml
Due: none

chore: adjust workflow (#1756)
  .github/workflows/release.yml
  fastlane/Fastfile
Due: none

chore: update maven publish
  android/build.gradle
Due: android
