Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

Changing builders name
  iOS/Schema/Sources/Common/FunctionBuilders.swift
  iOS/Schema/Sources/ServerDrivenComponent/ListView/ListView.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageView/PageView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/Screen.swift
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/ScrollView.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Touchable/Touchable.swift
  iOS/Schema/Sources/Widgets/Container/Container.swift
  iOS/Schema/Sources/Widgets/SimpleForm/SimpleForm.swift
Due: ios

Removing unecessary line from merge
  backend/framework/src/main/kotlin/br/com/zup/beagle/constants/CorsConstants.kt
Due: backend

Add TabBar component
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabBar.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
Due: ios

feat: improving Swift DSL with function builders (#600)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/CustomComponentScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/FormScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/LazyComponentScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SimpleForm.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/WebViewScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Common/FunctionBuilders.swift
  iOS/Schema/Sources/ServerDrivenComponent/ListView/ListView.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageView/PageView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/Screen.swift
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/ScrollView.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Touchable/Touchable.swift
  iOS/Schema/Sources/Widgets/Container/Container.swift
  iOS/Schema/Sources/Widgets/RawWidget.swift
  iOS/Schema/Sources/Widgets/SimpleForm/SimpleForm.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
Due: ios

Create initial script files for automated tests ci deploy
  .github/workflows/automated_tests.yml
  backend/automated-tests/Dockerfile
  backend/automated-tests/build.gradle
  backend/automated-tests/gradle/wrapper/gradle-wrapper.properties
  backend/automated-tests/gradlew
  backend/automated-tests/gradlew.bat
  fastlane/Fastfile
  fastlane/automatedTests/deploy_angular_website.sh
  fastlane/automatedTests/deploy_react_website.sh
  fastlane/automatedTests/deploy_tests_backend.sh
  fastlane/automatedTests/run_android_automation.sh
  fastlane/automatedTests/run_angular_automation.sh
  fastlane/automatedTests/run_ios_automation.sh
  fastlane/automatedTests/run_react_automation.sh
Due: backend

Created Micronaut ConfigurationProperties for cache TTL.
  backend/sample/micronaut/src/main/resources/application.properties
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleMicronautCacheProperties.kt
  backend/starters/beagle-micronaut-starter/src/test/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleCacheConfigurationTest.kt
Due: backend

handling inheritance in swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Button.swift
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Text.swift
  schema/schema-ruby-erb/Model Generation/Generated/Ts/Button.ts
  schema/schema-ruby-erb/Model Generation/Generated/Ts/CornerRadius.ts
  schema/schema-ruby-erb/Model Generation/Generated/Ts/Display.ts
  schema/schema-ruby-erb/Model Generation/Generated/Ts/EdgeValue.ts
  schema/schema-ruby-erb/Model Generation/Generated/Ts/Flex.ts
  schema/schema-ruby-erb/Model Generation/Generated/Ts/PositionType.ts
  schema/schema-ruby-erb/Model Generation/Generated/Ts/Size.ts
  schema/schema-ruby-erb/Model Generation/Generated/Ts/Style.ts
  schema/schema-ruby-erb/Model Generation/Generated/Ts/Text.ts
  schema/schema-ruby-erb/Model Generation/Generated/Ts/UnitValue.ts
  schema/schema-ruby-erb/Model Generation/Models/Widgets/button.rb
  schema/schema-ruby-erb/Model Generation/Models/Widgets/text.rb
  schema/schema-ruby-erb/Model Generation/Models/Widgets/widget.rb
  schema/schema-ruby-erb/Model Generation/Synthax/type.rb
  schema/schema-ruby-erb/Model Generation/model_template_swift.erb
  schema/schema-ruby-erb/Model Generation/model_template_ts.erb
Due: none

fix botbeaglezup review
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
Due: android

TabViewUIComponent now uses TabBarUIComponent as TabBar
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabBarCollectionViewCell.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
Due: ios

removed setTextAppearance method from button class
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ButtonTest.kt
Due: android

fix code
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
Due: android

Adding some comments to backend automated tests deploy script
  fastlane/automatedTests/deploy_tests_backend.sh
Due: none

Migrated endpoint inclusion and exclusion properties to BeagleCacheProperties implementations.
  backend/framework/src/main/kotlin/br/com/zup/beagle/cache/BeagleCacheProperties.kt
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleCacheConfiguration.kt
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleMicronautCacheProperties.kt
  backend/starters/beagle-micronaut-starter/src/test/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleCacheConfigurationTest.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/configuration/BeagleCacheAutoConfiguration.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/configuration/BeagleSpringCacheProperties.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/configuration/BeagleCacheAutoConfigurationTest.kt
Due: backend

Put nullable ContextData in place of eventName and eventValue on handleEvent
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
Due: android

Add binding attributes to TabBar
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabBar.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
Due: ios

Updated BeagleCacheHandler to use BeagleCacheProperties.
  backend/framework/src/main/kotlin/br/com/zup/beagle/cache/BeagleCacheHandler.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/cache/BeagleCacheHandlerTest.kt
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleCacheConfiguration.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/configuration/BeagleCacheAutoConfiguration.kt
Due: backend

Fix property names documentation
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
Due: android

Restored BeagleCacheHandler's original constructor as a secondary one.
  backend/framework/src/main/kotlin/br/com/zup/beagle/cache/BeagleCacheHandler.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/cache/BeagleCacheHandlerTest.kt
Due: backend

fix: correct toolbar menu
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
Due: android

fix tests
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AlertTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ConfirmTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TouchableTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ActionExtensionsKtTest.kt
Due: android

fix tests
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
Due: android

Added support for TTL in BeagleCacheHandler.
  backend/framework/src/main/kotlin/br/com/zup/beagle/cache/BeagleCacheHandler.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/cache/HttpCacheHandler.kt
Due: backend

Using TTL capable cache handling in Micronaut starter.
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeagleCacheFilter.kt
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeagleMicronautCacheHandler.kt
Due: backend

Using TTL capable cache handling in Spring starter.
  backend/sample/spring/src/main/resources/application.properties
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/filter/BeagleCacheFilter.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/filter/BeagleSpringCacheHandler.kt
Due: backend

fix: CacheManager normalize headers before use (#488)
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Networking/Default/NetworkCache.swift
  iOS/Sources/Beagle/Sources/Networking/Default/Tests/NetworkCacheTest.swift
  iOS/Sources/Beagle/Sources/Networking/Repository.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

Apply review suggestion
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

remove the extensions fun
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
Due: android

feat: Add context binding evaluation cache (#596)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataTreeHelperTest.kt
Due: android

remove suffix starter
  backend/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  backend/settings.gradle
  backend/starters/micronaut/build.gradle
  backend/starters/micronaut/gradle.properties
  backend/starters/micronaut/src/main/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleCacheConfiguration.kt
  backend/starters/micronaut/src/main/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleJacksonConfiguration.kt
  backend/starters/micronaut/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeagleCacheFilter.kt
  backend/starters/micronaut/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeaglePlatformFilter.kt
  backend/starters/micronaut/src/main/kotlin/br/com/zup/beagle/micronaut/util/BeagleSessionUtil.kt
  backend/starters/micronaut/src/test/kotlin/br/com/zup/beagle/micronaut/Extensions.kt
  backend/starters/micronaut/src/test/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleCacheConfigurationTest.kt
  backend/starters/micronaut/src/test/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleJacksonConfigurationTest.kt
  backend/starters/micronaut/src/test/kotlin/br/com/zup/beagle/micronaut/filter/BeagleCacheFilterTest.kt
  backend/starters/spring/build.gradle
  backend/starters/spring/gradle.properties
  backend/starters/spring/src/main/kotlin/br/com/zup/beagle/spring/configuration/BeagleCacheAutoConfiguration.kt
  backend/starters/spring/src/main/kotlin/br/com/zup/beagle/spring/configuration/BeagleJacksonAutoConfiguration.kt
  backend/starters/spring/src/main/kotlin/br/com/zup/beagle/spring/configuration/BeaglePlatformAutoConfiguration.kt
  backend/starters/spring/src/main/kotlin/br/com/zup/beagle/spring/configuration/BeagleSerializationProperties.kt
  backend/starters/spring/src/main/kotlin/br/com/zup/beagle/spring/filter/BeagleCacheFilter.kt
  backend/starters/spring/src/main/kotlin/br/com/zup/beagle/spring/filter/BeaglePlatformFilter.kt
  backend/starters/spring/src/main/kotlin/br/com/zup/beagle/spring/util/BeagleSessionUtil.kt
  backend/starters/spring/src/main/resources/META-INF/spring.factories
  backend/starters/spring/src/test/kotlin/br/com/zup/beagle/spring/configuration/BeagleCacheAutoConfigurationTest.kt
  backend/starters/spring/src/test/kotlin/br/com/zup/beagle/spring/configuration/BeagleJacksonAutoConfigurationTest.kt
  backend/starters/spring/src/test/kotlin/br/com/zup/beagle/spring/filter/BeagleCacheFilterTest.kt
  backend/starters/spring/src/test/kotlin/br/com/zup/beagle/spring/filter/BeagleFilterTestUtils.kt
  backend/starters/spring/src/test/kotlin/br/com/zup/beagle/spring/filter/BeaglePlatformFilterTest.kt
Due: backend

Deprecated the constructor
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
Due: android

Deprecated the constructor
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
Due: backend

reorganized constructor
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ButtonTest.kt
Due: android

Fix ScreenRequest tests
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
Due: android

Create a second PageView to be used with context
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTwoTest.kt
Due: android

Added lane platform to fastlane invocation.
  .github/workflows/automated_tests.yml
Due: none

added transient to button attributes
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
Due: android

fix context in PageView and LazyComponent
  iOS/Example/BeagleDemo/BeagleDemo/Screens/LazyComponentScreen.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/Tests/ScreenComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/LazyComponent+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/Tests/LazyComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/Tests/__Snapshots__/LazyComponentTests/test_lazyLoad_shouldReplaceTheInitialContent.1.png
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/Tests/__Snapshots__/LazyComponentTests/test_lazyLoad_shouldReplaceTheInitialContent.2.png
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/ComponentHostController.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/PageViewTests.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/__Snapshots__/PageViewTests/test_pageViewWithContext.1.png
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewModel.swift
  iOS/Sources/Beagle/Sources/Renderer/LayoutManager.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Due: ios

Object GlobalContext created, Interface GlobalContextAPI created. ContextDataManager modified to init a GlobalContext object and set it at the local context
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/GlobalContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/GlobalcontextAPI.kt
Due: android

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
