Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

deprecated constructor
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
Due: android

Synced Spring BFF sample to Micronaut BFF sample.
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
Due: backend

undoing some changes
  iOS/Example/BeagleDemo/BeagleDemo/BeagleStyle.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabBar.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabView/TabView.swift
  iOS/Schema/Sources/Widgets/Button/Button.swift
  iOS/Schema/Sources/Widgets/RawWidget.swift
  iOS/Schema/Sources/Widgets/Text/Text.swift
  iOS/Schema/Sources/Widgets/TextInput/TextInput.swift
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Button+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Text+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TextInput+Renderable/TextInput.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/ViewConfigurator.swift
Due: ios

delete unecessary controller
  iOS/Sources/Beagle/Sources/Renderer/ViewConfigurator.swift
Due: ios

Removing comparation helper file
  android/build.gradle.orig
Due: android

Unit test suitability
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
Due: android

adding image expression
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabViewScreen.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/Widgets/Image/Image.swift
  iOS/Schema/Sources/Widgets/Image/Tests/__Snapshots__/ImageTests/test_whenDecodingJson_thenItShouldReturnAnImage.1.txt
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
Due: ios

adjust code
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TabBarScreenBuilder.kt
Due: android, backend

updating current working dir before running code generation
  schema/schema-ruby-erb/model_generation/Templates/model_template_swift.erb
  schema/schema-ruby-erb/model_generation/main.rb
  schema/schema-ruby-erb/model_generation/schema.sh
Due: none

fixing generation file from xcode
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
Due: ios

feat: create BeagleView (#891)
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/NativeViewController.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/NativeScreenTest.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/__Snapshots__/NativeScreenTest/testNativeScreen.1.png
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleView.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleViewTests.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/BeagleViewTests/testViewLayout.1.png
Due: ios

feat: conditional action android (#898)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ConditionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TouchableScreenBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Condition.kt
Due: android, backend

added dynamic object extension
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Common/Extensions/DynamicObjectExtension.swift
Due: ios

doing small adjustments so the generated code can be added to project
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  schema/schema-ruby-erb/model_generation/Generated/Swift/Button.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Container.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Image.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Text.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/TextInput.swift
  schema/schema-ruby-erb/model_generation/Templates/model_template_swift.erb
  schema/schema-ruby-erb/model_generation/Templates/template_helper.rb
Due: ios

adjust expression
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
Due: android

remove constant
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
Due: android

adjust bind
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
Due: android

integrated button
  schema/schema-ruby-erb/model_generation/Generated/Swift/Accessibility.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/AnalyticsClick.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/AnalyticsScreen.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Button.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Container.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/CornerRadius.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/EdgeValue.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Flex.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Image.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Size.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Style.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Text.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/TextInput.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/UnitValue.swift
  schema/schema-ruby-erb/model_generation/Models/Action/action.rb
  schema/schema-ruby-erb/model_generation/Templates/model_template_swift.erb
Due: none

Creating and testing new Condition action
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ConditionActionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/Condition.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllActionsAreBeingRegistered.1.txt
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/Condition.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/ConditionTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

adding support to comment a var
  schema/schema-ruby-erb/model_generation/Generated/Swift/Flex.swift
  schema/schema-ruby-erb/model_generation/Models/Layout/Flex/flex.rb
  schema/schema-ruby-erb/model_generation/Synthax/Attributes/base_attributes.rb
  schema/schema-ruby-erb/model_generation/Templates/model_template_swift.erb
Due: none

fixing basic types
  schema/schema-ruby-erb/model_generation/Generated/Swift/CornerRadius.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Flex.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Size.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/UnitValue.swift
  schema/schema-ruby-erb/model_generation/Synthax/Types/basic_type.rb
Due: none

fixing basic types
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/CornerRadiusSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/FlexSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/SizeSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/UnitValueSchema.kt
Due: none

adding decodable to declarations on swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Accessibility.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/AnalyticsClick.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/AnalyticsEvent.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/AnalyticsScreen.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/CornerRadius.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/EdgeValue.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Flex.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/ImageContentMode.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Size.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/Style.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/TextInputType.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/UnitType.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/UnitValue.swift
  schema/schema-ruby-erb/model_generation/Templates/model_template_swift.erb
Due: none

Test whether moshi can deserialize an encoded url
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Due: android

reducing code smels
  schema/schema-ruby-erb/model_generation/FileHandler/file_handler.rb
  schema/schema-ruby-erb/model_generation/Tests/tests_main.rb
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

fixing refactor errors
  schema/schema-ruby-erb/model_generation/FileHandler/file_handler.rb
Due: none

fixing more errors
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  schema/schema-ruby-erb/model_generation/main.rb
Due: ios

refactor: removed Glide library
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
Due: android

refactoring file names
  schema/schema-ruby-erb/model_generation/Templates/kotlin.erb
  schema/schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
  schema/schema-ruby-erb/model_generation/Templates/swift.erb
  schema/schema-ruby-erb/model_generation/Templates/ts.erb
Due: none

Updated model generation path.
  schema/schema-ruby-erb/model_generation/Tests/Kotlin/test.sh
Due: none

Added kotlin generation to its test script.
  schema/schema-ruby-erb/model_generation/Tests/Kotlin/test.sh
Due: none

Written test to check the prefetch log
  android/beagle/src/main/java/br/com/zup/beagle/android/data/PreFetchHelper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/PreFetchHelperTest.kt
Due: android

fix: adjust test
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

Using the BindAttribute interface in common Kotlin.
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ButtonSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ImageSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TextInputSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TextSchema.kt
  schema/schema-ruby-erb/model_generation/Templates/model_template_kotlin.erb
Due: none

feat: add support to bind in class image (#915)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TabBarScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleTabBarService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleTabBarService.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/ImageBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Image.kt
Due: android, backend

refactoring
  schema/schema-ruby-erb/model_generation/Models/Widgets/button.rb
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

fixing import in action
  schema/schema-ruby-erb/model_generation/Models/Widgets/button.rb
Due: none

Creating and testing new Condition action (#916)
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ConditionActionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/Condition.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllActionsAreBeingRegistered.1.txt
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/Condition.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/ConditionTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

chore: renaming template files and created action in ruby (#919)
  schema/schema-ruby-erb/model_generation/Models/Widgets/button.rb
  schema/schema-ruby-erb/model_generation/Templates/kotlin.erb
  schema/schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
  schema/schema-ruby-erb/model_generation/Templates/swift.erb
  schema/schema-ruby-erb/model_generation/Templates/ts.erb
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
