Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

iOS - Removing default implementation of fetchComponents from Repository.
  iOS/Sources/Beagle/Sources/Caching/Prefetch/BeaglePrefetchHelper.swift
  iOS/Sources/Beagle/Sources/Networking/Repository.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewModel.swift
Due: ios

Created actions to publish test backend to Github packges.
  .github/workflows/publish_test_backend.yml
  fastlane/Fastfile
  fastlane/automatedTests/publish_test_backend.sh
Due: none

iOS - Fixing unit tests.
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/Tests/LazyComponentTests.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
Due: ios

fix: Android context cache
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
Due: android

iOS - Removing some SwiftLint warnings.
  iOS/Schema/Sources/ServerDrivenComponent/ListView/ListView.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageView/PageView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/Screen.swift
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/ScrollView.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Touchable/Touchable.swift
  iOS/Schema/Sources/Widgets/Container/Container.swift
  iOS/Schema/Sources/Widgets/SimpleForm/SimpleForm.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Components/SimpleForm+Renderable/Tests/SimpleFormTests.swift
  iOS/Sources/Beagle/Sources/Navigation/UIWindow+Extension.swift
Due: ios

Forcing publish action run.
  .github/workflows/publish_test_backend.yml
Due: none

fix: fetch the screen before the navigation (#614)
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewModel.swift
Due: ios

Restored manual trigger.
  .github/workflows/publish_test_backend.yml
Due: none

Added ruby setup step in test backend publication.
  .github/workflows/publish_test_backend.yml
Due: none

Added missing ruby version.
  .github/workflows/publish_test_backend.yml
Due: none

test scenarios updates
  android/automated-tests/src/androidTest/java/com/example/automated_tests/TestRunner.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/Instrumentation.kt
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/ButtonScreen.feature
  iOS/Tests/AutomatedTestsUITests/Features/ListViewScreen.feature
  iOS/Tests/AutomatedTestsUITests/Features/ScrollViewScreen.feature
  iOS/Tests/AutomatedTestsUITests/Features/TouchableScreen.feature
  iOS/Tests/AutomatedTestsUITests/Robots/ScreenRobot.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ButtonScreenSteps.swift
Due: ios, android

Fix observe binding
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
Due: android

Enabling Android test execution.
  fastlane/automatedTests/run_android_automation.sh
Due: none

kotlin-core dsl
  backend/widgets/build.gradle
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Confirm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SetContext.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/builder/BeagleWidgetBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/context/ContextData.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/expression/BeagleIterableSubExpression.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/expression/ExpressionHelper.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/form/SimpleForm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Screen.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ScrollView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/lazy/LazyComponent.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/navigation/Touchable.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/pager/PageIndicator.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Image.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Text.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/WebView.kt
  common/extended-schema/src/main/kotlin/br/com/zup/beagle/builder/BeagleBuilder.kt
  common/extended-schema/src/main/kotlin/br/com/zup/beagle/builder/analytics/ClickEventBuilder.kt
  common/extended-schema/src/main/kotlin/br/com/zup/beagle/builder/analytics/ScreenEventBuilder.kt
  common/extended-schema/src/main/kotlin/br/com/zup/beagle/builder/core/AccessibilityBuilder.kt
  common/extended-schema/src/main/kotlin/br/com/zup/beagle/builder/core/StyleBuilder.kt
  common/extended-schema/src/main/kotlin/br/com/zup/beagle/builder/widget/FlexBuilder.kt
  common/extended-schema/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
Due: android, backend

Update ListViewDslScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewDslScreenBuilder.kt
Due: backend

Fix View.setContextData and exposed a method to notify changes for context
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataTreeHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/constants/EndPointConstants.kt
Due: android

some improvements on GlobalContext
  iOS/Sources/Beagle/Sources/ContextExpression/GlobalContext.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/GlobalContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

Enabled iOS step.
  .github/workflows/automated_tests.yml
Due: none

Set custom resolution on Android test emulator.
  fastlane/automatedTests/run_android_automation.sh
Due: none

feat: cache iOS dependencies (#610)
  .github/workflows/ios-pr.yml
Due: none

Reordered tests to Android then iOS.
  .github/workflows/automated_tests.yml
Due: none

include example in sample BFF
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BindCollectionAdapterFactory.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/constants/EndPointConstants.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ContextListViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ListViewFragment.kt
  android/sample/src/main/res/menu/menu_navigation_drawer.xml
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewContextScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleListViewContextService.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
Due: android, backend

fix: Android context cache (#629)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
Due: android

Global context update3
  android/beagle/src/main/java/br/com/zup/beagle/android/context/GlobalContext.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/PageViewFragment.kt
Due: android

remove empty test
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/Tests/LazyComponentTests.swift
Due: ios

Disabled iOS to allow Actions to cache Android.
  .github/workflows/automated_tests.yml
Due: none

create tests and change the children attribute name to items
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabBarTest.kt
Due: android

create tests and change the children attribute name to items
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabBar.kt
Due: android, backend

changed read me links
  README.md
Due: none

iOS - Fixing unit tests.
  iOS/Sources/Beagle/Sources/ContextExpression/GlobalContext.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/GlobalContextTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

fix: broken links in readme (#568)
  README.md
Due: none

fix: iOS - lazy component using cache (#630)
  iOS/Schema/Sources/ServerDrivenComponent/ListView/ListView.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageView/PageView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/Screen.swift
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/ScrollView.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Touchable/Touchable.swift
  iOS/Schema/Sources/Widgets/Container/Container.swift
  iOS/Schema/Sources/Widgets/SimpleForm/SimpleForm.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/BeaglePrefetchHelper.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/LazyComponent+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/Tests/LazyComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/SimpleForm+Renderable/Tests/SimpleFormTests.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Navigation/UIWindow+Extension.swift
  iOS/Sources/Beagle/Sources/Networking/Repository.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewModel.swift
Due: ios

feat: beagle retry android (#631)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleRetry.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/FormLocalActionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/activities/SampleServerDrivenActivity.kt
  android/sample/src/main/res/layout/activity_server_driven.xml
  android/sample/src/main/res/values/strings.xml
Due: android

Add an attribute on PageView named showArrow to web pageView and change the event name on PageViewTwo
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PageViewScreenBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
Due: android, backend

fix: wrong context data evaluate (#624)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextValueHandler.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

Removing some tests
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/TabBarUIComponentTests.swift
Due: ios

changed the slugs from documentation to english
  README.md
Due: none

change the handleEvent on PageViewTwo and fiz the test
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTwoTest.kt
Due: android

Converted TTL durations to seconds, max-age's requirement.
  backend/framework/src/main/kotlin/br/com/zup/beagle/cache/BeagleCacheHandler.kt
Due: backend

deprecated the TabView
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabBar.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/utils/BeagleConstants.kt
Due: backend
