Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

Code reduction
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputSteps.kt
Due: android

swift template refactor
  schema-ruby-erb/model_generation/Templates/swift.erb
  schema-ruby-erb/model_generation/main.rb
Due: none

removes tests from processor and internal-processor modules
  android/internal-processor/src/test/java/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessorTest.kt
  android/internal-processor/src/test/java/br/com/zup/beagle/android/internal/processor/TestClasses.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/BeagleSetupTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/AnalyticsTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleConfigTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleImageDownloaderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleLoggerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/DeepLinkHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/DesignSystemTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/FormLocalActionHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/HttpClientTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/StoreHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/UrlBuilderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredActionGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredControllerGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredCustomAdapterGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredCustomValidatorGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredOperationGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredWidgetGeneratorTest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextInputBuilder.kt
Due: android, backend

chore: improve android ListView unit Tests (#1245)
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ListViewIdViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListViewHolderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ListViewIdViewModelTest.kt
  android/beagle/src/test/resources/robolectric.properties
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
Due: android

chore: release 1.5.1 android (#1247)
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/BeagleBitmapFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloader.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/imagecomponent/BeagleBitmapFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloaderTest.kt
  android/gradle.properties
  backend/gradle.properties
Due: android, backend

Adequacy of tests to the pattern
  android/beagle/build.gradle
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarTextManagerTest.kt
Due: android

create some tests
  android/beagle/src/test/java/br/com/zup/beagle/android/MyBeagleSetup.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ActionAnalyticsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleMessageLogsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/setup/BeagleSetupTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/AnalyticsViewModelTest.kt
Due: android

fix code smells
  iOS/Sources/Beagle/Sources/Analytics/AnalyticsRecord.swift
  iOS/Sources/Beagle/Sources/Analytics/AnalyticsService.swift
  iOS/Sources/Beagle/Sources/Analytics/Tests/AnalyticsServiceTests.swift
Due: ios

fix warning
  iOS/Sources/Beagle/Sources/Setup/BeagleSetup.swift
Due: ios

iOS - aborting local image asset load for empty mobileId (#1243)
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
Due: ios

horusec manager add template
  .github/workflows/horusec_pr.yml
Due: none

Imports organization
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
Due: android

test: adds unit tests for the toolbar title generator (#1236)
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarTextManager.kt
  android/beagle/src/test/AndroidManifest.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarTextManagerTest.kt
Due: android

Imports organization
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
Due: android

try to fix test
  android/beagle/src/test/java/br/com/zup/beagle/android/setup/BeagleSetupTest.kt
Due: android

add action call create some tests
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AlertTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ConditionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ConfirmTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ButtonTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabBarTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TouchableTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTwoTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/setup/BeagleSetupTest.kt
Due: android

Writing organization
  android/automated-tests/src/androidTest/assets/features/TextInput.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputSteps.kt
Due: android

horusec manager curl att
  .github/workflows/horusec_pr.yml
Due: none

horusec test
  .github/workflows/horusec_pr.yml
Due: none

horusec fix
  .github/workflows/horusec_pr.yml
Due: none

horusec fix missing params
  .github/workflows/horusec_pr.yml
Due: none

implement package in koltin android
  schema-ruby-erb/model_generation/Models/Accessibility/accessibility.rb
  schema-ruby-erb/model_generation/Models/Action/action.rb
  schema-ruby-erb/model_generation/Models/Analytics/click_event.rb
  schema-ruby-erb/model_generation/Models/Analytics/touchable_analytics.rb
  schema-ruby-erb/model_generation/Models/Layout/Flex/align_content.rb
  schema-ruby-erb/model_generation/Models/Layout/Flex/align_items.rb
  schema-ruby-erb/model_generation/Models/Layout/Flex/align_self.rb
  schema-ruby-erb/model_generation/Models/Layout/Flex/flex.rb
  schema-ruby-erb/model_generation/Models/Layout/Flex/flex_direction.rb
  schema-ruby-erb/model_generation/Models/Layout/Flex/flex_wrap.rb
  schema-ruby-erb/model_generation/Models/Layout/Flex/justify_content.rb
  schema-ruby-erb/model_generation/Models/Layout/corner_radius.rb
  schema-ruby-erb/model_generation/Models/Layout/display.rb
  schema-ruby-erb/model_generation/Models/Layout/edge_value.rb
  schema-ruby-erb/model_generation/Models/Layout/position_type.rb
  schema-ruby-erb/model_generation/Models/Layout/size.rb
  schema-ruby-erb/model_generation/Models/Layout/style.rb
  schema-ruby-erb/model_generation/Models/Layout/unit_type.rb
  schema-ruby-erb/model_generation/Models/Layout/unit_value.rb
  schema-ruby-erb/model_generation/Models/Widgets/accessibility_component.rb
  schema-ruby-erb/model_generation/Models/Widgets/button.rb
  schema-ruby-erb/model_generation/Models/Widgets/identifier_component.rb
  schema-ruby-erb/model_generation/Models/Widgets/style_component.rb
  schema-ruby-erb/model_generation/Models/Widgets/widget.rb
  schema-ruby-erb/model_generation/Scripts/Kotlin/schema-kotlin.sh
  schema-ruby-erb/model_generation/Synthax/Attributes/package.rb
  schema-ruby-erb/model_generation/Templates/kotlin_android.erb
  schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
  schema-ruby-erb/model_generation/Templates/template_helper.rb
  schema-ruby-erb/model_generation/main.rb
Due: none

Initial tests of the TextInput component
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
Due: android

doc enum in kotlin android
  schema-ruby-erb/model_generation/Templates/kotlin_android.erb
Due: none

adjust screen by schema
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Screen.kt
Due: android

remove wildcard import
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
Due: android

task schema in backend build
  backend/framework/build.gradle
  backend/schema.gradle
  schema-ruby-erb/model_generation/Scripts/Kotlin/schema-backend.sh
Due: backend

Removing comment
  iOS/Tests/AutomatedTestsUITests/Steps/TextInputSteps.swift
Due: ios

solve detekt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
Due: android

remove duplication
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ActionRecordFactoryTest.kt
Due: android

remove some code smells
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ActionRecordFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/AnalyticsServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
Due: android

test: add funcional test to textinput component (#1216)
  android/automated-tests/src/androidTest/assets/features/TextInput.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SimpleFormSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/Features/TextInput.feature
  iOS/Tests/AutomatedTestsUITests/Steps/TextInputSteps.swift
Due: ios, android, backend

feat: add android test library
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/preview/src/test/java/br/com/zup/beagle/android/preview/PreviewActivityTest.kt
  android/test/.gitignore
  android/test/build.gradle
  android/test/consumer-rules.pro
  android/test/proguard-rules.pro
  android/test/src/main/AndroidManifest.xml
  android/test/src/main/java/br/com/zup/beagle/test/rules/BeagleComponentsRule.kt
  android/test/src/main/java/br/com/zup/beagle/test/rules/BeagleComponentsStatement.kt
Due: android

refactor: refactor PreviewActivityTest
  android/preview/src/test/java/br/com/zup/beagle/android/preview/PreviewActivityTest.kt
Due: android

remove schema name in kotlin android
  schema-ruby-erb/model_generation/Templates/kotlin_android.erb
  schema-ruby-erb/model_generation/main.rb
Due: none
