Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

Update android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
Due: android

fix: adjust message exception
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
Due: android

adjust code
  android/automated-tests/build.gradle
  android/beagle/gradle/wrapper/gradle-wrapper.jar
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/sample/build.gradle
  android/sample/src/main/java/br/com/zup/beagle/sample/BeagleUiSampleApplication.kt
Due: android

adjust code
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
Due: android

feat: iOS add border parameters in Style (#1008)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Schema/Sources/CodeGeneration/Generated/Equality.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabView/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/WebView/Tests/__Snapshots__/WebViewTests/test_whenDecodingJson_shouldReturnAWebView.1.txt
  iOS/Schema/Sources/Widgets/Button/__Snapshots__/ButtonTests/test_whenDecodingJson_thenItShouldReturnAButton.1.txt
  iOS/Schema/Sources/Widgets/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Schema/Sources/Widgets/Image/Tests/__Snapshots__/ImageTests/test_whenDecodingJson_thenItShouldReturnAnImage.1.txt
  iOS/Schema/Sources/Widgets/Tests/__Snapshots__/WidgetTests/testParsingOfWidgetWithAllAttributes.1.txt
  iOS/Schema/Sources/Widgets/Text/Tests/__Snapshots__/TextTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Schema/Sources/Widgets/TextInput/Tests/__Snapshots__/TextInputTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Schema/Sources/Widgets/WidgetProperties/Style/Style.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForClickEvent.1.txt
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForScreenEvent.1.txt
  iOS/Sources/Beagle/Sources/Common/Extensions/StyleBuildersExtension.swift
  iOS/Sources/Beagle/Sources/Common/Extensions/Tests/StyleBuildersExtensionTests.swift
  iOS/Sources/Beagle/Sources/Common/Extensions/Tests/__Snapshots__/StyleBuildersExtensionTests/test_StyleBuilder.1.txt
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/ContainerTests.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/__Snapshots__/ContainerTests/testRenderContainerWithBorder.1.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/ViewConfiguratorTests.swift
  iOS/Sources/Beagle/Sources/Renderer/ViewConfigurator.swift
Due: ios

Adds support for web to the image test
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ImageScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/ImageConstants.kt
Due: backend

feat: iOS - Image Downloader Dependecy (#999)
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/Equality.generated.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/Tests/LazyComponentTests.swift
  iOS/Sources/Beagle/Sources/Networking/ImageDownloader.swift
  iOS/Sources/Beagle/Sources/Networking/Repository.swift
  iOS/Sources/Beagle/Sources/Networking/RequestDispatcher.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/ImageDownloaderTests.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/ImageDownloaderTests.xcassets/Contents.json
  iOS/Sources/Beagle/Sources/Networking/Tests/ImageDownloaderTests.xcassets/beagle.imageset/Contents.json
  iOS/Sources/Beagle/Sources/Networking/Tests/ImageDownloaderTests.xcassets/beagle.imageset/beagle.png
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

adjust code image
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloader.kt
Due: android

adding scrollView to the image screen
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ImageScreen.swift
Due: ios

fix: fragment transition toolbar glitch (#1009)
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
Due: android

WildcardImport in BeagleViewModel
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
Due: android

feat: add possible user override download image (#917)
  android/automated-tests/build.gradle
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/BeagleBitmapFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/LruImageCache.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ImplicitContextManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/BeagleImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/imagecomponent/BeagleBitmapFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloaderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloaderTest.kt
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleAnnotationProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/GenericPropertyManagement.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/GenericTypeElementManagement.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/PropertyImplementationManager.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/TypeElementImplementationManager.kt
  android/sample/build.gradle
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ScrollViewFragment.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClasses.kt
Due: android, backend

NavigateReset buttons set
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/GlobalSampleTextScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NavigateActionsResetScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NavigateActionsSecondScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
Due: backend

add border parameters in style
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/core/StyleBuilder.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
Due: android

NavigateReset buttons set
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/GlobalSampleTextScreenBuilder.kt
Due: backend

adjust comment
  android/beagle/src/main/java/br/com/zup/beagle/android/context/GlobalContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/RootView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/exception/BeagleApiException.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/exception/BeagleException.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleLogger.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/RequestData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/store/StoreHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/RootView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/ViewConvertable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/WidgetView.kt
Due: android

chore: adds support for web to the image test (#1022)
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ImageScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/ImageConstants.kt
Due: backend

chore: documentation package at the beagle android (#997)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/GlobalContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/RootView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/exception/BeagleApiException.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/exception/BeagleException.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleLogger.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/navigation/DeepLinkHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/RequestData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/ResponseData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/store/StoreHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/RootView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/ViewConvertable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/WidgetView.kt
Due: android

Send request screen added at bff
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SendRequestScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
Due: backend

Adds the 'resetStack' and 'resetApplication' UI tests.
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/NavigationAction.feature
  iOS/Tests/AutomatedTestsUITests/Steps/NavigationActionSteps.swift
Due: ios

fix: iOS binding triggers layout change (#995)
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SetContextTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SetContextTests/testSetContext.1.png
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SetContextTests/testSetContext.2.png
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/ContainerTests.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/ComponentHostController.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/BindingConfigurator.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Due: ios

Fixes the steps for scenarios 5 and 6.
  iOS/Tests/AutomatedTestsUITests/Steps/NavigationActionSteps.swift
Due: ios

change in animation of the component
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabBarScreen.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabView/TabView.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
Due: ios

Add a way to dismiss the numeric keyboard. (#985)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Sources/Beagle/Sources/Components/TextInput+Renderable/TextInput.swift
Due: ios

adjust unit test
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
Due: android

Adjusts comments.
  iOS/Tests/AutomatedTestsUITests/Steps/NavigationActionSteps.swift
Due: ios

change in animation of the component
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabBarScreen.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
Due: ios

remove swiftlint:disable
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
Due: ios

adjustment
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/GlobalSampleTextScreenBuilder.kt
Due: backend

fix image-tests
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
Due: ios

refactor method applyStroke and created unit tests
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
Due: android

creation test unit style border
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
Due: android

remove unused imports
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
Due: android

Adds reset action cases with a fallback.
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/NavigationAction.feature
Due: ios

adjust unit test
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ComponentStylizationTest.kt
Due: android

fix: adjust unit test
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ComponentStylizationTest.kt
Due: android

Adjusts the steps comments.
  iOS/Tests/AutomatedTestsUITests/Steps/NavigationActionSteps.swift
Due: ios

NavigateAndroid Tests ok
  android/automated-tests/src/androidTest/assets/features/NavigateScreen.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Constants.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/NavigateScreenSteps.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/AppApplication.kt
Due: android

feat: add border parameters in style android and backend (#1024)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ComponentStylizationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/core/StyleBuilder.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
Due: android

Pr check updates
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/GlobalSampleTextScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
Due: backend

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
