Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

loadview changed apply sequence to set the listener first.
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
Due: android

fix: delete duplicate TabViewUIComponent file (#664)
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
Due: ios

Remove gradle from project root
  .gitignore
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

Remove .gitignore
  android/.gitignore
Due: android

Rollback android gradle
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
Due: android

Revert changes of gradle/wrapper/gradle-wrapper.properties
  android/gradle/wrapper/gradle-wrapper.properties
Due: android

Remove gradlew
  android/.gitignore
  android/gradlew
Due: android

Revert gitignore changes
  .gitignore
  android/.gitignore
Due: android

Revert gradlew file
  android/gradlew
Due: android

Add exec permission to gradlew
  android/gradlew
Due: android

Deleting old reference
  iOS/Sources/Beagle/Sources/Renderer/ScreenController.swift
Due: ios

feat: allow developers to retry an unsuccessful request (#627)
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/CustomBeagleNavigationController.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/ErrorView.swift
  iOS/Sources/Beagle/Sources/Action/Action.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormLocalAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/FormLocalActionTests/test_whenExecuteFormLocalAction_shouldListenToStateChanges.1.txt
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/LazyComponent+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/Tests/LazyComponentTests.swift
  iOS/Sources/Beagle/Sources/Context/FormManager.swift
  iOS/Sources/Beagle/Sources/Context/Tests/FormManagerTests.swift
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleNavigationController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Due: ios

no more java sample
  android/build.gradle
  backend/sample/core/src/main/java/br/com/zup/beagle/sample/builder/ListViewJavaDslScreenBuilder.java
Due: android, backend

excluded shot plugin dependencies
  android/automated-tests/build.gradle
  android/automated-tests/src/androidTest/java/com/example/automated_tests/snapshot/MainActivityTest.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/snapshot/TestRunner.kt
  android/automated-tests/src/debug/AndroidManifest.xml
  android/build.gradle
Due: android

Deleting old reference (#668)
  iOS/Sources/Beagle/Sources/Renderer/ScreenController.swift
Due: ios

Updating workflow and podfile.
  iOS/Example/BeagleSample/BeagleSample/ViewController.swift
  iOS/Example/BeagleSample/Podfile
Due: ios

Update workflows
  .github/workflows/ios-integrated-tests.yml
  .github/workflows/ios-pr.yml
Due: none

remove Action deprecated functions
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Protocols.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SimpleForm.swift
  iOS/Sources/Beagle/Sources/Action/Action.swift
  iOS/Sources/Beagle/Sources/Action/Tests/TouchableTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Alert.swift
  iOS/Sources/Beagle/Sources/Action/Types/Confirm.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormLocalAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormValidation.swift
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Action/Types/SetContext.swift
  iOS/Sources/Beagle/Sources/Action/Types/SubmitForm.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/AlertTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/ConfirmTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/FormLocalActionTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SubmitFormTests.swift
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Tests/ButtonTests.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/ContainerTests.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/ComponentHostController.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
  iOS/Sources/Beagle/Sources/Context/FormManager.swift
  iOS/Sources/Beagle/Sources/Context/Tests/FormManagerTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
Due: ios

fix: SendRequest deserialization (#642)
  iOS/Schema/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SendRequestTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SendRequestTests/test_whenSendRequestWithError_shouldDoRequestAndTriggerActions.1.txt
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SendRequestTests/test_whenSendRequestWithSuccess_shouldDoRequestAndTriggerActions.1.txt
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/ContainerTests.swift
Due: ios

Updates the 'openNativeRoute'case description.
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
Due: ios

test case update
  android/automated-tests/src/androidTest/assets/features/ButtonScreen.feature
  android/automated-tests/src/androidTest/assets/features/ListViewScreen.feature
  android/automated-tests/src/androidTest/assets/features/PageViewScreen.feature
  android/automated-tests/src/androidTest/assets/features/ScrollViewScreen.feature
  android/automated-tests/src/androidTest/assets/features/TabViewScreen.feature
  android/automated-tests/src/androidTest/assets/features/TouchableScreen.feature
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/main/java/com/example/automated_tests/MainActivity.kt
Due: android

Cleaned unused code.
  .github/workflows/publish_test_backend.yml
  fastlane/Fastfile
Due: none

android
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/AlertBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/ConfirmBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/NavigateBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/SendRequestBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/SetContextBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/SubmitFormBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/context/ContextDataBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/form/SimpleFormBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/ContainerBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/PageViewBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/ScreenWidgetBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/ScrollViewBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/lazy/LazyComponentBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/navigation/TouchableBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/pager/PageIndicatorBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/ButtonBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/ImageBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/ListViewBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TabBarBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TabViewBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TextBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TextInputBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/WebViewBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/layout/ScreenWidgetBuilder.kt
  config/detekt-default-config.yml
Due: android, backend

created page-view context component
  android/automated-tests/src/main/java/com/example/automated_tests/MainActivity.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
Due: android, backend

Update jacoco-android.gradle
  android/jacoco-android.gradle
Due: android

get version from env var
  maven-publish.gradle
Due: none

fixed change log
  fastlane/Fastfile
Due: none

removed discord env variable
  .github/workflows/release.yml
Due: none

added fetch
  fastlane/Fastfile
Due: none

removed test code
  fastlane/Fastfile
Due: none

fixed fastfile references
  fastlane/Fastfile
Due: none

added release lanes
  fastlane/Fastfile
Due: none

removed extra fastlane instalation
  .github/workflows/postRelease.yml
Due: none

refactor: context attribute change is not mandatory
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/form/SimpleForm.kt
Due: android, backend

fix: adjust gradle heap memory
  android/gradle.properties
Due: android

Changed ScreenWidgetBuilder
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/NavigateBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/ScreenComponentBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/NavigateBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/expression/BeagleIterableSubExpressionBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/layout/ScreenComponentBuilder.kt
Due: android, backend

refactor: context attribute change is not mandatory (#675)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/form/SimpleForm.kt
Due: android, backend

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
