Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags:
          - ios
      android:
        target: 70%
        threshold: 7%
        flags:
          - android
      backend:
        target: 70%
        threshold: 7%
        flags:
          - backend
      flutter:
        target: 70%
        threshold: 7%
        flags:
          - flutter
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
    carryforward: true
  flutter:
    paths:
      - flutter/
    carryforward: true
ignore:
  - "iOS/Example"
  - "iOS/Libraries"
  - "iOS/Test"
  - "iOS/Tests"
  - "iOS/Sources/Beagle/BeagleTests"
  - "iOS/Sources/Beagle/**/*Test*.swift"
  - "iOS/Sources/Beagle/**/*Tests*.swift"

improvement
  .github/workflows/automated_tests_appium_android.yml
Due: none

just triggering android and backend ci
  android/beagle/src/main/java/br/com/zup/beagle/analytics/Analytics.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/Analytics.kt
Due: android, backend

using key path as a variable
  .github/workflows/ios-pr.yml
Due: none

init coverage unit tests with rake
  schema-ruby-erb/model_generation/Models/Layout/Flex/flex.rb
  schema-ruby-erb/model_generation/Models/Layout/corner_radius.rb
  schema-ruby-erb/model_generation/Rakefile.rb
  schema-ruby-erb/model_generation/Templates/kotlin_template_helper.rb
  schema-ruby-erb/model_generation/Templates/template_helper.rb
  schema-ruby-erb/model_generation/tests/base_unit_test.rb
  schema-ruby-erb/model_generation/tests/test_kotlin_template.rb
  schema-ruby-erb/model_generation/tests/test_template_helper.rb
Due: none

trying to get image version like this
  .github/workflows/ios-pr.yml
Due: none

updating all pr workflows to use image version
  .github/workflows/android-pr.yml
  .github/workflows/backend-pr.yml
  .github/workflows/flutter-pr.yml
  .github/workflows/ios-pr.yml
Due: none

make all code similar in every workflow
  .github/workflows/android-pr.yml
  .github/workflows/backend-pr.yml
  .github/workflows/ios-pr.yml
  .github/workflows/pr_danger.yml
  .github/workflows/sync_micronaut_sample.yml
  .github/workflows/sync_spring_sample.yml
Due: none

Added steps to deploy test BFF to AWS.
  .github/workflows/automated_tests_appium_android.yml
  fastlane/automatedTests/deploy_test_backend.sh
Due: none

narrowed env var scope
  .github/workflows/automated_tests_appium_android.yml
Due: none

zup header
  fastlane/automatedTests/deploy_test_backend.sh
Due: none

using correct env var
  .github/workflows/automated_tests_appium_android.yml
Due: none

commentary removed
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/GenericSteps.kt
Due: none

add tests
  flutter/beagle_components/images/beagle.png
  flutter/beagle_components/lib/beagle_page_view.dart
  flutter/beagle_components/lib/beagle_tab_bar.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/pubspec.lock
  flutter/beagle_components/pubspec.yaml
  flutter/beagle_components/test/beagle_page_view_test.dart
  flutter/beagle_components/test/beagle_tab_bar_test.dart
  flutter/sample/ios/Podfile.lock
  flutter/sample/lib/main.dart
Due: flutter

disable cache
  .github/workflows/android-pr.yml
  .github/workflows/ios-pr.yml
  danger/android/Dangerfile
Due: none

remove cache ios
  .github/workflows/ios-pr.yml
Due: none

old script update
  fastlane/automatedTests/appium/android/install_apk_in_emulator.sh
Due: none

old script update
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
Due: none

get just public field
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ActionReportFactory.kt
Due: android

script impl and tests
  .github/workflows/automated_tests_appium_android.yml
Due: none

script impl and tests
  .github/workflows/automated_tests_appium_android.yml
  horusec-config.json
Due: none

remove image version thinking it probably won't happen again
  .github/workflows/android-pr.yml
  .github/workflows/backend-pr.yml
  .github/workflows/flutter-pr.yml
  .github/workflows/ios-pr.yml
  .github/workflows/pr_danger.yml
  .github/workflows/sync_micronaut_sample.yml
  .github/workflows/sync_spring_sample.yml
Due: none

remove temporary changes
  android/beagle/src/main/java/br/com/zup/beagle/analytics/Analytics.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/Analytics.kt
  iOS/Sources/Beagle/Sources/Analytics/AnalyticsService.swift
Due: ios, android, backend

Fixed environment variable access.
  .github/workflows/automated_tests_appium_android.yml
  fastlane/automatedTests/deploy_test_backend.sh
Due: none

feat: add default flutter image component
  flutter/beagle/example/pubspec.lock
  flutter/beagle/pubspec.lock
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/pubspec.lock
  flutter/beagle_components/pubspec.yaml
  flutter/sample/lib/main.dart
  flutter/sample/pubspec.lock
Due: flutter

Fixed some env declarations.
  .github/workflows/automated_tests_appium_android.yml
Due: none

ci: fix cache usage in our workflows (#1328)
  .github/workflows/android-pr.yml
  .github/workflows/backend-pr.yml
  .github/workflows/flutter-pr.yml
  .github/workflows/ios-pr.yml
  .github/workflows/pr_danger.yml
  .github/workflows/sync_micronaut_sample.yml
  .github/workflows/sync_spring_sample.yml
  Gemfile.lock
  fastlane/Fastfile
  iOS/Example/CocoaPodsTest/Podfile
Due: none

put iOS gitignore on global, so appium gets it
  .gitignore
  iOS/.gitignore
Due: ios

removes unnecesary double wildcards on glob pattern
  .gitignore
Due: none

refactor
  flutter/beagle/lib/beagle_initializer.dart
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/lib/beagle_page_view.dart
  flutter/beagle_components/pubspec.lock
  flutter/sample/lib/main.dart
  flutter/sample/pubspec.lock
Due: flutter

chore: put iOS gitignore on root, so appium gets it (#1323)
  .gitignore
  iOS/.gitignore
Due: ios

formatting
  .github/workflows/automated_tests_appium_android.yml
Due: none

adjust android pr
  .github/workflows/android-pr.yml
Due: none

small change on button tests
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Tests/ButtonTests.swift
Due: none

feat: Add default TabBar component (#1329)
  flutter/beagle/lib/beagle_initializer.dart
  flutter/beagle/lib/setup/beagle_design_system.dart
  flutter/beagle_components/images/beagle.png
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/lib/beagle_page_view.dart
  flutter/beagle_components/lib/beagle_tab_bar.dart
  flutter/beagle_components/lib/beagle_text.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/pubspec.lock
  flutter/beagle_components/pubspec.yaml
  flutter/beagle_components/test/beagle_page_view_test.dart
  flutter/beagle_components/test/beagle_tab_bar_test.dart
  flutter/beagle_components/test/beagle_text_test.dart
  flutter/sample/images/beagle.png
  flutter/sample/images/bus.png
  flutter/sample/images/car.png
  flutter/sample/images/person.png
  flutter/sample/ios/Podfile.lock
  flutter/sample/lib/design_system.dart
  flutter/sample/lib/main.dart
  flutter/sample/lib/tab_bar_screen.dart
  flutter/sample/pubspec.lock
  flutter/sample/pubspec.yaml
Due: flutter
