Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

set null as default for some attributes
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabBar.kt
Due: android, backend

pageview, listview, and touchable screen test scenarios
  android/automated-tests/src/androidTest/assets/features/ButtonScreen.feature
  android/automated-tests/src/androidTest/assets/features/ImageScreen.feature
  android/automated-tests/src/androidTest/assets/features/TextScreen.feature
  android/automated-tests/src/androidTest/assets/features/TouchableScreen.feature
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/ButtonScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/ListViewScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/TextScreenSteps.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/ListViewScreen.feature
  iOS/Tests/AutomatedTestsUITests/Features/ScrollViewScreen.feature
  iOS/Tests/AutomatedTestsUITests/Features/TouchableScreen.feature
  iOS/Tests/AutomatedTestsUITests/Steps/ListViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/PageViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ScrollViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TouchableScreenSteps.swift
Due: ios, android

scrollTo extension added to IOS automation
  iOS/Tests/AutomatedTestsUITests/scrollToExtension.swift
Due: ios

Add logic to check if the emulator is up
  fastlane/automatedTests/run_android_automation.sh
Due: none

Add logic to check if the emulator is up
  .github/workflows/automated_tests.yml
Due: none

Add logic to check if the emulator is up
  .github/workflows/automated_tests.yml
  fastlane/automatedTests/run_android_automation.sh
Due: none

feat: add maven publish in android
  android/android-annotation/gradle.properties
  android/beagle/build.gradle
  android/beagle/gradle.properties
  android/build.gradle
  android/gradle.properties
  android/internal-processor/gradle.properties
  android/preview/gradle.properties
  android/processor/gradle.properties
  common/annotation/gradle.properties
  common/extended-schema/gradle.properties
  common/processor-utils/gradle.properties
  maven-publish.gradle
Due: android, backend

migrate to maven central
  android/android-annotation/gradle.properties
  android/beagle/gradle.properties
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/build.gradle
  android/gradle.properties
  android/internal-processor/gradle.properties
  android/preview/gradle.properties
  android/processor/gradle.properties
  android/sample/src/androidTest/java/br/com/zup/beagle/sample/snapshot/MainActivityTest.kt
  common/annotation/gradle.properties
  common/extended-schema/gradle.properties
  common/processor-utils/gradle.properties
  fastlane/Fastfile
  fastlane/release/maven_signing.sh
  schema/kotlin-core/gradle.properties
Due: android, backend

feat: add support to maven central in backend
  backend/build.gradle
  backend/framework/gradle.properties
  backend/gradle.properties
  backend/processor/gradle.properties
  backend/starters/micronaut/gradle.properties
  backend/starters/spring/gradle.properties
  backend/widgets/gradle.properties
Due: backend

Global Context update
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/GlobalContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/GlobalContextAPI.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/PageViewFragment.kt
Due: android

:sparkles: Adds extension variable for beagleComponent on View class. To set the tag with the resourceId for this purpose
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormSubmit.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormValidatorController.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/res/values/ids.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/action/FormValidationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SubmitFormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BaseComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormInputTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormSubmitTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/core/FormValidatorControllerTest.kt
Due: android

fix the handleEvent not sending the tabBar position
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
Due: android

Improved script based on shellcheck suggestions.
  fastlane/automatedTests/run_android_automation.sh
Due: none

adjust code android
  android/gradle.properties
  android/sample/src/androidTest/java/br/com/zup/beagle/sample/snapshot/MainActivityTest.kt
Due: android

listview steps insertion
  fastlane/automatedTests/nohup.out
  fastlane/automatedTests/run_android_automation.sh
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/Steps/ListViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/scrollToExtension.swift
  nohup.out
Due: ios

fix context data evaluate and create tests
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

refactor: adjust task to build more fast
  backend/starters/micronaut/build.gradle
  fastlane/Fastfile
  fastlane/discord_message.sh
Due: backend

fix context data evaluate and create tests
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

dsl builders
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Confirm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SetContext.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SubmitForm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/builder/BeagleWidgetBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/context/Bind.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/context/ContextData.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/expression/BeagleIterableSubExpression.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/expression/ExpressionHelper.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/form/SimpleForm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Screen.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ScrollView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/lazy/LazyComponent.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/navigation/Touchable.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/pager/PageIndicator.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Image.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Text.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/WebView.kt
Due: backend

refactor: adjust version name
  android/gradle.properties
  backend/gradle.properties
  backend/starters/micronaut/build.gradle
Due: android, backend

feat: adjust packages
  backend/gradle.properties
  fastlane/Fastfile
  maven-publish.gradle
Due: backend

Unit tests of cache filter changes.
  backend/starters/micronaut/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeagleMicronautCacheHandler.kt
  backend/starters/micronaut/src/test/kotlin/br/com/zup/beagle/micronaut/Constants.kt
  backend/starters/micronaut/src/test/kotlin/br/com/zup/beagle/micronaut/filter/BeagleCacheFilterTest.kt
  backend/starters/micronaut/src/test/kotlin/br/com/zup/beagle/micronaut/filter/BeagleMicronautCacheHandlerTest.kt
  backend/starters/spring/src/test/kotlin/br/com/zup/beagle/spring/filter/BeagleCacheFilterTest.kt
  backend/starters/spring/src/test/kotlin/br/com/zup/beagle/spring/filter/BeagleSpringCacheHandlerTest.kt
Due: backend

Deleting and ignoring nohup.out.
  .gitignore
  fastlane/automatedTests/nohup.out
  nohup.out
Due: none

Using Spring Boot 2.3's docker image task.
  backend/automated-tests/Dockerfile
  backend/automated-tests/build.gradle
Due: backend

PR suggestions.
  backend/sample/micronaut/src/main/resources/application.properties
  backend/sample/spring/src/main/resources/application.properties
Due: backend

widget dsl builders done
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Confirm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/builder/BeagleWidgetBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/context/Bind.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/expression/ExpressionHelper.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/form/SimpleForm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Screen.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ScrollView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/navigation/Touchable.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/pager/PageIndicator.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Image.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
Due: backend

Update android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

:lipstick: Optimize imports
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/core/FormValidatorControllerTest.kt
Due: android

Update .gitignore
  .gitignore
Due: none

Refactor context to use view parent
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextBinding.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataTreeHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/main/res/values/ids.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Text.kt
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: android

change tests assert, create a new Class to treat the value and remove the fun valueToFloat and valueToInt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ValueHandler.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

change tests assert, create a new Class to treat the value and remove the fun valueToFloat and valueToInt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ValueHandler.kt
Due: android

change tests assert, create a new Class to treat the value and remove the fun valueToFloat and valueToInt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextValueHandler.kt
Due: android

feat: add retry to beagle errors
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/CustomBeagleNavigationController.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/ErrorView.swift
  iOS/Sources/Beagle/Sources/Action/Action.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormLocalAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/FormLocalActionTests/test_whenExecuteFormLocalAction_shouldListenToStateChanges.1.txt
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/LazyComponent+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/Tests/LazyComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Context/FormManager.swift
  iOS/Sources/Beagle/Sources/Context/Tests/FormManagerTests.swift
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleNavigationController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Due: ios

creating unit tests
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleRetry.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/FormLocalActionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/WebViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/activities/SampleServerDrivenActivity.kt
Due: android

change button text name
  android/sample/src/main/res/values/strings.xml
Due: android

sample dsl
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewDslScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/DslController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleDslService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/DslController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleDslService.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/builder/BeagleBuilder.kt
Due: backend

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
