Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags:
          - ios
      android:
        target: 70%
        threshold: 7%
        flags:
          - android
      backend:
        target: 70%
        threshold: 7%
        flags:
          - backend
      flutter:
        target: 70%
        threshold: 7%
        flags:
          - flutter
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
    carryforward: true
  flutter:
    paths:
      - flutter/
    carryforward: true
ignore:
  - "iOS/Example"
  - "iOS/Libraries"
  - "iOS/Test"
  - "iOS/Tests"
  - "iOS/Sources/Beagle/BeagleTests"
  - "iOS/Sources/Beagle/**/*Test*.swift"
  - "iOS/Sources/Beagle/**/*Tests*.swift"

change name
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ActionReportFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ActionReportFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/AnalyticsServiceTest.kt
Due: android

fix contract
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsConfig.kt
Due: android

support to styles in the BeagleUIElement
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/model/beagle_style.dart
  flutter/beagle/lib/model/beagle_ui_element.dart
  flutter/beagle/lib/utils/enum.dart
  flutter/beagle/lib/utils/map.dart
  flutter/beagle/test/model/beagle_style.dart
  flutter/javascript-bridge/package.json
Due: flutter

JS functions better memory management + improved code separation (#1269)
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/javascript-bridge/src/global.d.ts
  flutter/beagle/javascript-bridge/src/index.ts
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/javascript-bridge/package.json
  flutter/javascript-bridge/src/action.ts
  flutter/javascript-bridge/src/function.ts
  flutter/javascript-bridge/src/global.d.ts
  flutter/javascript-bridge/src/http-client.ts
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/promise.ts
  flutter/javascript-bridge/src/storage.ts
  flutter/javascript-bridge/src/utils/promise.ts
  flutter/javascript-bridge/src/view.ts
  flutter/javascript-bridge/tsconfig.json
  flutter/javascript-bridge/webpack.config.js
Due: flutter

removes unused map utils
  flutter/beagle/lib/utils/map.dart
Due: flutter

license headers
  flutter/beagle/lib/model/beagle_style.dart
  flutter/beagle/lib/utils/enum.dart
Due: flutter

refactor init kotlin object, enum, abstract
  schema-ruby-erb/model_generation/Templates/kotlin_template_helper.rb
Due: none

finalizing documentation of the schema kotlin methods
  schema-ruby-erb/model_generation/Templates/kotlin_template_helper.rb
Due: none

Flutter: Beagle Style (#1270)
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/model/beagle_style.dart
  flutter/beagle/lib/model/beagle_ui_element.dart
  flutter/beagle/lib/utils/enum.dart
  flutter/beagle/test/model/beagle_style.dart
  flutter/javascript-bridge/package.json
Due: flutter

fix problems
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ActionReportFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ActionReportFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/AnalyticsServiceTest.kt
Due: android

changing the kotlin generation destination
  android/schema.gradle
  backend/schema.gradle
  schema-ruby-erb/model_generation/Common/constants.rb
  schema-ruby-erb/model_generation/main.rb
Due: android, backend

remove kotlin scripts
  schema-ruby-erb/model_generation/Scripts/Kotlin/schema-android.sh
  schema-ruby-erb/model_generation/Scripts/Kotlin/schema-backend.sh
  schema-ruby-erb/model_generation/Scripts/Kotlin/schema-kotlin.sh
  schema-ruby-erb/model_generation/Scripts/Kotlin/test.sh
Due: none

check result in kotlin gradle
  android/schema.gradle
  backend/schema.gradle
Due: android, backend

added title of alert/confim and create navigate button
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NewAnalyticsScreenBuilder.kt
Due: backend

custom actions for flutter
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/beagle_initializer.dart
  flutter/beagle/lib/beagle_remote_view.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/default/default_action_handler.dart
  flutter/beagle/lib/default/default_actions.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/component_builder.dart
  flutter/beagle_components/lib/beagle_components.dart
  flutter/beagle_components/lib/default_component_builder.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/javascript-bridge/src/action.ts
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/view.ts
  flutter/sample/lib/main.dart
Due: flutter

feat: flutter custom actions (#1272)
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/beagle_initializer.dart
  flutter/beagle/lib/beagle_remote_view.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/default/default_action_handler.dart
  flutter/beagle/lib/default/default_actions.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/component_builder.dart
  flutter/beagle_components/lib/beagle_components.dart
  flutter/beagle_components/lib/default_component_builder.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/javascript-bridge/src/action.ts
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/view.ts
  flutter/sample/lib/main.dart
Due: flutter

beagle navigator (incomplete, only pushView implemented)
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/beagle_remote_view.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_navigator_js.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/default/default_http_client.dart
  flutter/beagle/lib/interface/beagle_navigator.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/beagle_view.dart
  flutter/beagle/lib/model/route.dart
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/view.ts
Due: flutter

fix: screen to component (#1262)
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ScreenExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ScreenExtensionsKtTest.kt
Due: android

make gradlew executable
  tests/appium/project/gradlew
Due: none

Implementing the disabled attribute for Android component Button
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
Due: android

Implementing the disabled attribute for Backend component Button
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ButtonTest.kt
Due: android

Implementing the disabled attribute for Backend component Button
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
Due: backend

automated tests for atribute disabled in component Button
  android/automated-tests/src/androidTest/assets/features/Button.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ButtonSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ButtonScreenBuilder.kt
Due: android, backend

adding suggestions
  tests/appium/app-ios/AppiumApp/.gitignore
  tests/appium/app-ios/AppiumApp/AppiumApp.xcodeproj/xcuserdata/luisgustavooliveirasilva.xcuserdatad/xcschemes/xcschememanagement.plist
  tests/appium/app-ios/AppiumApp/AppiumApp/Assets.xcassets/AccentColor.colorset/Contents.json
Due: none

refactor createContainer
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ButtonScreenBuilder.kt
Due: backend

Beagle Navigator
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/beagle_remote_view.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_navigator_js.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/interface/beagle_navigator.dart
  flutter/beagle/lib/interface/beagle_view.dart
  flutter/beagle/lib/interface/types.dart
  flutter/javascript-bridge/src/global.d.ts
  flutter/javascript-bridge/src/view.ts
Due: flutter

refactory, package renaming, removed unnecessary info
  tests/appium/app-android/.editorconfig
  tests/appium/app-android/.gitignore
  tests/appium/app-android/app/.gitignore
  tests/appium/app-android/app/build.gradle
  tests/appium/app-android/app/src/main/AndroidManifest.xml
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumApp/adapters/PersonAdapter.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/AppApplication.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/AppBeagleConfig.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/AppDeepLinkHandler.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/AppDesignSystem.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/AppFormLocalActionHandler.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/activity/AppBeagleActivity.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/activity/DeepLinkActivity.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/activity/MainActivity.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/config/BeagleLoggerDefault.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/config/BeagleMessageLogs.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/config/CoroutineDispatchers.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/config/DatabaseLocalStore.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/config/HttpClientDefault.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/config/HttpURLConnectionExtensions.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/config/MemoryLocalStore.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/config/StoreHandlerDefault.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/widgets/Text.kt
  tests/appium/project/.gitignore
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
Due: none

implementing disabled in button
  schema-ruby-erb/model_generation/Models/Widgets/button.rb
Due: none

:sparkles: Adds support for generation of dokka documentation to hugo md files
  android/beagle/build.gradle
  android/build.gradle
Due: android

:sparkles: Adds support for generation of dokka documentation to hugo md files
  android/beagle/build.gradle
Due: android

remove AnalyticsHandleEvent.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ActionReportFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsHandleEvent.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ActionAnalytics.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ComponentPropertyAssigner.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/AnalyticsViewModel.kt
  android/beagle/src/main/res/values/ids.xml
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ActionReportFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ActionAnalyticsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ConditionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ConfirmTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ComponentPropertyAssignerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/AbstractViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/AnalyticsViewModelTest.kt
Due: android

remove unused imports
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ActionAnalytics.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ComponentPropertyAssigner.kt
Due: android

navigationControllers + useBeagleHeaders + networkStrategy
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/beagle_initializer.dart
  flutter/beagle/lib/beagle_remote_view.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/navigation_controller.dart
  flutter/javascript-bridge/src/index.ts
  flutter/sample/lib/main.dart
Due: flutter

updated doc
  tests/appium/README.MD
  tests/appium/app-android/README.MD
  tests/appium/app-ios/README.MD
  tests/appium/project/README.MD
Due: none

doc update
  tests/appium/README.MD
Due: none

Tests added for the TextInput component
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
Due: android

implementation automated tests disabled button by context
  android/automated-tests/src/androidTest/assets/features/Button.feature
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ButtonScreenBuilder.kt
Due: android, backend

add tests
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ComponentPropertyAssignerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/StringExtensionsKtTest.kt
Due: android

fix implementations
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/OnInitiableComponent.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/OnInitiableComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
Due: android
