Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

Import organization
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/GenericSteps.kt
Due: android

Adjusts a scenario text.
  iOS/Tests/AutomatedTestsUITests/Features/Container.feature
Due: ios

PR review
  android/automated-tests/build.gradle
  android/beagle/build.gradle
  android/build.gradle
  android/preview/build.gradle
  android/sample/build.gradle
Due: android

fix: hotfix version 1.3.1 for Android (#1064)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormSubmitter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextBinding.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextExpressionReplacer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleMoshiExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ColorUtils.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleScreenViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/core/FormSubmitterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/HttpClientDefaultTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ActionExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/BeagleMoshiExtensionsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ColorUtilsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleScreenViewModelTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
Due: android

Removing waiting time to find components with .sleep
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ScrollViewScreenSteps.kt
Due: android

horusec test
  .github/workflows/security.yml
Due: none

remove unused config
  backend/annotation/build.gradle
  backend/kotlin-core/build.gradle
Due: backend

Renames files.
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTests/BeagleConfig.swift
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/CucumberishInit.m
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/Button.feature
  iOS/Tests/AutomatedTestsUITests/Features/Image.feature
  iOS/Tests/AutomatedTestsUITests/Features/ListView.feature
  iOS/Tests/AutomatedTestsUITests/Features/Navigate.feature
  iOS/Tests/AutomatedTestsUITests/Features/PageView.feature
  iOS/Tests/AutomatedTestsUITests/Features/ScrollView.feature
  iOS/Tests/AutomatedTestsUITests/Features/SimpleForm.feature
  iOS/Tests/AutomatedTestsUITests/Features/TabView.feature
  iOS/Tests/AutomatedTestsUITests/Features/Touchable.feature
  iOS/Tests/AutomatedTestsUITests/Robots/ScreenRobot.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ButtonSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/CucumberStepsDefinition.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ImageSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ListViewSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/NavigateSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/PageViewSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ScrollViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ScrollViewSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TabViewSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TouchableScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TouchableSteps.swift
  iOS/Tests/AutomatedTestsUITests/bridging-header.h
  iOS/Tests/AutomatedTestsUITests/scrollToExtension.swift
Due: ios

Function tests refactor
  android/automated-tests/src/androidTest/assets/features/Button.feature
  android/automated-tests/src/androidTest/assets/features/Image.feature
  android/automated-tests/src/androidTest/assets/features/ListView.feature
  android/automated-tests/src/androidTest/assets/features/Navigate.feature
  android/automated-tests/src/androidTest/assets/features/PageView.feature
  android/automated-tests/src/androidTest/assets/features/ScrollView.feature
  android/automated-tests/src/androidTest/assets/features/SimpleForm.feature
  android/automated-tests/src/androidTest/assets/features/TabView.feature
  android/automated-tests/src/androidTest/assets/features/Touchable.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ButtonSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ImageSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ListViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/NavigateSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/PageViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ScrollViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SimpleFormSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TabViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TouchableSteps.kt
Due: android

Function tests refactor
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
Due: android

1.3 schema update
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/Style.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabBarItem+Extension.swift
  schema/schema-ruby-erb/model_generation/Models/Layout/style.rb
Due: ios

Standard to run all tests
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
Due: android

feat: adds Container instrumentation tests (#1065)
  android/automated-tests/build.gradle
  android/automated-tests/src/androidTest/assets/features/Container.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ContainerSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/preview/build.gradle
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ContainerTestsScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ContainersController.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/Container.feature
  iOS/Tests/AutomatedTestsUITests/Steps/ContainerSteps.swift
Due: ios, android, backend

remove module kotlin-core
  android/kotlin-core/gradle.properties
  android/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/UnitValueExtensions.kt
  android/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
Due: android

adjust module
  android/kotlin-core/gradle.properties
  android/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/UnitValueExtensions.kt
  android/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
Due: android

Adding spacing on screen components
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ScrollViewScreenBuilder.kt
Due: backend

Organization of scrollview scenarios
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ScrollViewScreenBuilder.kt
Due: backend

Suitability of .feature for scrollview scenarios
  android/automated-tests/src/androidTest/assets/features/ScrollViewScreen.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ScrollViewScreenSteps.kt
Due: android

Android fix
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/StyleSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/StyleSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Style.kt
Due: none

Adequacy of tests due to changes in the scenario
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ScrollViewScreenSteps.kt
Due: android

adjust Image schema
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
Due: android

removed networj and cache defaults implementations
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Caching/CacheManager/CacheManager.swift
  iOS/Sources/Beagle/Sources/Networking/Default/NetworkClientDefault.swift
  iOS/Sources/Beagle/Sources/Networking/NetworkClient.swift
  iOS/Sources/Beagle/Sources/Networking/RequestDispatcher.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleSetup.swift
Due: ios

removed unused classes
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Caching/CacheManager/Tests/CacheManagerDefaultTests.swift
  iOS/Sources/Beagle/Sources/Networking/Default/HttpRequestBuilder.swift
  iOS/Sources/Beagle/Sources/Networking/Default/Tests/HttpRequestBuilderTest.swift
Due: ios

problem UnusedImports android schema
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/FlexSchema.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/Size.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/SizeSchema.kt
Due: none

remove network client from dependencies
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/Equality.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/Default/HttpRequestBuilder.swift
  iOS/Example/BeagleDemo/BeagleDemo/Default/MemoryCacheService.swift
  iOS/Example/BeagleDemo/BeagleDemo/Default/NetworkClientDefault.swift
  iOS/Example/BeagleDemo/BeagleDemo/Default/Tests/HttpRequestBuilderTest.swift
  iOS/Example/BeagleDemo/BeagleDemo/Default/Tests/MemoryCacheServiceTests.swift
  iOS/Example/BeagleDemo/BeagleDemo/Default/Tests/__Snapshots__/HttpRequestBuilderTest/testBuilder.1.txt
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Networking/HttpAditionalData.swift
  iOS/Sources/Beagle/Sources/Networking/NetworkCache.swift
  iOS/Sources/Beagle/Sources/Networking/NetworkClient.swift
  iOS/Sources/Beagle/Sources/Networking/RequestDispatcher.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/NetworkCacheTest.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleSetup.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

fix: remove default implementation
  android/automated-tests/build.gradle
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/BeagleLoggerDefault.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/CoroutineDispatchers.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/DatabaseLocalStore.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/HttpClientDefault.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/HttpURLConnectionExtensions.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/MemoryLocalStore.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/StoreHandlerDefault.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/BeagleLoggerDefaultTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/BeagleSQLiteDatabaseTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/DatabaseLocalStoreTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/HttpClientDefaultTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/MemoryLocalStoreTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/ReflectionUtils.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/StoreHandlerDefaultTest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleLoggerProxy.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleLoggerFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleLoggerProxyTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/HttpClientFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/store/StoreHandlerFactoryTest.kt
  android/sample/build.gradle
  android/sample/src/main/java/br/com/zup/beagle/sample/BeagleUiSampleApplication.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/BeagleLoggerDefault.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/CoroutineDispatchers.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/DatabaseLocalStore.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/HttpClientDefault.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/HttpURLConnectionExtensions.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/MemoryLocalStore.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/StoreHandlerDefault.kt
Due: android

remove DefaultCache and DefaultLogger from Beagle
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Cache/CacheManager.swift
  iOS/Example/BeagleDemo/BeagleDemo/Cache/LRU/CacheLRU.swift
  iOS/Example/BeagleDemo/BeagleDemo/Cache/LRU/DoublyLinkedList.swift
  iOS/Example/BeagleDemo/BeagleDemo/Cache/LRU/Tests/LRUCacheTests.swift
  iOS/Example/BeagleDemo/BeagleDemo/Cache/Tests/CacheManagerDefaultTests.swift
  iOS/Example/BeagleDemo/BeagleDemo/Default/MemoryCacheService.swift
  iOS/Example/BeagleDemo/BeagleDemo/Logger/BeagleLoggerDefault.swift
  iOS/Example/BeagleDemo/BeagleDemo/Network/HttpRequestBuilder.swift
  iOS/Example/BeagleDemo/BeagleDemo/Network/NetworkClientDefault.swift
  iOS/Example/BeagleDemo/BeagleDemo/Network/Tests/HttpRequestBuilderTest.swift
  iOS/Example/BeagleDemo/BeagleDemo/Network/Tests/MemoryCacheServiceTests.swift
  iOS/Example/BeagleDemo/BeagleDemo/Network/Tests/__Snapshots__/HttpRequestBuilderTest/testBuilder.1.txt
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Logger/BeagleLogger.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
Due: ios

adjust tests
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/BeagleLoggerDefaultTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/CoroutineTestRule.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/DatabaseLocalStoreTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/HttpClientDefaultTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/MemoryLocalStoreTest.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/StoreHandlerDefaultTest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleLoggerProxy.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleLoggerProxyTest.kt
Due: android

add error when api it is empty
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/HttpClientDefault.kt
Due: android

adjust unit tests
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/DatabaseLocalStore.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/BeagleSetupTest.kt
Due: android

adjust unit tests
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/BeagleMessageLogs.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/DatabaseLocalStore.kt
  android/automated-tests/src/test/kotlin/br/com/zup/beagle/automatedTests/DatabaseLocalStoreTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/BeagleMessageLogs.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/DatabaseLocalStore.kt
Due: android

adjust message
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
Due: android

adjust unit test
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleLoggerProxy.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleLoggerProxyTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleMessageLogsTest.kt
Due: android

adjust unit test
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleLoggerProxyTest.kt
Due: android

Adequacy of test
  android/automated-tests/src/androidTest/assets/features/ScrollViewScreen.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ScrollViewScreenSteps.kt
Due: android

fix some fake vulnerability changing the names used
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/PolymorphicJsonAdapterFactory.java
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AlertTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ConfirmTest.kt
Due: android

fix id when reuse cell and nested lists
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Schema/Sources/ServerDrivenComponent/ListView/Tests/ListViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListViewController.swift
Due: ios

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
