Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

Update backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/SizedBox.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/SizedBox.kt
Due: backend

fix page layout of listView tests (#1423)
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Due: backend

feat: Improve iOS test script setup step (#1429)
  .github/workflows/automated_tests_appium_ios.yml
Due: none

create layout struct
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Layout.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/LayoutComponent.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/WidgetStyle.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/WidgetStyleComponent.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/Widget.kt
Due: backend

adjust layouted
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/FlexExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/LayoutExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/Widget.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/FunctionLayoutedTest.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/SetFlexTest.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/SetLayoutTest.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/fake/FlexComponentFake.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/helpers/Accessibility.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/helpers/Center.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/helpers/Expanded.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/helpers/Margin.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/helpers/Padding.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/helpers/SizedBox.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Column.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Row.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Image.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Text.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/helpers/AccessibilityTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/helpers/CenterTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/helpers/ExpandedTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/helpers/MarginTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/helpers/PaddingTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/helpers/SizedBoxTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/layout/ColumnTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/layout/RowTest.kt
  backend/widgets/src/test/kotlin/br/com/zup/beagle/widget/style/PaddingTest.kt
Due: backend

adjust layout
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Layout.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/LayoutExtension.kt
Due: backend

make unowned references weak
  iOS/Example/BeagleDemo/BeagleDemo/Screens/NativeViewController.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Analytics/Deprecated/DeprecatedAnalytics.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Form+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Submit/SubmitFormGestureRecognizer.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Lazy/LazyComponent+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Lazy/Tests/LazyComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewController.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/ComponentHostController.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Screen/ScreenComponent+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Screen/Tests/ScreenComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/TabBar+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/TabBarItemUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/TabBarUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Touchable/Touchable+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/WebView/WebViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Button+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Image/Image+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Expression.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/BindingConfigurator.swift
  iOS/Sources/Beagle/Sources/Renderer/LayoutManager.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BindingConfiguratorTests.swift
Due: ios

feat: create unit test and extensions to widget style
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/WidgetStyle.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/WidgetStyleExtensions.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/FunctionWidgetStyledTest.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/SetWidgetStyleTest.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/fake/FlexComponentFake.kt
Due: backend

fix: iOS - TextInput enabled custom style config (#1440)
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/TextInputTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithDisabled.1.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithDisabled.2.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithEnabled.1.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithEnabled.2.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
Due: ios

adjust name display
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Layout.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/LayoutExtension.kt
Due: backend

fix: iOS - ErrorView retry block (#1428)
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleErrorView.swift
Due: ios

tests removal
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/ActionNotRegistered.feature
  iOS/Tests/AutomatedTestsUITests/Features/AddChildren.feature
  iOS/Tests/AutomatedTestsUITests/Features/Alert.feature
  iOS/Tests/AutomatedTestsUITests/Features/Button.feature
  iOS/Tests/AutomatedTestsUITests/Features/ConditionalAction.feature
  iOS/Tests/AutomatedTestsUITests/Features/Confirm.feature
  iOS/Tests/AutomatedTestsUITests/Features/Container.feature
  iOS/Tests/AutomatedTestsUITests/Features/Image.feature
  iOS/Tests/AutomatedTestsUITests/Features/LazyComponent.feature
  iOS/Tests/AutomatedTestsUITests/Features/PageView.feature
  iOS/Tests/AutomatedTestsUITests/Features/SendRequestAction.feature
  iOS/Tests/AutomatedTestsUITests/Features/SetContext.feature
  iOS/Tests/AutomatedTestsUITests/Features/SimpleForm.feature
  iOS/Tests/AutomatedTestsUITests/Features/TabBar.feature
  iOS/Tests/AutomatedTestsUITests/Features/Text.feature
  iOS/Tests/AutomatedTestsUITests/Features/TextInput.feature
  iOS/Tests/AutomatedTestsUITests/Features/Touchable.feature
  iOS/Tests/AutomatedTestsUITests/Robots/ScreenRobot.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ActionNotRegisteredSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/AddChildrenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/AlertSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ButtonSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ConditionalActionSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ConfirmActionSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ContainerSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ImageSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/LazyComponentSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/PageViewSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SendRequestActionSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SetContextSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TabBarSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TextInputSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TextSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TouchableSteps.swift
Due: none

fix: adjust crash when passing color in page indicator
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageIndicatorTest.kt
Due: android

fix: adjust crash when passing color in page indicator (#1452)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageIndicatorTest.kt
Due: android

tests removal (#1448)
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/ActionNotRegistered.feature
  iOS/Tests/AutomatedTestsUITests/Features/AddChildren.feature
  iOS/Tests/AutomatedTestsUITests/Features/Alert.feature
  iOS/Tests/AutomatedTestsUITests/Features/Button.feature
  iOS/Tests/AutomatedTestsUITests/Features/ConditionalAction.feature
  iOS/Tests/AutomatedTestsUITests/Features/Confirm.feature
  iOS/Tests/AutomatedTestsUITests/Features/Container.feature
  iOS/Tests/AutomatedTestsUITests/Features/Image.feature
  iOS/Tests/AutomatedTestsUITests/Features/LazyComponent.feature
  iOS/Tests/AutomatedTestsUITests/Features/PageView.feature
  iOS/Tests/AutomatedTestsUITests/Features/SendRequestAction.feature
  iOS/Tests/AutomatedTestsUITests/Features/SetContext.feature
  iOS/Tests/AutomatedTestsUITests/Features/SimpleForm.feature
  iOS/Tests/AutomatedTestsUITests/Features/TabBar.feature
  iOS/Tests/AutomatedTestsUITests/Features/Text.feature
  iOS/Tests/AutomatedTestsUITests/Features/TextInput.feature
  iOS/Tests/AutomatedTestsUITests/Features/Touchable.feature
  iOS/Tests/AutomatedTestsUITests/Robots/ScreenRobot.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ActionNotRegisteredSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/AddChildrenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/AlertSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ButtonSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ConditionalActionSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ConfirmActionSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ContainerSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ImageSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/LazyComponentSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/PageViewSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SendRequestActionSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SetContextSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TabBarSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TextInputSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TextSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TouchableSteps.swift
Due: none

make unowned references weak (#1443)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/NativeViewController.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Analytics/Deprecated/DeprecatedAnalytics.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Form+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Submit/SubmitFormGestureRecognizer.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Lazy/LazyComponent+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Lazy/Tests/LazyComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewController.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/ComponentHostController.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Screen/ScreenComponent+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Screen/Tests/ScreenComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/TabBar+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/TabBarItemUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/TabBarUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Touchable/Touchable+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/WebView/WebViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Button+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Image/Image+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Expression.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/BindingConfigurator.swift
  iOS/Sources/Beagle/Sources/Renderer/LayoutManager.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BindingConfiguratorTests.swift
Due: ios

refactor: adjust body parameter
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/RouteAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpAdditionalData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/RequestData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/networking/HttpAdditionalData.kt
Due: android, backend

remove unused imports
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/RequestData.kt
Due: android

refactor: Add tests
  android/beagle-grpc/build.gradle
  android/beagle-grpc/src/main/java/br/com/zup/beagle/android/networking/grpc/GrpcClient.kt
  android/beagle-grpc/src/main/proto/messages.proto
  android/beagle-grpc/src/test/java/br/com/zup/beagle/android/networking/grpc/GrpcClientTest.kt
  android/beagle-grpc/src/test/java/br/com/zup/beagle/android/networking/grpc/ViewNodeTestObject.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/constants/EndPointConstants.kt
Due: android

fix: iOS - make unowned references weak (#1443)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/NativeViewController.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Analytics/Deprecated/DeprecatedAnalytics.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Form+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Submit/SubmitFormGestureRecognizer.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Lazy/LazyComponent+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Lazy/Tests/LazyComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewController.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/ComponentHostController.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Screen/ScreenComponent+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Screen/Tests/ScreenComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/TabBar+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/TabBarItemUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/TabBarUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Touchable/Touchable+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/WebView/WebViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Button+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Image/Image+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Expression.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/BindingConfigurator.swift
  iOS/Sources/Beagle/Sources/Renderer/LayoutManager.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BindingConfiguratorTests.swift
Due: ios

feat: add to support style id in android and backend
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/DesignSystem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ContainerTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
Due: android, backend

adjust lint
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
Due: android

fix: adjust instance of text
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextTest.kt
Due: android

adjust unit test
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/OnInitiableComponentTest.kt
Due: android

adjust all failed unit test
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BeagleTextViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ViewRendererFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleActivityTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ActionReportFactoryTest.kt
Due: android

ajust unit test
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/GenerateIdManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ScreenExtensionsKtTest.kt
Due: android

adjust unit test
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/GenerateIdManagerTest.kt
Due: android

Update backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Padding.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/style/Padding.kt
Due: backend

Update backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/FlexExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/FlexExtension.kt
Due: backend

Update backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/StyleExtension.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/StyleExtension.kt
Due: backend

fix: PageView retain cycle (#1434)
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/Tests/PageViewTests.swift
Due: ios

Path conditions:
  ios: any of: iOS/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  android: any of: android/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  backend: any of: backend/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  flutter: any of: flutter/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
