Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

Fix fail navigation error
  iOS/Sources/Beagle/Sources/Components/WebView+Renderable/WebViewUIComponent.swift
Due: ios

makes the workaround exclusive to the iOS 12 (or prior)
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

Tests adjusted
  android/beagle/src/test/java/br/com/zup/beagle/android/context/GlobalContextTest.kt
Due: android

fix: Avoid showing cold cache from disk (#718)
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
Due: android

Unit tests PR changes
  iOS/Schema/Sources/Widgets/Text/Text.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Caching/CacheManager/Tests/CacheManagerDefaultTests.swift
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Tests/ButtonTests.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/JSON/ImageComponent1.json
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/JSON/ImageComponent2.json
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/__Snapshots__/ImageTests/testPlaceholder.1.png
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Tests/TextTests.swift
Due: ios

refactor: changed the parameters position in GlobalContext.set constructor (#719)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/GlobalContext.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/GlobalContextTest.kt
Due: android

Deleting unnecessary SnapShot images
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Tests/__Snapshots__/TextTests/testRenderTextComponent.1.png
Due: ios

simple form automation update
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/main/java/com/example/automated_tests/activity/MainActivity.kt
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/SimpleFormScreen.feature
Due: ios, android

implemented textInput component attribute onBlur
  android/automated-tests/src/main/java/com/example/automated_tests/activity/MainActivity.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ExpressionEscapingScreenBuilder.kt
Due: android, backend

Fix lint warning
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabViewScreen.swift
Due: ios

Lint corrections
  iOS/Sources/Beagle/Sources/Analytics/Tests/AnalyticsTests.swift
  iOS/Sources/Beagle/Sources/Common/Extensions/Tests/XCTestCase+Leaks.swift
Due: ios

Removing unecessary code
  iOS/Sources/Beagle/Sources/Components/WebView+Renderable/Tests/WebViewTests.swift
  iOS/Sources/Beagle/Sources/Components/WebView+Renderable/WebView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/WebView+Renderable/WebViewUIComponent.swift
Due: ios

:sparkles: Adds deinitForTests method
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
Due: android

fix: Adds method to configure SoLoader in test mode, this is needed to use beagle with robolectric (#704)
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
Due: android

Adding state tests
  iOS/Sources/Beagle/Sources/Components/WebView+Renderable/Tests/WebViewTests.swift
  iOS/Sources/Beagle/Sources/Components/WebView+Renderable/WebView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/WebView+Renderable/WebViewUIComponent.swift
Due: ios

fix: Context DynamicObject transform in iOS 12 prior (#717)
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

Fixing zero size bug to align with android
  iOS/Example/BeagleDemo/BeagleDemo/Screens/WebViewScreen.swift
  iOS/Sources/Beagle/Sources/Components/WebView+Renderable/WebViewUIComponent.swift
Due: ios

ci: Create automatic pr from patch (#655)
  .github/workflows/postRelease.yml
  fastlane/Fastfile
Due: none

ci: changed release workflow to support hofixes (#661)
  .github/workflows/release.yml
  fastlane/Fastfile
  fastlane/get_previous_tag.sh
Due: none

deleted exta ','
  fastlane/Fastfile
Due: none

deleted exta ',' (#721)
  fastlane/Fastfile
Due: none

fix: set secret keys in env variables
  .github/workflows/release.yml
Due: none

fix: set secret keys in env variables (#723)
  .github/workflows/release.yml
Due: none

refactor: tab bar component layout implementation (#714)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabViewScreen.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarCollectionViewCell.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarItemExtension.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
Due: ios

Code Review: Improve logic to check IsEmptyOperation
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/other/IsEmptyOperation.kt
Due: android

fix method BeagleFlexView.configViewPosition
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewContextWithoutServiceBuilder.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleListViewService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleListViewService.kt
Due: android, backend

fix: webView breaking constraints (#720)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/WebViewScreen.swift
  iOS/Sources/Beagle/Sources/Components/WebView+Renderable/Tests/WebViewTests.swift
  iOS/Sources/Beagle/Sources/Components/WebView+Renderable/WebView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/WebView+Renderable/WebViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleNavigationController.swift
Due: ios

fix: updated gems used by Fastlane and Danger
  Gemfile
  Gemfile.lock
Due: none

fix: load view error with successive calls to same url
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
Due: android

docs: documents the Navigate file (#665)
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
Due: ios

fix: updated gems used by Fastlane and Danger (#727)
  Gemfile
  Gemfile.lock
Due: none

Code Review: Exceptions Improvements on delegate and split by group of operations that need to validade the parameters
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/exception/ExceptionController.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/exception/strategy/validation/ArrayValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/exception/strategy/validation/NumberValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/exception/strategy/validation/OperationsValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/exception/strategy/validation/StringValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/exception/strategy/validation/Validation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/exception/strategy/validation/ValidationFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/Operations.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/array/ArrayOperationTypes.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/string/StringOperationTypes.kt
Due: android

fix: load view error with successive calls to same url
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
Due: android

Code Review: Move responsabilities from exceptions validations to Operation
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/core/EvaluateOperationExpression.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/exception/ExceptionController.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/exception/ExceptionFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/exception/ExceptionWrapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/exception/strategy/validation/ArrayValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/exception/strategy/validation/NumberValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/exception/strategy/validation/StringValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/exception/strategy/validation/ValidationFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/operation/Operation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/BaseOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/array/IncludesOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/array/InsertOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/array/RemoveIndexOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/array/RemoveOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/comparison/ComparisionOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/comparison/ComparisionOperationTypes.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/invalid/InvalidOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/logic/AndOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/logic/ConditionOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/logic/NotOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/logic/OrOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/number/NumberOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/number/NumberOperationTypes.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/other/IsEmptyOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/other/IsNullOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/other/LengthOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/string/CapitalizeOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/string/ConcatOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/string/LowercaseOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/string/SubStringOperation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/string/UppercaseOperation.kt
Due: android

ci: fix problem of generating release notes
  .github/workflows/release.yml
  fastlane/Fastfile
Due: none

fix: load view error with successive calls to same url (#731)
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
Due: android

Image placeholder fix.
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
Due: ios

Fixing placeholder unit test
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/Components/WebView+Renderable/WebViewUIComponent.swift
Due: ios

refactor: Unit test refactor to conform with guidelines (#691)
  iOS/Schema/Sources/Widgets/Text/Text.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Tests/LocalFormHandlerTests.swift
  iOS/Sources/Beagle/Sources/Action/Tests/TouchableTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/ConfirmTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/FormLocalActionTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/FormValidationTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/NavigateTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/FormLocalActionTests/testStateChanges.1.txt
  iOS/Sources/Beagle/Sources/Analytics/Tests/AnalyticsTests.swift
  iOS/Sources/Beagle/Sources/Caching/CacheManager/Tests/CacheManagerDefaultTests.swift
  iOS/Sources/Beagle/Sources/Caching/CoreData/Tests/CacheDiskManagerTests.swift
  iOS/Sources/Beagle/Sources/Caching/LRU/Tests/LRUCacheTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/BeaglePrefetchHelperTests.swift
  iOS/Sources/Beagle/Sources/Common/Extensions/Tests/XCTestCase+Delay.swift
  iOS/Sources/Beagle/Sources/Common/Extensions/Tests/XCTestCase+FatalError.swift
  iOS/Sources/Beagle/Sources/Common/Extensions/Tests/XCTestCase+Leaks.swift
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Button+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Tests/ButtonTests.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/JSON/ImageComponent1.json
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/JSON/ImageComponent2.json
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/__Snapshots__/ImageTests/testPlaceholder.1.png
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/__Snapshots__/ImageTests/testRenderImage.1.png
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/LazyComponent+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/SimpleForm+Renderable/Tests/SimpleFormTests.swift
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Tests/TextTests.swift
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Tests/__Snapshots__/TextTests/testRenderTextComponent.1.png
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Text+Renderable.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression.swift
  iOS/Sources/Beagle/Sources/Networking/Repository.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Due: ios

make some changes
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
Due: android
