Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

updating bff lazy
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/LazyComponentScreenBuilder.kt
Due: backend

add path of webImage
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TabBarScreenBuilder.kt
Due: backend

Updating tabBar bff to improve web tests
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TabBarScreenBuilder.kt
Due: backend

create test to preview activity
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/preview/build.gradle
  android/preview/src/main/AndroidManifest.xml
  android/preview/src/main/java/br/com/zup/beagle/android/preview/PreviewActivity.kt
  android/preview/src/test/java/br/com/zup/beagle/android/preview/MyBeagleSetup.kt
  android/preview/src/test/java/br/com/zup/beagle/android/preview/PreviewActivityTest.kt
  android/preview/src/test/resources/robolectric.properties
Due: android

Lazy component feature ok
  android/automated-tests/src/androidTest/assets/features/LazyComponent.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/LazyComponentSteps.kt
Due: android

Lazy component bff adjusted
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/LazyComponentScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/LazyFailureScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/LazySuccessScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
Due: backend

unused import removed
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/LazySuccessScreenBuilder.kt
Due: backend

Rregression tests ok
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
Due: android

schema documentation in kotlin
  schema-ruby-erb/model_generation/Models/Accessibility/accessibility.rb
  schema-ruby-erb/model_generation/Models/Action/action.rb
  schema-ruby-erb/model_generation/Models/Analytics/click_event.rb
  schema-ruby-erb/model_generation/Models/Analytics/touchable_analytics.rb
  schema-ruby-erb/model_generation/Models/Layout/Flex/align_content.rb
  schema-ruby-erb/model_generation/Models/Layout/Flex/align_items.rb
  schema-ruby-erb/model_generation/Models/Layout/Flex/align_self.rb
  schema-ruby-erb/model_generation/Models/Layout/Flex/flex.rb
  schema-ruby-erb/model_generation/Models/Layout/Flex/flex_direction.rb
  schema-ruby-erb/model_generation/Models/Layout/Flex/flex_wrap.rb
  schema-ruby-erb/model_generation/Models/Layout/Flex/justify_content.rb
  schema-ruby-erb/model_generation/Models/Layout/corner_radius.rb
  schema-ruby-erb/model_generation/Models/Layout/display.rb
  schema-ruby-erb/model_generation/Models/Layout/edge_value.rb
  schema-ruby-erb/model_generation/Models/Layout/position_type.rb
  schema-ruby-erb/model_generation/Models/Layout/size.rb
  schema-ruby-erb/model_generation/Models/Layout/style.rb
  schema-ruby-erb/model_generation/Models/Layout/unit_type.rb
  schema-ruby-erb/model_generation/Models/Layout/unit_value.rb
  schema-ruby-erb/model_generation/Models/ServerDriven/server_driven_component.rb
  schema-ruby-erb/model_generation/Models/Widgets/accessibility_component.rb
  schema-ruby-erb/model_generation/Models/Widgets/button.rb
  schema-ruby-erb/model_generation/Models/Widgets/identifier_component.rb
  schema-ruby-erb/model_generation/Models/Widgets/style_component.rb
  schema-ruby-erb/model_generation/Models/Widgets/widget.rb
  schema-ruby-erb/model_generation/Templates/kotlin.erb
  schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
  schema-ruby-erb/model_generation/Templates/kotlin_template_helper.rb
  schema-ruby-erb/model_generation/Templates/template_helper.rb
Due: none

adding ios tests
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ScrollViewScreenBuilder.kt
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Features/ScrollView.feature
  iOS/Tests/AutomatedTestsUITests/Steps/ScrollViewSteps.swift
Due: ios, backend

adjust test preview
  android/preview/build.gradle
  android/preview/src/test/java/br/com/zup/beagle/android/preview/PreviewActivityTest.kt
Due: android

adjust code
  android/preview/src/test/AndroidManifest.xml
Due: android

adjust task preview
  android/preview/build.gradle
Due: android

add property in preview
  android/preview/build.gradle
Due: android

PR update
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
Due: android

Scenarios added to verify that what was typed will be shown as expected
  android/automated-tests/src/androidTest/assets/features/TextInput.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputSteps.kt
Due: android

Rregression tests ok
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
Due: android

Changes to the screen to add verification scenarios of what was typed
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
Due: backend

Adjust BFF
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Book.kt
Due: backend

listview: added action for template
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Due: backend

adjust to send report about class with junit4
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/jacoco-android.gradle
  android/preview/build.gradle
  android/preview/src/test/java/br/com/zup/beagle/android/preview/PreviewActivityTest.kt
Due: android

Change in the description of test scenarios to suit the web
  android/automated-tests/src/androidTest/assets/features/TextInput.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputSteps.kt
Due: android

Scenario text organization
  android/automated-tests/src/androidTest/assets/features/ScrollView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ScrollViewSteps.kt
Due: android

adding ios lazy tests
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/LazyFailureScreenBuilder.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Features/LazyComponent.feature
  iOS/Tests/AutomatedTestsUITests/Steps/LazyComponentSteps.swift
Due: ios, backend

Text organization
  android/automated-tests/src/androidTest/assets/features/TextInput.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputSteps.kt
Due: android

images for web tests were added into the bff
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  backend/automated-tests/src/main/resources/images/beagle1.jpg
  backend/automated-tests/src/main/resources/images/beagle2.jpg
Due: backend

removed unused imports
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
Due: backend

removed the wyld card
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/matcher/MatcherExtension.kt
Due: android

change web image paths
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TabBarScreenBuilder.kt
Due: backend

test: add funcional test to scrollview component (#1172)
  android/automated-tests/src/androidTest/assets/features/ScrollView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ScrollViewSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ScrollViewScreenBuilder.kt
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Features/ScrollView.feature
  iOS/Tests/AutomatedTestsUITests/Steps/ScrollViewSteps.swift
Due: ios, android, backend

test: add test to preview activity (#1173)
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/jacoco-android.gradle
  android/preview/build.gradle
  android/preview/src/main/java/br/com/zup/beagle/android/preview/PreviewActivity.kt
  android/preview/src/test/AndroidManifest.xml
  android/preview/src/test/java/br/com/zup/beagle/android/preview/MyBeagleSetup.kt
  android/preview/src/test/java/br/com/zup/beagle/android/preview/PreviewActivityTest.kt
  android/preview/src/test/resources/robolectric.properties
Due: android

solving conflicts
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
Due: android

Fix processor test and add more one
  android/processor/src/test/java/br/com/zup/beagle/analytics2/AnalyticsProvider.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/AnalyticsProviderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/AnalyticsMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/AnalyticsProviderMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/BeagleConfigMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/BeagleSetupMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/DeepLinkHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/DesignSystemMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/FormLocalActionHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/ImageDownloaderMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/LoggerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/StoreHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/UrlBuilderMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
Due: android

refactor test (#1168)
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
Due: android

Update android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
Due: android

refactor: move constant to variable local to help develop understand the deprecation message
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/RouteAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleRegex.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
Due: android

removing mocked container
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/LazySuccessScreenBuilder.kt
Due: backend

PR updates
  android/automated-tests/src/androidTest/assets/features/LazyComponent.feature
Due: android

Mocked address removed
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/LazySuccessScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/WebViewScreenBuilder.kt
Due: backend

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
