Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

Changing project name
  .github/workflows/ios-pr.yml
  iOS/Example/BeagleSample/BeagleSample/ViewController.swift
  iOS/Example/BeagleSample/BeagleSampleTests/BeagleSampleTests.swift
  iOS/Example/BeagleSample/BeagleSampleTests/Info.plist
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcodeproj/project.pbxproj
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcodeproj/xcshareddata/xcschemes/CocoaPodsTest.xcscheme
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcworkspace/contents.xcworkspacedata
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Example/CocoaPodsTest/CocoaPodsTest/AppDelegate.swift
  iOS/Example/CocoaPodsTest/CocoaPodsTest/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/Example/CocoaPodsTest/CocoaPodsTest/Assets.xcassets/Contents.json
  iOS/Example/CocoaPodsTest/CocoaPodsTest/Base.lproj/LaunchScreen.storyboard
  iOS/Example/CocoaPodsTest/CocoaPodsTest/Info.plist
  iOS/Example/CocoaPodsTest/CocoaPodsTest/ViewController.swift
  iOS/Example/CocoaPodsTest/Podfile
Due: ios

Test target added
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcodeproj/project.pbxproj
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcodeproj/xcshareddata/xcschemes/CocoaPodsTest.xcscheme
  iOS/Example/CocoaPodsTest/CocoaPodsTestTests/CocoaPodsTestTests.swift
  iOS/Example/CocoaPodsTest/CocoaPodsTestTests/Info.plist
Due: ios

ContextPathResolver fixed
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextPathResolver.kt
Due: android

refactor class and add some functions
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
Due: android

create tests
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewTwoTest.kt
Due: android

ios pageview automation
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/PageViewScreen.feature
  iOS/Tests/AutomatedTestsUITests/Steps/PageViewScreenSteps.swift
Due: ios

Unitary Test created
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextPathResolver.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextPathResolverTest.kt
Due: android

Tests ok
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextPathResolver.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextPathResolverTest.kt
Due: android

Adding integration tests to fastfile
  .github/workflows/ios-pr.yml
  fastlane/Fastfile
Due: none

change the sequence .apply extension from makeBeagleView to set stateChangedListener first
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
Due: android

Removing tests
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcodeproj/project.pbxproj
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcodeproj/xcshareddata/xcschemes/CocoaPodsTest.xcscheme
  iOS/Example/CocoaPodsTest/CocoaPodsTestTests/CocoaPodsTestTests.swift
  iOS/Example/CocoaPodsTest/CocoaPodsTestTests/Info.plist
Due: ios

create simpleform component and implement retry
  android/automated-tests/src/main/java/com/example/automated_tests/AppBeagleActivitiy.kt
  android/automated-tests/src/main/java/com/example/automated_tests/MainActivity.kt
  android/automated-tests/src/main/res/layout/activity_app_beagle.xml
  android/automated-tests/src/main/res/values/strings.xml
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
Due: android, backend

created onBlur attribute simpleform component
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
Due: backend

Adding test config
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcodeproj/project.pbxproj
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcodeproj/xcshareddata/xcschemes/CocoaPodsTest.xcscheme
  iOS/Example/CocoaPodsTest/CocoaPodsTestUnitTests/CocoaPodsTestUnitTests.swift
  iOS/Example/CocoaPodsTest/CocoaPodsTestUnitTests/Info.plist
Due: ios

context test
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
Due: backend

created screens for textInput and simpleForm components
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
Due: backend

Refactor context to break in more concise class
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextBinding.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManipulator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataTreeHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextPathResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/GlobalContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonCreateTree.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonPathUtils.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManipulatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataTreeHelperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextPathResolverTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/GlobalContextTest.kt
Due: android

removed unused file and added checkout to master when is not a hot fix
  fastlane/Fastfile
  fastlane/get_previous_tag.sh
Due: none

remove internal keyword
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
Due: android

Removing class with no license
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcodeproj/project.pbxproj
  iOS/Example/CocoaPodsTest/CocoaPodsTestUnitTests/CocoaPodsTestUnitTests.swift
  iOS/Example/CocoaPodsTest/CocoaPodsTestUnitTests/CocoaPodsTests.swift
Due: ios

Update ImageBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/ImageBuilder.kt
Due: android

simpleForm automation insertion
  android/automated-tests/src/main/java/com/example/automated_tests/MainActivity.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/SimpleFormScreen.feature
  iOS/Tests/AutomatedTestsUITests/Robots/ScreenRobot.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormScreenSteps.swift
Due: ios, android

Removed explicit version from published BFF image.
  .github/workflows/publish_test_backend.yml
  fastlane/automatedTests/publish_test_backend.sh
Due: none

adjust
  android/components/src/main/java/br/com/zup/beagle/android/view/ComponentsViewFactory.kt
  android/context/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/core-beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/core-beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/core-beagle/src/main/java/br/com/zup/beagle/android/utils/CoroutineDispatchers.kt
  android/core-design-system/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/SimpleFormScreenBuilder.kt
Due: android, backend

set first the listener to make sure that the listener variable is not null when the loadView method is called
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
Due: android

adjust code style
  android/components/src/main/java/br/com/zup/beagle/android/view/ComponentsViewFactory.kt
  android/core-beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/core-beagle/src/main/java/br/com/zup/beagle/android/utils/CoroutineDispatchers.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupInternalRegisteredActionGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupInternalRegisteredWidgetGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/SimpleFormScreenBuilder.kt
Due: android, backend

adjust test
  android/context/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/core-beagle/build.gradle
  android/core-beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
  android/core-beagle/src/test/java/br/com/zup/beagle/android/utils/BaseTest.kt
  android/core-beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
Due: android

adjust detekt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClasses.kt
  config/detekt-default-config.yml
Due: android, backend

adjust warning
  android/core-design-system/src/main/java/br/com/zup/beagle/android/designsystem/constant/DesignSystemConstant.kt
  android/store/src/main/java/br/com/zup/beagle/android/store/DatabaseContext.kt
Due: android

fix: remove internal keyword (#679)
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
Due: android

fix: evaluate expression with variable string name value was the same as context id. (#676)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextPathResolver.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextPathResolverTest.kt
Due: android

fix: set the Android listener before loadView method is called (#681)
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
Due: android

Update BeagleBuilder.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/BeagleBuilder.kt
Due: none

Fix webview without defined size
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
  android/beagle/src/test/java/br/com/zup/beagle/android/components/WebViewTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/WebViewFragment.kt
Due: android

create parent scroll and change the needToExecuteOnScrollEnd
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
Due: android

Optimize imports
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
Due: android

create some tests
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewTwoTest.kt
Due: android

Added tests got Global Context. 1 is failing
  android/beagle/src/test/java/br/com/zup/beagle/android/context/GlobalContextTest.kt
Due: android

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
