Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

Update flutter/beagle_components/lib/beagle_text.dart
  flutter/beagle_components/lib/beagle_text.dart
Due: flutter

iOS - Add isHeader property in Accessibility model tests
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/Widget/Tests/__Snapshots__/WidgetTests/testParsingOfWidgetWithAllAttributes.1.txt
  iOS/Sources/Beagle/Sources/SchemaGenerated/Accessibility.swift
Due: ios

test step...
  .github/workflows/automated_tests_appium_android.yml
Due: none

fix: Local image crashing with invalid asset (#1337)
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/pubspec.yaml
  flutter/beagle_components/test/beagle_image_test.dart
  flutter/beagle_components/test/goldens/beagle_image_remote_not_found.png
Due: flutter

script update
  .github/workflows/automated_tests_appium_android.yml
  fastlane/automatedTests/appium/setup_apk_in_browserstack_and_run_android_tests.sh
Due: none

fix
  .github/workflows/automated_tests_appium_android.yml
  fastlane/automatedTests/appium/android/browserstack/setup_apk_in_browserstack_and_run_android_tests.sh
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
Due: none

script
  fastlane/automatedTests/appium/android/browserstack/setup_apk_in_browserstack_and_run_android_tests.sh
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
Due: none

feat: Add flutter logging support
  flutter/beagle/lib/beagle_initializer.dart
  flutter/beagle/lib/logger/beagle_logger.dart
  flutter/beagle/lib/logger/beagle_logger_proxy.dart
  flutter/beagle/test/logger/beagle_logger_proxy_test.dart
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/sample/lib/default_logger.dart
  flutter/sample/pubspec.yaml
Due: flutter

script
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
Due: none

script
  fastlane/automatedTests/appium/android/browserstack/setup_apk_in_browserstack_and_run_android_tests.sh
Due: none

fix image widget logging
  flutter/beagle_components/lib/beagle_image.dart
Due: flutter

refactor: remove unused imports
  flutter/beagle_components/lib/beagle_image.dart
Due: flutter

Update android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataActionReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataActionReport.kt
Due: android

refactor: removed logging package from sample app
  flutter/sample/lib/default_logger.dart
  flutter/sample/pubspec.yaml
Due: flutter

working validation
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/BeagleConfig.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/BeagleStyle.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SimpleForm.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Action/Types/SubmitForm+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
Due: ios

fix
  .github/workflows/automated_tests_appium_android.yml
Due: none

Update android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
Due: android

script
  .github/workflows/automated_tests_appium_android.yml
Due: none

fix states order
  iOS/Example/BeagleDemo/BeagleDemo/Screens/NativeViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
Due: ios

remove test
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/DataActionReportTest.kt
Due: android

remove unnecessary fun
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ComponentPropertyAssigner.kt
Due: android

adding example
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabBarScreen.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Tests/JSON/widgetWithAllAttributes.json
  iOS/Sources/Beagle/Sources/Components/Widget/Tests/__Snapshots__/WidgetTests/testParsingOfWidgetWithAllAttributes.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Accessibility/Accessibility.swift
Due: ios

fix test
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataActionReport.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/DataActionReportTest.kt
Due: android

refactor: removed BeagleLoggerProxy
  flutter/beagle/lib/beagle_initializer.dart
  flutter/beagle/lib/logger/beagle_logger_proxy.dart
  flutter/beagle/test/logger/beagle_logger_proxy_test.dart
  flutter/beagle_components/lib/beagle_image.dart
Due: flutter

rename ActionAnalytics for AnalyticsAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AnalyticsAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/AnalyticsViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ActionReportFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataActionReport.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/AnalyticsViewModelTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ActionReportFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/AnalyticsServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/DataActionReportTest.kt
Due: android

rename class
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/AnalyticsActionConfigAdapterFactory.kt
Due: android

script
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ButtonScreenBuilder.kt
Due: backend

implement flag in integration with schema codecov
  .github/workflows/schema_tests.yml
Due: none

script
  .github/workflows/automated_tests_appium_android.yml
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ButtonScreenBuilder.kt
Due: backend

Path conditions:
  ios: any of: iOS/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  android: any of: android/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  backend: any of: backend/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  flutter: any of: flutter/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
