Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

refactor: add new function to get expression
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildrenAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/UndefinedAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
Due: android

Using template helper in general Kotlin.
  schema/schema-ruby-erb/model_generation/Templates/kotlin.erb
Due: none

Fixed general Kotlin boolean type.
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/AccessibilitySchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/AnalyticsClickSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TextInputSchema.kt
  schema/schema-ruby-erb/model_generation/Templates/template_helper.rb
Due: none

Removed old manual integration.
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ButtonSchema.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextSchema.kt
Due: backend

refactor: add new function to get expression (#921)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildrenAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/UndefinedAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
Due: android

adding expression to route url
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/NavigationControllers/CustomBeagleNavigationController.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/NavigateTypeScreen.swift
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/NavigateTests.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/test_decoding_pushView.1.txt
  iOS/Sources/Beagle/BeagleTests/Spies/BeaglePrefetchHelpingSpy.swift
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/BeaglePrefetchHelper.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/BeaglePrefetchHelperTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Tests/ButtonTests.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/Tests/ScreenComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/Beagle/Sources/Logger/Tests/BeagleLoggerTests.swift
  iOS/Sources/Beagle/Sources/Logger/Tests/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
Due: ios

reverting button style
  iOS/Example/BeagleDemo/BeagleDemo/BeagleStyle.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/ViewConfigurator.swift
Due: ios

Passing tags parameters to iOS Automated tests
  iOS/Tests/AutomatedTests.xcodeproj/xcshareddata/xcschemes/AutomatedTests.xcscheme
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
Due: ios

fix: widgets styles that uses view size don't work properly (#902)
  iOS/Example/BeagleDemo/BeagleDemo/BeagleStyle.swift
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Button+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Text+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TextInput+Renderable/TextInput.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/ViewConfigurator.swift
  iOS/Sources/Beagle/Sources/Theme/Theme.swift
  iOS/Sources/Beagle/Sources/Theme/ThemeTests.swift
Due: ios

adding test
  iOS/Schema/Sources/Action/Types/Navigate/Tests/NavigateTests.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/testDecodingPushStack.1.txt
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/testDecodingPushView.1.txt
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/testDecodingPushViewWithContext.1.txt
Due: ios

fixing code smells
  iOS/Sources/Beagle/Sources/Caching/Prefetch/BeaglePrefetchHelper.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
Due: ios

documented base attributes
  schema/schema-ruby-erb/.yardoc/checksums
  schema/schema-ruby-erb/.yardoc/objects/root.dat
  schema/schema-ruby-erb/doc/BaseAttributes.html
  schema/schema-ruby-erb/doc/BaseComponent.html
  schema/schema-ruby-erb/doc/BaseType.html
  schema/schema-ruby-erb/doc/BasicType.html
  schema/schema-ruby-erb/doc/BasicTypeKeys.html
  schema/schema-ruby-erb/doc/BuiltInType.html
  schema/schema-ruby-erb/doc/Constants.html
  schema/schema-ruby-erb/doc/EnumCase.html
  schema/schema-ruby-erb/doc/EnumType.html
  schema/schema-ruby-erb/doc/FileHandler.html
  schema/schema-ruby-erb/doc/List.html
  schema/schema-ruby-erb/doc/ModelGenerator.html
  schema/schema-ruby-erb/doc/SupportedLanguages.html
  schema/schema-ruby-erb/doc/TemplateHelper.html
  schema/schema-ruby-erb/doc/Variable.html
  schema/schema-ruby-erb/doc/_index.html
  schema/schema-ruby-erb/doc/file.README.html
  schema/schema-ruby-erb/doc/index.html
  schema/schema-ruby-erb/doc/top-level-namespace.html
  schema/schema-ruby-erb/model_generation/Synthax/Attributes/base_attributes.rb
Due: none

renaming test and update
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
Due: ios

renaming test
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
Due: ios

synthax documented
  schema/schema-ruby-erb/.yardoc/checksums
  schema/schema-ruby-erb/.yardoc/objects/root.dat
  schema/schema-ruby-erb/doc/BaseAttributes.html
  schema/schema-ruby-erb/doc/BaseComponent.html
  schema/schema-ruby-erb/doc/BaseType.html
  schema/schema-ruby-erb/doc/BasicType.html
  schema/schema-ruby-erb/doc/BasicTypeKeys.html
  schema/schema-ruby-erb/doc/BuiltInType.html
  schema/schema-ruby-erb/doc/Constants.html
  schema/schema-ruby-erb/doc/EnumCase.html
  schema/schema-ruby-erb/doc/EnumType.html
  schema/schema-ruby-erb/doc/FileHandler.html
  schema/schema-ruby-erb/doc/List.html
  schema/schema-ruby-erb/doc/ModelGenerator.html
  schema/schema-ruby-erb/doc/SupportedLanguages.html
  schema/schema-ruby-erb/doc/TemplateHelper.html
  schema/schema-ruby-erb/doc/Variable.html
  schema/schema-ruby-erb/doc/_index.html
  schema/schema-ruby-erb/doc/file.README.html
  schema/schema-ruby-erb/doc/index.html
  schema/schema-ruby-erb/doc/top-level-namespace.html
  schema/schema-ruby-erb/model_generation/Synthax/Attributes/enum_case.rb
  schema/schema-ruby-erb/model_generation/Synthax/Attributes/list.rb
  schema/schema-ruby-erb/model_generation/Synthax/Attributes/variable.rb
  schema/schema-ruby-erb/model_generation/Synthax/Types/basic_type.rb
  schema/schema-ruby-erb/model_generation/Synthax/Types/built_in_type.rb
  schema/schema-ruby-erb/model_generation/Synthax/Types/enum_type.rb
  schema/schema-ruby-erb/model_generation/Synthax/Types/type.rb
Due: none

base component documented
  schema/schema-ruby-erb/.yardoc/checksums
  schema/schema-ruby-erb/.yardoc/objects/root.dat
  schema/schema-ruby-erb/doc/BaseAttributes.html
  schema/schema-ruby-erb/doc/BaseComponent.html
  schema/schema-ruby-erb/doc/BaseType.html
  schema/schema-ruby-erb/doc/BasicType.html
  schema/schema-ruby-erb/doc/BasicTypeKeys.html
  schema/schema-ruby-erb/doc/BuiltInType.html
  schema/schema-ruby-erb/doc/Constants.html
  schema/schema-ruby-erb/doc/EnumCase.html
  schema/schema-ruby-erb/doc/EnumType.html
  schema/schema-ruby-erb/doc/FileHandler.html
  schema/schema-ruby-erb/doc/List.html
  schema/schema-ruby-erb/doc/ModelGenerator.html
  schema/schema-ruby-erb/doc/SupportedLanguages.html
  schema/schema-ruby-erb/doc/TemplateHelper.html
  schema/schema-ruby-erb/doc/Variable.html
  schema/schema-ruby-erb/doc/_index.html
  schema/schema-ruby-erb/doc/file.README.html
  schema/schema-ruby-erb/doc/index.html
  schema/schema-ruby-erb/doc/top-level-namespace.html
  schema/schema-ruby-erb/model_generation/Models/base_component.rb
Due: none

Updated backend generation with template helper.
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Accessibility.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/AnalyticsClick.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/AnalyticsEvent.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/AnalyticsScreen.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Button.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Container.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/CornerRadius.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Flex.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Image.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Size.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Style.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Text.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/TextInput.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/UnitValue.kt
  schema/schema-ruby-erb/model_generation/Templates/kotlin.erb
  schema/schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

documented model generator
  schema/schema-ruby-erb/.yardoc/checksums
  schema/schema-ruby-erb/.yardoc/object_types
  schema/schema-ruby-erb/.yardoc/objects/root.dat
  schema/schema-ruby-erb/.yardopts
  schema/schema-ruby-erb/doc/BaseAttributes.html
  schema/schema-ruby-erb/doc/BaseComponent.html
  schema/schema-ruby-erb/doc/BaseType.html
  schema/schema-ruby-erb/doc/BasicType.html
  schema/schema-ruby-erb/doc/BasicTypeKeys.html
  schema/schema-ruby-erb/doc/BuiltInType.html
  schema/schema-ruby-erb/doc/EnumCase.html
  schema/schema-ruby-erb/doc/EnumType.html
  schema/schema-ruby-erb/doc/FileHandler.html
  schema/schema-ruby-erb/doc/List.html
  schema/schema-ruby-erb/doc/ModelGenerator.html
  schema/schema-ruby-erb/doc/SupportedLanguages.html
  schema/schema-ruby-erb/doc/TemplateHelper.html
  schema/schema-ruby-erb/doc/Variable.html
  schema/schema-ruby-erb/doc/_index.html
  schema/schema-ruby-erb/doc/class_list.html
  schema/schema-ruby-erb/doc/file.README.html
  schema/schema-ruby-erb/doc/index.html
  schema/schema-ruby-erb/doc/method_list.html
  schema/schema-ruby-erb/doc/top-level-namespace.html
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

documented file handler
  schema/schema-ruby-erb/.yardoc/checksums
  schema/schema-ruby-erb/.yardoc/objects/root.dat
  schema/schema-ruby-erb/.yardopts
  schema/schema-ruby-erb/doc/BaseAttributes.html
  schema/schema-ruby-erb/doc/BaseComponent.html
  schema/schema-ruby-erb/doc/BaseType.html
  schema/schema-ruby-erb/doc/BasicType.html
  schema/schema-ruby-erb/doc/BasicTypeKeys.html
  schema/schema-ruby-erb/doc/BuiltInType.html
  schema/schema-ruby-erb/doc/EnumCase.html
  schema/schema-ruby-erb/doc/EnumType.html
  schema/schema-ruby-erb/doc/FileHandler.html
  schema/schema-ruby-erb/doc/List.html
  schema/schema-ruby-erb/doc/ModelGenerator.html
  schema/schema-ruby-erb/doc/SupportedLanguages.html
  schema/schema-ruby-erb/doc/TemplateHelper.html
  schema/schema-ruby-erb/doc/Variable.html
  schema/schema-ruby-erb/doc/_index.html
  schema/schema-ruby-erb/doc/file.README.html
  schema/schema-ruby-erb/doc/index.html
  schema/schema-ruby-erb/doc/top-level-namespace.html
  schema/schema-ruby-erb/model_generation/FileHandler/file_handler.rb
  schema/schema-ruby-erb/model_generation/Synthax/Attributes/variable.rb
Due: none

Extracted ImagePath from Image.kt.
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Image.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ImagePath.kt
Due: backend

Skipped enum generation in backend.
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/ImageContentMode.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/TextInputType.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/UnitType.kt
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

Removed Schema suffix from enums in Kotlin.
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/Display.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ImageContentMode.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/StyleSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TextInputType.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/UnitType.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Button.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/EdgeValue.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Flex.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Image.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Size.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Style.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/TextInput.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/UnitValue.kt
  schema/schema-ruby-erb/model_generation/Templates/kotlin.erb
  schema/schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

Stopped generating unecessary secondary constructor in backend Kotlin.
  schema/schema-ruby-erb/model_generation/Templates/kotlin.erb
  schema/schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
Due: none

Revert "Removed Schema suffix from enums in Kotlin."
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/DisplaySchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ImageContentModeSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/StyleSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TextInputTypeSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/UnitTypeSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Button.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/EdgeValue.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Flex.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Image.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Size.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Style.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/TextInput.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/UnitValue.kt
  schema/schema-ruby-erb/model_generation/Templates/kotlin.erb
  schema/schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

Added Display component.
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

Updated generated code.
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/AccessibilitySchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/AnalyticsClickSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/AnalyticsEventSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/AnalyticsScreenSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ButtonSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ContainerSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/CornerRadiusSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/DisplaySchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/EdgeValueSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/FlexSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ImageSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/SizeSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/StyleSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TextInputSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TextSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/UnitValueSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Accessibility.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/AnalyticsClick.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/AnalyticsEvent.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/AnalyticsScreen.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Button.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Container.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/CornerRadius.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/EdgeValue.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Flex.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Image.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Size.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Style.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Text.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/TextInput.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/UnitValue.kt
Due: none

added dynamic object dictionary validation with snapshot
  iOS/DynamicObjectExtension.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/ContextExpression/Tests/ExpressionTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/Json/testDictionarySnapShot.json
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/testDictionarySnapShot.1.txt
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Common/Extensions/DynamicObjectExtension.swift
Due: ios

feat: adding expression support to remote navigation (#922)
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/NavigationControllers/CustomBeagleNavigationController.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/NavigateTypeScreen.swift
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/NavigateTests.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/testDecodingPushStack.1.txt
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/testDecodingPushView.1.txt
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/testDecodingPushViewWithContext.1.txt
  iOS/Sources/Beagle/BeagleTests/Spies/BeaglePrefetchHelpingSpy.swift
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/BeaglePrefetchHelper.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/BeaglePrefetchHelperTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Tests/ButtonTests.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/Tests/ScreenComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/Beagle/Sources/Logger/Tests/BeagleLoggerTests.swift
  iOS/Sources/Beagle/Sources/Logger/Tests/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
Due: ios

Changing the image component and adding tests
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ImageScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/Widgets/Image/Image.swift
  iOS/Schema/Sources/Widgets/Image/Tests/__Snapshots__/ImageTests/test_whenDecodingJson_thenItShouldReturnAnImage.1.txt
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
Due: ios

updating readme.md
  schema/schema-ruby-erb/README.md
Due: none

Fix hasExpression extension import
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
Due: android

deleted docs and added to gitignore
  schema/schema-ruby-erb/.gitignore
  schema/schema-ruby-erb/doc/BaseAttributes.html
  schema/schema-ruby-erb/doc/BaseComponent.html
  schema/schema-ruby-erb/doc/BaseType.html
  schema/schema-ruby-erb/doc/BasicType.html
  schema/schema-ruby-erb/doc/BasicTypeKeys.html
  schema/schema-ruby-erb/doc/BuiltInType.html
  schema/schema-ruby-erb/doc/Constants.html
  schema/schema-ruby-erb/doc/EnumCase.html
  schema/schema-ruby-erb/doc/EnumType.html
  schema/schema-ruby-erb/doc/FileHandler.html
  schema/schema-ruby-erb/doc/List.html
  schema/schema-ruby-erb/doc/ModelGenerator.html
  schema/schema-ruby-erb/doc/SupportedLanguages.html
  schema/schema-ruby-erb/doc/TemplateHelper.html
  schema/schema-ruby-erb/doc/Variable.html
  schema/schema-ruby-erb/doc/_index.html
  schema/schema-ruby-erb/doc/class_list.html
  schema/schema-ruby-erb/doc/css/common.css
  schema/schema-ruby-erb/doc/css/full_list.css
  schema/schema-ruby-erb/doc/css/style.css
  schema/schema-ruby-erb/doc/file.README.html
  schema/schema-ruby-erb/doc/file_list.html
  schema/schema-ruby-erb/doc/frames.html
  schema/schema-ruby-erb/doc/index.html
  schema/schema-ruby-erb/doc/js/app.js
  schema/schema-ruby-erb/doc/js/full_list.js
  schema/schema-ruby-erb/doc/js/jquery.js
  schema/schema-ruby-erb/doc/method_list.html
  schema/schema-ruby-erb/doc/top-level-namespace.html
Due: none

feat: add expression support in remote route navigation (#890)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/PreFetchHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/RouteAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/NavigateTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/PreFetchHelperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ContextOperationsFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/DisabledFormSubmitFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/NavigationFragment.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextScreenBuilder.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNavigationTypeService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNavigationTypeService.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
Due: android, backend

updating readme md
  schema/schema-ruby-erb/README.md
Due: none

chore: added docs to schema (#926)
  schema/schema-ruby-erb/.gitignore
  schema/schema-ruby-erb/.yardoc/checksums
  schema/schema-ruby-erb/.yardoc/complete
  schema/schema-ruby-erb/.yardoc/object_types
  schema/schema-ruby-erb/.yardoc/objects/root.dat
  schema/schema-ruby-erb/.yardoc/proxy_types
  schema/schema-ruby-erb/.yardopts
  schema/schema-ruby-erb/README.md
  schema/schema-ruby-erb/model_generation/.yardoc/checksums
  schema/schema-ruby-erb/model_generation/.yardoc/complete
  schema/schema-ruby-erb/model_generation/.yardoc/object_types
  schema/schema-ruby-erb/model_generation/.yardoc/objects/root.dat
  schema/schema-ruby-erb/model_generation/.yardoc/proxy_types
  schema/schema-ruby-erb/model_generation/FileHandler/file_handler.rb
  schema/schema-ruby-erb/model_generation/Models/base_component.rb
  schema/schema-ruby-erb/model_generation/Synthax/Attributes/base_attributes.rb
  schema/schema-ruby-erb/model_generation/Synthax/Attributes/enum_case.rb
  schema/schema-ruby-erb/model_generation/Synthax/Attributes/list.rb
  schema/schema-ruby-erb/model_generation/Synthax/Attributes/variable.rb
  schema/schema-ruby-erb/model_generation/Synthax/Types/basic_type.rb
  schema/schema-ruby-erb/model_generation/Synthax/Types/built_in_type.rb
  schema/schema-ruby-erb/model_generation/Synthax/Types/enum_type.rb
  schema/schema-ruby-erb/model_generation/Synthax/Types/type.rb
  schema/schema-ruby-erb/model_generation/Templates/template_helper.rb
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

Moved getImports to template helper.
  schema/schema-ruby-erb/model_generation/Templates/kotlin.erb
  schema/schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
  schema/schema-ruby-erb/model_generation/Templates/template_helper.rb
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

adding bindable fields to send request
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Schema/Sources/Action/Types/SendRequest.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SendRequestTests.swift
Due: ios

uptaded unit test
  iOS/Schema/Sources/Widgets/SimpleForm/Tests/__Snapshots__/SimpleFormTests/test_whenDecodingJson_shouldReturnASimpleForm.1.txt
  iOS/Schema/Sources/Widgets/TextInput/Tests/__Snapshots__/TextInputTests/test_whenDecodingJson_shouldReturnAText.1.txt
Due: ios

deprecated message
  iOS/Schema/Sources/Action/Types/SendRequest.swift
Due: ios
