Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

create some tests
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewTwoTest.kt
Due: android

fix: configured Beagle user for automatic commits
  fastlane/git_commit.sh
Due: none

Removed blank line to test change.
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/PlatformService.kt
Due: backend

Synced Micronaut BFF sample to Spring BFF sample.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/DslController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/PlatformService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleDslService.kt
Due: backend

added 'release' to the branch name
  fastlane/Fastfile
Due: none

created safe-area screen and implementated context text screen
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SafeAreaScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
Due: backend

fix: configured Beagle user for automatic commits (#693)
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/PlatformService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/DslController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/PlatformService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleDslService.kt
  fastlane/git_commit.sh
Due: backend

refactor: changing the context value passed in the beagleWebViewClient class
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
Due: android

Code Review: Constants name instead unicode
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/grammar/GrammarChars.kt
Due: android

Synced Spring BFF sample to Micronaut BFF sample.
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/DslController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleDslService.kt
Due: backend

Code Review: Tests break line
  android/beagle/src/test/java/br/com/zup/beagle/android/context/operations/EvaluateOperationExpressionTest.kt
Due: android

Code Review: Create enum variable to set delimiters in Extract value from Function/Array
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/common/ExtractValueFromExpressionPDA.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/common/ExtractValueTypes.kt
Due: android

refactor: changing the context value passed in the beagleWebViewClient class (#696)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
Due: android

Path fix for iOS swiftlint file.
  danger/ios/Dangerfile
Due: none

The leak test from Text was removed because the `isSelectable` flag false, cause retain cycle.
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Tests/TextTests.swift
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Text+Renderable.swift
Due: ios

Unnecessary comment
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
Due: ios

Path fix for iOS swiftlint file. (#697)
  danger/ios/Dangerfile
Due: none

Code Review: Break each parameter in new line
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/operation/Operation.kt
Due: android

ci: iOS CocoaPods integration test workflow (#663)
  .github/workflows/ios-pr.yml
  fastlane/Fastfile
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcodeproj/project.pbxproj
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcodeproj/xcshareddata/xcschemes/CocoaPodsTest.xcscheme
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcworkspace/contents.xcworkspacedata
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Example/CocoaPodsTest/CocoaPodsTest/AppDelegate.swift
  iOS/Example/CocoaPodsTest/CocoaPodsTest/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/Example/CocoaPodsTest/CocoaPodsTest/Assets.xcassets/Contents.json
  iOS/Example/CocoaPodsTest/CocoaPodsTest/Base.lproj/LaunchScreen.storyboard
  iOS/Example/CocoaPodsTest/CocoaPodsTest/Info.plist
  iOS/Example/CocoaPodsTest/CocoaPodsTest/ViewController.swift
  iOS/Example/CocoaPodsTest/CocoaPodsTestUnitTests/CocoaPodsTests.swift
  iOS/Example/CocoaPodsTest/CocoaPodsTestUnitTests/Info.plist
  iOS/Example/CocoaPodsTest/Podfile
Due: ios

fix: context escape ignore double quote
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

Updates the 'resetApplication' case description.
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
Due: ios

Removes superfluous comment.
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
Due: ios

Updates the 'shouldPrefetch' flag description.
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
Due: ios

change pathType to imagePath
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/ScreenComponentBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/ImageBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TabBarBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TabViewBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Screen.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ImagePathTypeJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabBarTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/LazyComponentFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ListViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ScrollViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
Due: android

fix: context escape ignore double quote (#700)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Due: android

fix: change pathType to imagePath (#701)
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/ScreenComponentBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/ImageBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TabBarBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TabViewBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Screen.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ImagePathTypeJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabBarTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/LazyComponentFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ListViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ScrollViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
Due: android

Code Review: Improvements algorithm that reads Function/Array in expression
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/common/ExtractValueFromExpressionPDA.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/common/read/ReadLogicFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/common/read/strategy/ArrayLogic.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/common/read/strategy/OperationLogic.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/common/read/strategy/ReadLogic.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/core/EvaluateOperationExpression.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/grammar/Constants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/parameter/ParameterExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/operations/strategy/string/OperationStringExtensions.kt
Due: android

removing release badge
  README.md
Due: none

removing release badge (#702)
  README.md
Due: none

fix: backend's transitive dependencies
  backend/sample/micronaut/build.gradle
  backend/sample/spring/build.gradle
  backend/starters/micronaut/build.gradle
  backend/starters/spring/build.gradle
Due: backend

fix: remove builder to reduce dex counter
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/AlertBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/ConfirmBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/NavigateBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/SendRequestBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/SetContextBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/SubmitFormBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/context/ContextDataBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/form/SimpleFormBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/ContainerBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/PageViewBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/ScreenComponentBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/ScrollViewBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/lazy/LazyComponentBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/navigation/TouchableBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/pager/PageIndicatorBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/ButtonBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/ImageBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/ListViewBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TabBarBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TabViewBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TextBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TextInputBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/WebViewBuilder.kt
Due: android

:bug: Adds method to configure SoLoader in test mode, this is needed to use beagle with robolectric
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
Due: android

fix: remove builder to reduce dex counter (#703)
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/AlertBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/ConfirmBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/NavigateBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/SendRequestBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/SetContextBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/SubmitFormBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/context/ContextDataBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/form/SimpleFormBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/ContainerBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/PageViewBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/ScreenComponentBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/ScrollViewBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/lazy/LazyComponentBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/navigation/TouchableBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/pager/PageIndicatorBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/ButtonBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/ImageBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/ListViewBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TabBarBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TabViewBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TextBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TextInputBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/WebViewBuilder.kt
Due: android

:bug: Remove automatic configuration
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
Due: android
