Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

update detekt
  backend/build.gradle
Due: backend

chore: update libraries android (#935)
  android/beagle/build.gradle
  android/build.gradle
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/sample/build.gradle
  android/sample/screenshots/br.com.zup.beagle.sample.snapshot.MainActivityTest_testSnapshot.png
  android/sample/src/androidTest/java/br/com/zup/beagle/sample/SampleTestRunner.kt
  android/sample/src/androidTest/java/br/com/zup/beagle/sample/snapshot/MainActivityTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/BeagleUiSampleApplication.kt
  android/screenshots.gradle
  android/settings.gradle
  backend/build.gradle
  config/detekt-default-config.yml
Due: android, backend

fix: add focus in component text input (#937)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/InputTextTest.kt
Due: android

feat: add support to bind in menu (#938)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ServerDrivenActivity.kt
  android/beagle/src/main/res/layout/beagle_activity_server_driven.xml
  android/beagle/src/main/res/layout/beagle_include_error_server_driven.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
  android/sample/src/main/AndroidManifest.xml
  android/sample/src/main/res/layout/activity_main.xml
  android/sample/src/main/res/values/styles.xml
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ImageLocalScreenBuilder.kt
Due: android, backend

chore: Integrating generated flex and display into Xcode (#933)
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/Button.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/CornerRadius.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/EdgeValue.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/Flex.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/Size.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/Style.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/UnitType.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/UnitValue.swift
  iOS/Schema/Sources/Widgets/Button/Button.swift
  iOS/Schema/Sources/Widgets/WidgetProperties/Flex+Extensions/UnitValue+Extension.swift
  iOS/Schema/Sources/Widgets/WidgetProperties/Flex/Flex.swift
  iOS/Schema/Sources/Widgets/WidgetProperties/Style/Style.swift
  schema/schema-ruby-erb/.gitignore
  schema/schema-ruby-erb/.yardoc/checksums
  schema/schema-ruby-erb/.yardoc/complete
  schema/schema-ruby-erb/.yardoc/object_types
  schema/schema-ruby-erb/.yardoc/objects/root.dat
  schema/schema-ruby-erb/.yardoc/proxy_types
  schema/schema-ruby-erb/Documentation Example/shipping_notify.erb
  schema/schema-ruby-erb/Documentation Example/shipping_notify2.rb
  schema/schema-ruby-erb/README.md
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/SizeSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/StyleSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Swift/EdgeValue.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/UnitValue.swift
  schema/schema-ruby-erb/model_generation/Models/Layout/Flex/flex.rb
  schema/schema-ruby-erb/model_generation/Models/Layout/edge_value.rb
  schema/schema-ruby-erb/model_generation/Models/Layout/size.rb
  schema/schema-ruby-erb/model_generation/Models/Layout/style.rb
  schema/schema-ruby-erb/model_generation/Models/Layout/unit_value.rb
  schema/schema-ruby-erb/model_generation/Synthax/Types/type.rb
  schema/schema-ruby-erb/model_generation/Templates/swift.erb
  schema/schema-ruby-erb/model_generation/main.rb
Due: ios

Handled enum import separately.
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ImageSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/StyleSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TextInputSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/UnitValueSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Button.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/EdgeValue.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Flex.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Image.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Size.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Style.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/TextInput.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/UnitValue.kt
  schema/schema-ruby-erb/model_generation/Templates/kotlin.erb
  schema/schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
  schema/schema-ruby-erb/model_generation/Templates/template_helper.rb
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

Removed Schema suffix from general Kotlin enums.
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/Display.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ImageContentMode.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TextInputType.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/UnitType.kt
  schema/schema-ruby-erb/model_generation/Templates/kotlin.erb
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

Handled bind helper when variable is bindable and optional.
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/TextInput.kt
  schema/schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
Due: none

improving container
  schema/schema-ruby-erb/model_generation/Generated/Swift/Container.swift
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

WIP scroll view
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/ScrollView.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/ScrollAxis.swift
  schema/schema-ruby-erb/model_generation/Models/ServerDriven/Scroll/scroll_axis.rb
  schema/schema-ruby-erb/model_generation/Models/ServerDriven/Scroll/scroll_view.rb
  schema/schema-ruby-erb/model_generation/Templates/swift.erb
Due: ios

integrated scroll axis to xcode
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/ScrollAxis.swift
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/ScrollView.swift
  schema/schema-ruby-erb/model_generation/main.rb
Due: ios

integrated TextInputType to Xcode
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/TextInputType.swift
  iOS/Schema/Sources/Widgets/TextInput/TextInput.swift
  schema/schema-ruby-erb/model_generation/main.rb
Due: ios

Improved blank lines in general Kotlin.
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ImageSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/StyleSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TextInputSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/UnitValueSchema.kt
  schema/schema-ruby-erb/model_generation/Templates/kotlin.erb
Due: none

feat: create BeagleView (#891)
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/NativeViewController.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/NativeScreenTest.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/__Snapshots__/NativeScreenTest/testNativeScreen.1.png
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleView.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleViewTests.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/BeagleViewTests/testViewLayout.1.png
Due: ios

fix: widgets styles that uses view size don't work properly (#902)
  iOS/Example/BeagleDemo/BeagleDemo/BeagleStyle.swift
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Button+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Text+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TextInput+Renderable/TextInput.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/ViewConfigurator.swift
  iOS/Sources/Beagle/Sources/Theme/Theme.swift
  iOS/Sources/Beagle/Sources/Theme/ThemeTests.swift
Due: ios

implement context tab bar + navigationbar
  iOS/Example/BeagleDemo/BeagleDemo/Assets.xcassets/beagle.imageset/Contents.json
  iOS/Example/BeagleDemo/BeagleDemo/Assets.xcassets/beagle.imageset/beagle@2x.png
  iOS/Example/BeagleDemo/BeagleDemo/Assets.xcassets/beagle.imageset/beagle@3x.png
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ImageScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabViewScreen.swift
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/NavigationBar.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabBar.swift
  iOS/Schema/Sources/Widgets/Image/Image.swift
  iOS/Schema/Sources/Widgets/Image/Tests/__Snapshots__/ImageTests/test_whenDecodingJson_thenItShouldReturnAnImage.1.txt
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/BeaglePrefetchHelperTests.swift
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Tests/ButtonTests.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/NavigationBar+UIKit.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/Tests/ScreenComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarCollectionViewCell.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/TabBarUIComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/Tests/TabViewUIComponentTests.swift
  iOS/Sources/Beagle/Sources/Logger/Tests/BeagleLoggerTests.swift
  iOS/Sources/Beagle/Sources/Theme/ThemeTests.swift
Due: ios

fixed problem, not passing additioan data in request without cache
  iOS/Sources/Beagle/Sources/Networking/Default/HttpAditionalData.swift
  iOS/Sources/Beagle/Sources/Networking/Repository.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
Due: ios

fix: TabView (deprecated) was hiding navigation bar when page changed
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/Tests/TabViewUIComponentTests.swift
Due: ios

adding server driven component
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/ScrollView.swift
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ScrollAxisSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ScrollViewSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Swift/ScrollView.swift
  schema/schema-ruby-erb/model_generation/Generated/Ts/ScrollAxis.ts
  schema/schema-ruby-erb/model_generation/Generated/Ts/ScrollView.ts
  schema/schema-ruby-erb/model_generation/Models/Context/context_component.rb
  schema/schema-ruby-erb/model_generation/Models/ServerDriven/Scroll/scroll_view.rb
  schema/schema-ruby-erb/model_generation/Models/ServerDriven/server_driven_component.rb
  schema/schema-ruby-erb/model_generation/Models/Widgets/container.rb
  schema/schema-ruby-erb/model_generation/Templates/swift.erb
  schema/schema-ruby-erb/model_generation/main.rb
Due: ios

creating function is_server_driven_component
  schema/schema-ruby-erb/model_generation/Models/ServerDriven/Scroll/scroll_view.rb
  schema/schema-ruby-erb/model_generation/Templates/swift.erb
  schema/schema-ruby-erb/model_generation/Templates/template_helper.rb
Due: none

refactored swifttemplate and fixed parameter in scrollview
  schema/schema-ruby-erb/model_generation/Generated/Swift/ScrollView.swift
  schema/schema-ruby-erb/model_generation/Models/ServerDriven/Scroll/scroll_view.rb
  schema/schema-ruby-erb/model_generation/Templates/swift.erb
Due: none

integrated scrollview to xcode
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/ScrollView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/ScrollView+Extension.swift
  schema/schema-ruby-erb/model_generation/main.rb
Due: ios

Update .github/workflows/automated_tests.yml
  .github/workflows/automated_tests.yml
Due: none

Update .github/workflows/automated_tests_android.yml
  .github/workflows/automated_tests_android.yml
Due: none

Update .github/workflows/publish_test_backend.yml
  .github/workflows/publish_test_backend.yml
Due: none

integrating image content mode to xcode
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/ImageContentMode.swift
  iOS/Schema/Sources/Widgets/Image/ImageContentMode.swift
  schema/schema-ruby-erb/model_generation/main.rb
Due: ios

Update .github/workflows/automated_tests_ios.yml
  .github/workflows/automated_tests_ios.yml
Due: none

small refactor in test and Equatable
  iOS/Sources/Beagle/Sources/Networking/Default/HttpAditionalData.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
Due: ios

integrating textInput
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/TextInput.swift
  iOS/Schema/Sources/Widgets/TextInput/TextInput.swift
  schema/schema-ruby-erb/model_generation/main.rb
Due: ios

refactoring action
  schema/schema-ruby-erb/model_generation/Models/Action/action.rb
Due: none

Yoga-AutoLayout interworking
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/NativeViewController.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/BeagleViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/NativeScreenTest.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/__Snapshots__/NativeScreenTest/testNativeScreen.1.png
  iOS/Example/BeagleDemo/BeagleDemoTests/__Snapshots__/NativeScreenTest/testNativeScreenWithNavigation.1.png
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/AddChildren.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/ScreenComponent+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/StyleViewConfigurator.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/LazyComponent+Renderable.swift
  iOS/Sources/Beagle/Sources/Renderer/AutoLayoutWrapper.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleView.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/AutoLayoutWrapperTests.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewResizing.1.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewResizing.2.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewWithColumnAndWrap.1.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewWithDefault.1.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewWithRowAndNoWrap.1.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewWithRowAndWrap.1.png
Due: ios

remove unnecessary things from RepositoryTests
  iOS/Sources/Beagle/Sources/Networking/Repository.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
Due: ios

generating more models
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ActionSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/ButtonSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/TextInputSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Swift/Action.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/AnalyticsEvent.swift
  schema/schema-ruby-erb/model_generation/Generated/Ts/Action.ts
  schema/schema-ruby-erb/model_generation/Models/Action/action.rb
  schema/schema-ruby-erb/model_generation/Models/Widgets/button.rb
  schema/schema-ruby-erb/model_generation/Templates/swift.erb
  schema/schema-ruby-erb/model_generation/main.rb
Due: none

feat: iOS Auto-Layout Yoga interworking
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/NativeViewController.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/BeagleViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/NativeScreenTest.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/__Snapshots__/NativeScreenTest/testNativeScreen.1.png
  iOS/Example/BeagleDemo/BeagleDemoTests/__Snapshots__/NativeScreenTest/testNativeScreenWithNavigation.1.png
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/AddChildren.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/ScreenComponent+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/StyleViewConfigurator.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/LazyComponent+Renderable.swift
  iOS/Sources/Beagle/Sources/Renderer/AutoLayoutWrapper.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleView.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/AutoLayoutWrapperTests.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewResizing.1.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewResizing.2.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewWithColumnAndWrap.1.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewWithDefault.1.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewWithRowAndNoWrap.1.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewWithRowAndWrap.1.png
Due: ios

fix: Not passing additional data in request (#940)
  iOS/Sources/Beagle/Sources/Networking/Default/HttpAditionalData.swift
  iOS/Sources/Beagle/Sources/Networking/Repository.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
Due: ios

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
