Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

todo in third listview for automated tests
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Due: backend

feat: Add union context operation
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/UnionOperation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/array/UnionOperationTest.kt
Due: android

fix merge conflict in file
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
Due: backend

add test to logger and image
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/PropertyImplementationManager.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/TypeElementImplementationManager.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/generatefunction/RegisterControllerProcessor.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleImageDownloaderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleLoggerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/generator/RegisteredControllerGeneratorTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/ImageDownloaderMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/LoggerMocks.kt
Due: android

add test to analytics and url builder
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/AnalyticsTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/UrlBuilderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/AnalyticsMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/UrlBuilderMocks.kt
Due: android

add test to design system
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/DesignSystemTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/StoreHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/UrlBuilderTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/DesignSystemMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/StoreHandlerMocks.kt
Due: android

add test to http client and form local
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/DeepLinkHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/FormLocalActionHandlerTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/HttpClientTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/DeepLinkHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/FormLocalActionHandlerMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/HttpClientMocks.kt
Due: android

PR update
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ConfirmSteps.kt
Due: android

refactor: refactor OperationResolverTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/OperationResolverTest.kt
Due: android

create test to beagle setup
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/BeagleSetupTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/beaglesdk/BeagleConfigTest.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/extensions/KotlinCompilerExtensions.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/BeagleConfigMocks.kt
  android/processor/src/test/java/br/com/zup/beagle/android/compiler/mocks/BeagleSetupMocks.kt
Due: android

add jacoco in processor
  android/processor/build.gradle
Due: android

feat: Add union context operation (#1149)
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/UnionOperation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/OperationResolverTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/array/UnionOperationTest.kt
Due: android

init second listview for automated tests
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ListController.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Book.kt
Due: android, backend

add context of page view
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
Due: backend

feature done
  android/automated-tests/src/androidTest/assets/features/ActionNotRegistered.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ActionNotRegisteredSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
Due: android

fix: android listview scroll threshold calculation
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
Due: android

Creation of the first listview for ui tests
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Due: backend

Import organization
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Due: backend

regression tests ok. Unregistered action tests ok
  android/automated-tests/src/androidTest/assets/features/ActionNotRegistered.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ActionNotRegistered.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
Due: android

Container size organization
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Due: backend

implement union in listview bff
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Due: backend

PR update
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/actions/ShowToast.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ActionNotRegisteredScreenBuilder.kt
Due: backend

fix: android listview scroll threshold calculation (#1151)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
Due: android

refactor: unifying annotation module (#1143)
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/annotation/BeaglePreview.kt
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/annotation/RegisterAction.kt
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/annotation/RegisterOperation.kt
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/annotation/RegisterWidget.kt
  android/annotation/build.gradle
  android/annotation/gradle.properties
  android/beagle/build.gradle
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/internal-processor/build.gradle
  android/processor-shared-code/build.gradle
  android/processor/build.gradle
  android/settings.gradle
Due: android

bff update
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
Due: backend

feature build
  android/automated-tests/src/androidTest/assets/features/PageView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/PageViewSteps.kt
Due: android

test: confirm action ui tests (#1144)
  android/automated-tests/src/androidTest/assets/features/Confirm.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ConfirmSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ConfirmScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Features/Confirm.feature
  iOS/Tests/AutomatedTestsUITests/Steps/AddChildrenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ConditionalActionSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ConfirmActionSteps.swift
Due: ios, android, backend

refactor: remove code commented in jacoco to ignore some classes
  android/jacoco-android.gradle
Due: android

Controller class refactor
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ActionsScreenController.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
Due: backend

refactor backgrounds in listview for automated tests
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Due: backend

fix: Android embedded listview without id
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
Due: android

Updating features
  android/automated-tests/src/androidTest/assets/features/PageView.feature
Due: android

PageView screen adjusted
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
Due: backend

refactor size lisview in bff automated tests
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Due: backend

PR update
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
Due: backend

I added myself as a code owner
  CODEOWNERS
Due: none

fix: Android embedded listview without id (#1154)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
Due: android

I added myself as a code owner (#1156)
  CODEOWNERS
Due: none
