Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

Ignoring Gemfile.lock.
  schema/schema-ruby-erb/Model Generation/.gitignore
  schema/schema-ruby-erb/Model Generation/Gemfile.lock
Due: none

Generating interfaces for general kotlin.
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/Button.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/CornerRadius.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/Display.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/EdgeValue.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/Flex.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/PositionType.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/Size.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/Style.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/Text.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/UnitValue.kt
  schema/schema-ruby-erb/Model Generation/model_template_kotlin.erb
Due: none

Added Schema suffix to general Kotlin interfaces.
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/Button.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/CornerRadius.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/Display.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/EdgeValue.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/Flex.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/PositionType.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/Size.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/Style.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/Text.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/UnitValue.kt
  schema/schema-ruby-erb/Model Generation/model_template_kotlin_backend.erb
Due: none

Implemented general Kotlins' interfaces in backend Kotlin.
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Button.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/CornerRadius.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Display.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/EdgeValue.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Flex.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/PositionType.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Size.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Style.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Text.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/UnitValue.kt
  schema/schema-ruby-erb/Model Generation/model_template_kotlin.erb
Due: none

test nnew path for spm cache
  .github/workflows/ios-pr.yml
Due: none

new test scenarios and test optimization
  android/automated-tests/src/androidTest/assets/features/ButtonScreen.feature
  android/automated-tests/src/androidTest/assets/features/ImageScreen.feature
  android/automated-tests/src/androidTest/assets/features/TabViewScreen.feature
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/ButtonScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/ImageScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/PageViewScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/TabViewScreenSteps.kt
  android/automated-tests/src/main/java/com/example/automated_tests/MainActivity.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/ButtonScreen.feature
  iOS/Tests/AutomatedTestsUITests/Features/ImageScreen.feature
  iOS/Tests/AutomatedTestsUITests/Features/PageViewScreen.feature
  iOS/Tests/AutomatedTestsUITests/Features/TabViewScreen.feature
  iOS/Tests/AutomatedTestsUITests/Robots/ScreenRobot.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ButtonScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ImageScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/PageViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TabViewScreenSteps.swift
Due: ios, android

test cache path
  .github/workflows/ios-pr.yml
Due: none

refactor: changed okhttp dependency to java websocket
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/preview/build.gradle
  android/preview/src/main/java/br/com/zup/beagle/android/preview/BeaglePreview.kt
  android/preview/src/main/java/br/com/zup/beagle/android/preview/PreviewActivity.kt
  android/preview/src/test/java/br/com/zup/beagle/android/preview/BeaglePreviewTest.kt
Due: android

fix: live preview plugin navigation
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Due: android

change the constant place and the public constructor to private one
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicatorComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
Due: android

solve detekt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
Due: android

change constant place and change the pageView constructor to private
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/utils/BeagleConstants.kt
Due: backend

Added schema suffix to general Kotlin filenames.
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/ButtonSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/CornerRadiusSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/DisplaySchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/EdgeValueSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/FlexSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/PositionTypeSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/SizeSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/StyleSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/TextSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/UnitValueSchema.kt
  schema/schema-ruby-erb/Model Generation/main.rb
Due: none

start listView implementation
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
Due: android

copied dependencies to the project folder
  .github/workflows/ios-pr.yml
Due: none

Removing warnings and organizing build scripts
  backend/build.gradle
  backend/processor/build.gradle
  backend/sample/core/build.gradle
  backend/sample/micronaut/build.gradle
  backend/sample/spring/build.gradle
  backend/starters/micronaut/build.gradle
  backend/starters/spring/build.gradle
  backend/widgets/build.gradle
  common/extended-schema/build.gradle
Due: android, backend

fix: live preview android plugin dependency and navigation (#611)
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/preview/build.gradle
  android/preview/src/main/java/br/com/zup/beagle/android/preview/BeaglePreview.kt
  android/preview/src/main/java/br/com/zup/beagle/android/preview/PreviewActivity.kt
  android/preview/src/test/java/br/com/zup/beagle/android/preview/BeaglePreviewTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Due: android

Added package to both Kotlin generations.
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/ButtonSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/CornerRadiusSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/DisplaySchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/EdgeValueSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/FlexSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/PositionTypeSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/SizeSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/StyleSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/TextSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/UnitValueSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Button.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/CornerRadius.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Display.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/EdgeValue.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Flex.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/PositionType.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Size.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Style.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Text.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/UnitValue.kt
  schema/schema-ruby-erb/Model Generation/Models/Layout/corner_radius.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/display.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/edge_value.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/flex.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/position_type.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/size.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/style.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/unit_value.rb
  schema/schema-ruby-erb/Model Generation/Models/Widgets/button.rb
  schema/schema-ruby-erb/Model Generation/Models/Widgets/text.rb
  schema/schema-ruby-erb/Model Generation/Models/Widgets/widget.rb
  schema/schema-ruby-erb/Model Generation/Synthax/type.rb
  schema/schema-ruby-erb/Model Generation/model_template_kotlin.erb
  schema/schema-ruby-erb/Model Generation/model_template_kotlin_backend.erb
Due: none

remove private from pageView constructor
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
Due: backend

remove private from PageView constructor
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
Due: android

remove blank space
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
Due: android

fix compile problem
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
Due: android

fix: update handleEvent params (#604)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AlertTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ConfirmTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TouchableTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ActionExtensionsKtTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
Due: android

fix test
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageIndicatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTwoTest.kt
Due: android

trying to cache derived data
  .github/workflows/ios-pr.yml
Due: none

made test file
  schema/schema-ruby-erb/Model Generation/Tests/tests_main.rb
Due: none

fix: fetch the screen before the navigation
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewModel.swift
Due: ios

Updated deploy of test BFF to run without docker.
  .github/workflows/automated_tests.yml
  fastlane/Fastfile
  fastlane/automatedTests/clean.sh
  fastlane/automatedTests/deploy_tests_backend.sh
Due: none

Added iOS test step to Actions.
  .github/workflows/automated_tests.yml
Due: none

fix: dependence on specific attributes in android styles (#582)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleTabLayout.kt
  android/beagle/src/main/res/values/attrs.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SubmitFormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BeagleTextViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ButtonTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/InputTextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/StyleManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  android/sample/src/main/res/drawable/beagle_image.png
  android/sample/src/main/res/values/styles.xml
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
Due: android, backend

Fix pr issues
  backend/build.gradle
  backend/framework/.gitignore
  backend/framework/build.gradle
  backend/processor/build.gradle
  backend/sample/.gitignore
  backend/sample/core/build.gradle
  backend/sample/micronaut/build.gradle
  backend/sample/spring/build.gradle
  backend/starters/micronaut/build.gradle
  backend/starters/spring/build.gradle
  backend/widgets/build.gradle
  common/extended-schema/build.gradle
Due: android, backend

removed swift file modification. finished derived data cache
  .github/workflows/ios-pr.yml
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
Due: ios

implemented BindCollectionAdapterFactory
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BindCollectionAdapterFactory.kt
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: android

Fix pr issues
  backend/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  backend/starters/micronaut/build.gradle
Due: backend

fix github workflow for android and backend
  .github/workflows/android-pr.yml
  .github/workflows/backend-pr.yml
Due: none

Fix pr issues
  backend/sample/core/build.gradle
Due: backend

fix: Toolbar with centralized title (#609)
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
Due: android

Fix pr issues
  backend/sample/micronaut/build.gradle
Due: backend

create tabBar
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
Due: android

updateGlobalContext working on ContextDataManager
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/GlobalContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
Due: android

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
