Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

fix: Implicit context for multithreading and multiple expressions (#340)
  android/android-preview/src/main/java/br/com/zup/beagle/android/preview/PreviewActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleLoggerProxy.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/WidgetView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BaseComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TouchableTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextComponentHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleMessageLogsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/ComponentModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/StringExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Text.kt
Due: android

fixed unit test
  iOS/Sources/BeagleUI/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
Due: ios

flex-direction
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: backend

ci: add new codeowners (#348)
  CODEOWNERS
Due: none

test flex grow
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: backend

Updating Snapshot tests
  iOS/Sources/BeagleUI/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfullForScreenEvent.1.txt
  iOS/Sources/BeagleUI/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
Due: ios

fix conflicts
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
Due: android

test flex justify-content
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: backend

prevent crash if value is null
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
Due: android

fix tabView tests
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
Due: android

feat: create json tree in the context (#338)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataTreeHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonCreateTree.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonPathReplacer.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataTreeHelperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/jsonpath/JsonCreateTreeTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/jsonpath/StubJsonTest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
Due: android, backend

feat: add support to list of actions in touchable (#347)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TouchableTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/NavigationFragment.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/navigation/Touchable.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/AnalyticsScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TouchableScreenBuilder.kt
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Touchable/Tests/Json/TouchableDecoderTest.json
  iOS/Schema/Sources/ServerDrivenComponent/Touchable/Tests/__Snapshots__/TouchableTests/testInitFromDecoder.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Touchable/Touchable.swift
  iOS/Sources/BeagleUI/Sources/Action/Tests/TouchableTests.swift
  iOS/Sources/BeagleUI/Sources/Action/Touchable+Renderable.swift
Due: ios, android, backend

fix: replaced presence check with EOF exception handling
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/HttpClientDefaultTest.kt
Due: android

fix: replaced presence check with EOF exception handling (#351)
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/HttpClientDefaultTest.kt
Due: android

test flex
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: backend

merge with master ios
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleStyle.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
Due: ios

test flex align-content
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: backend

test flex align-items
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: backend

AlignItems
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: backend

AlignItems.BASELINE
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: backend

test flex align-self
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: backend

test flex margin
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: backend

update margim
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: backend

Readme update
  README.md
Due: none

test flex padding
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: backend

test flex position
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: backend

test flex position-type
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: backend

update Position type
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: backend

test flex basis
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: backend

test flex basis with row
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: backend

test flex shrink '
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: backend

test flex shrink
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: backend

Update README.md
  README.md
Due: none

change flex mapper
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexMapper.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: android, backend

fix: show expression when change the tree and evaluate
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
Due: android

add grow screen flex
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexMapper.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFlexQuality.kt
Due: android, backend

:bug: Fixes flex conflict with grow and shrink
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexMapper.kt
Due: android

add contextData to ScreenComponent
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ScreenExtensions.kt
Due: android

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
