Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

Fix Actions
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BindAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindingExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/Bind.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/ComponentBinding.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/HttpClientDefaultTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModelTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Text.kt
  buildSrc/src/main/java/Dependencies.kt
Due: android

refactor: update screen shot gradle
  android/sample/screenshots/br.com.zup.beagle.sample.snapshot.MainActivityTest_testSnapshot.png
  android/sample/screenshots/debug/br.com.zup.beagle.sample.snapshot.MainActivityTest_testSnapshot.png
  android/screenshots.gradle
Due: android

Refactor Extensions
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ScreenExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
Due: android

Remove unecessary commit
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleWidgetBindingProcessor.kt
Due: android

update
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
Due: backend

Fix TODO from ContextActionExecutorTest
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
Due: android

fix import wildcard
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
Due: android

Android and backend build failed fix
  android/beagle/src/main/java/br/com/zup/beagle/android/components/NetworkImage.kt
Due: android

Removing private from Image variables
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
Due: android

Fix PR considerations
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindingExtensions.kt
Due: android

tests fix
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
Due: android

adjust on ScrollViewFragment
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ScrollViewFragment.kt
Due: android

Small change to BeagleLoggerProxy
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Sources/BeagleUI/Sources/Logger/BeagleLoggerProxy.swift
  iOS/Sources/BeagleUI/Sources/Logger/Tests/BeagleLoggerProxyTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

fix: Implemented the web view component to the sample and corrected private attributes (#275)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/LazyComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/NetworkImage.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Spacer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormSubmit.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/WebViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/WebViewService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleWebViewService.kt
Due: android, backend

Fixing pbxproj
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
Due: ios

Removing unecessary spaces in pbxproj.
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
Due: ios

remove debug and verbose functions from BeagleLogger contract
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleLogger.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleLoggerDefault.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleLoggerProxy.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleLoggerDefaultTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleLoggerProxyTest.kt
Due: android

code review improvements
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Spacer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFlexView.kt
Due: android

feat: Standardization - Color (#234)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/utils/ColorUtils.kt
  android/beagle/src/test/java/br/com/zup/beagle/utils/ColorUtilsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/utils/StringExtensionsKtTest.kt
  iOS/Example/BeagleDemo/BeagleDemo/BeagleStyle.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/FormScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/Tests/JSON/ScrollViewComponent.json
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/Tests/__Snapshots__/ScrollViewTests/test_whenDecodingJson_shouldReturnAScrollView.1.txt
  iOS/Schema/Sources/Widgets/Container/Tests/JSON/Container.json
  iOS/Schema/Sources/Widgets/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Schema/Sources/Widgets/Image/Tests/JSON/ImageComponent.json
  iOS/Schema/Sources/Widgets/Image/Tests/__Snapshots__/ImageTests/test_whenDecodingJson_thenItShouldReturnAnImage.1.txt
  iOS/Schema/Sources/Widgets/Text/Tests/Json/TextComponent.json
  iOS/Schema/Sources/Widgets/Text/Tests/__Snapshots__/TextTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Schema/Sources/Widgets/WidgetProperties/Style/Tests/UIView+StyleTests.swift
  iOS/Schema/Sources/Widgets/WidgetProperties/Style/UIView+Style.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Common/Extensions/Tests/UIView+StyleTests.swift
  iOS/Sources/BeagleUI/Sources/Common/Extensions/UIView+Style.swift
  iOS/Sources/BeagleUI/Sources/Components/Image+Renderable/Tests/JSON/ImageComponent.json
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Flex/Tests/ContainerTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Scroll/Tests/Json/ScrollViewComponent.json
  iOS/Sources/BeagleUI/Sources/Components/Page+Renderable/Indicator/DefaultPageIndicator+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Components/Text+Renderable/Tests/TextTests.swift
  iOS/Sources/BeagleUI/Sources/Renderer/Tests/Json/declarativeText1.json
  iOS/Sources/BeagleUI/Sources/Renderer/Tests/Json/declarativeText2.json
  iOS/Sources/BeagleUI/Sources/Renderer/ViewConfigurator.swift
Due: ios, android

remove multi import from widgets
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/Widget.kt
Due: none

fix: missing BeagleSchema.framework in BeagleDemo target
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
Due: ios

:bug: Fixes @RegisterAction for custom actions, now we dont generate the Binding class
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleAnnotationProcessor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequestAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ShowNativeDialog.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/UpdateContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/test/java/br/com/zup/beagle/processor/ActionBindingTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/components/MyCustomAction.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredActionGenerator.kt
Due: android, backend

:lipstick: Remove unnecessary annotations
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequestAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ShowNativeDialog.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/UpdateContext.kt
Due: android

Fix Bind packages and action bind attributes
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BindAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/ComponentBinding.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Text.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SetContext.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/context/Bind.kt
Due: android, backend

[iOS] register custom actions
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/FormLocalAction.swift
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Schema/Sources/Decoding/Tests/ComponentDecoderTests.swift
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllActionsAreBeingRegistered.1.txt
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllDecodersAreBeingRegistered.1.txt
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Action/LocalFormHandler.swift
  iOS/Sources/BeagleUI/Sources/Action/Tests/LocalFormHandlerTests.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/FormLocalAction.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Tests/FormLocalActionTests.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Tests/__Snapshots__/FormLocalActionTests/test_whenExecuteFormLocalAction_shouldListenToStateChanges.1.txt
  iOS/Sources/BeagleUI/Sources/Context/FormManager.swift
  iOS/Sources/BeagleUI/Sources/Context/Tests/FormManagerTests.swift
  iOS/Sources/BeagleUI/Sources/Networking/Tests/RepositoryTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/BeagleUI/Sources/Setup/BeagleSetup.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

Remove unnecessary class
  backend/backend-declarative/src/main/kotlin/br/com/zup/beagle/widget/form/InputWidget.kt
Due: backend

update spacer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Spacer.kt
Due: android

Fix Text buildView
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Text.kt
Due: android

remove unused file
  iOS/Sources/BeagleUI/Sources/Action/Types/Tests/__Snapshots__/CustomActionTests/test_whenExecuteCustomAction_shouldListenToStateChanges.1.txt
Due: ios

WIP
  iOS/Sources/BeagleUI/CodeGeneration/Templates/AutoDecodable.swifttemplate
Due: ios

fix: Fixes @RegisterAction for custom actions, now we dont generate the Binding class (#280)
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleAnnotationProcessor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/test/java/br/com/zup/beagle/processor/ActionBindingTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/components/MyCustomAction.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredActionGenerator.kt
Due: android, backend

done
  iOS/Sources/BeagleUI/CodeGeneration/Templates/AutoDecodable.swifttemplate
Due: ios

remove Spacer from project
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Spacer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/SpacerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
Due: android

feat: resgister custom actions (#235)
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/FormLocalAction.swift
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Schema/Sources/Decoding/Tests/ComponentDecoderTests.swift
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllActionsAreBeingRegistered.1.txt
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllDecodersAreBeingRegistered.1.txt
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Action/LocalFormHandler.swift
  iOS/Sources/BeagleUI/Sources/Action/Tests/LocalFormHandlerTests.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/FormLocalAction.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Tests/FormLocalActionTests.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Tests/__Snapshots__/FormLocalActionTests/test_whenExecuteFormLocalAction_shouldListenToStateChanges.1.txt
  iOS/Sources/BeagleUI/Sources/Context/FormManager.swift
  iOS/Sources/BeagleUI/Sources/Context/Tests/FormManagerTests.swift
  iOS/Sources/BeagleUI/Sources/Networking/Tests/RepositoryTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/BeagleUI/Sources/Setup/BeagleSetup.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

some adjustments
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/BeagleSchema.xcodeproj/xcshareddata/xcschemes/Schema.xcscheme
  iOS/Schema/Sources/Action/Types/SetContext.swift
  iOS/Schema/Sources/Common/Collection+Safe.swift
  iOS/Schema/Sources/Common/String+RegularExpression.swift
  iOS/Schema/Sources/ContextExpression/Context.swift
  iOS/Schema/Sources/ContextExpression/DynamicObject.swift
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Schema/Sources/ContextExpression/PathParser.swift
  iOS/Schema/Sources/ContextExpression/SingleExpression.swift
  iOS/Schema/Sources/ContextExpression/Tests/SingleExpressionTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/SingleExpressionTests/test_rawRepresentable.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/SingleExpressionTests/test_rawRepresentable.2.txt
  iOS/Schema/Sources/ServerDrivenComponent/Form/Submit/Tests/FormSubmitTests.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Action/ActionExecutor.swift
  iOS/Sources/BeagleUI/Sources/Components/Text+Renderable/Text+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Context/UIView+Context.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/DynamicObject+Merge.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/DynamicObject+Public.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/Expression+Public.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/SingleExpression+Evaluate.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/SingleExpression+EvaluateTests.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/UIView+Context.swift
Due: ios

done ios merge fix
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Widgets/Image/Image.swift
  iOS/Schema/Sources/Widgets/NetworkImage/NetworkImage.swift
  iOS/Schema/Sources/Widgets/NetworkImage/Tests/JSON/NetworkImage.json
  iOS/Schema/Sources/Widgets/NetworkImage/Tests/JSON/NetworkImageWithContentMode.json
  iOS/Schema/Sources/Widgets/NetworkImage/Tests/NetworkImageTests.swift
  iOS/Schema/Sources/Widgets/NetworkImage/Tests/__Snapshots__/NetworkImageTests/test_whenDecodingJson_thenItShouldReturnANetworkImage.1.txt
  iOS/Schema/Sources/Widgets/NetworkImage/Tests/__Snapshots__/NetworkImageTests/test_whenDecodingJson_thenItShouldReturnANetworkImageWithContentMode.1.txt
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Common/Extensions/UIImageViewExtension.swift
  iOS/Sources/BeagleUI/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Image+Renderable/Tests/JSON/ImageComponent.json
  iOS/Sources/BeagleUI/Sources/Components/Image+Renderable/Tests/JSON/ImageComponent1.json
  iOS/Sources/BeagleUI/Sources/Components/Image+Renderable/Tests/JSON/ImageComponent2.json
  iOS/Sources/BeagleUI/Sources/Components/Image+Renderable/Tests/__Snapshots__/ImageTests/test_renderImage.1.png
Due: ios

trying to turn .swifttemplate code into normal swift code
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/BeagleUI/CodeGeneration/Templates/AutoDecodable.swifttemplate
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
Due: ios

Fix Fastline for backend
  fastlane/Fastfile
Due: none
