Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

asd
  fastlane/Fastfile
Due: none

asd
  .github/workflows/release.yml
Due: none

Adding cocoapods integration test to workflow
  .github/workflows/ios-pr.yml
  iOS/Example/BeagleSample/BeagleSample.xcodeproj/project.pbxproj
  iOS/Example/BeagleSample/BeagleSample.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/Example/BeagleSample/BeagleSample.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Example/BeagleSample/BeagleSample.xcworkspace/contents.xcworkspacedata
  iOS/Example/BeagleSample/BeagleSample.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Example/BeagleSample/BeagleSample/AppDelegate.swift
  iOS/Example/BeagleSample/BeagleSample/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/Example/BeagleSample/BeagleSample/Assets.xcassets/Contents.json
  iOS/Example/BeagleSample/BeagleSample/Base.lproj/LaunchScreen.storyboard
  iOS/Example/BeagleSample/BeagleSample/Base.lproj/Main.storyboard
  iOS/Example/BeagleSample/BeagleSample/Info.plist
  iOS/Example/BeagleSample/BeagleSample/SceneDelegate.swift
  iOS/Example/BeagleSample/BeagleSample/ViewController.swift
  iOS/Example/BeagleSample/BeagleSampleTests/BeagleSampleTests.swift
  iOS/Example/BeagleSample/BeagleSampleTests/Info.plist
  iOS/Example/BeagleSample/Podfile
Due: ios

Removing unecessary step
  .github/workflows/ios-pr.yml
Due: none

asd
  .github/workflows/release.yml
  fastlane/Fastfile
Due: none

added prefix in branch name
  fastlane/Fastfile
Due: none

changed release workflow to support hofixes
  .github/workflows/release.yml
  fastlane/Fastfile
Due: none

qwe
  .github/workflows/release.yml
  fastlane/Fastfile
Due: none

fixed indentation
  fastlane/Fastfile
Due: none

removed deploy ci
  fastlane/Fastfile
Due: none

Changes on sample project
  iOS/Example/BeagleSample/BeagleSample.xcodeproj/project.pbxproj
  iOS/Example/BeagleSample/BeagleSample/AppDelegate.swift
  iOS/Example/BeagleSample/BeagleSample/Base.lproj/Main.storyboard
  iOS/Example/BeagleSample/BeagleSample/Info.plist
  iOS/Example/BeagleSample/BeagleSample/SceneDelegate.swift
  iOS/Example/BeagleSample/BeagleSample/ViewController.swift
Due: ios

Changing deployment target
  iOS/Example/BeagleSample/BeagleSample.xcodeproj/project.pbxproj
Due: ios

Separating workflows
  .github/workflows/ios-integrated-tests.yml
  .github/workflows/ios-pr.yml
Due: none

Fix lint checks
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ImplicitContextManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/constants/EndPointConstants.kt
Due: android

Poiting pod beagle to master
  iOS/Example/BeagleSample/Podfile
Due: ios

Deleting duplicate TabViewUIComponent
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
Due: ios

changed detekt config to exclude builders on check for TooManyFunctions
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/ConfirmBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/NavigateBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/SendRequestBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/layout/ScreenBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TextInputBuilder.kt
  config/detekt-default-config.yml
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/core/StyleBuilder.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/widget/FlexBuilder.kt
Due: backend

Fix context evaluation call
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
Due: android

removed discord step
  fastlane/Fastfile
Due: none

Revert "removed discord step"
  fastlane/Fastfile
Due: none

Remove gradle from version control
  android/.gitignore
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
Due: android

removed discord message script
  fastlane/Fastfile
  fastlane/discord_message.sh
Due: none
