Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

:sparkles: Test javagit
  .github/workflows/backend-pr.yml
Due: none

:sparkles: Test javagit
  .github/workflows/backend-pr.yml
  fastlane/Fastfile
Due: none

:sparkles: Test javagit
  fastlane/Fastfile
Due: none

:sparkles: Adding badges to README.md
  README.md
Due: none

impl
  tests/appium/app-android/app/build.gradle
  tests/appium/app-android/build.gradle
  tests/appium/app-android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  tests/appium/app-android/jacoco-android.gradle
  tests/appium/app-android/settings.gradle
  tests/appium/jacoco.gradle
Due: none

feat: add Android PullToRefresh
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/components/refresh/PullToRefresh.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/refresh/PullToRefreshTest.kt
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
Due: android, backend

refactor: refactored serialization tests
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/BaseActionSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/DefaultActionSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/FormValidationSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/OpenNativeRouteSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/PopStackSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/PopViewSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/SendRequestSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/SubmitFormSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/UndefinedActionSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/BaseServerDrivenComponentSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/DefaultComponentSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/FormInputSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/PageIndicatorSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/PageViewSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/UndefinedComponentSerializerTest.kt
Due: android

fix: appium navigation controller
  tests/appium/app-ios/AppiumApp/AppiumApp/AppDelegate.swift
  tests/appium/app-ios/AppiumApp/AppiumApp/BeagleConfig/BeagleConfig.swift
  tests/appium/app-ios/AppiumApp/AppiumApp/BeagleConfig/CustomNavigationController/CustomNavigationController.swift
Due: none

feat: Sonarcloud (#1628)
  .github/workflows/android-pr.yml
  .github/workflows/backend-pr.yml
  README.md
  android/build.gradle
  backend/build.gradle
  fastlane/Fastfile
Due: android, backend

fix test
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/NavigateScreenSteps.kt
Due: none

refactor: Android serialization tests (#1622)
  android/beagle/build.gradle
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ActionRequesterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BaseSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/DefaultSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/BaseActionSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/DefaultActionSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/FormValidationSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/OpenNativeRouteSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/PopStackSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/PopViewSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/SendRequestSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/SubmitFormSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/UndefinedActionSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/analytics/ActionAnalyticsConfigSerializationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/BaseServerDrivenComponentSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/DefaultComponentSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/FormInputSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/GridViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/PageIndicatorSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/PageViewSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/UndefinedComponentSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/context/BindSerializationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/context/ContextDataSerializationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/RequestDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/testutil/StringUtils.kt
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
Due: android

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/GenericSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/NavigateScreenSteps.kt
  tests/appium/project/src/test/resources/features/Navigate.feature
Due: none

update
  tests/appium/project/src/test/resources/features/Navigate.feature
Due: none

feat: add Android PullToRefresh component
  android/beagle/src/main/java/br/com/zup/beagle/android/components/refresh/PullToRefresh.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/refresh/PullToRefreshTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/PullToRefreshFragment.kt
  android/sample/src/main/res/menu/menu_navigation_drawer.xml
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PullToRefreshScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/SampleDataBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/SampleDataController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleDataService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SamplePullToRefreshService.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/PullToRefresh.kt
Due: android, backend

fix typo
  tests/appium/app-ios/AppiumApp/AppiumApp/BeagleConfig/BeagleConfig.swift
  tests/appium/app-ios/AppiumApp/AppiumApp/BeagleConfig/CustomNavigationController/CustomNavigationController.swift
Due: none

chore: add PullToRefresh serialization tests
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/DefaultComponentSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Due: android

chore: organized imports
  android/beagle/src/main/java/br/com/zup/beagle/android/components/refresh/PullToRefresh.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/refresh/PullToRefreshTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/PullToRefreshFragment.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PullToRefreshScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/SampleDataBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/PullToRefresh.kt
Due: android, backend

chore: updated BFF sample
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PullToRefreshScreenBuilder.kt
Due: backend

Synced Spring BFF sample to Micronaut BFF sample.
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/SampleDataController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleDataService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SamplePullToRefreshService.kt
Due: backend

refactor: refactored code style
  android/beagle/src/main/java/br/com/zup/beagle/android/components/refresh/PullToRefresh.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/DefaultComponentSerializerTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/PullToRefreshFragment.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/SampleDataBuilder.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
Due: android, backend

Synced Spring BFF sample to Micronaut BFF sample.
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
Due: backend

chore: updated appium android app dependencies
  tests/appium/app-android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
Due: none

chore: improved PullToRefresh tests
  android/beagle/src/test/java/br/com/zup/beagle/android/components/refresh/PullToRefreshTest.kt
Due: android

refactor: changed PullToRefresh contract
  android/beagle/src/main/java/br/com/zup/beagle/android/components/refresh/PullToRefresh.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/refresh/PullToRefreshTest.kt
Due: android

refactor: changed PullToRefresh contract
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/PullToRefresh.kt
Due: backend

fix: Navigation tests on iOS (#1635)
  tests/appium/app-ios/AppiumApp/AppiumApp/AppDelegate.swift
  tests/appium/app-ios/AppiumApp/AppiumApp/BeagleConfig/BeagleConfig.swift
  tests/appium/app-ios/AppiumApp/AppiumApp/BeagleConfig/CustomNavigationController/CustomNavigationController.swift
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/GenericSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/NavigateScreenSteps.kt
  tests/appium/project/src/test/resources/features/Navigate.feature
Due: none

adjust code
  android/gradle.properties
  fastlane/Fastfile
  maven-publish.gradle
Due: android

refactor: refactored some tests
  android/beagle/src/main/java/br/com/zup/beagle/android/components/refresh/PullToRefresh.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/refresh/PullToRefreshTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/DefaultComponentSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/PullToRefresh.kt
Due: android, backend

fix: adjust proguard
  android/beagle/consumer-rules.pro
Due: android

impl
  fastlane/Fastfile
  tests/appium/app-android/app/build.gradle
  tests/appium/app-android/build.gradle
Due: none

formatting
  tests/appium/app-android/app/build.gradle
Due: none

fix: adjust proguard (#1638)
  android/beagle/consumer-rules.pro
Due: android

update
  tests/appium/app-android/build.gradle
Due: none

feat: removes module dependency from Beagle and uses lib import instead (#1629)
  android/gradle.properties
  maven-publish.gradle
  tests/appium/app-android/app/build.gradle
  tests/appium/app-android/build.gradle
  tests/appium/app-android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  tests/appium/app-android/jacoco-android.gradle
  tests/appium/app-android/settings.gradle
  tests/appium/jacoco.gradle
Due: android

refactor: organized imports
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AddChildrenTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BeagleTextViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/LazyComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabBarTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ComposeComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageIndicatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTwoTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
Due: android

upgrades libs so it can work with Flutter 2.2. Upgrades Beagle Web Core to 1.7. Fixes image component.
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/default/default_http_client.dart
  flutter/beagle/lib/default/default_image_downloader.dart
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/pubspec.yaml
  flutter/javascript-bridge/package.json
  flutter/sample/lib/main.dart
Due: flutter

removing debug logs
  flutter/beagle/lib/default/default_image_downloader.dart
Due: flutter

Path conditions:
  ios: any of: iOS/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  android: any of: android/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  backend: any of: backend/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  flutter: any of: flutter/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
