Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

feat: added OnInitViewModel to handle onInit status
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/OnInitiableComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/OnInitViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/OnInitiableComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/OnInitViewModelTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
Due: android, backend

test: functional tests to simple form component (#1132)
  android/automated-tests/src/androidTest/assets/features/SimpleForm.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SimpleFormSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
Due: android, backend

test: conditional action ui tests (#1130)
  android/automated-tests/src/androidTest/assets/features/Conditional.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ConditionalSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ConditionalScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/SimpleComponentsController.kt
  iOS/Sources/Beagle/Sources/Action/Types/Condition.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/ConditionTests.swift
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/ConditionalAction.feature
  iOS/Tests/AutomatedTestsUITests/Steps/ConditionalActionSteps.swift
Due: ios, android, backend

test: updated OnInitViewModelTest style
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/OnInitViewModelTest.kt
Due: android

feat: add OnInitViewModel to handle onInit status on Android (#1134)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/OnInitiableComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/OnInitViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/OnInitiableComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/OnInitViewModelTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
Due: android, backend

chore: updated backend modules' dependencies (#1133)
  backend/annotation/build.gradle
  backend/automated-tests/build.gradle
  backend/build.gradle
  backend/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  backend/gradle.properties
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/kotlin-core/build.gradle
  backend/processor-utils/build.gradle
  backend/sample/micronaut/build.gradle
  backend/sample/spring/build.gradle
Due: backend

Create Report
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ActionRecordCreator.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsHandleEvent.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ScreenReportCreator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Action.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ActionAnalytics.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/RootView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/RootView.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ActionRecordCreatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/AnalyticsServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ScreenReportCreatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/CustomAndroidAction.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/processor/ActionTestCases.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/actions/CustomAndroidAction.kt
Due: android

add test to processor
  android/internal-processor/build.gradle
  android/internal-processor/src/main/kotlin/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessor.kt
  android/internal-processor/src/main/kotlin/br/com/zup/beagle/android/internal/processor/InternalOperationFactoryProcessor.kt
  android/internal-processor/src/main/kotlin/br/com/zup/beagle/android/internal/processor/InternalWidgetFactoryProcessor.kt
  android/internal-processor/src/test/kotlin/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessorTest.kt
Due: android

build test broken
  android/internal-processor/build.gradle
Due: android

remove unused imports and fix MaxLineLength
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ActionRecordCreator.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsHandleEvent.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Action.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
Due: android

fix: iOS - Automated tests configuration fix
  .gitignore
  fastlane/Fastfile
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/SimpleForm.feature
Due: ios

fix: iOS - Automated tests configuration fix (#1136)
  .gitignore
  fastlane/Fastfile
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/SimpleForm.feature
Due: ios

Adequacy of tests to the new standard
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
Due: android

adding simple form tests for ios
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ConditionalScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/SimpleForm.feature
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormSteps.swift
Due: ios, backend

not registed
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/actions/ShowToast.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ActionNotRegisteredScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
Due: backend

fix: adjust scroll horizontal (#1126)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
Due: android

refactor: adjust name module utils to shared (#1127)
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/internal-processor/build.gradle
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/InternalOperationFactoryProcessor.kt
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/InternalWidgetFactoryProcessor.kt
  android/processor-shared-code/build.gradle
  android/processor-shared-code/gradle.properties
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleClass.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleClasses.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleSetupRegisteredWidgetGenerator.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/MessagerExtensions.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/ProcessorConstructExtensions.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/RegisteredOperationGenerator.kt
  android/processor/build.gradle
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleAnnotationProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleClasses.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/KotlinPoetExtensions.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterActionProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterBeagleAdapterProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterControllerProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterOperationsProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterWidgetProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisteredActionGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/ValidatorHandlerProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/GenericPropertyManagement.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/GenericTypeElementManagement.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/PropertyImplementationManager.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/TypeElementImplementationManager.kt
Due: android

fix: adjust the type declaration method of the textInput component (#1135)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
Due: android

modify colors on backend
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
Due: backend

removing vulnerabilities
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormSteps.swift
Due: ios

removing unecessary code
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormSteps.swift
Due: ios, backend

remove variable thats causing vulnerability
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormSteps.swift
Due: ios, backend

remove unused import
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
Due: backend

Bff screen ok
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ContainersController.kt
Due: backend

adjust name module
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessor.kt
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/InternalOperationFactoryProcessor.kt
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/InternalWidgetFactoryProcessor.kt
  android/internal-processor/src/test/java/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessorTest.kt
Due: android

PageView page ok
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
Due: backend

trying to resolve setContext bugs
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SetContextScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextScreenBuilder.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Features/SetContext.feature
  iOS/Tests/AutomatedTestsUITests/Steps/SetContextSteps.swift
Due: ios, backend

PageView page ok
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewTwoScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
Due: backend

test: functional tests simple form (#1137)
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ConditionalScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/Features/SimpleForm.feature
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormSteps.swift
Due: ios, backend

test: add test to register widget
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/internal-processor/build.gradle
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/InternalWidgetFactoryProcessor.kt
  android/internal-processor/src/test/java/br/com/zup/beagle/android/components/form/InputWidget.kt
  android/internal-processor/src/test/java/br/com/zup/beagle/android/components/page/PageIndicatorComponent.kt
  android/internal-processor/src/test/java/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessorTest.kt
  android/internal-processor/src/test/java/br/com/zup/beagle/android/internal/processor/TestClasses.kt
  android/internal-processor/src/test/java/br/com/zup/beagle/android/operation/Operation.kt
  android/internal-processor/src/test/java/br/com/zup/beagle/android/widget/WidgetView.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleSetupRegisteredWidgetGenerator.kt
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/KotlinPoetExtensions.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleAnnotationProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleClasses.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterActionProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterWidgetProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/ValidatorHandlerProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/beaglesetupmanage/TypeElementImplementationManager.kt
Due: android

remove core widget
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleClasses.kt
Due: android

adjust code
  android/processor-shared-code/src/main/kotlin/br/com/zup/beagle/compiler/shared/BeagleSetupRegisteredWidgetGenerator.kt
Due: android

fix test and detekt
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/android/annotation/BeagleAnalytics.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/AppBeagleConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ConditionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabBarTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TouchableTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTwoTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppBeagleConfig.kt
Due: android

fix: iOS - Fixes evaluate multiple expression when returning type is differente from String
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SetContextTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SetContextTests/testSetContextWithMultipleExpression.1.png
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SetContextTests/testSetContextWithMultipleExpression.2.png
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

adjust fastlane to run test in processor
  android/automated-tests/build.gradle
  android/beagle/build.gradle
  android/build.gradle
  android/internal-processor/build.gradle
  android/preview/build.gradle
  fastlane/Fastfile
Due: android

add jacacoco in processor shared code
  android/processor-shared-code/build.gradle
Due: android

fix: iOS - Fixes evaluate multiple expression when returning type is differente from String (#1139)
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SetContextTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SetContextTests/testSetContextWithMultipleExpression.1.png
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SetContextTests/testSetContextWithMultipleExpression.2.png
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

Initial scenario idea
  android/automated-tests/src/androidTest/assets/features/PageView.feature
Due: android

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
