Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

Adding fix to decoding
  iOS/Schema/Sources/ServerDrivenComponent/Screen/NavigationBar.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabView.swift
  iOS/Schema/Sources/Widgets/Image/Image.swift
Due: ios

fix: Multiple implicit context
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
Due: android

Adding fix to decoding (#398)
  iOS/Schema/Sources/ServerDrivenComponent/Screen/NavigationBar.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabView.swift
  iOS/Schema/Sources/Widgets/Image/Image.swift
Due: ios

change constants
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
Due: backend

Update CODEOWNERS
  CODEOWNERS
Due: none

Refactor findMoreContexts
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
Due: android

fix: Update Codeowners (#400)
  CODEOWNERS
Due: none

docs: update links
  README.md
Due: none

Fix InputTextTest
  android/beagle/src/test/java/br/com/zup/beagle/android/components/InputTextTest.kt
Due: android

improve logging of Decoder errors
  iOS/Schema/Sources/Decoding/AnyDecodableContainer.swift
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
Due: ios

docs: update links (#401)
  README.md
Due: none

fix: Multiple implicit context (#399)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/InputTextTest.kt
Due: android

improve logging of Decoder errors (#402)
  iOS/Schema/Sources/Decoding/AnyDecodableContainer.swift
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
Due: ios

ci: add CocoaPods as a gem dependency so we can use it properly on CI
  Beagle.podspec
  BeagleSchema.podspec
  Gemfile
  Gemfile.lock
Due: none

ci: add CocoaPods as a gem dependency so we can use it properly on CI (#403)
  Beagle.podspec
  BeagleSchema.podspec
  Gemfile
  Gemfile.lock
Due: none

chore: create PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: create code of conduct
  CODE_OF_CONDUCT.md
Due: none

chore: update readme with code of conduct
  README.md
Due: none

chore: update readme with logo image
  README.md
Due: none

simple form component adjustments
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ButtonSimpleFormAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SimpleFormAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
Due: android

Fix begle word for Beagle
  README.md
Due: none

chore: fix begle word for Beagle (#405)
  README.md
Due: none

chore: create PR template (#406)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: create code of conduct (#407)
  CODE_OF_CONDUCT.md
  README.md
Due: none

update simpleForm, to send action for each item
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ButtonSubmitAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
Due: android

remove unecessary recursion from submitAction
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ButtonSubmitAction.kt
Due: android

change style textField
  iOS/Example/BeagleDemo/BeagleDemo/BeagleStyle.swift
Due: ios

created screen safe area
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/SafeAreaBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleSafeAreaService.kt
Due: backend

Synced Micronaut BFF sample to Spring BFF sample.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleSafeAreaService.kt
Due: backend

ci: adjust ci to not run codecov or danger when open external pr
  .github/workflows/pr_danger.yml
  Gemfile.lock
  fastlane/Fastfile
  fastlane/README.md
Due: none

change the value to postValue on ViewModel
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
Due: android

fix: change the value to postValue on ViewModel (#413)
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
Due: android

ci: adjust ci to not run codecov or danger when open external pr (#412)
  .github/workflows/pr_danger.yml
  Gemfile.lock
  fastlane/Fastfile
  fastlane/README.md
Due: none

change screen safe area
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/SafeAreaBuilder.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleSafeAreaService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleSafeAreaService.kt
Due: backend

created style text-input and change name services and controller image
  android/sample/src/main/java/br/com/zup/beagle/sample/AppDesignSystem.kt
  android/sample/src/main/res/drawable/text_input_background.xml
  android/sample/src/main/res/values/styles.xml
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ImageLocalScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ImageRemoteScreenBuilder.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleImageLocalService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleImageRemoteService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleImageLocalService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleImageRemoteService.kt
Due: android, backend

Synced Spring BFF sample to Micronaut BFF sample.
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
Due: backend

Synced Micronaut BFF sample to Spring BFF sample.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
Due: backend

Create label.yml
  .github/workflows/label.yml
Due: none

Create labeler.yml
  .github/labeler.yml
Due: none

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
