Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

test: action not registered on frontend (#1152)
  android/automated-tests/src/androidTest/assets/features/ActionNotRegistered.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ActionNotRegistered.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/actions/ShowToast.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ActionNotRegisteredScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ActionsScreenController.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Features/ActionNotRegistered.feature
  iOS/Tests/AutomatedTestsUITests/Steps/ActionNotRegisteredSteps.swift
Due: ios, android, backend

Add tests to pattern, change the mode to get the config and add some tests
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ActionRecordCreator.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/DataActionReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ActionRecordCreatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/AnalyticsServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/testutil/CoroutinesTestExtension.kt
Due: android

test: add unit test to unit value extensions
  android/beagle/src/test/java/br/com/zup/beagle/ext/UnitValueExtensionsKtTest.kt
Due: android

fix some detekt debt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
Due: android

Fixing Xcode 12 dependencies problem and tests. (#932)
  iOS/Beagle.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/xcshareddata/xcschemes/BeagleDemo.xcscheme
  iOS/Libraries/YogaKit/YogaKit.xcodeproj/project.pbxproj
  iOS/Libraries/YogaKit/YogaKit.xcodeproj/xcshareddata/xcschemes/YogaKit.xcscheme
  iOS/Schema/BeagleSchema.xcodeproj/xcshareddata/xcschemes/Schema.xcscheme
  iOS/Schema/Sources/ServerDrivenComponent/ListView/ListView.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageView/PageView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/ScrollView.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabView/TabView.swift
  iOS/Schema/Sources/Widgets/Container/Container.swift
  iOS/Schema/Sources/Widgets/SimpleForm/SimpleForm.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/xcshareddata/xcschemes/All.xcscheme
  iOS/Sources/Beagle/Beagle.xcodeproj/xcshareddata/xcschemes/Beagle.xcscheme
  iOS/Sources/Preview/BeaglePreview.xcodeproj/project.pbxproj
  iOS/Sources/Preview/BeaglePreview.xcodeproj/xcshareddata/xcschemes/BeaglePreview.xcscheme
  iOS/Tests/AutomatedTests.xcodeproj/xcshareddata/xcschemes/AutomatedTests.xcscheme
  iOS/Tests/AutomatedTests.xcodeproj/xcshareddata/xcschemes/AutomatedTestsUITests.xcscheme
Due: ios

test: add test unit test to widget extensions
  android/beagle/src/main/java/br/com/zup/beagle/ext/WidgetExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/ext/WidgetExtensionsKtTest.kt
Due: android

feat: add android listview instrumented tests
  android/automated-tests/src/androidTest/assets/features/ListView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ListViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/assertions/RecyclerViewItemCountAssertion.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/assertions/RecyclerViewOrientationAssertion.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Due: android, backend

iOS - Page view UI tests
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Features/PageView.feature
  iOS/Tests/AutomatedTestsUITests/Steps/PageViewSteps.swift
Due: ios, backend

feat: iOS - Union Operation
  iOS/Sources/Beagle/Sources/ContextExpression/OperationsProvider.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationArrayEvaluationTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

TabBar screen refactor
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TabBarScreenBuilder.kt
Due: backend

test: add unit test to unit value extensions (#1157)
  android/beagle/src/test/java/br/com/zup/beagle/ext/UnitValueExtensionsKtTest.kt
Due: android

Create the queue to save the reports
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/DataReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/DataScreenReport.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/AnalyticsServiceTest.kt
Due: android

Update Instrumentation.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
Due: android

feat: add android espresso scroll action
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/action/SmoothScrollAction.kt
Due: android

test: add android listview instrumented tests. Added scenarios 1 to 4
  android/automated-tests/src/androidTest/assets/features/ListView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ListViewSteps.kt
Due: android

Refactor code
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ActionRecordCreator.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/DataActionReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/DataReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/DataScreenReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleConfig.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ActionRecordCreatorTest.kt
Due: android

Create tests
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/DataActionReportTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/DataScreenReportTest.kt
Due: android

remove unnecessary constructor
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/AppBeagleConfig.kt
Due: android

remove Append action from BeagleDemo
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
Due: ios

fix: Add useParentScroll property to ListView
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
Due: backend

test: Adjust BFF according to the documentation
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
Due: backend

test: adjust android listView.feature
  android/automated-tests/src/androidTest/assets/features/ListView.feature
Due: android

remove AnalyticsProvider from BeagleConfig and BeagleAnalytics annotation
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/android/annotation/BeagleAnalytics.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/AppBeagleConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleConfig.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppBeagleConfig.kt
Due: android

feat: iOS - Union Operation (#1160)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Sources/Beagle/Sources/ContextExpression/OperationsProvider.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationArrayEvaluationTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

test: adds Android lisview instrumented tests scenarios 05 and 06. Adjust BFF typo
  android/automated-tests/src/androidTest/assets/features/ListView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ListViewSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Due: android, backend

feature started
  android/automated-tests/src/androidTest/assets/features/TabBar.feature
  android/automated-tests/src/androidTest/assets/features/TabView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TabBarSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TabViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/screenshotTests/ExampleScreenshotTest.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
Due: android

page adjusted
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TabBarScreenBuilder.kt
Due: backend

LazyComponent page refactored
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/LazyComponentScreenBuilder.kt
Due: backend

test: add test unit test to widget extensions (#1158)
  android/beagle/src/main/java/br/com/zup/beagle/ext/WidgetExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/ext/WidgetExtensionsKtTest.kt
Due: android

fix: Add useParentScroll property to ListView (#1162)
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
Due: backend

refactor: remove code commented in jacoco to ignore some classes (#1153)
  android/jacoco-android.gradle
Due: android

remove reflection Dependencies.kt
  android/beagle/build.gradle
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
Due: android

remove unused imports
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/AppBeagleConfig.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppBeagleConfig.kt
Due: android

remove unused imports
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleConfig.kt
Due: android

add blank line on end of file
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ActionAnalyticsConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ActionRecordFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsHandleEvent.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsProvider.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsRecord.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/DataActionReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/DataReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/DataScreenReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ScreenReportFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/ActionAnalytics.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ActionRecordFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/AnalyticsServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/DataActionReportTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/DataScreenReportTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ScreenReportFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
Due: android

remove open on CoroutinesTestExtension.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/AnalyticsServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/testutil/CoroutinesTestExtension.kt
Due: android

test: Adjust Android listView intrumented test scenarios 04 and 05. Adds scenario 09.
  android/automated-tests/src/androidTest/assets/features/ListView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ListViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/action/OrientationChangeAction.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/action/SmoothScrollAction.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/transform/SingleQuoteTransform.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Due: android, backend

remove ActionAnalyticsFromActions
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/CustomAndroidAction.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/actions/CustomAndroidAction.kt
Due: android

remove AnalyticsAction
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
Due: android

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
