Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

Fix bug when Page View initialize in last page
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageViewUIComponent.swift
Due: ios

initial commit for schema in ruby
  schema/schema-ruby-erb/Documentation Example/shipping_notify.erb
  schema/schema-ruby-erb/Documentation Example/shipping_notify2.rb
  schema/schema-ruby-erb/Model Generation/FileHandler/FileHandler.rb
  schema/schema-ruby-erb/Model Generation/Models/base_component.rb
  schema/schema-ruby-erb/Model Generation/Models/button.rb
  schema/schema-ruby-erb/Model Generation/Synthax/class.rb
  schema/schema-ruby-erb/Model Generation/Synthax/struct.rb
  schema/schema-ruby-erb/Model Generation/Synthax/type.rb
  schema/schema-ruby-erb/Model Generation/Synthax/variable.rb
  schema/schema-ruby-erb/Model Generation/main.rb
  schema/schema-ruby-erb/Model Generation/model_template_kotlin.erb
  schema/schema-ruby-erb/Model Generation/model_template_swift.erb
  schema/schema-ruby-erb/TODO.md
Due: none

tabview screen added to builders
  android/automated-tests/src/androidTest/assets/features/ButtonScreen.feature
  android/automated-tests/src/androidTest/assets/features/ImageScreen.feature
  android/automated-tests/src/androidTest/assets/features/TabViewScreen.feature
  android/automated-tests/src/androidTest/java/com/example/automated_tests/ExampleInstrumentedTest.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/ButtonScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/ImageScreenSteps.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/androidTest/java/com/example/automated_tests/cucumber/steps/TabViewScreenSteps.kt
  android/automated-tests/src/main/java/com/example/automated_tests/MainActivity.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TabViewScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
Due: android, backend

Change Page Indicator and Page View
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
Due: android

generating files
  schema/schema-ruby-erb/Model Generation/Common/constants.rb
  schema/schema-ruby-erb/Model Generation/FileHandler/file_handler.rb
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/Button.kt
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Button.swift
  schema/schema-ruby-erb/Model Generation/main.rb
  schema/schema-ruby-erb/TODO.md
Due: none

creating reusable methods on screen builders
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ButtonScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
Due: backend

updated readme
  schema/schema-ruby-erb/README.md
Due: none

refactoring
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/Button.kt
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Button.swift
  schema/schema-ruby-erb/Model Generation/Models/base_component.rb
  schema/schema-ruby-erb/Model Generation/Models/button.rb
  schema/schema-ruby-erb/Model Generation/Synthax/variable.rb
  schema/schema-ruby-erb/Model Generation/main.rb
  schema/schema-ruby-erb/Model Generation/model_template_kotlin.erb
  schema/schema-ruby-erb/Model Generation/model_template_swift.erb
Due: none

Updated tests.
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/configuration/BeagleCacheAutoConfigurationTest.kt
Due: backend

changed the Getting Started link
  README.md
Due: none

added bind synthax
  schema/schema-ruby-erb/Model Generation/FileHandler/file_handler.rb
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/Button.kt
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Button.swift
  schema/schema-ruby-erb/Model Generation/Models/button.rb
  schema/schema-ruby-erb/Model Generation/Synthax/class.rb
  schema/schema-ruby-erb/Model Generation/Synthax/struct.rb
  schema/schema-ruby-erb/Model Generation/Synthax/variable.rb
  schema/schema-ruby-erb/Model Generation/main.rb
  schema/schema-ruby-erb/Model Generation/model_template_kotlin.erb
  schema/schema-ruby-erb/Model Generation/model_template_swift.erb
Due: none

fix backend files
  .github/workflows/sync_micronaut_sample.yml
  .github/workflows/sync_spring_sample.yml
  fastlane/Fastfile
  fastlane/README.md
Due: none

WIP installing sorbet
  .gitignore
  schema/schema-ruby-erb/Model Generation/.gitignore
  schema/schema-ruby-erb/Model Generation/Gemfile
  schema/schema-ruby-erb/Model Generation/Gemfile.lock
  schema/schema-ruby-erb/README.md
Due: none

Replaced Java Pattern with Kotlin Regex.
  backend/framework/src/main/kotlin/br/com/zup/beagle/cache/BeagleCacheHandler.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/cache/BeagleCacheHandlerTest.kt
Due: backend

fix: Context evaluation for values that is not string
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ActionExtensionsKtTest.kt
Due: android

changed how to apply styles to components
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
  android/sample/src/main/res/drawable/beagle_image.png
Due: android

setting up gem file
  schema/schema-ruby-erb/Model Generation/Gemfile
  schema/schema-ruby-erb/Model Generation/Gemfile.lock
  schema/schema-ruby-erb/README.md
Due: none

Fix return count from ActionExtensions
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
Due: android

Unified cache inclusion and exclusion regex syntax to Kotlin's Regex.
  backend/framework/src/main/kotlin/br/com/zup/beagle/cache/BeagleCacheHandler.kt
  backend/sample/micronaut/src/main/resources/application.properties
  backend/sample/spring/src/main/resources/application.properties
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleCacheConfiguration.kt
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeagleCacheFilter.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/configuration/BeagleCacheAutoConfiguration.kt
Due: backend

Updated unit tests.
  backend/framework/src/test/kotlin/br/com/zup/beagle/cache/BeagleCacheHandlerTest.kt
  backend/starters/beagle-micronaut-starter/src/test/kotlin/br/com/zup/beagle/micronaut/Extensions.kt
  backend/starters/beagle-micronaut-starter/src/test/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleCacheConfigurationTest.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/configuration/BeagleCacheAutoConfigurationTest.kt
Due: backend

Added missing cases.
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/configuration/BeagleCacheAutoConfigurationTest.kt
Due: backend

Create more test to cover a specific scenario
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ActionExtensionsKtTest.kt
Due: android

added styles to tab view
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleTabLayout.kt
  android/beagle/src/main/res/values/attrs.xml
  android/sample/src/main/res/values/styles.xml
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
Due: android, backend

:bug: Fixes bug related to fetch components done at wrong moments
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
Due: android

fix: clear bindings from destroyed views
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
Due: android

:recycle: Improves code
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
Due: android

added optinal
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/Button.kt
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Button.swift
  schema/schema-ruby-erb/Model Generation/Models/button.rb
  schema/schema-ruby-erb/Model Generation/Synthax/variable.rb
  schema/schema-ruby-erb/Model Generation/model_template_kotlin.erb
  schema/schema-ruby-erb/Model Generation/model_template_swift.erb
Due: none

Fix default decoder reference at dependencies
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
Due: ios

init method for swift is done
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Button.swift
  schema/schema-ruby-erb/Model Generation/Models/Widgets/button.rb
  schema/schema-ruby-erb/Model Generation/Synthax/type.rb
  schema/schema-ruby-erb/Model Generation/main.rb
  schema/schema-ruby-erb/Model Generation/model_template_swift.erb
Due: none

Fix Setup Test
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
Due: ios

refactor: page view context interaction (#571)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageIndicator/Indicator/PageIndicator.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageIndicator/Indicator/Tests/CustomPageIndicator.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageIndicator/Indicator/Tests/JSON/CustomPageIndicator.json
  iOS/Schema/Sources/ServerDrivenComponent/PageIndicator/Indicator/Tests/JSON/PageViewWithCustomIndicator.json
  iOS/Schema/Sources/ServerDrivenComponent/PageIndicator/Indicator/Tests/PageIndicatorTests.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageIndicator/Indicator/Tests/__Snapshots__/PageIndicatorTests/test_indicator_decoder.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/PageIndicator/Indicator/Tests/__Snapshots__/PageIndicatorTests/test_pageViewWithCustomIndicator_decoder.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/PageView/PageView.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageView/Tests/Json/PageViewWith3Pages.json
  iOS/Schema/Sources/ServerDrivenComponent/PageView/Tests/Json/PageViewWith3PagesAndIndicator.json
  iOS/Schema/Sources/ServerDrivenComponent/PageView/Tests/PageViewTests.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/PageIndicator+Renderable/PageIndicator+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/PageIndicator+Renderable/PageIndicator.swift
Due: ios

feat: adjust dependnecies
  android/android-annotation/build.gradle
  android/android-internal-processor/build.gradle
  android/android-preview/build.gradle
  android/android-processor/build.gradle
  android/beagle/build.gradle
  android/build.gradle
  android/dependenciesPlugin/src/main/java/br/com/zup/beagle/Dependencies.kt
  android/gradle/wrapper/gradle-wrapper.properties
  android/jacoco-android.gradle
  android/local.properties
  android/sample/build.gradle
  android/settings.gradle
  common/annotation/build.gradle
  common/extended-schema/build.gradle
  common/processor-utils/build.gradle
  maven-publish.gradle
  schema/kotlin-core/build.gradle
Due: android, backend

basic init method for kotlin is done
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/Button.kt
  schema/schema-ruby-erb/Model Generation/model_template_kotlin.erb
Due: none

Fix broken test for ContextDataEvaluationTest
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
Due: android

basic init method for ts done
  schema/schema-ruby-erb/Model Generation/Common/constants.rb
  schema/schema-ruby-erb/Model Generation/Generated/Ts/Button.ts
  schema/schema-ruby-erb/Model Generation/main.rb
  schema/schema-ruby-erb/Model Generation/model_template_swift.erb
  schema/schema-ruby-erb/Model Generation/model_template_ts.erb
Due: none

refactored tests
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SubmitFormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BeagleTextViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ButtonTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/InputTextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/StyleManagerTest.kt
Due: android

added array type to kotlin and swift
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/Button.kt
  schema/schema-ruby-erb/Model Generation/Generated/Swift/Button.swift
  schema/schema-ruby-erb/Model Generation/Generated/Ts/Button.ts
  schema/schema-ruby-erb/Model Generation/Models/Widgets/button.rb
  schema/schema-ruby-erb/Model Generation/Models/Widgets/text.rb
  schema/schema-ruby-erb/Model Generation/model_template_kotlin.erb
  schema/schema-ruby-erb/Model Generation/model_template_swift.erb
  schema/schema-ruby-erb/README.md
Due: none

feat: updated backend cache defaults (#578)
  backend/framework/src/main/kotlin/br/com/zup/beagle/cache/BeagleCacheHandler.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/cache/BeagleCacheHandlerTest.kt
  backend/sample/micronaut/src/main/resources/application.properties
  backend/sample/spring/src/main/resources/application.properties
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleCacheConfiguration.kt
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeagleCacheFilter.kt
  backend/starters/beagle-micronaut-starter/src/test/kotlin/br/com/zup/beagle/micronaut/Extensions.kt
  backend/starters/beagle-micronaut-starter/src/test/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleCacheConfigurationTest.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/configuration/BeagleCacheAutoConfiguration.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/configuration/BeagleCacheAutoConfigurationTest.kt
Due: backend

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
