Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

remove library from bild.gradle
  tests/appium/app-android/app/build.gradle
  tests/appium/app-android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
Due: none

test: analytics2 (#1362)
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NewAnalyticsScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  backend/automated-tests/src/main/resources/application.properties
  tests/appium/app-android/app/build.gradle
  tests/appium/app-android/app/src/main/AndroidManifest.xml
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/activity/AnalyticsActivity.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/config/newanalytics/AnalyticsConfigImpl.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/config/newanalytics/AnalyticsProviderImpl.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/config/newanalytics/RecordService.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/config/newanalytics/ReportListener.kt
  tests/appium/app-android/app/src/main/res/layout/activity_analytics.xml
  tests/appium/app-android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  tests/appium/app-ios/AppiumApp/AppiumApp.xcodeproj/project.pbxproj
  tests/appium/app-ios/AppiumApp/AppiumApp/AnalyticsViewController.swift
  tests/appium/app-ios/AppiumApp/AppiumApp/BeagleConfig/Analytics/LocalAnalyticsProvider.swift
  tests/appium/app-ios/AppiumApp/AppiumApp/BeagleConfig/BeagleConfig.swift
  tests/appium/app-ios/AppiumApp/AppiumApp/BeagleConfig/DeepLink/DeepLinkScreenManager.swift
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AnalyticsScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/GenericSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
  tests/appium/project/src/test/resources/features/Analytics.feature
Due: backend

fix width
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
Due: ios

Adds unit testing
  flutter/beagle/test/action/beagle_open_external_url_test.dart
Due: flutter

alert messages changed with onError and on success
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SendRequestScreenBuilder.kt
Due: backend

feat: form validation (#1358)
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/BeagleConfig.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/BeagleStyle.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SimpleForm.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Action/Types/SubmitForm+Extensions.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SubmitFormTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/SimpleForm.swift
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/Tests/__Snapshots__/SimpleFormTests/test_whenDecodingJson_shouldReturnASimpleForm.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/TextInputTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithValidationComponent.1.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput.swift
  iOS/Sources/Beagle/Sources/Theme/Theme.swift
Due: ios

Update merge-docs.sh
  fastlane/merge-docs.sh
Due: none

refactor: deprecated field hidden
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/TextInputTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput.swift
Due: ios, android, backend

add enter line to style code
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
Due: android, backend

adjust space
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/TextInputTests.swift
Due: none

adjust code
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/TextInputTests.swift
Due: none

add behaviour in lazy component to show error when failed request
  android/beagle/src/main/java/br/com/zup/beagle/android/components/LazyComponent.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/LazyComponentTest.kt
Due: android

add behaviour in lazy component to show error when failed request (#1386)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/LazyComponent.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/LazyComponentTest.kt
Due: android

refactor: deprecated field hidden (#1385)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput.swift
Due: ios, android, backend

fix: iOS - Fix a crash when action not registered is triggered
  iOS/Sources/Beagle/Sources/Analytics/Service/RecordFactory.swift
  iOS/Sources/Beagle/Sources/Common/Util/AssertNever.swift
Due: ios

project changes
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
Due: ios

fix: iOS - Fix a crash when action not registered is triggered (#1387)
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Analytics/Service/RecordFactory.swift
  iOS/Sources/Beagle/Sources/Common/Util/AssertNever.swift
Due: ios

refactor: refactored BeagleJSEngine and added unit tests.
  flutter/beagle/lib/beagle_initializer.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_js_request_message.dart
  flutter/beagle/lib/bridge_impl/beagle_navigator_js.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_supported_http_methods.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/bridge_impl/global_context_js.dart
  flutter/beagle/lib/bridge_impl/js_runtime_wrapper.dart
  flutter/beagle/lib/bridge_impl/renderer_js.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle/pubspec.yaml
  flutter/beagle/test/bridge_impl/beagle_js_engine_test.dart
  flutter/beagle/test/bridge_impl/global_context_js_test.dart
  flutter/beagle/test/bridge_impl/renderer_js_test.dart
Due: flutter

refactor: organize imports
  flutter/beagle/lib/beagle_initializer.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/renderer_js.dart
  flutter/beagle/test/bridge_impl/renderer_js_test.dart
Due: flutter

windows support
  schema-ruby-erb/model_generation/schema.bat
  schema-ruby-erb/model_generation/schema.sh
  schema.gradle
Due: none

feat: action open external url (#1379)
  flutter/beagle/android/build.gradle
  flutter/beagle/android/src/main/AndroidManifest.xml
  flutter/beagle/lib/action/beagle_open_external_url.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/pubspec.yaml
  flutter/beagle/test/action/beagle_open_external_url_test.dart
Due: flutter

feat: create component to load screen. (#1377)
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Text.kt
  flutter/beagle/lib/beagle.dart
  flutter/beagle/lib/beagle_remote_view.dart
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/components/beagle_undefined_widget.dart
  flutter/beagle/lib/interface/navigation_controller.dart
  flutter/beagle/lib/model/beagle_config.dart
  flutter/beagle/lib/model/beagle_environment.dart
  flutter/beagle/test/components/beagle_undefined_widget_test.dart
  flutter/beagle_components/lib/beagle_lazy_component.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/sample/ios/Podfile.lock
  flutter/sample/lib/beagle_sample_screen.dart
  flutter/sample/lib/main.dart
Due: android, flutter

fix: iOS - Fix a problem with validation in SubmitForm Action
  iOS/Sources/Beagle/Sources/Action/Types/SubmitForm+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
Due: ios

merge with master
  flutter/beagle/lib/action/beagle_open_external_url.dart
  flutter/sample/lib/main.dart
Due: flutter

fix: border color and example
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SimpleForm.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
Due: ios

refactor BeagleOpenExternalUrl
  flutter/beagle/lib/action/beagle_open_external_url.dart
Due: flutter

validation errors fix border
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
Due: ios

refactor: Refactored BeagleJSEngine and added unit tests (#1388)
  flutter/beagle/lib/action/beagle_open_external_url.dart
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_js_request_message.dart
  flutter/beagle/lib/bridge_impl/beagle_navigator_js.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_supported_http_methods.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/bridge_impl/global_context_js.dart
  flutter/beagle/lib/bridge_impl/js_runtime_wrapper.dart
  flutter/beagle/lib/bridge_impl/renderer_js.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle/pubspec.yaml
  flutter/beagle/test/bridge_impl/beagle_js_engine_test.dart
  flutter/beagle/test/bridge_impl/global_context_js_test.dart
  flutter/beagle/test/bridge_impl/renderer_js_test.dart
  flutter/sample/lib/main.dart
Due: flutter

fix: iOS - SubmitForm validations (#1389)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SimpleForm.swift
  iOS/Sources/Beagle/Sources/Action/Types/SubmitForm+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
Due: ios

add screen request
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/beagle.dart
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_js_request_message.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_supported_http_methods.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/default/default_http_client.dart
  flutter/beagle/lib/default/default_image_downloader.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/http_client.dart
  flutter/beagle/lib/model/network_options.dart
  flutter/beagle/lib/networking/beagle_http_method.dart
  flutter/beagle/lib/networking/beagle_network_options.dart
  flutter/beagle/lib/networking/beagle_network_strategy.dart
  flutter/beagle/lib/networking/beagle_request.dart
  flutter/beagle/lib/networking/beagle_screen_request.dart
  flutter/beagle/lib/utils/enum.dart
  flutter/beagle_components/lib/beagle_lazy_component.dart
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/view.ts
  flutter/sample/lib/beagle_sample_screen.dart
  flutter/sample/lib/main.dart
Due: flutter

Changes debugprint to logger
  flutter/beagle/lib/action/beagle_open_native_route.dart
Due: flutter

Updates to new master changes
  flutter/beagle/lib/action/beagle_open_native_route.dart
Due: flutter

Updates class name
  flutter/beagle/lib/action/beagle_open_native_route.dart
  flutter/beagle/lib/default/default_actions.dart
Due: flutter

adjust test and add comment
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/networking/beagle_screen_request.dart
  flutter/beagle/test/bridge_impl/beagle_js_engine_test.dart
Due: flutter

fixes js calls
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/networking/beagle_network_options.dart
  flutter/beagle/lib/utils/network_strategy.dart
  flutter/sample/lib/beagle_sample_screen.dart
Due: flutter

tests
  .github/workflows/automated_tests_appium_android.yml
Due: none

tests
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
Due: none

Adds unit testing
  flutter/beagle/test/action/beagle_open_native_route_test.dart
Due: flutter

Fixes lint
  flutter/beagle/test/action/beagle_open_native_route_test.dart
Due: flutter

Path conditions:
  ios: any of: iOS/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  android: any of: android/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  backend: any of: backend/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  flutter: any of: flutter/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
