Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags:
          - ios
      android:
        target: 70%
        threshold: 7%
        flags:
          - android
      backend:
        target: 70%
        threshold: 7%
        flags:
          - backend
      flutter:
        target: 70%
        threshold: 7%
        flags:
          - flutter
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
    carryforward: true
  flutter:
    paths:
      - flutter/
    carryforward: true
ignore:
  - "iOS/Example"
  - "iOS/Libraries"
  - "iOS/Test"
  - "iOS/Tests"
  - "iOS/Sources/Beagle/BeagleTests"
  - "iOS/Sources/Beagle/**/*Test*.swift"
  - "iOS/Sources/Beagle/**/*Tests*.swift"

Unit tests were created for BeagleMessageLogs
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleMessageLogsTest.kt
Due: android

artifact exposure
  .github/workflows/automated_tests_appium_android.yml
Due: none

change one test to the new pattern
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ComponentPropertyAssignerTest.kt
Due: android

remove wildcard import
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
Due: android

test: add unit tests to textinput component (#1281)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
Due: android

refactor test to a specify pattern
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ComponentPropertyAssignerTest.kt
Due: android

test: adjust comments and names after code review
  flutter/beagle/test/utils/color_test.dart
  flutter/sample/lib/main.dart
Due: flutter

test: add unit test to ViewRendererFactory (#1292)
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ViewRendererFactoryTest.kt
Due: android

feat: flutter Renderer API (#1291)
  flutter/beagle/lib/beagle_remote_view.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/bridge_impl/renderer_js.dart
  flutter/beagle/lib/default/url_builder.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/beagle_view.dart
  flutter/beagle/lib/interface/renderer.dart
  flutter/beagle/test/bridge_impl/renderer_js.dart
  flutter/beagle/test/default/url_builder.dart
  flutter/beagle_components/lib/after_layout.dart
  flutter/beagle_components/lib/beagle_lazy_component.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/pubspec.lock
  flutter/beagle_components/test/after_layout.dart
  flutter/javascript-bridge/src/index.ts
  flutter/sample/lib/main.dart
Due: flutter

fix tests
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ComponentPropertyAssignerTest.kt
Due: android

tesing new android id mapping approach; ci improvement
  .github/workflows/automated_tests_appium_android.yml
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/screens/MainScreen.kt
Due: none

remove one fun
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ActionReportFactory.kt
Due: android

ci improvement
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
Due: none

android avd params test
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
Due: none

script fix - added support for mac hardware acceleration on emulator
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
Due: none

remove fake action
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ActionReportFactoryTest.kt
Due: android

make some changes
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
Due: android

performance fix
  .github/workflows/automated_tests_appium_android.yml
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
Due: none

Update codeowners
  CODEOWNERS
Due: none

change the url get on remote screen
  android/beagle/src/main/java/br/com/zup/beagle/analytics2/ScreenReportFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/analytics2/ScreenReportFactoryTest.kt
Due: android

Update codeowners (#1299)
  CODEOWNERS
Due: none

ci fix
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
Due: none

ci testing
  .github/workflows/automated_tests_appium_android.yml
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
Due: none

linux test
  .github/workflows/automated_tests_appium_android.yml
Due: none

sudo permission
  fastlane/automatedTests/appium/android/config_and_run_appium_server.sh
Due: none

permission
  fastlane/automatedTests/appium/android/config_and_run_appium_server.sh
Due: none

permission
  .github/workflows/automated_tests_appium_android.yml
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
  fastlane/automatedTests/appium/android/config_and_run_appium_server.sh
  fastlane/automatedTests/appium/android/run_appium_android_tests.sh
Due: none

permission
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
  fastlane/automatedTests/appium/android/config_and_run_appium_server.sh
  fastlane/automatedTests/appium/android/run_appium_android_tests.sh
Due: none

permission
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
Due: none

permission
  .github/workflows/automated_tests_appium_android.yml
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
Due: none

linux test
  .github/workflows/automated_tests_appium_android.yml
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
Due: none
