Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

script
  .github/workflows/automated_tests_appium_android.yml
  .github/workflows/automated_tests_appium_ios.yml
Due: none

update workflow schema to codecov coverage
  .github/workflows/schema_tests.yml
  schema-ruby-erb/model_generation/tests/base_unit_test.rb
Due: none

fix test and apply matheus suggestion
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ActionReportFactoryTest.kt
Due: android

add name on annotations
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ActionAnalyticsConfig.kt
Due: android

horusec formatting and new rules
  .github/workflows/horusec_pr.yml
Due: none

improving method call
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
Due: ios

feat: add flutter default page indicator
  flutter/beagle_components/lib/beagle_page_indicator.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/test/beagle_page_indicator_test.dart
  flutter/sample/lib/beagle_sample_screen.dart
  flutter/sample/lib/main.dart
Due: flutter

feat: shrink and grow partially implemented
  flutter/beagle/lib/model/beagle_style.dart
  flutter/beagle/lib/render/beagle_flex_widget.dart
  flutter/beagle/lib/render/beagle_layout.dart
  flutter/beagle/lib/render/beagle_style_widget.dart
  flutter/beagle/lib/render/layout_builder.dart
  flutter/beagle/lib/utils/alignment.dart
  flutter/sample/lib/main.dart
Due: flutter

script
  .github/workflows/automated_tests_appium_android.yml
  .github/workflows/automated_tests_appium_ios.yml
  .github/workflows/automated_tests_appium_mobile.yml
Due: none

script
  .github/workflows/automated_tests_appium_mobile.yml
Due: none

feat: add flutter default touchable component
  flutter/beagle_components/lib/beagle_touchable.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/test/beagle_touchable_test.dart
  flutter/sample/lib/main.dart
Due: flutter

removing viewModel enum state
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/NavigationControllers/CustomBeagleNavigationController.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/FormLocalActionTests/testStateChanges.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Lazy/Tests/LazyComponentTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleNavigationController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewModel.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleView.swift
Due: ios

removing fixed borderStyle
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SimpleForm.swift
  iOS/Sources/Beagle/Sources/Action/Types/SubmitForm+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
Due: ios

feat: accessibility header (#1341)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabBarScreen.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Tests/JSON/widgetWithAllAttributes.json
  iOS/Sources/Beagle/Sources/Components/Widget/Tests/__Snapshots__/WidgetTests/testParsingOfWidgetWithAllAttributes.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Accessibility/Accessibility.swift
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Accessibility/AccessibilityTests.swift
  iOS/Sources/Beagle/Sources/Renderer/ViewConfigurator.swift
Due: ios

feat: Add flutter logging support (#1339)
  flutter/beagle/lib/beagle_initializer.dart
  flutter/beagle/lib/logger/beagle_logger.dart
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/sample/lib/default_logger.dart
  flutter/sample/pubspec.yaml
Due: flutter

fix: adjust appearance of button when not has style
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
Due: android

create unit test
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ButtonTest.kt
Due: android

feat: adjust default values and shrink algorithm
  flutter/beagle/lib/render/beagle_flex_widget.dart
  flutter/beagle/lib/render/beagle_layout.dart
Due: flutter

rename class
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ComponentStylization.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/store/StoreHandler.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ComponentStylizationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/AbstractViewRendererTest.kt
Due: android

fix: adjust appearance of button when there's no style (#1347)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ButtonTest.kt
Due: android

feat: add style in component text (#1336)
  flutter/beagle/lib/setup/beagle_design_system.dart
  flutter/beagle_components/lib/beagle_text.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/test/beagle_text_test.dart
  flutter/beagle_components/test/objects_fake/fake_design_system.dart
  flutter/sample/lib/app_design_system.dart
  flutter/sample/lib/main.dart
Due: flutter

feat: add flutter default page indicator and touchable components (#1343)
  flutter/beagle_components/lib/beagle_page_indicator.dart
  flutter/beagle_components/lib/beagle_touchable.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/test/beagle_page_indicator_test.dart
  flutter/beagle_components/test/beagle_touchable_test.dart
  flutter/sample/lib/beagle_sample_screen.dart
  flutter/sample/lib/main.dart
Due: flutter

improving example
  iOS/Example/BeagleDemo/BeagleDemo/Screens/NativeViewController.swift
Due: none

solve problems
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ComponentStylization.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ActionReportFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsRecord.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataActionReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataScreenReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ScreenReportFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ComponentStylizationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/StringExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ActionReportFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/AnalyticsServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/DataActionReportTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/DataScreenReportTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ScreenReportFactoryTest.kt
Due: android

remove line
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
Due: android

remove line
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/StringExtensionsKtTest.kt
Due: android

fix comments
  fastlane/automatedTests/appium/android/run_appium_android_tests.sh
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TextStyleScreenSteps.kt
Due: none

feat: default error view (#1330)
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/CustomViews/CustomLoadingView.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/ErrorView.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/NavigationControllers/CustomBeagleNavigationController.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Renderer/BeagleErrorView.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleNavigationController.swift
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/CustomNavigationController.swift
  tests/appium/app-ios/AppiumApp/AppiumApp.xcodeproj/project.pbxproj
  tests/appium/app-ios/AppiumApp/AppiumApp/BeagleConfig/CustomNavigationController/CustomNavigationController.swift
  tests/appium/app-ios/AppiumApp/AppiumApp/BeagleConfig/CustomNavigationController/ErrorView.swift
Due: ios

remove blank space
  android/beagle/src/main/java/br/com/zup/beagle/android/store/StoreHandler.kt
Due: android

feat: Add flutter default WebView component
  flutter/beagle_components/lib/beagle_webview.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/pubspec.yaml
  flutter/beagle_components/test/beagle_webview_test.dart
  flutter/sample/lib/main.dart
Due: flutter

Add tests
  flutter/beagle_components/test/beagle_webview_test.dart
Due: flutter

adding tests
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/BeagleTests/Helpers/BeagleScreenViewControllerHelper.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SetContextTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SubmitFormTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SubmitFormTests/test_whenValidationError_onSubmitIsNotTriggered.1.png
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/Tests/__Snapshots__/SimpleFormTests/test_whenDecodingJson_shouldReturnASimpleForm.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/TextInputTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithValidationComponent.1.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
  iOS/Sources/Beagle/Sources/Theme/Theme.swift
Due: ios

refactoring
  iOS/Sources/Beagle/Sources/Analytics/Private/AnalyticsGenerator.swift
  iOS/Sources/Beagle/Sources/Analytics/Private/MapActionToDictionary.swift
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsRecordActionsTest/recorded.OpenExternalURL-1.json
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsRecordActionsTest/recorded.OpenNativeRoute-1.json
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsRecordActionsTest/recorded.SendRequest-1.json
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsRecordActionsTest/recorded.SetContext-1.json
Due: ios

record always have `screen` and some refactoring on Generator
  iOS/Sources/Beagle/Sources/Analytics/Analytics.swift
  iOS/Sources/Beagle/Sources/Analytics/AnalyticsRecord.swift
  iOS/Sources/Beagle/Sources/Analytics/Internal/AnalyticsGenerator.swift
  iOS/Sources/Beagle/Sources/Analytics/Internal/AnalyticsService.swift
  iOS/Sources/Beagle/Sources/Analytics/Internal/Tests/AnalyticsServiceTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Internal/Tests/__Snapshots__/AnalyticsServiceTests/testDefaultActionConfig.1.json
  iOS/Sources/Beagle/Sources/Analytics/Internal/Tests/__Snapshots__/AnalyticsServiceTests/testScreenDeclarative.1.json
  iOS/Sources/Beagle/Sources/Analytics/Internal/Tests/__Snapshots__/AnalyticsServiceTests/testScreenRemote.1.json
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
Due: ios

change Provider contract and adds logic about global config
  iOS/Sources/Beagle/Sources/Analytics/Analytics.swift
  iOS/Sources/Beagle/Sources/Analytics/AnalyticsConfig.swift
  iOS/Sources/Beagle/Sources/Analytics/Private/AnalyticsGenerator.swift
  iOS/Sources/Beagle/Sources/Analytics/Private/MapActionToDictionary.swift
  iOS/Sources/Beagle/Sources/Analytics/Private/_AnalyticsService.swift
  iOS/Sources/Beagle/Sources/Analytics/Tests/AnalyticsRecordActionsTest.swift
  iOS/Sources/Beagle/Sources/Analytics/Tests/AnalyticsServiceTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Tests/AnalyticsServiceTests2.swift
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject+Extensions.swift
Due: ios

improves code for transforming objects to json
  iOS/Sources/Beagle/Sources/Analytics/Private/MapActionToDictionary.swift
Due: ios

Path conditions:
  ios: any of: iOS/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  android: any of: android/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  backend: any of: backend/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  flutter: any of: flutter/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
