Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags: 
          - ios
      android:
        target: 70%
        threshold: 7%
        flags: 
          - android
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
      - schema/kotlin/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
      - schema/kotlin/
    carryforward: true
ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

remove blank space
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
Due: android

add the attribute placeholder on Image widget
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Image.kt
Due: android, backend

fixed desserialization test
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Due: android

refactor: removing FormInputHidden on backend
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/form/FormInputHidden.kt
Due: backend

image of the correction class and variable withdrawal that does not use
  android/sample/src/main/res/values/colors.xml
  android/sample/src/main/res/values/styles.xml
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ImageLocalScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ImageRemoteScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeImageViewQuality.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/sample/ComposeSampleImageView.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleImageService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNetworkImageService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleImageService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNetworkImageService.kt
Due: android, backend

change the placeholder attribute type to PathType.Local
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
Due: android

refactor: replacing formInputHidden for additionalData (#364)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormInputHidden.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormInputHiddenTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/FormFragment.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/form/Form.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/form/FormInputHidden.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/FormScreenBuilder.kt
Due: android, backend

changed navigate route parameter name
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
  iOS/Sources/BeagleUI/BeagleFrameworkTests/Spies/BeaglePrefetchHelpingSpy.swift
  iOS/Sources/BeagleUI/Sources/Caching/Prefetch/BeaglePrefetchHelper.swift
Due: ios

fix: TabView width fix (#346)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabViewScreen.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabView.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
Due: ios

Fixes flex conflict with grow and shrink (#361)
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Style/StyleViewConfigurator.swift
Due: ios

feat: cors support (#360)
  backend/sample/micronaut/src/main/resources/application.properties
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/config/CorsConfig.kt
Due: backend

upadte screen context
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ScreenContextBuilder.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleContextService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleContextService.kt
Due: backend

fixed ios unit test
  iOS/Sources/BeagleUI/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
Due: ios

SetContext context parameter renamed to contextId
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Schema/Sources/Action/Types/SetContext.swift
  iOS/Schema/Sources/Widgets/TextInput/Tests/JSON/TextInputComponent.json
  iOS/Schema/Sources/Widgets/TextInput/Tests/__Snapshots__/TextInputTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Sources/BeagleUI/Sources/Action/Types/SetContext.swift
  iOS/Sources/BeagleUI/Sources/Components/WebView+Renderable/WebView+Renderable.swift
Due: ios

fix Image Local or Remote now can be used in other places (#368)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabViewScreen.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/NavigationBar.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabView.swift
  iOS/Schema/Sources/Widgets/Image/Image.swift
  iOS/Sources/BeagleUI/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Screen/NavigationBar+UIKit.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabBarCollectionViewCell.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/Tests/TabBarCollectionViewCellTests.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/Tests/TabViewTests.swift
Due: ios

SetContext context parameter renamed to contextId (#370)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Schema/Sources/Action/Types/SetContext.swift
  iOS/Schema/Sources/Widgets/TextInput/Tests/JSON/TextInputComponent.json
  iOS/Schema/Sources/Widgets/TextInput/Tests/__Snapshots__/TextInputTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Sources/BeagleUI/Sources/Action/Types/SetContext.swift
  iOS/Sources/BeagleUI/Sources/Components/WebView+Renderable/WebView+Renderable.swift
Due: ios

add style in construction of TextView and Button
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ScrollViewFragment.kt
  android/sample/src/main/res/values/styles.xml
Due: android

fix merge conflicts
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/ContainerTests.swift
  iOS/Sources/Beagle/Sources/Components/TextInput+Renderable/Tests/TextInputTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/DynamicObjectTests.swift
  iOS/Sources/Beagle/Sources/Logger/Tests/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
Due: ios

deleted DS_Store
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/.DS_Store
Due: backend

fix: TextInput deserialization
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
Due: android

fix pbxproj
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/JSON/TabView.json
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Schema/Sources/Widgets/Image/Tests/__Snapshots__/ImageTests/test_whenDecodingJson_thenItShouldReturnAnImage.1.txt
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/FlexViewConfigurator.swift
Due: ios

tab view
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeTabViewQuality.kt
Due: backend

remove async execute, and updating tests
  iOS/Schema/Sources/ServerDrivenComponent/Form/Tests/__Snapshots__/FormTests/test_whenDecodingJson_thenItShouldReturnAForm.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnAPageView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnPageViewWithIndicator.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Schema/Sources/Widgets/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Container/Container+Renderable.swift
Due: ios

feat: container onInit event (#349)
  fastlane/Fastfile
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Form/Tests/__Snapshots__/FormTests/test_whenDecodingJson_thenItShouldReturnAForm.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnAPageView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnPageViewWithIndicator.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Schema/Sources/Widgets/Container/Container.swift
  iOS/Schema/Sources/Widgets/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfullForScreenEvent.1.txt
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Container/Container+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/ContainerTests.swift
Due: ios

fix: TextInput deserialization (#372)
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
Due: android

change screen form
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeFormQuality.kt
Due: backend

changed waiting time in unit test
  iOS/Sources/Beagle/Sources/Caching/CacheManager/Tests/CacheManagerDefaultTests.swift
Due: ios

refactor: adjust test
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
Due: android

refactor: adjust code style
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  backend/sample/micronaut/src/main/resources/application.properties
  backend/sample/spring/src/main/resources/application.properties
Due: android, backend

Adding placeholder to ios image
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
Due: ios

refactor: remote route attribute changed to url (#367)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/PreFetchHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/RouteAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/PreFetchHelperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
  iOS/Sources/Beagle/BeagleTests/Spies/BeaglePrefetchHelpingSpy.swift
  iOS/Sources/Beagle/Sources/Caching/CacheManager/Tests/CacheManagerDefaultTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/BeaglePrefetchHelper.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
Due: ios, android, backend

update screen navigation type
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/quality/ComposeNavigateTypeQuality.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/sample/ComposeSampleNavigateType.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNavigationTypeService.kt
Due: backend

Synced Micronaut BFF sample to Spring BFF sample.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNavigationTypeService.kt
Due: backend

refactor: create method to create static variable and use this method to unit test
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
Due: android

adjust name of test
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
Due: android

change screen navigation type
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNavigationTypeService.kt
Due: backend

Synced Micronaut BFF sample to Spring BFF sample.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNavigationTypeService.kt
Due: backend

fix: add support to javascript in webview
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
Due: android
