Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend

Fix Incorrectly deserializes an integer into a double-value
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/SimpleJsonAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleMoshiExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/BeagleMoshiExtensionsTest.kt
Due: android

Fix Deserialize Array
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleMoshiExtensions.kt
Due: android

refactor: added rootView to BeagleFlexView as parameter on Android (#819)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/LazyComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ComposeComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextComponentHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/LazyComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/SimpleFormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ComposeComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ContainerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextComponentHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/AbstractViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
Due: android

resolve WildcardImport
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/SimpleJsonAdapter.kt
Due: android

removing unnecessary try catch
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
Due: android

Fix return data server
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleMoshiExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/BeagleMoshiExtensionsTest.kt
Due: android

Add context operations logic
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Screen.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/ExpressionTokenExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/Token.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/TokenInterpreter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/TokenParser.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/TokenReader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/Function.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/FunctionResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/ConditionalFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/GreaterFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/SumFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BindAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/operations/EvaluateOperationExpressionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/tokenizer/ExpressionTokenExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/tokenizer/TokenParserTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/PageViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ActionExtensionsKtTest.kt
  android/buildSrc/build.gradle.kts
Due: android

adjust resource
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
Due: android

Fred's correction
  iOS/Sources/Beagle/Sources/Action/Types/AddChildren.swift
Due: ios

added todo
  schema/schema-ruby-erb/Model Generation/model_template_kotlin.erb
Due: none

feat: add parameter rootview in deeplinkhanlder (#785)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/navigation/DeepLinkHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/NavigateTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppDeepLinkHandler.kt
Due: android

adjust method clean context
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
Due: android

fix: show place holder and error when loading and the request url error (#823)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
Due: android

Create base structure to support multiple activities
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/android/annotation/RegisterController.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/navigation/BeagleControllerReference.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ServerDrivenFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleAnnotationProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleWidgetBindingGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleWidgetBindingProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterControllerProcessor.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/activities/SampleServerDrivenActivity.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleActionBindingGenerator.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleActionBindingProcessor.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleBindingHandler.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClasses.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleWidgetBindingHandler.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredActionGenerator.kt
Due: android, backend

Create function declarations
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/FunctionResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/array/IncludesFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/array/InsertFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/array/RemoveFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/array/RemoveIndexFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/comparison/EqFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/comparison/GtFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/comparison/GteFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/comparison/LtFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/comparison/LteFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/logic/AndFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/logic/ConditionFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/logic/NotFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/logic/OrFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/number/DivideFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/number/MultiplyFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/number/SubtractFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/number/SumFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/other/IsEmptyFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/other/IsNullFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/other/LengthFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/string/CapitalizeFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/string/ConcatFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/string/LowercaseFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/string/SubstrFunction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/function/builtin/string/UppercaseFunction.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/tokenizer/TokenParserTest.kt
Due: android

fix: generate view ids (#817)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/RootView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ReflectionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/GenerateIdViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/RootView.kt
  android/beagle/src/main/res/values/ids.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/AbstractViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/GenerateIdViewModelTest.kt
Due: android

BeagleApiException accepting an Throwable cause and HttpClientDefault.tryFormatException passing on the exception cause
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/exception/BeagleApiException.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClient.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
Due: android

Create addChildren acton
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildrenAction.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildrenAction.kt
Due: android, backend

fix: configBinding retain cycle (#820)
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/UIView+ContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

adds new states to ServerDrivenState
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/exception/BeagleApiException.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
Due: android

fix BeagleViewModel::fetchComponents() error handling
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
Due: android

fix BeagleActivity::handleLiveData
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
Due: android

Rollback changes
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
Due: backend

adjust class
  android/beagle/src/main/java/br/com/zup/beagle/android/navigation/BeagleControllerReference.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleAnnotationProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupPropertyGenerator.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterControllerProcessor.kt
  android/sample/src/main/AndroidManifest.xml
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/activities/SampleServerDrivenActivity.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNavigationTypeService.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/NavigateBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClasses.kt
Due: android, backend

Synced Micronaut BFF sample to Spring BFF sample.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNavigationTypeService.kt
Due: backend

adjust unit test
  android/beagle/src/test/java/br/com/zup/beagle/android/action/NavigateTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterControllerProcessor.kt
Due: android

adjust code
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNavigationTypeService.kt
Due: backend

adjust lint
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/NavigateBuilder.kt
Due: backend

adding markDirty test.
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/__Snapshots__/ImageTests/testPlaceholder.1.png
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/StyleViewConfiguratorTests.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/__Snapshots__/StyleViewConfiguratorTests/testMarkDirty.1.png
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/__Snapshots__/StyleViewConfiguratorTests/testMarkDirty.2.png
Due: ios

Code organization
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
Due: android

renaming function
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/StyleViewConfiguratorTests.swift
Due: ios

adjust some compiling errors
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/exception/BeagleApiException.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/BeagleApiTest.kt
Due: android

fix: adjust code
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ServerDrivenFactory.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/NavigateBuilder.kt
Due: android, backend

adjust indentation and correct BeagleApiTest
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/BeagleApiTest.kt
Due: android

Change includes to contains
  iOS/Schema/Sources/ContextExpression/Operation.swift
  iOS/Schema/Sources/ContextExpression/Parser.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Operation+Evaluate.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationArrayEvaluationTests.swift
Due: ios

fix: generate id if some error happen
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
Due: android

Path conditions:
  ios: any of: iOS/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  android: any of: android/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
  backend: any of: backend/, common/, schema/kotlin/, but not: iOS/Sources/BeagleUI/**/Tests/, iOS/Sources/BeagleUI/**/*Test*.swift, iOS/Sources/BeagleUI/**/*Tests*.swift, iOS/Libraries/
