Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags:
          - ios
      android:
        target: 70%
        threshold: 7%
        flags:
          - android
      backend:
        target: 70%
        threshold: 7%
        flags:
          - backend
      flutter:
        target: 70%
        threshold: 7%
        flags:
          - flutter
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
    carryforward: true
  flutter:
    paths:
      - flutter/
    carryforward: true
ignore:
  - "iOS/Example"
  - "iOS/Libraries"
  - "iOS/Test"
  - "iOS/Tests"
  - "iOS/Sources/Beagle/BeagleTests"
  - "iOS/Sources/Beagle/**/*Test*.swift"
  - "iOS/Sources/Beagle/**/*Tests*.swift"

backup commit
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
  tests/appium/project/src/test/resources/features/ListView.feature
Due: none

fix: image resize behaviour on android. Adds and refactor imageView tests (#1548)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
Due: android

update
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
Due: none

Adds bridge communication for loggers
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/javascript-bridge/src/global.d.ts
  flutter/javascript-bridge/src/http-client.ts
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/utils/flutter-js-logger.ts
Due: flutter

Fixes Typo
  flutter/javascript-bridge/src/http-client.ts
  flutter/javascript-bridge/src/index.ts
Due: flutter

feat: Adds Android GridView
  android/beagle/src/main/java/br/com/zup/beagle/android/components/GridView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/GridViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListViewHolderTest.kt
  android/build.gradle
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/GridViewFragment.kt
  android/sample/src/main/res/menu/menu_navigation_drawer.xml
Due: android

refactor: removed unnecessary comment
  android/beagle/src/main/java/br/com/zup/beagle/android/components/GridView.kt
Due: android

chore: add ImageTest verification
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
Due: android

Fixes PR requested changes
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/javascript-bridge/src/http-client.ts
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/utils/flutter-js-logger.ts
Due: flutter

feat: Adds Android GridView (#1550)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/GridView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/GridViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListViewHolderTest.kt
  android/build.gradle
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/GridViewFragment.kt
  android/sample/src/main/res/menu/menu_navigation_drawer.xml
Due: android

fix: adjust image corner radius
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
Due: android

migrate yoga to repository from zup
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
Due: android

adjust mapper
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexMapper.kt
Due: android

adjust unit test
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseSoLoaderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/mapper/FlexMapperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleFlexViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleViewTest.kt
Due: android

add unit test
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
Due: android

adjust lib
  android/test/src/main/java/br/com/zup/beagle/test/rules/BeagleComponentsStatement.kt
Due: android

update
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
Due: none

feat: add yoga from repository in zup (#1553)
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseSoLoaderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/mapper/FlexMapperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleFlexViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleViewTest.kt
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/test/src/main/java/br/com/zup/beagle/test/rules/BeagleComponentsStatement.kt
Due: android

fix: adjust image corner radius (#1552)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
Due: android

fix: support expression in action AddChildren (#1547)
  iOS/Sources/Beagle/BeagleTests/Action/Types/__Snapshots__/AddChildrenTests/testDecodingAddChildren.1.txt
  iOS/Sources/Beagle/BeagleTests/Action/Types/__Snapshots__/AddChildrenTests/testDecodingAddChildrenWithDefaultMode.1.txt
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Action/Types/AddChildren+Extensions.swift
  iOS/Sources/Beagle/Sources/Action/Types/AddChildren.swift
Due: ios

adding tests in grid view
  iOS/Example/BeagleDemo/BeagleDemo/Screens/GridViewScreen.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/GridViewTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/__Snapshots__/GridViewTests/testeGridViewTemplateSimple.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/__Snapshots__/GridViewTests/testeGridViewTemplateWithDifferentSizes.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/__Snapshots__/GridViewTests/testeGridViewWithFourColumns.1.png
Due: ios

update image test snapshot
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/__Snapshots__/GridViewTests/testeGridViewTemplateSimple.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/__Snapshots__/GridViewTests/testeGridViewTemplateWithDifferentSizes.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/__Snapshots__/GridViewTests/testeGridViewWithFourColumns.1.png
Due: none

update
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
  tests/appium/project/src/test/resources/features/ListView.feature
Due: none

update tests
  iOS/Sources/Beagle/BeagleTests/Decoding/__Snapshots__/ComponentDecoderTests/testIfAllComponentsAreBeingRegistered.1.txt
  iOS/Sources/Beagle/BeagleTests/Setup/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: none

Update iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
Due: ios

Update iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewCell.swift
Due: ios

Update iOS/Example/BeagleDemo/BeagleDemo/Screens/GridViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/GridViewScreen.swift
Due: none

add sugestion
  iOS/Example/BeagleDemo/BeagleDemo/Screens/GridViewScreen.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/Widget/GridView/GridView.swift
Due: ios

Set default columns
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/Widget/GridView/GridView+Extensions.swift
Due: ios

upate
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
  tests/appium/project/src/test/resources/features/ListView.feature
Due: none

add tests in grid view
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/GridViewTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/__Snapshots__/GridViewTests/testeGridViewWithNumColumnsZero.1.png
Due: none

feat: Adds bridge communication for loggers (#1549)
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/javascript-bridge/src/global.d.ts
  flutter/javascript-bridge/src/http-client.ts
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/utils/flutter-js-logger.ts
Due: flutter

update
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
Due: none

update
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Book.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/CharacterResponse.kt
Due: backend

fix: requestData constructor and utilization
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/HttpClientDefault.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormSubmitter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/StringExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpAdditionalData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/RequestData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/ScreenRequestMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/BeagleApiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleMessageLogsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/RequestDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ServerDrivenFactoryKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleActivityTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/mapper/ScreenRequestMapperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/HttpClientDefault.kt
Due: android

temp impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/resources/features/ListView.feature
Due: none

fix: android RequestData constructor and utilization (#1562)
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/HttpClientDefault.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormSubmitter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/StringExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpAdditionalData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/RequestData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/ScreenRequestMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/BeagleApiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleMessageLogsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/RequestDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ServerDrivenFactoryKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleActivityTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/mapper/ScreenRequestMapperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/HttpClientDefault.kt
Due: android

update
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/resources/features/ListView.feature
Due: none

feat: add component grid view in backend
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/GridView.kt
Due: backend
