Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

:sparkles: adds sonarqube workflow
  .github/workflows/android-pr.yml
  android/build.gradle
  fastlane/Fastfile
Due: android

refactor: removed duplicated code
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/SendRequestSerializationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/SimpleFormSerializationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/TextInputSerializationTest.kt
Due: android

chore: updated ListView serialization test
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/ListViewSerializationTest.kt
Due: android

fix: popView with a single view in stack
  iOS/Sources/Beagle/BeagleTests/Logger/BeagleLoggerProxyTests.swift
  iOS/Sources/Beagle/BeagleTests/Logger/BeagleLoggerTests.swift
  iOS/Sources/Beagle/BeagleTests/Logger/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/BeagleTests/Navigation/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
Due: ios

Changing path of web images
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TabBarScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  backend/automated-tests/src/main/resources/static/images/beagle1.jpg
  backend/automated-tests/src/main/resources/static/images/beagle2.jpg
Due: backend

Changing path of web images (#1624)
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TabBarScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  backend/automated-tests/src/main/resources/static/images/beagle1.jpg
  backend/automated-tests/src/main/resources/static/images/beagle2.jpg
Due: backend

Update tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ScrollViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ScrollViewScreenSteps.kt
Due: none

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ScrollViewScreenSteps.kt
Due: none

fix: improvements in Appium tests (#1619)
  .github/workflows/automated_tests_appium_ios.yml
  tests/appium/app-android/app/build.gradle
  tests/appium/app-android/build.gradle
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ScrollViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
  tests/appium/project/src/test/resources/features/ScrollView.feature
Due: none

fix: popView with a single view in stack (#1616)
  iOS/Sources/Beagle/BeagleTests/Logger/BeagleLoggerProxyTests.swift
  iOS/Sources/Beagle/BeagleTests/Logger/BeagleLoggerTests.swift
  iOS/Sources/Beagle/BeagleTests/Logger/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/BeagleTests/Navigation/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
Due: ios

:bug: Fixes coverage zero by removing the testCoverageEnabled property
  android/beagle/build.gradle
  android/build.gradle
  android/jacoco-android.gradle
  backend/kotlin-core/build.gradle
  backend/processor-utils/build.gradle
  backend/widgets-dsl/build.gradle
  backend/widgets/build.gradle
  jacoco.gradle
Due: android, backend

:wrench: Improves time for testing workflow
  fastlane/Fastfile
Due: none

:wrench: Adds jdk8 action
  .github/workflows/android-pr.yml
Due: none

:wrench: Adds jdk8 action
  .github/workflows/backend-pr.yml
Due: none

:wrench: Fixing performance for tests
  .github/workflows/android-pr.yml
  .github/workflows/backend-pr.yml
  android/build.gradle
  fastlane/Fastfile
Due: android

:wrench: Fixing performance for tests
  android/jacoco-android.gradle
Due: android

:wrench: Fixing performance for tests
  android/beagle/build.gradle
  android/preview/build.gradle
  android/processor/build.gradle
  backend/framework/build.gradle
  backend/kotlin-core/build.gradle
  backend/processor-utils/build.gradle
  backend/processor/build.gradle
  backend/starters/micronaut/build.gradle
  backend/starters/spring/build.gradle
  backend/widgets-dsl/build.gradle
  backend/widgets/build.gradle
  fastlane/Fastfile
Due: android, backend

:wrench: TESTING FALSE TEST
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AddChildrenTest.kt
  android/internal-processor/src/test/java/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessorTest.kt
Due: android

:wrench: TESTING FALSE TEST
  android/internal-processor/src/test/java/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessorTest.kt
Due: android

:wrench: Testing success
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AddChildrenTest.kt
Due: android

:wrench: Rename coverage task
  fastlane/Fastfile
  jacoco.gradle
Due: none

:wrench: Rename coverage task
  fastlane/Fastfile
Due: none

feat: Adds jacoco (#1621)
  android/beagle/build.gradle
  android/build.gradle
  android/internal-processor/build.gradle
  android/jacoco-android.gradle
  android/preview/build.gradle
  android/processor-shared-code/build.gradle
  android/processor/build.gradle
  backend/framework/build.gradle
  backend/kotlin-core/build.gradle
  backend/processor/build.gradle
  backend/starters/micronaut/build.gradle
  backend/starters/spring/build.gradle
  backend/widgets-dsl/build.gradle
  backend/widgets/build.gradle
  fastlane/Fastfile
  jacoco.gradle
Due: android, backend

fix
  tests/appium/jacoco.gradle
Due: none

fix
  tests/appium/jacoco-android.gradle
Due: none

update
  tests/appium/app-android/jacoco-android.gradle
Due: none

fix: Appium Android app compilation (#1627)
  tests/appium/app-android/jacoco-android.gradle
  tests/appium/jacoco.gradle
Due: none

:sparkles: Adds config for sonarqube
  android/build.gradle
Due: android

:wrench: Adds sonarqube integration for backend-pr.yml and android-pr.yml
  .github/workflows/backend-pr.yml
  android/build.gradle
  fastlane/Fastfile
Due: android

refactor: refactored SendRequest serialization tests
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/SendRequestSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/ComponentDefaultSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Due: android

:wrench: Adds sonarqube integration for backend-pr.yml and android-pr.yml
  backend/build.gradle
Due: backend

refactor: refactored test arguments
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/actions/SendRequestSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Due: android

refactor: refactored ActionRequesterTest
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ActionRequesterTest.kt
Due: android

refactor: refactored RequestDataFactory
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/RequestDataFactory.kt
Due: android

:sparkles: Adds config for sonarqube backend
  backend/build.gradle
Due: backend

:sparkles: Test java
  .github/workflows/backend-pr.yml
Due: none

Path conditions:
  ios: any of: iOS/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  android: any of: android/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  backend: any of: backend/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  flutter: any of: flutter/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
