Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 7%
      ios:
        target: 70%
        threshold: 7%
        flags:
          - ios
      android:
        target: 70%
        threshold: 7%
        flags:
          - android
      backend:
        target: 70%
        threshold: 7%
        flags:
          - backend
      flutter:
        target: 70%
        threshold: 7%
        flags:
          - flutter
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
    carryforward: true
  android:
    paths:
      - android/
      - common/
    carryforward: true
  backend:
    paths:
      - backend/
      - common/
    carryforward: true
  flutter:
    paths:
      - flutter/
    carryforward: true
ignore:
  - "iOS/Example"
  - "iOS/Libraries"
  - "iOS/Test"
  - "iOS/Tests"
  - "iOS/Sources/Beagle/BeagleTests"
  - "iOS/Sources/Beagle/**/*Test*.swift"
  - "iOS/Sources/Beagle/**/*Tests*.swift"

improve gridview sample
  iOS/Example/BeagleDemo/BeagleDemo/Screens/GridViewScreen.swift
Due: none

chore: add tests
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModelTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/list/ListViewActivity.kt
Due: android

refact: refactored code
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/list/ListViewActivity.kt
Due: android

refact: refactored code
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/list/ListViewActivity.kt
Due: android

chore: changed backend ListView constructor
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListViewTemplate.kt
Due: backend

refactor: refactored code
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewTemplate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewTemplateJson.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListViewTemplate.kt
Due: android, backend

refactor: refactored code
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
Due: android

refactor: removed unnused imports
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
Due: android

refactor: refactored code
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListViewTemplate.kt
Due: backend

adds pr suggestions
  iOS/Sources/Beagle/Sources/Action/Types/AddChildren.swift
  iOS/Sources/Beagle/Sources/Action/Types/Alert.swift
  iOS/Sources/Beagle/Sources/Action/Types/Condition.swift
  iOS/Sources/Beagle/Sources/Action/Types/Confirm.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormLocalAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormRemoteAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Action/Types/SetContext.swift
  iOS/Sources/Beagle/Sources/Action/Types/SubmitForm.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Form.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Input/FormInput.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Submit/FormSubmit.swift
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Flex/Flex.swift
Due: ios

refactor: refactored code
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewTemplate.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListViewTemplate.kt
Due: android, backend

update (#1588)
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/GenericSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/SimpleFormScreenSteps.kt
  tests/appium/project/src/test/resources/features/SimpleForm.feature
Due: none

docs: iOS - Add some code documentation for components and actions (#1567)
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/AddChildren.swift
  iOS/Sources/Beagle/Sources/Action/Types/Alert.swift
  iOS/Sources/Beagle/Sources/Action/Types/Condition.swift
  iOS/Sources/Beagle/Sources/Action/Types/Confirm.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormLocalAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormRemoteAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Action/Types/SetContext.swift
  iOS/Sources/Beagle/Sources/Action/Types/SubmitForm.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Form.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Input/FormInput.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Submit/FormSubmit.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Lazy/LazyComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageIndicator/PageIndicator.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Screen/NavigationBar.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Screen/SafeArea.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Screen/Screen.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Scroll/ScrollView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/TabBar.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabView/TabView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Touchable/Touchable.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/WebView/WebView.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Button.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Container.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Image/Image.swift
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/SimpleForm.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Text/Text.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput.swift
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Flex/Flex.swift
Due: ios

chore: updates the http client default (#1587)
  android/sample/src/main/java/br/com/zup/beagle/sample/config/HttpClientDefault.kt
Due: android

deprecated message
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView.swift
Due: ios

chore: adjust ScreenComponent proguard
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ScreenExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
Due: android

feat: listview in Appium (#1571)
  android/automated-tests/src/androidTest/assets/features/ListView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ListViewSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
  tests/appium/project/src/test/resources/features/ListView.feature
Due: android

remove widgetView inheritance from PageIndicator component
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
Due: android

remove unused import
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
Due: android

refactor implicit context
  iOS/Sources/Beagle/BeagleTests/ContextExpression/Expression/OperationEvaluation/OperationEvaluationTests.swift
  iOS/Sources/Beagle/BeagleTests/Setup/BeagleSetupTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Evaluate.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Expression.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/OperationsProvider.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Due: ios

feat: Android listView multiple templates support (#1590)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/GridView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewTemplate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewTemplateJson.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ScreenExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModelTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListViewTemplate.kt
Due: android, backend

changed RegisterWidget annotation to BeagleJson
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
Due: android

feat: iOS ListView/GridView templates (#1585)
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/Equality.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/GridViewScreen.swift
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDecodingJsonListView.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDecodingJsonListViewWithTemplate.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDecodingJsonListViewWithoutChildren.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/GridViewTests.swift
  iOS/Sources/Beagle/BeagleTests/Logger/BeagleLoggerTests.swift
  iOS/Sources/Beagle/BeagleTests/Logger/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabView/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/Widget/GridView/GridView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/GridView/GridView.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Expression.swift
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
Due: ios

refactor: remove widgetView inheritance from PageIndicator component (#1592)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
Due: android

fix: ListView's manager id and GridView contract
  android/beagle/src/main/java/br/com/zup/beagle/android/components/GridView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/Template.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/TemplateJson.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/GridViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/GridViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/list/ListViewFragment.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/GridView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Template.kt
Due: android, backend

impl
  .github/workflows/automated_tests_appium_android.yml
  .github/workflows/automated_tests_appium_ios.yml
  .github/workflows/automated_tests_appium_mobile.yml
Due: none

fix: ListView's manager id and GridView contract (#1593)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/GridView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/Template.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/TemplateJson.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/GridViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/GridViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/list/ListViewFragment.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/GridView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Template.kt
Due: android, backend

fix: contract adjustment grid view
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/GridView.kt
Due: backend

fix: adjustment contract grid view
  android/beagle/src/main/java/br/com/zup/beagle/android/components/GridView.kt
Due: android

fix: contract adjustment grid view (#1595)
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/GridView.kt
Due: backend

fix: adjustment contract grid view (#1596)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/GridView.kt
Due: android

impl (#1594)
  .github/workflows/automated_tests_appium_android.yml
  .github/workflows/automated_tests_appium_ios.yml
  .github/workflows/automated_tests_appium_mobile.yml
Due: none

impl
  .github/workflows/automated_tests_appium_mobile.yml
Due: none

feat: improve Appium tests CI/CD strategy (#1599)
  .github/workflows/automated_tests_appium_android.yml
  .github/workflows/automated_tests_appium_ios.yml
  .github/workflows/automated_tests_appium_mobile.yml
Due: none

test: create unit test to gridview
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/Token.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/GridViewTest.kt
Due: android

fix: contract adjustment grid view (#1595) (#1601)
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/GridView.kt
Due: backend

fix: adjustment contract grid view (#1596) (#1600)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/GridView.kt
Due: android

adjust name of test
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/GridViewTest.kt
Due: android
