Repository ZupIT/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android, backend, flutter

removes unnecessary import
  flutter/sample/lib/main.dart
Due: flutter

fix: buildBeagleWidget method encapsulation
  flutter/beagle/lib/style/beagle_style_widget.dart
Due: flutter

fix: beagle_image_test.dart
  flutter/beagle_components/test/beagle_image_test.dart
  flutter/beagle_components/test/service_locator/service_locator.dart
Due: flutter

chore: update dependencies
  flutter/analysis_options.yaml
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/pubspec.yaml
  flutter/beagle_components/test/objects_fake/fake_design_system.dart
  flutter/sample/pubspec.yaml
Due: flutter

Starting a documentation
  flutter/readme.md
Due: flutter

fix: Flutter lib upgrades + fix to image component (#1641)
  flutter/analysis_options.yaml
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/default/default_http_client.dart
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/pubspec.yaml
  flutter/beagle_components/test/beagle_image_test.dart
  flutter/beagle_components/test/objects_fake/fake_design_system.dart
  flutter/beagle_components/test/service_locator/service_locator.dart
  flutter/javascript-bridge/package.json
  flutter/sample/pubspec.yaml
Due: flutter

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TextInputScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
Due: none

feat: iOS - Adds init from Encodable to DynamicObject
  iOS/Sources/Beagle/BeagleTests/ContextExpression/DynamicObjectTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject.swift
Due: ios

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AlertScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ConfirmScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
Due: none

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/GenericSteps.kt
Due: none

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AlertScreenSteps.kt
  tests/appium/project/src/test/resources/features/Alert.feature
Due: none

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ActionNotRegisteredScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AddChildrenScreenSteps.kt
  tests/appium/project/src/test/resources/features/ActionNotRegistered.feature
  tests/appium/project/src/test/resources/features/AddChildren.feature
Due: none

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ButtonScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/GenericSteps.kt
  tests/appium/project/src/test/resources/features/Button.feature
Due: none

chore: update main examples
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  flutter/sample/lib/main.dart
Due: android, flutter

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ConditionalScreenSteps.kt
  tests/appium/project/src/test/resources/features/Conditional.feature
Due: none

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ConditionalScreenSteps.kt
Due: none

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ButtonScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TouchScreenSteps.kt
  tests/appium/project/src/test/resources/features/Touchable.feature
Due: none

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ButtonScreenSteps.kt
Due: none

add support to bind background color
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ComponentStylization.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/Style.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ContextOperationsFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/NavigationFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ScrollViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/list/ListViewActivity.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ImageScreenBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/core/StyleBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/FunctionStyledTest.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/SetStyleTest.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/WidgetExtensionsTest.kt
Due: android, backend

refactor: add backend serializer test
  backend/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  backend/framework/build.gradle
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/components/BaseSerializerTest.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/components/DefaultSerializerTest.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/components/SerializerDataFactory.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/components/widgets/DefaultWidgetSerializerTest.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/testutil/StringUtil.kt
Due: backend

Further documentation
  flutter/readme.md
Due: flutter

feat: iOS - Pull to Refresh Component
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PullToRefreshScreen.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PullToRefresh/JSON/PullToRefresh.json
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PullToRefresh/PullToRefreshTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PullToRefresh/__Snapshots__/PullToRefreshTests/testDecodingPullToRefresh.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PullToRefresh/__Snapshots__/PullToRefreshTests/testPullToRefreshSnapshot.1.png
  iOS/Sources/Beagle/BeagleTests/Decoding/__Snapshots__/ComponentDecoderTests/testIfAllComponentsAreBeingRegistered.1.txt
  iOS/Sources/Beagle/BeagleTests/Setup/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PullToRefresh/PullToRefresh+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PullToRefresh/PullToRefresh.swift
  iOS/Sources/Beagle/Sources/Decoding/ComponentDecoder.swift
Due: ios

fix self reference inside block
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PullToRefreshScreen.swift
Due: none

fix imports
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject.swift
Due: ios

fix: yoga layout integration
  flutter/beagle/lib/style/beagle_style_widget.dart
  flutter/beagle_components/lib/beagle_page_indicator.dart
  flutter/beagle_components/lib/beagle_page_view.dart
Due: flutter

Update iOS/Sources/Beagle/BeagleTests/ContextExpression/DynamicObjectTests.swift
  iOS/Sources/Beagle/BeagleTests/ContextExpression/DynamicObjectTests.swift
Due: none

feat: add Android pull to refresh component (#1636)
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/components/refresh/PullToRefresh.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/refresh/PullToRefreshTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/DefaultComponentSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/PullToRefreshFragment.kt
  android/sample/src/main/res/menu/menu_navigation_drawer.xml
  backend/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  backend/framework/build.gradle
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/components/BaseSerializerTest.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/components/DefaultSerializerTest.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/components/SerializerDataFactory.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/components/widgets/DefaultWidgetSerializerTest.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/testutil/StringUtil.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PullToRefreshScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/SampleDataBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/SampleDataController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleDataService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SamplePullToRefreshService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/SampleDataController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleDataService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SamplePullToRefreshService.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/PullToRefresh.kt
  tests/appium/app-android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
Due: android, backend

feat: improve Appium iOS tests speed (#1645)
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ActionNotRegisteredScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AddChildrenScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AlertScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ButtonScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ConditionalScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ConfirmScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/GenericSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TextInputScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TouchScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
  tests/appium/project/src/test/resources/features/ActionNotRegistered.feature
  tests/appium/project/src/test/resources/features/AddChildren.feature
  tests/appium/project/src/test/resources/features/Alert.feature
  tests/appium/project/src/test/resources/features/Button.feature
  tests/appium/project/src/test/resources/features/Conditional.feature
  tests/appium/project/src/test/resources/features/Touchable.feature
Due: none

Synced Micronaut BFF sample to Spring BFF sample.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/SampleDataController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleDataService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SamplePullToRefreshService.kt
Due: backend

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/PullToRefreshScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
Due: none

revert
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/Runner.kt
Due: none

update
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PullToRefreshScreenBuilder.kt
Due: backend

feat: iOS - Pull to Refresh Component (#1648)
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PullToRefreshScreen.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PullToRefresh/JSON/PullToRefresh.json
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PullToRefresh/PullToRefreshTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PullToRefresh/__Snapshots__/PullToRefreshTests/testDecodingPullToRefresh.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PullToRefresh/__Snapshots__/PullToRefreshTests/testPullToRefreshSnapshot.1.png
  iOS/Sources/Beagle/BeagleTests/Decoding/__Snapshots__/ComponentDecoderTests/testIfAllComponentsAreBeingRegistered.1.txt
  iOS/Sources/Beagle/BeagleTests/Setup/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PullToRefresh/PullToRefresh+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PullToRefresh/PullToRefresh.swift
  iOS/Sources/Beagle/Sources/Decoding/ComponentDecoder.swift
Due: ios

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/PullToRefreshScreenSteps.kt
Due: none

fix: iOS - PullToRefresh with Text
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PullToRefresh/PullToRefreshTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PullToRefresh/PullToRefresh+Extensions.swift
Due: ios

fix snapshot
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PullToRefresh/PullToRefreshTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PullToRefresh/__Snapshots__/PullToRefreshTests/testPullToRefreshSnapshot.1.png
Due: none

fix: iOS - PullToRefresh with Text (#1652)
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PullToRefresh/PullToRefreshTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PullToRefresh/__Snapshots__/PullToRefreshTests/testPullToRefreshSnapshot.1.png
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PullToRefresh/PullToRefresh+Extensions.swift
Due: ios

impl
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ConfirmScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ContainerScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/LazyComponentScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/SendRequestScreenSteps.kt
  tests/appium/project/src/test/resources/features/Confirm.feature
  tests/appium/project/src/test/resources/features/Container.feature
  tests/appium/project/src/test/resources/features/Image.feature
  tests/appium/project/src/test/resources/features/LazyComponent.feature
  tests/appium/project/src/test/resources/features/SendRequest.feature
Due: none

Path conditions:
  ios: any of: iOS/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  android: any of: android/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  backend: any of: backend/, common/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
  flutter: any of: flutter/, but not: iOS/Example, iOS/Libraries, iOS/Test, iOS/Tests, iOS/Sources/Beagle/BeagleTests, iOS/Sources/Beagle/**/*Test*.swift, iOS/Sources/Beagle/**/*Tests*.swift
